[2017-04-02 22:31] AngLi-Leon commented on #285
I am starting to working on this. The first issue is that, Peloton currently treats `DROP INDEX index_name` same as dropping table and we should change the new parser to follow the right syntax. The second issue is that Postgres does not allow same index name within a schema (see https://www.postgresql.org/docs/9.6/static/sql-dropindex.html and http://stackoverflow.com/questions/26997441/why-cant-

[2017-04-03 19:14] pmenon commented on #595
You also need change `find_package(LibPQXX)` to `find_package(LibPQXX REQUIRED)` to get CMake to throw an error if you don't have the library.

[2017-04-04 01:27] CHUYilei commented on #595
@jarulraj Only `-lpqxx` is needed. `-lpq` can be removed.
However, using
`find_package(LibPQXX)`
`include_directories(SYSTEM ${LIBPQXX_INCLUDE_DIRS})`
`list(APPEND Peloton_LINKER_LIBS ${LIBPQXX_LIBRARIES})`
always provide `undefined reference to pqxx` error.

My question here is where did you define **`LIBPQXX_LIBRARIES`**?

Do you think a combination like
`find_package(LibPQXX)`
`include_director

[2017-04-04 01:40] jarulraj commented on #595
It's defined here: https://github.com/cmu-db/peloton/blob/master/cmake/Modules/FindLibPQXX.cmake

No, you will only need to use `${LIBPQXX_LIBRARIES}`. You don't have to hard-code them. Try using this: `find_package(LibPQXX REQUIRED)` instead of `find_package(LibPQXX)`.

[2017-04-04 01:45] CHUYilei commented on #595
@jarulraj I did exactly as you mentioned above, and FindLibPQXX.cmake is in right place. However, `FindLibPQXX.cmake` doesn't raise warning/error. The `undefined reference to pqxx` error occurs when I run `make packet_manager_test` at the last step. May I know did you successfully make packet_manager_test using the above configuration?

[2017-04-04 01:54] jarulraj commented on #595
Yes. Can you run `make packet_manager_test VERBOSE=1` and share the output?

[2017-04-04 01:55] apavlo commented on #595
@CHUYilei Send a PR so that we can see your latest version.

[2017-04-04 02:00] CHUYilei commented on #595
@jarulraj Here is the output file.
[output.txt](https://github.com/cmu-db/peloton/files/891891/output.txt)

[2017-04-04 02:02] CHUYilei commented on #595
@apavlo I haven't succeeded using Joy's method. I think my original method is hardcoding and is still not the correct standard version we want. I prefer sending a PR when Joy's method works on my machine, is that OK?

[2017-04-04 02:48] apavlo commented on #595
@CHUYilei Send the PR anyway so that we can try to help. It's easier that way to see what you have and then we can work together to fix it.

[2017-04-04 02:55] jarulraj commented on #595
@CHUYilei Let's give it a final shot.

+# --[ PQXX
+find_package(PQXX REQUIRED)
+include_directories(SYSTEM ${PQXX_INCLUDE_DIRECTORIES})
+list(APPEND Peloton_LINKER_LIBS ${PQXX_LIBRARIES})

[2017-04-04 03:25] CHUYilei commented on #595
@jarulraj This final shot works well! I will send a PR for it

[2017-04-04 05:06] CHUYilei commented on #595
@jarulraj The PR's [travis](https://travis-ci.org/cmu-db/peloton/jobs/218321546) build crashes when running `make check -j4`. I tried this command locally with current configuration, and it worked well with no error like below. I wonder what might be the reason.

No output has been received in the last 10m0s, this potentially indicates a stalled build or something wrong with the build itself.
Chec

[2017-04-05 02:51] #595 closed

[2017-04-06 04:32] nblintao opened #607 "No "kind" information in AExprTransform"
For the function `AExprTransform` in `postgrespaser.cpp`, it gets the type of the expression from the `name` field. But this is not enough for some kinds of expressions like `AEXPR_DISTINCT` (whose `name` is `=`, but has nothing to do with `COMPARE_EQUAL` actually). So now `IS DISTINCT FROM` will be considered as `=`, which is not true.

A fix of this is inducting the `target_type` from the `kind`

[2017-04-07 01:30] mengranwo opened #608 "Don’t support create table under different database other than default_database"
Peloton currently have 2 databases, one is pg_catalog to store all the catalog tables(e.g. pg_table), and the other one is default_database to store user create table.

postgres=# create table  pg_catalog.foo(a int, b int);
create table  pg_catalog.foo(a int, b int) 0
**2017-04-06 21:16:09 [src/executor/create_executor.cpp:49:DExecute] INFO  - database_name is default_database**

postgres=# select

[2017-04-09 03:51] hanli32 opened #610 "Memory leak in catalog"
I was trying to solve [packet_manager_test](https://github.com/cmu-db/peloton/blob/master/test/networking/packet_manager_test.cpp)'s memory leak problem and I found that there is a storage::Database object that has not been destroyed in catalog.cpp:

[code]

Can someone familiar with catalog help fix this bug, thanks.

[2017-04-09 04:06] camellyx commented on #610
This should be fixed in the new catalog PR, thanks!

[2017-04-12 17:04] apavlo commented on #607
@nblintao FYI, Hao is going to look at this now for you.

[2017-04-12 17:07] haojin2 commented on #607
Hi Tao,
Would you please provide some example queries so that I can add support for them?
Hao

[2017-04-12 17:31] nblintao commented on #607
Thanks, @apavlo @haojin2 !
[code]
This is one example from [Postgres doc](https://www.postgresql.org/docs/9.1/static/sql-createtrigger.html).

Another thing is the current type does not handle `<>` correctly. This could be easily resolved by my changes to types.cpp at https://github.com/cmu-db/peloton/pull/613/commits/19b3f4d76677dc74a7945dd1b647bc9baa2f2227

[2017-04-12 19:03] AngLi-Leon opened #623 "Moving transaction starting point in tcop from executing phase to preparing phase"
Currently, transaction begins (see [single statement transaction](https://github.com/AngLi-Leon/peloton/blob/master/src/tcop/tcop.cpp#L227) / [explicitly call "begin" transaction](https://github.com/AngLi-Leon/peloton/blob/master/src/tcop/tcop.cpp#L93)) at the point of [executing statements](https://github.com/AngLi-Leon/peloton/blob/master/src/tcop/tcop.cpp#L160).

The new catalog system enables

[2017-04-13 22:42] apavlo opened #625 "Add support for CHECK in CREATE TABLE"
The "Constraints" team (@vittvolt, @xinzhang1234, +1) have added support for `CHECK` constraints in the `DataTable`. They currently can only test this if they programmatically create the tables. This is because `CREATE TABLE (...)` does not support the `CHECK` keyword in column definitions.

The steps to complete this task are as follows:

1. Add support for extracting the `CHECK` metadata in the

[2017-04-13 22:51] apavlo opened #626 "Add TEXT type"
The "UDF" team (@NasrinJaleel93, @prashasthip, +1) need to store the function source in the new catalog (#592).  Postgres catalog table for UDFs ([pg_proc](https://www.postgresql.org/docs/current/static/catalog-pg-proc.html)) stores this field as a `TEXT` type (`prosrc`), which we currently do not support in Peloton.

AFAIK, the `TEXT` type is just a `VARCHAR` without a length. The Postgres docs s

[2017-04-13 22:56] prashasthip commented on #588
@camellyx @AngLi-Leon @mengranwo - Are you guys working on this?

[2017-04-13 22:56] prashasthip commented on #589
This can be closed. We have handled it.

[2017-04-13 22:59] apavlo opened #627 "Add support for array types"
A couple of the teams in the class need to store arrays in the catalog. We currently have array types in our code but there is no implementation. This is something that we need to add this semester.

[2017-04-13 23:06] apavlo commented on #589
Fixed in #622

[2017-04-13 23:06] #589 closed

[2017-04-15 02:15] phisiart opened #629 "BigInt serialization mistakenly writes int32"
In `BigintType::SerializeTo()`:
https://github.com/cmu-db/peloton/blob/master/src/type/bigint_type.cpp#L292
The code writes a `int32_t` instead of `int64_t`.

In `BigintType::DeserializeFrom()`:
https://github.com/cmu-db/peloton/blob/master/src/type/bigint_type.cpp#L299
The code reads a `int64_t` correctly.

[2017-04-15 02:17] apavlo commented on #629
This should be an easy fix. Can you submit a PR?

[2017-04-15 02:17] phisiart commented on #629
Okay, wait a min.

[2017-04-15 11:07] #629 closed

[2017-04-18 16:46] vittvolt opened #631 "Add parser support DEFAULT and REFERENCES constraint"
We are working on the database constraint and there are two major issues currently:

1. When inserting a tuple with the number of values given smaller than the column count, the database gives an insertion failure and exits.

2. REFERENCES keyword (and maybe ON DELETE, ON UPDATE) for foreign key does not seem to be supported.

[2017-04-19 17:01] luochenUmich commented on #543
This is handled in the new optimizer. This issue can be closed once we switch to the new optimizer

[2017-04-19 17:18] luochenUmich commented on #607
@nblintao Is this still an issue? If not, we can help you

[2017-04-19 17:27] haojin2 commented on #607
This is handled already in Issue #624

[2017-04-19 23:43] apavlo opened #632 "Move built-in SQL functions to pg_proc"
Right now we have a dirty hash map in the catalog that we use to map function names to `ExpressionType`.

https://github.com/cmu-db/peloton/blob/master/src/include/type/types.h#L247

Then the binder stuffs the pointer to the function inside of a `FunctionExpression`. This is a big hack.

https://youtu.be/btWsg4sCRJI?t=12s

We need to do what postgres does and move all of the built-in functions int

[2017-04-20 00:58] hzxa21 commented on #562
This issue is resolved in PR #609 .
Note that `SELECT * from temp GROUP BY a` is an invalid sql. SELECT * with GROUP BY only works when the GROUP BY contains all the columns of the table. This corner case will be handled in the next PR of the new optimizer.

For example, in postgres:
[code]

[2017-04-20 00:58] #562 closed

[2017-04-20 01:06] apavlo commented on #623
Was this fixed for #592?

[2017-04-20 01:10] AngLi-Leon commented on #623
Yes.

[2017-04-20 02:02] apavlo commented on #623
Correction. This is not fixed.

@yingjunwu We still need this.

[2017-04-20 02:51] yingjunwu commented on #623
I'll take a look at it.

[2017-04-20 02:54] nblintao commented on #607
LGTM. Thank you!

[2017-04-20 02:54] #607 closed

[2017-04-20 03:27] yingjunwu commented on #623
@hanli32 @CHUYilei This is related to the single statement transaction we are currently working on. Let's have a discussion on it.

[2017-04-20 21:02] luochenUmich commented on #625
@vittvolt @xinzhang1234  I am modifying parser to support this. However, I need to know where to store this parsed data. I looked at your Constraint PR and didn't see you guys changing the create_statement. CreateStatement is the place where this parsed data should be stored. Probably you guys should add a vector<Constraint> member variable in ColumnDefinition. Let me know when you guys add that.

[2017-04-21 04:45] vittvolt opened #634 "Stats_test has memory leakage?"
During a local test I found the current peloton master has potentially memory leakage issue during the **stats_test**. Is it expected?

[2017-04-21 16:09] lixupeng opened #636 "DBMS does not enforce VARCHAR length"
maxlen specified in varchar(maxlen) seems not work:

[code]

[2017-04-21 22:04] hzxa21 opened #637 "Invoke EXTRACT function correctly"
The Postgres parser parses the EXTRACT function into date_part function so now Peloton cannot invoke the EXTRACT function correctly.
[code]

date_part should be made as an alias to EXTRACT function and the parser should be modified to feed the right DatePartType into the arguments of the EXTRACT function.
https://github.com/cmu-db/peloton/blob/master/src/expression/date_functions.cpp#L33
https://g

[2017-04-21 22:22] hzxa21 opened #638 "Implement Sqrt operator"
"|/" operator to compute the sqrt root of the value is not supported for now although we already have the Sqrt functions implemented for different value types.

[code]

See
https://www.postgresql.org/docs/9.4/static/functions-math.html
https://github.com/cmu-db/peloton/blob/7a3483e137f454602bda918d3932604f1f34bf77/src/type/decimal_type.cpp#L182
https://github.com/cmu-db/peloton/blob/7a3483e137f454

[2017-04-22 15:26] apavlo opened #639 "Create separate fast/full check targets in Cmake"
**This is blocking us from merging the LLVM engine so we need to do this immediately.**

The new LLVM engine code (#612) takes too long to execute all of the tests using Valgrind on gcc4. We are timing out on Travis. Switching to the '-fsanitize' flag in gcc greatly speeds up the build time and will provide us with a basic sanity check. But we obviously want to still execute the full tests with Va

[2017-04-22 16:55] pmenon commented on #639
I attempted this on Friday, it isn't hard to do.

[2017-04-22 17:16] #610 closed

[2017-04-22 17:25] apavlo commented on #639
@pmenon What part was easy to do?

[2017-04-22 20:05] seojungmin commented on #639
https://github.com/google/sanitizers/wiki/AddressSanitizer#turning-off-instrumentation <https://github.com/google/sanitizers/wiki/AddressSanitizer#turning-off-instrumentation>

__attribute__((no_sanitize_address)) is found to be working and is the only way with gcc4.  And, “-fsanitize_blacklist” option, analogous to the suppression feature from Valgrind, does not work with gcc4.

Since this saniti

[2017-04-23 01:20] apavlo commented on #639
Do we have a compelling reason to still support gcc4.9?

[2017-04-23 18:30] jarulraj commented on #639
Sure, I will add this asap. @pmenon Do all the tests pass with `-fsanitize`?

[2017-04-24 07:25] mrmiywj commented on #638
Hi, is this issue available for in-coming CMU student? I am a MS student in INI 17 fall and find this project interesting. Could I pick this up?

[2017-04-24 12:47] apavlo commented on #638
@mrmiywj Yes! Go for it. Let me know if you need more guidance.

[2017-04-24 16:58] pmenon commented on #639
@apavlo Adding the new targets wasn't difficult. The one tricky thing is that `-fsanitize` flags and Valgrind dont' work together (i.e., Valgrind won't work on tests compiled with sanitization flags).

@jarulraj 11/112 tests fail when using `-fsanitize=address -fsanitize=leak`. I haven't tried the memory or thread sanitizers.

[2017-04-24 17:08] apavlo commented on #639
@pmenon Do the failures match up with the things that we're suppressing in valgrind? How much work would it be for us to switch to clang?

[2017-04-24 18:50] pmenon commented on #639
When using address/leak sanitizers, the failures aren't anything in the suppressions. The majority are from peloton::GenericArray, and the transaction GC test seg faults.

When using the thread sanitizer, the index performance tests (specifically BWTree) throws many many errors. I'll take a deeper look later today.

[2017-04-25 19:33] mrmiywj opened #642 "Wiki update"
I found that the urls in the wiki are out of date. I will update them in soon days. It is a track issue.

[2017-04-26 01:55] apavlo commented on #588
What's the status of this issue?

[2017-04-26 01:55] #626 closed

[2017-04-26 01:55] #625 closed

[2017-04-26 01:56] #631 closed

[2017-04-26 01:57] apavlo commented on #575
I think this has been fixed in #617

[2017-04-26 03:13] phisiart opened #643 "The lifecycle of a planner::AbstractPlan"
We are the LLVM team. This issue is blocking us from integrating plan caching into the system (our caching system already passes standalone tests). Since this requires API changes which might affect other teams, we leave this issue here and wait until the end of the semester. Changes should happen then.

## The Cache system

Our cache is a singleton object which boils down to a:
[code]

(We've imp

[2017-04-26 04:10] camellyx commented on #588
Hi Andy,

We had a meeting with the UDF team last week. I believe the UDF team is
working on adding the pg_proc table.

Thank you,
Yixin

On Tue, Apr 25, 2017 at 9:55 PM, Andy Pavlo <notifications@github.com>
wrote:

--
Yixin Luo, PhD Student of
Computer Science Department
Carnegie Mellon University
Phone: (734)-546-7629    Email: yixinluo@andrew.cmu.edu

[2017-04-26 23:27] vittvolt opened #644 "DEFAULT keyword causes Seg Fault and other feature requests"
Hi,

I'm in the constraint team and here are some problems we found:

- (**URGENT**)When trying to integrate with the newly added parser feature in #633 , I found that the query parsing gives a seg fault for basic case like CREATE TABLE test (id INT PRIMARY KEY, a INT DEFAULT 1). It passed the postgresparser_test because only the parse tree was built. During execution of the postgresparser it give

[2017-04-27 00:38] hzxa21 commented on #644
The first problem is solved in #645.
As for the second problem, I agree what you have proposed. The current layout for the create_statement.h is not a good design. You guys should refactor that as said in the comment of #625 and then we can add parser support for that.

F.Y.I
Table constraints are handled here: https://github.com/cmu-db/peloton/blob/master/src/parser/postgresparser.cpp#L827
Column

[2017-04-28 21:25] pmenon commented on #634
Can you try the test with the latest master? I believe #646 should have resolved this issue.

If you're still getting memory leaks, please post the output.

[2017-04-28 22:09] vittvolt commented on #634
The stats_test still reports lost bytes on my local test environment, but it seems to pass the auto travis ci test.

==9451==
==9451== HEAP SUMMARY:
==9451==     in use at exit: 77,113 bytes in 33 blocks
==9451==   total heap usage: 26,759 allocs, 26,726 frees, 666,135,910 bytes allocated
==9451==
==9451== LEAK SUMMARY:
==9451==    definitely lost: 0 bytes in 0 blocks
==9451==    indirectly lost:

[2017-04-28 22:14] vittvolt commented on #634
Complete leak info with --show-leak-kinds flag:

2017-04-28 18:13:36 [src/statistics/stats_aggregator.cpp:45:~StatsAggregator] DEBUG - StatsAggregator destruction
==10495==
==10495== HEAP SUMMARY:
==10495==     in use at exit: 77,113 bytes in 33 blocks
==10495==   total heap usage: 28,885 allocs, 28,852 frees, 666,239,826 bytes allocated
==10495==
==10495== 16 bytes in 1 blocks are still reachable

[2017-04-28 22:16] vittvolt commented on #634
@pmenon Also in our #616 PR, the test still failed with exit value 1 at the end. All the tests have passed, except for somewhere in the beginning:

-- Performing Test FSANITIZE_USE_AFTER_SCOPE_FLAG
-- Performing Test FSANITIZE_USE_AFTER_SCOPE_FLAG - Failed

which doesn't seem to appear in other PR's logs. I'm not sure if this is related.

[2017-04-28 22:37] seojungmin commented on #634
If #646 had been applied correctly, should we no longer see the valgrind output? Your log looks like a valgrind output to me.

[2017-04-28 22:54] vittvolt commented on #634
@seojungmin The output is from executing the command individually:

valgrind "--trace-children=yes" "--leak-check=full" "--show-leak-kinds=all" "--track-origins=yes" "--soname-synonyms=somalloc=*jemalloc*" "--error-exitcode=1" "--suppressions=../third_party/valgrind/valgrind.supp" ./test/stats_test

[2017-04-29 15:10] prashasthip commented on #588
Yes, we have added the pg_proc table.

[2017-05-01 18:40] mrmiywj commented on #642
Update the urls in [Adding an SQL operator](https://github.com/cmu-db/peloton/wiki/Adding-an-SQL-Operator) except the `plan map` and `example operator`

- Questions:
Where are `plan map` code located now.. It seems they have been removed...

- Next:
Update the out-dated content, such as namespace hierarchies.

[2017-05-02 20:03] vittvolt opened #651 "Compilation issue on ubuntu 16.04"
After pulling from the latest master, I am having issues with building some tests on my laptop (g++ 5.4, Ubuntu 16.04). I tried running package.sh and rebuilt everything and it did not work. (I could build the peloton executable and some other tests though).

The errors are from a #include <mutex> statement in tcop.h:

[100%] Building CXX object test/CMakeFiles/constraints_test.dir/catalog/constra

[2017-05-03 01:49] phisiart commented on #651
We might have had the same problem before. I'm not sure, but you might want to have a try.

I see that the error is from `/home/tianhe/Desktop/15721-project3/forked-peloton/peloton/test/include/catalog/constraints_tests_util.h:184:50`, which is not in the master branch. I assume it is from your fork [here](https://github.com/vittvolt/peloton/blob/default-test-branch/test/include/catalog/constraint

[2017-05-03 03:15] vittvolt commented on #651
@phisiart That solved the issue, thank you very much! I did not notice the change in type.

[2017-05-03 13:21] apavlo commented on #651
Can you guys submit a PR with just this fix?

[2017-05-03 16:37] yingjunwu opened #652 "refactor delete executor"
Currently, when the DBMS attempts to delete a tuple, it inserts an empty version into the corresponding version chain. This approach may significantly increase the memory usage when a client tries to delete a large number of tuples in a single transaction.

To address this problem, we should add a new flag field to the tile group header to identify whether the corresponding tuple version is delete

[2017-05-03 20:01] phisiart commented on #651
@apavlo I don't think this issue is in the master branch.
They seem to have copied some code from the old codebase (which is changed by the codegen PR) to create their own test cases. @vittvolt Is that the case?

[2017-05-05 00:59] apavlo opened #654 "Need a compilation flag to disable LLVM"
Students in the class need to turn off the LLVM for their projects. We need a compile time flag or something for them to use.

This is urgent.

[2017-05-05 01:02] apavlo opened #655 "Txn Garbage Collection Bug"
Students are reporting that there is a bug in the bw-tree that is causing the jdbc_validator test to fail:

[code]

This is from this [build](https://s3.amazonaws.com/archive.travis-ci.org/jobs/227268505/log.txt?X-Amz-Expires=30&X-Amz-Date=20170505T010105Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJRYRXRSVGNKPKO5A/20170505/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signat

[2017-05-05 01:05] apavlo commented on #654
@rohit-cmu @poojanilangekar A short term fix is to change this function to always return false:

https://github.com/cmu-db/peloton/blob/master/src/codegen/query_compiler.cpp#L43

[2017-05-05 01:15] seojungmin commented on #654
We have a flag for turning the codegen off.  See below:

jungmin@ubuntu:~/w/work/peloton-tony/build$ ./bin/peloton -h
peloton: Usage Info:

  Flags from /home/jungmin/w/work/peloton-tony/src/configuration/configuration.cpp:
    **-codegen (Enable code-generation for query execution (default: true))
      type: bool default: true**
    -display_configuration (Display configuration (default: false))

[2017-05-05 01:17] apavlo commented on #654
@seojungmin I think they need to be able turn it off programmatically from the unit tests.

[2017-05-05 03:32] pmenon commented on #655
Is there an error message or stack trace from the Peloton side. This test was failing spuriously in GCC 4.9 when we enabled fsanitize because of the bug in GC (#652), not in the bw-tree itself.

[2017-05-05 03:37] hzxa21 commented on #655
Here is the stack traces from this build:
[code]

[2017-05-05 03:51] pmenon commented on #655
This is caused by the GC bug. Students can disable the fsanitize flag for local testing, but this only hides the error. Ultimately, the bug has to be addressed asap.

[2017-05-05 04:06] pmenon commented on #654
I **think** they should just be able to do `FLAGS_codegen = false;` to disable codegen.

[2017-05-05 23:16] vittvolt commented on #644
@luochenUmich @hzxa21  The seg fault still appears after executing

**CREATE TABLE test (id INT PRIMARY KEY, a INT DEFAULT 10);
INSERT INTO test VALUES (2, DEFAULT);**

Would it be possible that you guys can add it to the postgresparser unit test ?

[2017-05-06 22:09] vittvolt opened #661 "Is there currently a universal AbstractExpression evaluator?"
Is there a single utility function in peloton that evaluates a given AbstractExpression?

[2017-05-06 22:37] apavlo commented on #661
@vittvolt You can just call AbstractExpression::Evaluate()

[2017-05-06 23:10] vittvolt commented on #661
Thank you!

[2017-05-07 19:26] vittvolt commented on #644
@hzxa21

[2017-05-07 19:29] #661 closed

[2017-05-07 22:09] ShuxinLin commented on #562
[code]

If the attribute is VARCHAR, it cannot be GROUP BY. Other than VARCHAR, other types (e.g. INT, DECIMAL,) are good.

[2017-05-08 06:30] lishuomountain opened #663 "select clause cause crushes"
After installing peloton, I follow the instructios in Terminal wiki (https://github.com/cmu-db/peloton/wiki/Terminal). When I execute "select * from foo;", the peloton crashes with the following info:

postgres=# select id from foo;
server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.
The connection to the server w

[2017-05-08 15:00] apavlo commented on #663
@lishuomountain Can you also provide the schema and data that you were testing?

You can install llvm-3.7 from packages on 14.04. We will update the installation instructions.

[2017-05-08 15:11] pmenon commented on #663
I just tested this on master with GCC 4.8.5, 4.9.4 and 5.4.1 on Ubuntu 14.04 and it all works.

@lishuomountain please use the llvm-3.7 packages for ubuntu 14.04. Also, attach the output from the peloton process.

[2017-05-09 00:50] seojungmin commented on #562
Since this issue is closed, I recommend you to open a new one, so that other people can follow up.  And also it would be nice to upload some logs from the current peloton binary.

[2017-05-09 02:31] YuanLuo1 commented on #627
Hi Andy,
is src/type/array_type.cpp or src/include/type/array_type.h the array type you referring to?

[2017-05-09 03:20] apavlo commented on #627
Yes

[2017-05-09 03:24] YuanLuo1 commented on #627
But I think it is implemented already?

[2017-05-09 03:28] apavlo commented on #627
Is it completed? Is there test code? Is there any part of the system actually using it?

[2017-05-09 14:00] lishuomountain commented on #663
It's OK. Thank you!

[2017-05-09 14:00] #663 closed

[2017-05-09 14:41] lishuomountain opened #665 "TPCC fails on INSERT INTO OORDER"
When I run TPCC benchmark, the sytstem crashed  with the following info:

2017-05-09 22:23:07 [src/wire/packet_manager.cpp:391:ExecParseMessage] DEBUG - PrepareStatement[] => INSERT INTO OORDER (O_ID, O_D_ID, O_W_ID, O_C_ID, O_ENTRY_D, O_OL_CNT, O_ALL_LOCAL) VALUES ($1, $2, $3, $4, $5, $6, $7)
2017-05-09 22:23:07 [src/wire/packet_manager.cpp:391:ExecParseMessage] DEBUG - PrepareStatement[] => INSE

[2017-05-09 14:43] apavlo commented on #665
@lishuomountain Are you using 'peloton' for your `dbtype` in your OLTP-Bench config file?

[2017-05-09 14:44] lishuomountain commented on #665
@apavlo  Yes!

[2017-05-09 20:18] vittvolt opened #666 "Transaction does not work in terminal ?"
BEGIN does not seem to create a separate transaction? Or the isolation level does not guarantee repeatable reads?

We tested by:

CREATE TABLE test (a INT PRIMARY KEY)

Transaction 1:
BEGIN;
INSERT INTO test VALUES (1);

And then transaction 2:
BEGIN
SELECT * FROM test;

Then value 1 is actually shown in the result set.

[2017-05-09 22:37] hzxa21 commented on #665
Same issue here. I think this is caused by binding parameters incorrectly in insert_plan.cpp. I can try to look into that later.

[2017-05-17 04:21] bitmybytes opened #673 "Installation page in wiki has a broken link to vagrant setup on OSX"
Installation page in wiki has a broken link to vagrant setup on OSX.

I have a fix here at https://github.com/bitmybytes/peloton-wiki/pull/1

Thanks,
Arun

[2017-05-17 12:52] apavlo commented on #673
Can you send a PR?

[2017-05-18 03:40] bitmybytes commented on #673
Hi @apavlo, I can but looks like Github doesn't support an easy way for non-collaborators to do PR on wiki.

[2017-05-18 03:46] apavlo commented on #673
Got it. I will fix tomorrow.

[2017-05-18 21:14] apavlo commented on #673
Fixed!

https://github.com/cmu-db/peloton/wiki/Installation

[2017-05-18 21:14] #673 closed

[2017-05-19 17:42] apavlo commented on #665
@hzxa21 I think this fell through the cracks at the end of the semester. We really need this fixed now. It's urgent. We can't test #672

[2017-05-20 03:33] mengranwo commented on #666
Maybe that's because you are missing a semicolon after the second transaction(txn 2)??
I tried those sql on my terminal, it worked.

[2017-05-22 13:49] andyrudoff opened #677 "code from libpmem was stripped of its license, and it is out of date"
Hi folks,

We (the NVML team) were happy to discover pelotondb with support for persistent memory built in.  We noticed code from libpmem was used and you nicely referenced the original source file here:

https://github.com/cmu-db/peloton/blob/master/src/storage/storage_manager.cpp#L57

But you pulled in the code without pulling in the associated license.  I know it is a bit of a pain, but we resp

[2017-05-22 13:52] apavlo commented on #677
@jarulraj This is urgent. Please fix *immediately*

[2017-05-22 16:48] ChTimTsubasa opened #678 "Compile Issue on Ubuntu (destructor and nonnull compare)"
Hi,

**I am following the installation guide in https://github.com/cmu-db/peloton/wiki/Installation.
At the 'Build and install Peloton' step, after typing 'make -j4', I got the following error message:**

/home/tim/Documents/project/peloton/src/codegen/function_builder.cpp: In destructor ‘peloton::codegen::FunctionBuilder::~FunctionBuilder()’:
/home/tim/Documents/project/peloton/src/codegen/functi

[2017-05-22 18:10] apavlo commented on #678
I don't think we've tried on gcc6. Can you try on gcc5?

[2017-05-22 19:11] ChTimTsubasa commented on #678
It works on gcc5

[2017-05-22 19:11] #678 closed

[2017-05-24 21:36] ChTimTsubasa opened #680 "SEG FAULT when typing wrong 'SELECT'"
The program crashes and gives no other information in DEBUG mode when typing SELECT query without specifying the tuple that is queried for.

The information printed on the console is:
2017-05-24 17:35:43 [src/wire/libevent_callbacks.cpp:46:WorkerHandleNewConn] DEBUG - Creating new socket fd:27
2017-05-24 17:35:43 [src/wire/libevent_server.cpp:53:CreateNewConn] INFO  - create new connection: id = 2

[2017-05-24 21:45] haojin2 commented on #680
Would you please rerun it with gdb and provide the backtrace for the segfault?

[2017-05-24 23:07] #665 closed

[2017-05-24 23:08] #651 closed

[2017-05-24 23:51] apavlo opened #681 "Remove Semi-Colon Hack"
This issue supplants #422.

We currently cannot support queries that have a semi-colon in them. The reason is because the `PacketManager::ExecQueryMessage` splits every incoming query by semi-colons:

https://github.com/cmu-db/peloton/blob/master/src/wire/packet_manager.cpp#L302

This was originally meant to support queries with multiple statements in them:

[code]

But this will cause problems if

[2017-05-24 23:51] apavlo commented on #422
Replaced with #681

[2017-05-24 23:51] #422 closed

[2017-05-25 03:40] ChTimTsubasa commented on #680
Thread 4 "peloton" received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fffccfff700 (LWP 3435)]
0x00007ffff6917d11 in peloton::parser::PostgresParser::TargetTransform (
    root=0x0)
    at /home/tim/Documents/project/peloton/src/parser/postgresparser.cpp:496
496	  for (auto cell = root->head; cell != nullptr; cell = cell->next) {
(gdb) backtrace
#0  0x00007ffff6917d11 in peloton::

[2017-05-25 03:56] haojin2 commented on #680
I guess this is due to that libpg_query is not reporting an error on queries like "SELECT;". I think if you simply add "if (root == nullptr) return nullptr;" to the beginning of TargetTransform function this will be properly handled.

[2017-05-25 04:11] ChTimTsubasa commented on #681
What we can do tomorrow @dengyuchenkit
1. We may look into the code in PacketManager::ExecQueryMessage(), TrafficCop::ExecuteStatement() and TrafficCop::PrepareStatement() to see what are these pieces and other related functions are actually doing right now.
2. Do some initial changes on ExecQueryMessage and ExecuteStatement first and see if this would work.

[2017-05-26 00:20] ChTimTsubasa commented on #680
Still not solving the problem.
After looking into the code, there are still problems left from:
https://github.com/cmu-db/peloton/blob/master/src/parser/postgresparser.cpp#L1073

Even after fixing the TargetTransform() and FromTransform() by adding the nullptr detection, the program still gives SEG_FAULT coming from files without source code, since gdb is giving only machine code positions.

Proba

[2017-05-26 00:28] haojin2 commented on #680
If libpg_query does not identify this as an illegal query then it will return a parsetree and our transformer will then transform any available parts in it, so this is a problem with libpg_query. On our side, to handle this case we may need to add additional checking to see if the transformed peloton parsetree has all nullptr for every single subpart of it.

[2017-05-26 00:32] haojin2 commented on #680
To check what libpg_query returns for this kind of query, you can enable the debug output by visiting the third_party/libpg_query and uncomment the debug printing line. If that give an empty parse tree instead of an error message then it means the problem is in libpg_query.

[2017-05-26 02:41] ChTimTsubasa commented on #681
@dengyuchenkit  and I changed PacketManager::ExecQueryMessage() by deleting the split() line and for loop. The running result looks good: it can now support multiple queries and queries that with ';' in it. One sample test is as follow:

postgres=# create table foo(info varchar(10));
create table foo(info varchar(10)); 0
postgres=# select * from foo;
 info
------
(0 rows)

postgres=# insert into f

[2017-05-26 04:01] apavlo commented on #681
@dengyuchenkit @ChTimTsubasa This is a good start. Be sure to use this issue # in your commit messages so they are automatically linked to this report.

https://github.com/blog/957-introducing-issue-mentions

[2017-05-26 05:34] haojin2 commented on #680
So I just verified this on my own laptop and I found that libpg_query is giving back a Postgres parse tree like this: [{"SelectStmt": {"op": 0}}]. So my guess is correct that libpg_query does not think that this is an illegal query. I guess the solution is to check the target is not null after the transform. Or we can do it in TargetTransform, instead of returning a nullptr we can throw an excepti

[2017-05-30 13:46] apavlo commented on #681
@dengyuchenkit @ChTimTsubasa Any update on this?

[2017-05-30 14:07] dengyuchenkit commented on #681
@ChTimTsubasa and I found that when the user inputs two query in one line, the EventHandler(https://github.com/cmu-db/peloton/blob/master/src/wire/libevent_callbacks.cpp#L66) is triggered twice, one for each query. Before the queries go to ExecQueryMessage(https://github.com/cmu-db/peloton/blob/master/src/wire/packet_manager.cpp#L297), they are split. We are thinking if the frontend in postgres ha

[2017-05-30 14:15] ChTimTsubasa commented on #681
This is a test we did:
I insert the LOG_DEBUG code into PacketManager::ExecQueryMessage and PacketManager::ProcessPacket
if typing a multi-statement line like:
insert into foo values(2, 100);insert into foo values(5, 200);insert into foo values(3,100);

The result shows:
/home/tim/Downloads/2056524122.jpg

Where the PacketManager::ProcessPacket is called three times and each time the query that pa

[2017-05-31 01:30] ChTimTsubasa commented on #681
**We had done some test and got the following observation:**
1) When psql is used in terminal, the client actually splits and parses the statement into multiple packets and sent them separately in SIMPLE_QUERY_COMMAND message type. Each packet will triggers one event handler (https://github.com/cmu-db/peloton/blob/master/src/wire/libevent_callbacks.cpp#L66) and finally get handled in PacketManager

[2017-05-31 19:25] apavlo commented on #681
Good finds. Send a PR for #681 first. There is a bunch of networking layer fixes in #672 that we should merge first before you look into observation 3.

[2017-05-31 19:26] apavlo commented on #655
@yingjunwu @haoxianghua This is bug is urgent. It's blocking all of the PRs. Is there any status update? Do we have a test cases that verifies that problem?

[2017-05-31 22:09] wangziqi2013 commented on #525
Finished

[2017-05-31 22:09] #525 closed

[2017-06-01 19:45] PauloAmora opened #685 "ORDER BY does not handle composite expressions"
Given the following scenario:

[code]
The command `SELECT * FROM foo ORDER BY a+c` crashes the database.

[2017-06-01 19:51] haojin2 commented on #685
My guess would be that we hit exception in OrderByTransform. Seems to me that "a+c" would be an AExpr parse node but we only try transforming Expr parse nodes in the function.

[2017-06-01 19:54] PauloAmora commented on #685
Yes, I just checked that on `SimpleOptimizer`, the sort columns are not added to the plan. I'm not sure how this is handled in the new optimizer, but the tests pass locally and fail on travis.

[2017-06-01 19:57] haojin2 commented on #685
This should be handled in postgresparser. We need to add a call to AExprTransform in OrderByTransform function.

[2017-06-01 20:11] apavlo commented on #685
We are going to ditch the SimpleOptimizer after we merge #640

[2017-06-01 20:18] PauloAmora commented on #685
On the tests this is covered (`optimizer_sql_tests`) and looks ok. Do I close this?

[2017-06-01 20:19] apavlo commented on #685
Yes, I think we support this now. Is this correct @hzxa21 @chenboy @luochenUmich ?

[2017-06-01 20:21] chenboy commented on #685
Yes, the new optimizer supports expressions.

[2017-06-01 20:22] apavlo commented on #685
Fixed in #640

[2017-06-01 20:22] #685 closed

[2017-06-01 23:01] yingjunwu commented on #655
I'm not sure whether the failing of jdbc_validator.py is directly related to the gc, but I've found a major problem in the gc. I've worked around this bug in my pr #585.

[2017-06-02 00:41] yingjunwu commented on #666
I have reproduced the bug reported by @vittvolt. The major problem is that, using `psql` terminal, Peloton treats every single statement, even the `BEGIN` statement, as a transaction. When the user types in `INSERT INTO test VALUES(1)`, Peloton will directly begin a new transaction, insert the tuple into the table, and then commit the transaction. I am not sure whether the networking team @hanli32

[2017-06-02 00:44] yingjunwu commented on #666
@hanli32 @CHUYilei sorry but I cannot find your PR... Has your PR been merged?

[2017-06-02 01:17] hanli32 commented on #666
@yingjunwu I think I have already fixed the single statement txn problem and the PR #647 has been merged.

[2017-06-02 01:26] yingjunwu commented on #666
@hanli32 I see. But I reproduced the bug on the master branch, which means that the single-statement transaction problem may still exist even with your PR merged. Could you test code provided by @vittvolt?

[2017-06-02 01:34] yingjunwu commented on #666
@hanli32 An easy way to confirm the existance of single-statement transaction: print out something every time the `BeginTransaction` and `EndTransaction` functions in `timestamp_ordering_transaction_manager.cpp` (https://github.com/cmu-db/peloton/blob/master/src/concurrency/timestamp_ordering_transaction_manager.cpp) are invoked. You will see this pair of functions are invoked every time a new sta

[2017-06-02 13:58] hanli32 commented on #666
@yingjunwu I tested the code and I found that one or more transactions may begin and end when the peloton is processing a statement, but these transactions are not invoked by tcop. I guess some other components in the Peloton may begin a new transaction when it is processing certain kind of queries and I think this is not the single-statement transaction problem. The transaction in the tcop's stac

[2017-06-02 15:35] pmenon commented on #655
@yingjunwu The problem in JDBC test is due to a bug in GC. Just for my own clarification, the flow is as follows:

1. Among other things, the test deletes tuples and drops tables.
2. Both go through delete executor.
3. Tuple deletion inserts an empty tuple [here](https://github.com/cmu-db/peloton/blob/master/src/executor/delete_executor.cpp#L136).
4. This modifies the indirection array (because th

[2017-06-02 20:03] yingjunwu commented on #655
@pmenon thanks for the instruction, and that's _the_ bug I have fixed in my snapshot_isolation branch. The branch can be merged after code review.

[2017-06-02 20:55] apavlo commented on #655
@yingjunwu I think you need to rebase #585 and see whether it passes the tests.

[2017-06-02 22:46] yingjunwu opened #686 "secondary index update bug"
Let's assume we have a table `TABLE(A, B, C)`, where a secondary index `IDX` is built on column `B`. Initially, we insert a tuple `(x1,y1,z1)` into the table, and this will add a new entry `(key=y1, value=loc)` into `IDX`. Please note that `loc` is a pointer pointing to a location on the indirection array which the tuple is corresponding to. Now we update the tuple's attribute `B` from `y1` to `y2

[2017-06-05 01:13] yingjunwu commented on #623
@hanli32 I think this is fixed, right?

[2017-06-05 04:01] yingjunwu opened #688 "keyword case-insensitive"
According to Postgres' document (https://www.postgresql.org/docs/current/static/plpgsql-structure.html), all the keywords, including `BEGIN` and `END`, must be case-insensitive.

[2017-06-05 04:05] yingjunwu commented on #666
After discussing with @hanli32, we found there's no transaction-related bug at all. The "bug" reported in this issue is due to the missing of a semicolon. The "single-statement transaction bug" I mentioned in my previous post also did not exist. However, Peloton falsely treats statements like `begin` and `end` (rather than `BEGIN` and `END`) as a single-statement transaction. This bug is reported

[2017-06-05 04:05] #666 closed

[2017-06-05 15:39] apavlo commented on #688
Is it just a matter of fixing all of the hardcoded string matches in the `PacketManager`?

https://github.com/cmu-db/peloton/blob/master/src/wire/packet_manager.cpp#L281
https://github.com/cmu-db/peloton/blob/master/src/wire/packet_manager.cpp#L245

Also, why is the `query_type` a string here? That makes it slower to pattern match. It should be an `enum class`.

@dengyuchenkit Can you fix this? Th

[2017-06-06 00:58] yingjunwu commented on #688
Yes it's an easy fix. Just fixing all the hardcoded string matches would be enough.

[2017-06-06 01:58] apavlo opened #690 "Move codegen translators to sub-directory"
Right now `src/include/codegen` has almost all of the code for the codegen component. I think that we should move the translators to `src/include/codegen/translators` to clean up this directory at bit.

I can do this tomorrow on my train ride up to MIT.

@pmenon @seojungmin -- Thoughts?

[2017-06-06 03:17] seojungmin commented on #690
@apavlo  I agree that it is an issue, and moving translators into a subdirectory would be a good, first move.

There are other potential candidate files to think about moving into a subdirectory, such as LLVM utility class header files(If/Loop/FunctionBuilder) and maybe proxies, later on. @pmenon What were the other candidates you mentioned last time?

[2017-06-06 05:06] pmenon commented on #690
@apavlo Yea, I think that makes sense, especially as we continue to add more stuff.

I was thinking of having a subdirectory for `operator`, `expression`, and `proxy` for operator translators, expression translators, and all the proxy classes, respectively.

[2017-06-06 14:00] apavlo commented on #655
This is fixed in #691, right?

[2017-06-06 14:10] apavlo commented on #690
I'll take care of this. I'm trying to get started on understanding the LLVM engine.

[2017-06-06 14:51] pmenon commented on #654
We can close this. Codegen can be programmatically turned off by setting `FLAGS_codegen = false`.

[2017-06-06 14:51] #654 closed

[2017-06-06 15:04] apavlo commented on #654
Can you please add documentation to the wiki?

On Jun 6, 2017 10:52 AM, "Prashanth Menon" <notifications@github.com> wrote:

[2017-06-06 17:49] apavlo commented on #642
Was there something that we needed to fix with this issue?

[2017-06-06 17:49] apavlo commented on #634
I think this is fixed now, right?

[2017-06-07 02:01] yingjunwu commented on #655
yes, fixed already.

[2017-06-07 02:01] #655 closed

[2017-06-08 00:54] ChTimTsubasa opened #692 "Compile Error with LOG_LEVEL lower than LOG_INFO"
I encountered an unused variable error when trying to compile with LOG_LEVEL_WARNING flag.

The bug comes from(https://github.com/cmu-db/peloton/blob/6b154b312e57aa10b573ce596ed95c3b51c566a2/src/brain/index_tuner.cpp#L438), where the _valid_index_count_ is used only to print the log. When LOG_LEVEL is lower, it becomes useless.

The whole error is:
[code]

[2017-06-08 23:16] dengyuchenkit commented on #688
Just want to make sure first that should I change the type of query_type or just fix the hard-coded string matches? Fixing the hard-coded string matches seems straightforward.

[2017-06-09 15:50] apavlo commented on #688
Yes, start with fixing the case. Send a PR for that. Then work making it
not be a string.

On Jun 8, 2017 7:16 PM, "Yuchen Deng" <notifications@github.com> wrote:

[2017-06-12 03:36] dengyuchenkit commented on #688
#694

[2017-06-21 14:42] seojungmin opened #700 "SQL INSERT INTO SELECT is not supported in Optimizer"
I have found that INSERT INTO SELECT is not supported in our optimizers.  I modified the _soon-to-be-dumped_ simple optimizer to check the overall status of  this in [my repository](https://github.com/seojungmin/peloton/commit/5875397c65e2eee3ccb13a4051420b48e607b732), and it worked OK.  This means that, if we add a support in our new optimizer, the function will just work.

This is a typical test

[2017-06-23 18:42] #642 closed

[2017-06-23 18:43] #638 closed

[2017-06-23 18:43] #575 closed

[2017-06-23 18:44] #634 closed

[2017-06-23 18:44] #578 closed

[2017-06-23 18:46] apavlo commented on #555
This is fixed in #640

[2017-06-23 18:46] #555 closed

[2017-06-24 13:05] nshigit opened #701 "Compile error. "‘createGVNPass’ is not a member of ‘llvm’""
[  1%] Original libpg makefile target
[  1%] Built target libpg_query
[  3%] Built target peloton-proto
[  3%] Building CXX object src/CMakeFiles/peloton.dir/codegen/code_context.cpp.o
/home/nshi/workspace/peloton/src/codegen/code_context.cpp: In constructor ‘peloton::codegen::CodeContext::CodeContext()’:
/home/nshi/workspace/peloton/src/codegen/code_context.cpp:72:25: error: ‘createGVNPass’ is no

[2017-06-24 13:08] pmenon commented on #701
Which version of LLVM are you using (`llvm-config --version`). You should be using 3.7.

[2017-06-24 13:09] nshigit commented on #701
OS: Linux mars 3.16.0-4-amd64 #1 SMP Debian 3.16.39-1 (2016-12-30) x86_64 GNU/Linux
llvm-3.9, clang-3.9

[2017-06-24 13:39] pmenon commented on #701
3.9 might be too new. Please use 3.7.

[2017-06-24 15:59] seojungmin commented on #701
I think that we could consider to investigate what should be done to support LLVM 3.8 or above.  If somebody would like to look into this matter, it would be grateful.  AFAIK, there is no certain reason that we should not support 3.8 or above.

[2017-06-26 14:07] pmenon commented on #701
@seojungmin There isn't any reason we can't support newer versions of LLVM. I've tested most of the 3.x versions since these don't have breaking API changes. 4.x and 5.x are a different story.

I wanted to keeps things simple initially and stabilize everything on 3.7 before messing around with other versions. Having said that, I've fixed this in #697 (0912a8be8ecb9d66ca5c22707b2f6535ba515954) by a

[2017-06-26 17:15] SurajGoel opened #704 "Linker Error on gcc 4.8"
Getting build error on fresh vagrant box provided in this repo.

![error](https://user-images.githubusercontent.com/11015169/27551435-0764f22e-5ac1-11e7-9af4-db6769b4f712.png)

[2017-06-26 17:21] apavlo commented on #704
This is a problem with gcc4.8. Can you try it with gcc 5?

[2017-06-27 04:41] SurajGoel commented on #704
@apavlo Same error using gcc-5.4.1

[2017-06-28 10:49] SurajGoel commented on #704
@apavlo Any idea ?

[2017-06-28 12:57] pmenon commented on #704
Which version of binutils are you using? What does `ld --version` print out?

[2017-06-28 15:15] pmenon commented on #704
The Vagrant file works for me. I just tried both release and debug builds. Ubuntu Trusty 14.04, GCC 4.8.4 (Ubuntu 4.8.4-2ubuntu1~14.04.3), binutils 2.24, gold linker 1.11 (GNU gold (GNU Binutils for Ubuntu 2.24) 1.11).

[2017-06-28 15:35] SurajGoel commented on #704
Hmm Strange the same box is not working for me.... What could be the problem ? Virtual Box ?

[2017-06-28 16:03] ChTimTsubasa opened #705 "New Optimizer Crashes in TPC-C StockLevel Join Query"
The new optimizer Seg_Fault when doing TPC-C testing.

The problem only happens when there are 3 or more than 3 warehouses, and is unrelated to the number of terminals. Specifically, it is caused by this query:"https://github.com/oltpbenchmark/oltpbench/blob/master/src/com/oltpbenchmark/benchmarks/tpcc/procedures/StockLevel.java#L42".

@hzxa21 suggested that the problem is caused by mixing up mult

[2017-06-28 19:47] pmenon commented on #704
Did you [try out the suggestions?](https://github.com/cmu-db/peloton/issues/704#issuecomment-311651871)

[2017-06-29 20:44] winmillwill opened #706 "cmake on vagrant yields untenable compiler flags for SSE4.2"
Following these directions: https://github.com/cmu-db/peloton/wiki/Installation#build-peloton

When I invoked `make` I got:

[code]

Hacking the CMakeCache.txt file like so:

[code]

I was able to run make without error. I haven't delved far enough into the cmake directory to figure out how to do this the right way.

[2017-06-30 00:44] pmenon commented on #706
If `-msse4.2` is working, but `-march=native` isn't, I suspect Vagrant/VirtualBox isn't properly passing supported CPU features to GCC in the VM.  [Lo and behold, this is the case.](https://www.virtualbox.org/manual/ch09.html#sse412passthrough)

Can you try adding these lines to your Vagrant file and build again.

[code]

[2017-06-30 16:19] apavlo opened #709 "System Crashes After Aborted Txn"
The system will crash if you try to start another txn after the previous txn aborted:

**First create the table**
[code]

**Then start a txn that will attempt to insert the same key twice. The second insert will (correctly) fail, causing the whole txn to abort**
[code]

**But now if you try to insert that same key again, the system crashes**
[code]

Here is the error from the server:
[code]

[2017-06-30 16:25] pmenon commented on #706
Tested this out and it seems to work. Fixed in #710.

[2017-06-30 16:54] #706 closed

[2017-06-30 17:03] winmillwill commented on #706
Thanks very much! Didn't have time to test before you closed the loop because of sleep and day job.

[2017-07-02 15:52] apavlo opened #711 "Match Postgres Return Results"
The server does not return the correct status codes and results when executing queries from the terminal. We should always match what Postgres does.

For example, `CREATE` always returns zero regardless of whether the command succeeds or not. In this example I create the table twice. The first one is successful (because I can query against it) but returns zero. The second one presumably fails but

[2017-07-02 15:54] apavlo commented on #711
@grkamat will work on this issue.

[2017-07-02 16:05] apavlo opened #712 "Txn Manager Crashes on UPDATE without WHERE"
The system crashes when you try to execute an `UPDATE` query that does not have a `WHERE` clause in it. This fails regardless whether the codegen feature is enabled. I only tried running this with the new optimizer enabled.
[code]

Here is the server's assert message:
[code]

The backtrace is attached.
[backtrace.txt](https://github.com/cmu-db/peloton/files/1117905/backtrace.txt)

[2017-07-02 16:15] apavlo opened #713 "BwTree crashes when re-inserting deleted key"
**I think that this bug is related to the same problem in #709. I don't think that we are cleaning up entries from the indexes properly.**

--------

First create a table with a single column and a primary key:
[code]

Next we will delete the tuple from the table and execute a `SELECT` statement to show that it is empty:
[code]

Now let's try to insert that same tuple back into the table. This sho

[2017-07-02 17:23] apavlo commented on #705
Two comments about this issue:

1. The DBMS should execute the join query in TPC-C StockLevel using an index nested loop join. Using a hash join is an overkill and will give us slow benchmark results.

2. Your example is crashing in the old execution engine (i.e., `HashJoinExecutor`). What happens when you run this query in @pmenon's LLVM engine?

[2017-07-02 17:25] apavlo commented on #680
@ChTimTsubasa This issue was fixed in #681, right?

[2017-07-02 17:26] apavlo commented on #688
Fixed in #694

[2017-07-02 17:26] #688 closed

[2017-07-02 17:26] #639 closed

[2017-07-02 17:33] PauloAmora commented on #712
Wasn't this fixed in #558 ?

[2017-07-02 17:39] apavlo commented on #712
@PauloAmora I think that this problem is different. It definitely works correctly if you include the WHERE clause:
[code]

[2017-07-02 17:45] apavlo opened #714 "CREATE TABLE with UNIQUE Column Not Enforced"
If I mark a column as `UNIQUE` when I create a table, the DBMS does not enforce that constraint:
[code]

Note that if you create the index by hand, it works correctly:
[code]

I think that the `UNIQUE` is not getting propagated to the catalog properly. This may already be fixed in #707 (formerly #660).

@vittvolt I think that your group fixed this already, right?

[2017-07-02 17:56] mengranwo commented on #711
We do check whether there is duplicate table already exist when creating a new one.
However, we don't throw an exception, but instead set the transaction result type as **_failure_** and return.
https://github.com/cmu-db/peloton/blob/master/src/catalog/catalog.cpp#L218

[2017-07-02 17:58] apavlo commented on #711
@mengranwo We need to propagate the error message back to the client. You might need to throw an exception.

[2017-07-02 18:01] apavlo commented on #484
I think that this was fixed in #672

[2017-07-02 18:01] #484 closed

[2017-07-02 18:34] ChTimTsubasa commented on #705
@apavlo I have just fetch the current version of Peloton and ran the test. Is this the one with new LLVM engine?
Using new optimizer with new cost configuration (0 for nested loop join and 1 for hashjoin) as @hzxa21 mentioned, Peloton is now crashing the OLTPbenchmark, which throws [1] at execute stage.

I also tested with single query through command line. It turned out that the previous error ca

[2017-07-02 19:55] ChTimTsubasa commented on #705
Some update and clarification:

1. Peloton on current master would have error [4] no matter which optimizer is using. One example query that cause this is [3]. Other queries in "SELECT * FROM <TABLE_NAME>;" form can also lead to this problem. @pmenon Can you try these queries and see if you may reproduce the problem?

2. New optimizer with default cost setting would be crashed on query[2].

3. New

[2017-07-02 22:49] vittvolt commented on #714
@apavlo The UNIQUE constraint was working properly at the end of the semester, and the DBMS should be able to enforce the constraint when creating the table.

I don't know why this is not working, perhaps there is something wrong with index creation when creating the table.

[2017-07-02 22:57] vittvolt commented on #714
This is where the index is created: https://github.com/apavlo/peloton/blob/bf2b86a0160229de3527b1cd128d5129162468d3/src/catalog/catalog.cpp#L261

This should work unless the is_unique_ field is not set.

[2017-07-02 23:57] vittvolt commented on #714
From what I remember, here

https://github.com/cmu-db/peloton/blob/master/src/parser/postgresparser.cpp#L837
https://github.com/cmu-db/peloton/blob/master/src/parser/postgresparser.cpp#L762

the definition from postgres is transformed to ColumnDefinition (I'm guessing if the parser does not pass the constraints as regular nodes then it would not work anymore), and in

https://github.com/apavlo/pel

[2017-07-03 00:04] vittvolt commented on #714
I might have seen where the bug came from:

https://github.com/cmu-db/peloton/blob/master/src/include/catalog/column.h#L85

I suppose it should be like this:
https://github.com/vittvolt/peloton/blob/master/src/include/catalog/column.h#L85

there should be a better way to do this, but this could be a temporary fix.

[2017-07-03 00:07] vittvolt commented on #714
I did not find anything useful that may cause the bug, if somebody finds something I would be happy to help.

[2017-07-03 07:06] camellyx commented on #714
I think we can fix this quickly once we are back from long weekend.

We should just follow what Postgres does
<https://www.postgresql.org/docs/9.4/static/ddl-constraints.html>:
To enforce a unique constraint on a column (or group of columns), Postgres
creates a unique B-tree index (named as "<tablename>_<columnname>_key") on
that column.

On Sun, Jul 2, 2017 at 5:07 PM, TH WU <notifications@github

[2017-07-03 07:19] yingjunwu opened #715 "release mode crashed"
Peloton does not work when built with release mode.

simply build the system using `cmake .., make -j`. Then use `psql` to issue some queries like:

[code]

The system will crash, complaining that
[code]

[2017-07-03 08:47] yingjunwu commented on #709
I have checked the code and found that the major problem is that bwtree may not handle conditional insert correctly. When a client inserts a duplicated tuple into the bwtree, bwtree will find that the predicate passed to the `CondInsertEntry()` function is not satisfied. However, instead of returning the result back to the transaction layer, bwtree directly triggers an assertion failure. Please ch

[2017-07-03 08:59] yingjunwu commented on #713
Yes I agree that this is caused by the same problem as in #709.

[2017-07-03 12:59] pmenon commented on #715
Looks like name mangling changes in release mode. I knew this would come back to bite us. I'll take a look.

[2017-07-03 13:48] yingjunwu commented on #712
The system crashes because each tuple can be updated two or more times when performing update without `where`.

When processing a query like `UPDATE foo SET id = id + 1`, the DBMS connects the update executor (parent executor) to a sequential scan executor (child executor). It scans the table and then updates each accessed tuple version. Every time the DBMS updates a tuple version in the table, a

[2017-07-03 13:55] pmenon commented on #715
So, I can't reproduce this on my machine. What GCC version are you using?

`storage::TileGroup::GetTileGroupId` is defined in the header. In release mode, I suspect it's getting inlined into all call-sites, doesn't make it into the binary, and, hence, isn't resolvable by LLVM. This doesn't occur in GCC 5.4, but may happen in 4.8 or 6.

[2017-07-03 14:04] yingjunwu commented on #715
In fact, I reproduced it in a machine with GCC 5.4 (an NUS machine) and one with GCC 4.8 (CMUDB dev2). Can you try dev2 or any other machine?

[2017-07-03 14:07] yingjunwu commented on #712
This problem is related to #106

[2017-07-03 14:16] yingjunwu commented on #712
There are two possible solutions to address this problem.

1. Record the read/write set for each operation. Every time the DBMS finds that a single operation is trying to modify (update/insert/delete) a version that it just created, then the DBMS should directly ignore this version. However, maintaining operation-level read/write set can bring certain performance overhead, especially when a single

[2017-07-03 17:46] apavlo commented on #714
@camellyx I think that the issue is fixed in @vittvolt's PR (#707). I just need to get it working and then merge it.

[2017-07-03 21:15] wangziqi2013 commented on #709
Commenting out the failing assertion will do the trick

This is caused by the original design not checking the return value inside `CondInsertEntry()` After we have switched to a newer BwTree in January this year, part of the logic for checking key duplications were moved, and the failing assertion does not hold anymore.

[2017-07-04 01:32] apavlo commented on #705
Fixed in #716

[2017-07-04 01:32] #705 closed

[2017-07-04 01:32] apavlo commented on #600
Fixed in #716

[2017-07-04 01:33] #600 closed

[2017-07-04 02:13] #715 closed

[2017-07-04 02:13] yingjunwu commented on #709
Then @wangziqi2013 could send a PR to fix this bug.

[2017-07-04 03:26] apavlo commented on #711
@grkamat Make sure that you update this file to match the new output once you fix this issue. I re-enabled the psql tests:

https://github.com/cmu-db/peloton/blob/master/script/testing/psql/psql_ref_out.txt

[2017-07-04 03:32] apavlo commented on #709
It's more than just commenting it out. We need a test case to prove that it actually works.

[2017-07-04 06:06] nshigit opened #723 "Low performance in local YCSB benchmark"
OS: CentOS 6.8
    Linux rac2 2.6.32-642.el6.x86_64 #1 SMP Tue May 10 17:27:01 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Compiler:
    devtoolset-2 (gcc (GCC) 4.8.2 20140120 (Red Hat 4.8.2-15), g++ (GCC) 4.8.2 20140120 (Red Hat 4.8.2-15))
    llvm-3.7.1 (clang version 3.7.1 (tags/RELEASE_371/final))
    boost-1.55 (boost-system-1.55.0-8.el6.x86_64)

CPUInfo: 4Socket 40Physical Core 80 Physical Thre

[2017-07-04 11:47] yingjunwu commented on #723
I think we no longer maintain the ycsb and tpcc microbenchmarks. There are two reasons that can lead to the poor efficiency of the benchmark. First, creating plans and executors can cause significant memory allocation overhead, especially when executing with multiple threads (e.g., 40 threads); second, the benchmark adopts bwtree as the default index, and maintaining indexes with string as primary

[2017-07-04 11:49] apavlo commented on #723
@yingjunwu Agreed. I think we should remove them.

[2017-07-04 15:55] grkamat commented on #711
@apavlo
The extra 0 in the return output of INSERT query are the Object Identifiers(OIDs) of the row created in postgres , in newer version of postgres, tables are created without OIDs on the rows that's why it gives 0.
I don't know where/how we are dealing with OIDs in peloton, will look into it.

[2017-07-04 17:01] ChTimTsubasa commented on #680
I am afraid not. But it can be fixed fast. I would open a new PR.

[2017-07-04 18:08] apavlo commented on #711
@grkamat We don't have OIDs for tuples yet. We will discuss this tomorrow at the team meeting.

[2017-07-04 18:24] mengranwo commented on #711
@apavlo That is an easy fix, we can throw an exception when creating duplicate table or creating table with duplicate column names. But it seems that after throwing an exception and setting the transaction result type as failure, there is no proper response outside executor(i.e abort transaction immediately).

[2017-07-05 13:56] mengranwo commented on #714
@apavlo After **_CREATE TABLE foo (id INT PRIMARY KEY, val INT UNIQUE)_**, maybe you can check whether unique bwtree index is automatically created by typing **_SELECT * FROM pg_catalog.pg_index_**; If there is corresponding record within pg_index, I believe the constrain should be working properly.

[2017-07-05 15:47] PauloAmora commented on #714
It is a very simple fix.

The create_plan does not add any constraint for unique, and the create executor does not create the associated index entry. I'll submit a PR.

[2017-07-05 15:48] apavlo commented on #714
@PauloAmora Hold up on this. This is already implemented in #707.

[2017-07-05 23:01] pmenon commented on #701
This is resolved as part of #697.

[2017-07-05 23:01] #701 closed

[2017-07-05 23:07] pmenon commented on #692
This was fixed in #693.

[2017-07-05 23:07] #692 closed

[2017-07-06 16:52] dengyuchenkit commented on #711
Yes right now we return the response to the queries in Simple Query Protocol as the query itself (https://github.com/cmu-db/peloton/blob/master/src/wire/packet_manager.cpp#L278)
We can change the first input from query to the string value of the query type, if we want to change the response.
The '0' in the response to INSERT queries is now manually added.  (https://github.com/cmu-db/peloton/blob/m

[2017-07-06 22:21] grkamat commented on #711
As per our discussion I used ParseQueryType and made some minor changes in the call to CompleteCommand() function but it seems like I will have to add some more cases(for CREATE and/or INSERT) because the output is not quite coherent with PostGres yet.

Peleton would produce something like this:
postgres=# CREATE TABLE foo (id INT PRIMARY KEY);
CREATE 0
mydb3=# CREATE TABLE foo (id INT PRIMARY KEY

[2017-07-06 23:05] dengyuchenkit commented on #711
Do you change the ExecQueryMessage, here: https://github.com/cmu-db/peloton/blob/master/src/wire/packet_manager.cpp#L359 (as in the previous comment)? The first param to the MapToQueryType should be the string value of the query type not the query itself. Right now it's not giving the correct query type

[2017-07-07 03:15] grkamat commented on #711
I changed that and it gives the correct output for INSERT. Thank you.
CREATE status code remains a concern.

[2017-07-07 05:02] ChTimTsubasa opened #730 "Peloton weird behavior under psql test"
This issue happened when I push my PR#727, but it also happened on current master.

One of the builds failed on psql test when running script [1] with SQL statements [2].

After further experiments, I found that when the time interval between the input of [3] and [4] is long enough, Peloton would stop due to [5].

Therefore, if you run the psql_test.sh or directly copy-paste the statements in [2]

[2017-07-07 14:21] pmenon commented on #730
This looks to be the same issue as #713. The test attempts to insert a duplicate primary key that fails, followed by a select on the table. It's failing in the same [spot](https://github.com/cmu-db/peloton/blob/master/src/index/bwtree_index.cpp#L106).

[2017-07-07 15:44] haoxianghua opened #732 "New optimizer might not build plan tree for case sql"
I ran case_sql_test and find new optimizer might not support "SELECT a, case when a=1 then 2 else 0 end from test" query

[2017-07-07 15:53] apavlo commented on #732
@hzxa21 We want to remove the old optimizer and switch over to the new one next week.

[2017-07-08 23:58] chenboy commented on #732
This query passes the test on my machine, @haoxianghua could you provide me the log?
I will work on tearing down the SimpleOptimizer this weekend.

[2017-07-09 14:50] apavlo opened #736 "Remove print statements from ParserUtils"
Somebody added many of the parser files to the [source_validator.py](https://github.com/cmu-db/peloton/blob/master/script/validators/source_validator.py) script:

https://github.com/cmu-db/peloton/blob/master/script/validators/source_validator.py#L71

The purpose of this script is to help make sure that we don't do anything stupid in our code.

It looks like the biggest offender is ParserUtils:

h

[2017-07-09 15:04] apavlo commented on #709
@wangziqi2013 I commented out line 106 in 'bwtree_index.cpp' as you suggested. It no longer crashes but it still not correct. It still does not let you insert a tuple with the same key:

**First txn that fails correctly when trying to insert the same key twice:**
[code]

**Now the second txn tries to insert the same tuple into an empty table but it fails:**
[code]

[2017-07-09 18:01] #690 closed

[2017-07-10 06:14] vipuldcoder commented on #736
Online 132  parser = argparse.ArgumentParser(description='Check for some strings')
So here Ones now what?

[2017-07-10 07:01] yingjunwu opened #739 "tpcc hacking"
@jarulraj Do we still need this hacking? https://github.com/cmu-db/peloton/blob/master/src/optimizer/simple_optimizer.cpp#L131

[2017-07-10 09:11] eyalroz opened #740 "PostgreSQL parser port and variable-number-of-arguments C++ functions"
Hello Peloton devs,

I noticed that in the folder with the PostgreSQL parser port you wrote you had to make adaptations for the fact that C++ supposedly doesn't support variable-number-of-arguments.

However - that's not actually true. See [this StackOverflow post,](https://stackoverflow.com/questions/1657883/variable-number-of-arguments-in-c) for example. You can use varargs functions just fine i

[2017-07-10 11:12] apavlo commented on #736
@vipuldcoder I don't understand what you are asking?

[2017-07-10 19:56] apavlo commented on #711
Fixed in #734

[2017-07-10 19:56] #711 closed

[2017-07-11 15:20] AngLi-Leon opened #741 "-stats_mode does not work"
Enabling `-stats_mode` run-time flag makes peloton run into infinite loop, this happens in the catalog initialization phase.

[2017-07-11 15:47] PauloAmora commented on #741
I spoke with @AngLi-Leon and will take a look into it.

[2017-07-11 16:27] #741 closed

[2017-07-13 01:34] wangziqi2013 commented on #709
@apavlo It looks like something unusual is happening inside the predicate that judges whether a key already exists or not. I ran the above command, and enabled BwTree to print out steps in delta chain traversal, here is the output (removed the LOG_INFO header for clarity; bold texts are command, and everything beneath the command are the output of that command; everything after "#" are my own comm

[2017-07-13 15:49] mrks opened #744 "CHAR and VARCHAR seem to require strlen+1"
When creating a table, it appears as if the size for CHAR and VARCHAR have to be one larger than the actual strings:

[code]

We found this to be an issue when running the TPC-C benchmark. After increasing the size of all CHARs in https://github.com/oltpbenchmark/oltpbench/blob/master/src/com/oltpbenchmark/benchmarks/tpcc/ddls/tpcc-peloton-ddl.sql by 1, we were able to run the benchmark.

[2017-07-14 16:52] apavlo commented on #732
@haoxianghua I am assuming that this is no longer a problem?

[2017-07-14 18:11] jarulraj commented on #677
@andyrudoff Thanks for the helpful feedback. I have added the NVML license, and will refactor the code to directly make use of `libpmem`.

[2017-07-14 18:22] #732 closed

[2017-07-14 18:22] #704 closed

[2017-07-14 18:23] #680 closed

[2017-07-17 09:58] nshigit opened #752 "Peloton's YCSB Benchmark is lower than Postgresql"
Schema
----------------------------------------------------------
CREATE TABLE USERTABLE(
  YCSB_KEY VARCHAR(255) NOT NULL,
  FIELD0 VARCHAR(100),
  FIELD1 VARCHAR(100), FIELD2 VARCHAR(100),
  FIELD3 VARCHAR(100), FIELD4 VARCHAR(100),
  FIELD5 VARCHAR(100), FIELD6 VARCHAR(100),
  FIELD7 VARCHAR(100), FIELD8 VARCHAR(100),
  FIELD9 VARCHAR(100),
  CONSTRAINT YCSB_KEY_KEY PRIMARY KEY (YCSB_KEY)
);
--

[2017-07-17 13:48] apavlo commented on #752
@nshigit Thanks for the numbers. We're still working on rewriting/optimizing a bunch of components this summer to speed things up. This is why we haven't announced our "first release" yet. Let us look this over and get back to you.

[2017-07-17 15:06] wangziqi2013 opened #753 "Txn & Index Discussion 07/17/2017"
1. Modify the call back method that checks the visibility of a tuple when calling CondInsert() of the index
   Currently it calls concurrency::TransactionManager::IsOccupied()
2. In the garbage collector, for any tuple that are inserted they should have an delete entry in the index first.
   This should be done before we recycle the version chain
3. Merge the txn handler stuff
4. If a txn deletes

[2017-07-17 16:39] haoxianghua opened #754 "delete_test.cpp"
In this test, print much log information and it seems to test with naked eyes.

[2017-07-17 16:40] apavlo commented on #754
Please provide more information (filenames, functions, etc).

[2017-07-17 17:32] apavlo commented on #744
Fixed in #745

[2017-07-17 17:32] #744 closed

[2017-07-17 17:43] haoxianghua commented on #754
File name is delete_test.cpp, and the logic of this test is straight. There is just no Programmatically check like EXPECT_EQ

[2017-07-17 17:45] haoxianghua commented on #754
To be exact, there is only one EXPECT_EQ to check if table created. But I think the purpose of this case is to test tuple delete

[2017-07-17 19:14] mengranwo opened #756 "Concurrency issue for delete operation"
Let's say I've already created a table foo by executing query **CREATE TABLE foo(a int)** and then insert several tuples.
[code]
The first transaction (begin early) delete tuple 1 from table foo, does not commit. And the second transaction, select * from foo using sequential scan. The correct result should return 3 rows instead of 2 since the first transaction has no committed yet, all the delete

[2017-07-17 22:04] seojungmin opened #757 "Another concurrency issue"
This may be from the same cause in #756.  I just report to help the person who is fixing it.  This time, it makes the server crash.

With the same `create table` and `insert` in #756, the `foo` table has 3 tuples written: 1, 2 and 3, then, the following was executed.

[code]

And this is from GDB:

[code]

[2017-07-18 00:24] seojungmin commented on #548
Fixed in #559

[2017-07-18 00:24] #548 closed

[2017-07-18 12:48] yingjunwu commented on #756
#712 #652

all these problems are related to the tuple-level visibility. We should carefully design it after fixing #753.

[2017-07-18 21:20] ChTimTsubasa opened #759 "Peloton crashes with YCSB "DeleteRecord" workload"
This is probably related to GC according to the backtrace message. You can easily reproduce this problem by including "DeleteRecord" workload.
PS: It would be faster to hit the problem when the "ScanRecord" is disabled.

The backtrace message:
[code]

[2017-07-24 05:35] yingjunwu commented on #709
fixed by #764

[2017-07-24 05:35] yingjunwu commented on #713
fixed by #764

[2017-07-25 15:32] seojungmin commented on #504
Verified after merging #708.

[2017-07-25 15:32] #504 closed

[2017-07-27 08:42] yingjunwu commented on #652
This issue is closed as I think it is still a good strategy to use empty version to identify tuple deletion.

[2017-07-27 08:42] #652 closed

[2017-07-27 12:49] pmenon commented on #713
Let's not close the issue until the PR has been tested and merged in.

[2017-07-27 12:51] pmenon commented on #709
Let's not close the issue until the PR has been tested and merged in.

[2017-07-28 02:16] seojungmin commented on #700
Verified by #762

[2017-07-28 02:16] #700 closed

[2017-07-28 02:18] seojungmin commented on #643
This is fixed in #751.

[2017-07-28 02:18] #643 closed

[2017-07-31 09:25] zagnix opened #767 "compiler error"
ERROR：
[100%] Linking CXX executable ../bin/peloton
../lib/libpeloton.so.0.0.5: undefined reference to `typeinfo for llvm::RuntimeDyld::MemoryManager'
../lib/libpeloton.so.0.0.5: undefined reference to `typeinfo for llvm::SectionMemoryManager'
../lib/libpeloton.so.0.0.5: undefined reference to `typeinfo for llvm::CmpInst'
../lib/libpeloton.so.0.0.5: undefined reference to `typeinfo for llvm::Instr

[2017-07-31 10:30] apavlo commented on #767
Platform? Compiler version?

[2017-07-31 17:32] apavlo opened #770 "Additional Static Source Code Checks"
We should add the following checks to `scripts/formatting/formatter.py`

1. Make sure that the namespace is properly commented (#768)
2. Make sure that testing utility files follow the proper naming convention
3. Make sure that we don't have the prefix "include/" in our own `#include`'s

[2017-08-02 15:56] apavlo commented on #767
@zagnix Can you provide more information?

[2017-08-03 11:02] zagnix commented on #767
@apavlo

-- ******************* Peloton Configuration Summary *******************
-- General:
--   Version           :   0.0.5
--   Git               :   7286f58
--   System            :   Linux
--   Compiler          :   /usr/bin/c++ (gcc 4.8.5)
--   Release CXX flags :   -O3 -DNDEBUG -std=c++1y -D__PELOTONFILE__='"$(subst /root/peloton/peloton/,,$(abspath $<))"' -fPIC -Wall -Wextra -Werror -mcx1

[2017-08-03 11:06] zagnix commented on #767
@apavlo thks

cmake -DCMAKE_BUILD_TYPE=Release ../

 General:
   Version           :   0.0.5
   Git               :   7286f58
   System            :   Linux
   Compiler          :   /usr/bin/c++ (gcc 4.8.5)
   Release CXX flags :   -O3 -DNDEBUG -std=c++1y -D__PELOTONFILE__='"$(subst /root/peloton/peloton/,,$(abspath $<))"' -fPIC -Wall -Wextra -Werror -mcx16 -Wno-invalid-offsetof -march=native -Wno

[2017-08-03 15:59] pmenon commented on #767
You need to use a newer compiler, at least GCC 4.9.

The problem is related to an ABI change between GCC 4.8 and GCC 4.9+ w.r.t. strings ([here](https://stackoverflow.com/questions/30124264/undefined-reference-to-googleprotobufinternalempty-string-abicxx11)). The Libprotobuf and LLVM libraries on the machine are compiled with GCC 4.9+, which cannot linked with apps compiled with anything older tha

[2017-08-03 18:22] crd477 commented on #767
The Ubuntu 14.04 build works using `gcc version 4.8.4 (Ubuntu 4.8.4-2ubuntu1~14.04.3)` assuming all of the other dependencies are installed from the official Ubuntu repositories, except for LLVM-3.7 which I noticed **must** be installed from the apt.llvm.org repository.

[2017-08-04 12:59] fadgan opened #777 "String functions not running"
Currently, string functions seem to be not running.
`postgresql=# create table blah (k integer primary key, v varchar(20));`
`CREATE TABLE`
`postgresql=# insert into blah values(1, 'blah1');`
`INSERT 0 0`
`postgresql=# select concat(v, v) from blah;`
`We don't have a translator for expression type: FUNCTION`

[2017-08-04 13:40] pmenon commented on #777
It looks like we're not checking target expressions in non-trivial projections [here](https://github.com/cmu-db/peloton/blob/master/src/codegen/query_compiler.cpp#L58). I can fix it.

[2017-08-04 14:37] #777 closed

[2017-08-11 03:22] yingjunwu commented on #709
This issue can be closed as the PR has been merged and tested.

[2017-08-11 03:22] #709 closed

[2017-08-11 03:23] yingjunwu commented on #713
This issue can be closed as the PR has been merged and tested.

[2017-08-11 03:23] #713 closed

[2017-08-11 18:51] haoxianghua opened #784 "DOES PELOTON PSQL SUPPORT PREPARE STATEMENT?"
I write a test for psql:
" create table foo(a int); PREPARE f (int) AS INSERT INTO foo VALUES($1);"
When I input "EXECUTE f(1);" the terminal shows "The prepared statement does not exist"

So, peloton psql doesn't support prepare statement? I just want to make sure.

[2017-08-11 18:53] haoxianghua commented on #784
Because I find that in packet_manager, some function has been written to support prepare statement

[2017-08-11 19:28] dengyuchenkit commented on #784
It's because when peloton receives a Prepare statement, it does not parse out the statement name correctly (https://github.com/cmu-db/peloton/blob/master/src/network/protocol_handler.cpp#L373) The fault is in my previous PR.. I will fix it soon

[2017-08-11 19:37] haoxianghua commented on #784
I think the test case need cover more codes. I am also wondering when we run travis, we run "bash ../script/testing/psql/psql_test.sh". However we only run a test file basic1.sql, "TEST_SCRIPT="../script/testing/dml/basic1.sql"(psql_test.sh line:22). My question is we have many psql test file, why we only run basic1.sql.

[2017-08-12 11:50] fadgan opened #786 "Request regarding Proejct #2 of the 15721 course"
Dear friends,
Is there a drop-in replacement/sample of the files that are the only ones that needs to be modified to run Project 2 from the 15721 course?
`/src/index/skiplist.cpp,
/src/include/index/skiplist.h,
/src/index/skiplist_index.cpp,
/src/include/index/skiplist_index.h`
and the corresponding index testing suit file
`/test/index/skiplist_index_test.cpp`

Thanks beforehand.

[2017-08-13 03:29] apavlo commented on #786
Are you asking what files you need to modify to complete Project 2 or are you looking for the solution?

[2017-08-13 07:21] fadgan commented on #786
Nope, not the files that need to be modified because the list of these files are already there in the project 2 specification and in my first post. I'm asking for a sample solution to go through.
These files currently contain only skeleton but not the implementations.
So, I was wondering if you could upload a solution !?

[2017-08-13 13:57] apavlo commented on #786
Sorry, we're not making the solution available because we may use the same assignment next year. There are a ton of resources on-line how to build a skip list. There is nothing special about this project.

You can also get an idea on how certain things work by looking at our Bw-Tree implementation:

https://github.com/cmu-db/peloton/blob/master/src/include/index/bwtree.h

[2017-08-13 13:57] #786 closed

[2017-08-13 18:24] fadgan opened #787 "CREATE INDEX response string returns "CREATE TABLE""
Index creation output tells us as if a table has been created although catalog confirms that the correct actions have been performed under the commands:
[code]

[2017-08-13 18:24] apavlo commented on #787
Good find. We will fix.

[2017-08-16 22:56] ChTimTsubasa opened #789 "Mechanism to detect and determine cached statement replan in protocol handler"
## 1. Background and Problems:

### 1.1 Postgres Extended Query Protocol

Compared to Postgres Simple Query Protocol, this extended one has a major change to support statement[1] caching, which is trying to cache every query's plan and try to reuse the plan once the same query appears again.

A  typical example would be a client sending two same queries to the server:

For the first query, the ser

[2017-08-16 23:36] apavlo commented on #789
I talked with @ChTimTsubasa today about this. I like his plan.

@hzxa21 @chenboy @luochenUmich Can you help him with this when you guys get back next week?

[2017-08-18 02:08] ChTimTsubasa opened #791 "Peloton SEGFAULT in parser when running TPCC at create stage"
The backtrace is:

0x00007ffff691b3b3 in peloton::parser::PostgresParser::FuncCallTransform (root=0x7fffcc083c28) at /home/tim/Documents/project/peloton/src/parser/postgresparser.cpp:496
496	    for (auto cell = root->args->head; cell != nullptr; cell = cell->next) {
(gdb) backtrace
#0  0x00007ffff691b3b3 in peloton::parser::PostgresParser::FuncCallTransform (root=0x7fffcc083c28) at /home/tim/Docu

[2017-08-18 02:22] #791 closed

[2017-08-18 17:19] apavlo commented on #789
@malin1993ml I just realized that you will need this feature to run your index tuning experiments on Peloton. You should keep track of it and manage everyone.

[2017-08-18 19:52] malin1993ml commented on #789
Will do.
On Fri, Aug 18, 2017 at 13:19 Andy Pavlo <notifications@github.com> wrote:

[2017-08-29 09:37] apavlo commented on #787
@sivaprasadsudhir Can you take care of this? The function to modify is here:

https://github.com/cmu-db/peloton/blob/master/src/network/protocol_handler.cpp#L278

You should coordinate with @ChTimTsubasa about this change so that you don't foul up overhaul of the protocol handler code.

[2017-08-29 09:38] #767 closed

[2017-08-29 09:39] #752 closed

[2017-08-29 09:41] #723 closed

[2017-08-29 09:46] #739 closed

[2017-08-29 09:46] #712 closed

[2017-08-29 09:57] #636 closed

[2017-08-29 09:58] #571 closed

[2017-08-29 09:58] #543 closed

[2017-08-29 09:59] #373 closed

[2017-08-29 10:00] apavlo commented on #494
Added in #763

[2017-08-29 10:00] #494 closed

[2017-09-04 01:30] #736 closed

[2017-09-05 20:37] rohit-cmu opened #797 "Build Peloton on macOS"
I was trying to build Peloton on macOS. However after running the installation script(Succesful) and cmake (Successful) , when I ran make -j4, I got the following error:-

[code]

[2017-09-05 22:09] apavlo commented on #797
@AngLi-Leon Can you look into this? Thanks

[2017-09-05 22:09] apavlo commented on #797
@AngLi-Leon Can you look into this? Thanks

[2017-09-06 03:06] AngLi-Leon commented on #797
Sure. These are the warnings that I have to suppress on Mac for building but I am not sure why these cannot be recognized by @rohit-cmu 's compiler (different Clang versions?). I need more information about it.

[2017-09-06 18:22] pmenon opened #798 "Use BloomFilter during HashJoin"
This feature looks to potentially improve HashJoin performance by constructing and using a light-weight BloomFilter. It requires building a BloomFilter (alongside the hashtable) during the build-phase of the join, and querying the filter **before** probing the hashtable during the probe-phase. When the hashtable is larger than cache and when the join selectivity is low, the filter avoids incurring

[2017-09-07 14:15] fadgan opened #800 "Running the index test suite for SkipLists"
Hello friends,
I'm currently trying to test a SkipList implementation on peloton.

For the uncommented code from skiplist_index_test.cpp
[code]

the index testing suite not running for it (neither OK nor FAIL)

peloton@ubuntu1:/home/gitrep/peloton/build$ sudo ./test/skiplist_index_test
Running main() from gmock_main.cc
[==========] Running 1 test from 1 test case.
[----------] Global test environm

[2017-09-08 11:17] apavlo commented on #800
What happens if you modify 'bwtree_index_test.cpp' and replace `IndexType::BWTREE` with `IndexType::SKIPLIST`?

https://github.com/cmu-db/peloton/blob/master/test/index/bwtree_index_test.cpp

[2017-09-08 16:24] rohit-cmu commented on #797
Hi @AngLi-Leon I did a `clang --version`. Posting below:-

[code]

[2017-09-08 16:28] AngLi-Leon commented on #797
Hi @rohit-cmu my version is:
[code]
Could you try to update your Xcode first to see if it works? Thanks!

[2017-09-08 16:30] rohit-cmu commented on #797
Ill update Xcode and let you know.

On Fri, Sep 8, 2017 at 12:29 PM, Ang Li <notifications@github.com> wrote:

--
Regards,
Rohit Agrawal | +1(412)-218-8424
Graduate Student, Electrical and Computer Engineering
Carnegie Mellon University

[2017-09-08 18:03] rohit-cmu commented on #797
Hi,

I updated Xcode. My new version is:-

[code]

This worked. I built and ran all the test cases and they have passed. 😄

We should probably mention this in the installation instructions for macOS.
Specify version of Xcode to download from here if required version is not already present.
https://developer.apple.com/download/more/?q=xcode
This would help everyone trying to get it running on macOS

[2017-09-08 18:03] #797 closed

[2017-09-08 19:26] #800 closed

[2017-09-08 19:28] fadgan commented on #800
I think it's clearer now. The code segfaults but here it doesn't show that.
When running through ctest it blames segfault.

[2017-09-13 00:26] poojanilangekar opened #802 "CREATE DATABASE causes seg fault"
Peloton crashes with signal 11 when a CREATE DATABASE statement is invoked. Here is the stack trace.

It is because parser::TableRefStatement::GetTableName() function accesses the table_name without initializing table_info_ (default value is nullptr). We could return a nullptr and add a check in the CreatePlan constructor.

`==4629== Thread 4:
==4629== Invalid read of size 8
==4629==    at 0x5C671

[2017-09-13 01:35] luochenUmich commented on #798
I will work on implementing this as part of my capstone project.

[2017-09-13 18:10] tcm-marcel commented on #798
Hey @luochenUmich, I got this task from @apavlo and @pmenon, but I didn't figure out how to self-assign it to me yet. (I think there are rights missing) So I will work on this, sorry for leaving this task open.

[2017-09-18 06:14] fadgan opened #803 "Running peloton with skiplisted indexes"
Dear friends,

 I'm about to finish skiplist based index implementation in Peloton and afterwards I'm planning to do some  benchmarking to test the performance of it.
I was wondering about the procedures that would help me to make the peloton use skiplist files instead of BwTree i.e. some drop-in steps. Is there a switch that will make skiplist  .cpp files to be the default index types for the dat

[2017-09-18 21:15] prashasthip commented on #681
I was testing out the current Peloton code for creating a UDF and the issue is still present.

Command:
[code]

Error Message
<img width="749" alt="screen shot 2017-09-18 at 5 14 32 pm" src="https://user-images.githubusercontent.com/11154612/30565034-e3ae2eac-9c94-11e7-8035-686dd749a7df.png">

@dengyuchenkit @apavlo

[2017-09-18 22:37] ChTimTsubasa commented on #681
@prashasthip
Which method are you using to access Peloton? PSQL or JDBC?

[2017-09-18 23:45] dengyuchenkit commented on #681
@ChTimTsubasa One example is that we create a UDF like this https://www.postgresql.org/docs/9.1/static/sql-createfunction.html through terminal. @prashasthip The problem is that we didn't let parser to handle it right now. To solve it we will get rid of the hacky preprocessing to the network packet before it is sent to the parser.

[2017-09-19 15:09] ChTimTsubasa commented on #681
@prashasthip I have discussed with @dengyuchenkit and testes around using Wireshark.

Basically, if you are accessing using PSQL, the PSQL client would send this as a whole packet to Peloton, without truncating into pieces separated by semicolumn.

In the network layer, we are doing no preprocessing for any SQL line since the PSQL client has already handled this problem.

The problem is from the p

[2017-09-19 18:19] AllisonWang opened #804 "Implement optimizer stats_and_cost_calculator API using cost model API"
Currently, cost model module provides an API to calculate the cost for a single table operation. However, it didn't implement the stats_and_cost_calculator API required by the optimizer. The first step is to incorporate the cost model API into current optimizer and have the basic version running.

@bechob

[2017-09-20 02:45] hzxa21 opened #807 "TPCC fails when scale factor >= 3"
@ChTimTsubasa and I have run TPCC locally and on dev1, it works well when scale factor is less than 3 but fails on the join query when scale factor >= 3. Basically we saw a SEG_FAULT in the interpreted engine during `peloton::executor::AbstractJoinExecutor::BuildOutputLogicalTile`.

One thing I notice is that TPCC queries are not run through the LLVM engine currently since they are parameterized,

[2017-09-20 13:30] apavlo commented on #807
What txn/query is it failing on in TPC-C? What happens if you run that query by hand in the LLVM engine?

[2017-09-20 19:34] apavlo commented on #677
@andyrudoff This has been fixed during the summer.

[2017-09-20 19:34] #677 closed

[2017-09-20 19:41] #757 closed

[2017-09-20 19:43] apavlo commented on #803
There is no easy way to do this from SQL. You can change `IndexFactory::GetIndex()` to override the `index_type` to always use `IndexType::SKIPLIST`

https://github.com/cmu-db/peloton/blob/master/src/index/index_factory.cpp#L62

[2017-09-20 19:43] #803 closed

[2017-09-21 15:15] hzxa21 commented on #807
@apavlo SEG_FAULT occurs for the join query when running TPC-C using oltpbench. I have tried running the join query in command line manually after loading TPC-C data. It works fine.

[code]

[2017-09-21 19:13] poojanilangekar opened #808 "Parser returns success every time after throwing an exception"
Once parser returns an error, peloton returns success for all subsequent queries. Here are the debug statements from the peloton instance:

`2017-09-21 18:59:05 [src/parser/postgresparser.cpp:1433:ParseSQLString] ERROR - syntax error at or near "=" at 230

Exception Type :: Parser
Message :: Error parsing SQL statement
2017-09-21 18:59:08 [src/traffic_cop/traffic_cop.cpp:191:ExecuteStatement] DEBU

[2017-09-21 19:18] haojin2 commented on #808
Would you please provide sample queries that triggered this problem?

[2017-09-22 20:31] bluealert opened #809 "build error: No rule to make target `../third_party/libpg_query/libpg_query.a'"
I run the following commands:
[code]
the output is as follows
[code]
I don't know how to solve this problem.

[2017-09-22 20:32] apavlo commented on #809
I've seen this weird error too. It seems only happen when you *don't* run make in parallel.

Try `make -j 2`

[2017-09-22 20:45] bluealert commented on #809
@apavlo
Thank you very much! Professor.

[2017-09-22 20:45] #809 closed

[2017-09-24 18:56] aaron-tian opened #810 "Variable Not Declared or Format Error when building in LOG_LEVEL_TRACE debug mode"
I think the problem is due to `LOG_TRACE` statements in the files specified at the end of the text and not environment-related. To build it successfully, I simply delete the variables that cause the issue. I'm wondering if there is anyone who is familiar with the purposes of the `LOG_TRACE` statements and willing to fix it if it is the case.

---
I configure `cmake` like this and build:
[code]

Th

[2017-09-24 18:57] apavlo commented on #810
The issue is that we don't perform nightly builds with `LOG_LEVEL_TRACE`. If you just fix those errors and submit a PR, then I will merge.

[2017-09-24 18:58] apavlo commented on #810
@tli2 Add LOG_TRACE builds to your list of things that we need to start testing.

[2017-09-26 02:56] bluealert opened #812 "make check error"
I run `make check` on macOS 10.12.6 :

[code]

I found the definition of [kReference](https://github.com/cmu-db/peloton/blob/master/third_party/gmock/gtest/gtest.h#L7910) and `kCopy` is in `gtest/gtest.h.

[2017-09-26 04:00] seojungmin commented on #812
Please list up what you have done before make check, and their results.  This seems to be some compilation configuration issue from my quick web search.  My OSX 10.12.5 works fine, and yours should work if you followed the typical build instructions.

[2017-09-26 04:07] PauloAmora commented on #812
I'd like to add that if you could list your compiler/version it helps a lot.

Em 26 de set de 2017 00:00, "Jungmin Seo" <notifications@github.com>
escreveu:

[2017-09-26 04:07] bluealert commented on #812
Before I run `make check`, I run `cmake ..` and `make -j 4` in directory named build. The two commands all run successfully.

[code]

[code]

[2017-09-26 04:50] seojungmin commented on #812
Try `cmake -DCMAKE_PREFIX_PATH=`llvm-config-3.7 --prefix` -DCMAKE_BUILD_TYPE=release ..`.  This may not solve the problem, but in OSX, this PREFIX cmake option is required.

[2017-09-26 07:14] #810 closed

[2017-09-26 18:20] apavlo commented on #807
@hzxa21 Do you think that you will have time to fix this in the old engine? We don't support `DISTINCT` yet in the LLVM engine (but are going to work on it).

[2017-09-28 21:30] seojungmin opened #814 "Generate LLVM IR code for the parameter value storage"
#811 provides parameterization for our codegen execution engine, but there are some function call overheads when getting the actual runtime parameter values.  One should generate LLVM IR code for building/accessing this parameter value storage.

This is going to be a good exercise for someone who would like to start to write some LLVM IR code.

[2017-09-28 23:13] luochenUmich commented on #798
Already finished it. https://github.com/cmu-db/peloton/pull/815

[2017-09-29 03:48] seojungmin commented on #798
Can we have a vectorized bloom filter? This would be another task.

[2017-09-30 03:01] apavlo opened #819 "Add Support for Enum Type"
We need support for enum types for our workload samples. We could do it the MySQL way where the enum list is dedicate to the specific table, but I would prefer to keep with following Postgres and maintain it as a new type in the catalog:

https://www.postgresql.org/docs/current/static/datatype-enum.html

To do this, this means that we need to start adding preliminary support for user-defined types

[2017-09-30 03:14] apavlo opened #820 "Add Support for auto-increment SERIAL/SEQUENCE"
We need to add auto-increment SERIAL/SEQUENCE types. Someone needs to spend time to understand how different DBMSs actually implement this feature. Using a single counter could be a bottleneck.

The first question is where to store the SERIAL information. Postgres v9 does not have a `pg_sequence` catalog table, but Postgres v10 does:

https://www.postgresql.org/docs/10/static/catalog-pg-sequence.h

[2017-09-30 12:15] apavlo commented on #623
@ChTimTsubasa This is fixed now, right?

[2017-09-30 13:50] ChTimTsubasa commented on #623
Yes, @haoxianghua fixed this in the summer.

[2017-09-30 13:50] #623 closed

[2017-09-30 18:51] poojanilangekar commented on #808
Hi Hao, I am sorry I missed the notification.

Here is a sample query which causes the bug:

 UPDATE stop_time AS st SET departure_time_hour = 12, departure_time_minute = 10, estimate_source = 'CMU' FROM stop s WHERE st.agency_id = 5 AND s.agency_id = st.agency_id AND st.stop_id = s.stop_id AND s.stop_code = 'PITT0' AND st.trip_id = 'FOO' ;

Here, the following error is returned:
Invalid table ref

[2017-09-30 19:42] hzxa21 commented on #807
@apavlo Sure. I will look into that.

[2017-09-30 21:56] haoxianghua commented on #623
Yes, I fixed this summer.

[2017-10-01 17:45] #802 closed

[2017-10-01 17:53] haojin2 commented on #808
Ok thanks, will take a look at that later.

[2017-10-03 02:39] seojungmin opened #822 "More hash functions for hash joins"
Peloton's current execution engine supports CRC32 and Murmur3 for the hash function used in hash joins.  CityHash is not supported, yet.   CityHash performance is best described, here: https://youtu.be/R_FhR1Qr3Vs?t=2487

Comments are welcome.

[2017-10-03 02:41] apavlo commented on #822
Check with @pmenon on this.

[2017-10-06 17:44] apavlo commented on #627
@aaron-tian What is the status of this task?

[2017-10-06 17:51] apavlo commented on #787
Fixed in #805

[2017-10-06 17:51] #787 closed

[2017-10-06 17:55] aaron-tian commented on #627
Should be done by next group meeting

[2017-10-07 19:36] jiamo opened #824 "mac os x debug type build error"
release type build fine.
debug type build has this error
 git version 9a046cc510898bedf9bb0a51d8fc00f4d7db1fb1
[code]

[2017-10-08 16:00] apavlo commented on #824
@AllisonWang @bechob Can you guys look into this and fix it? This is just for `TRACE` builds.

[2017-10-08 16:03] apavlo commented on #759
@ChTimTsubasa Do we still crash on this?

[2017-10-08 16:42] bechob commented on #824
Hi jiamo, I use Xcode 8.1 and can successfully build version ```9a046cc``` in debug type with
 ```cmake -DCMAKE_PREFIX_PATH=`llvm-config-3.7 --prefix` -DCMAKE_BUILD_TYPE=Debug ..```

[2017-10-08 17:05] apavlo commented on #824
@bechob Try it with `-DCMAKE_BUILD_TYPE=TRACE`. I don't have a mac so I can't test this.

[2017-10-08 17:22] bechob commented on #824
It still works with TRACE on my mac.

[2017-10-08 17:49] apavlo commented on #824
@jiamo Can you provide more information about your system?

[2017-10-08 18:25] jiamo commented on #824
[code]

[2017-10-08 18:34] jiamo commented on #824
[code]
Clang report `%lu` should be `%llu`. I change it and it can make continue. But there is more this error .

[code]

[2017-10-09 02:20] AllisonWang commented on #824
We didn't run into this error when compiling and running the code. I tried to build on macOS before but failed. Have you tried running in VirtualBox? The transaction manager error seems to be the same error as the cardinality one.

[2017-10-09 15:30] #553 closed

[2017-10-09 15:31] apavlo commented on #425
I think this has been fixed with the new networking layer rewrite.

[2017-10-09 15:31] #425 closed

[2017-10-10 18:00] seojungmin commented on #824
This seems to be a partial reason why this is happening, but somebody may have to figure out why this is a suddenly a problem at Apple LLVM version 9.0.0 (clang-900.0.37).

https://stackoverflow.com/questions/14073877/printf-and-llu-vs-lu-on-os-x

[2017-10-11 22:12] apavlo opened #825 "Add support for LLVM DISTINCT"
The LLVM engine does not support `DISTINCT`. The parser/planner already supports this, so you don't need to modify anything other than the LLVM engine. We need the following features for TPC-C:

1. `SELECT DISTINCT <col>`
2. `SELECT <AGGREGATE>(DISTINCT <col>)`

As always, try to follow the semantics of Postgres:

https://www.postgresql.org/docs/current/static/sql-select.html#sql-distinct

We don'

[2017-10-11 22:29] apavlo opened #826 "Temporary Tables"
@hzxa21 needs temporary tables to support rewriting nested queries. There are  two types of temp tables we need to support:

1. Tables that are created using `CREATE TEMPORARY TABLE`.
2. Tables that are created to execute a query.

The first temp tables are tied to the session. They should get blown away when the connection closes (or if the table is dropped). The second temp tables are created fo

[2017-10-11 22:31] #756 closed

[2017-10-11 22:32] #714 closed

[2017-10-11 22:41] apavlo opened #827 "LLVM Engine Support for Built-in Functions"
@lixupeng started implementing the `pg_proc` catalog this summer. The changes in #773 provide hooks to invoke UDFs from the LLVM for @prashasthip. The next step is to switch all of the built-in functions to use `pg_proc`.

@pmenon has an [excellent write-up](https://github.com/cmu-db/peloton/pull/773#pullrequestreview-60892613) on what we need to do:

------------
I'm not sold on the approach. The

[2017-10-12 14:09] edalmeida opened #828 "make -j4 compiling problems"
Dear all,

following your installation procedure, in particular after "make -j4", I got this error:
Building CXX object src/CMakeFiles/peloton.dir/type/integer_type.cpp.o
/peloton/src/threadpool/worker.cpp: In constructor ‘peloton::threadpool::WorkerPool::WorkerPool(size_t, peloton::threadpool::TaskQueue*)’:
/peloton/src/threadpool/worker.cpp:56:38: error: ‘make_unique’ is not a member of ‘std’

[2017-10-13 13:31] apavlo commented on #828
See #824

[2017-10-13 13:40] apavlo commented on #828
Actually, check out these instructions. You need to have the right version of the LLVM:

https://github.com/cmu-db/peloton/wiki/Installation#osx-installation-without-vagrant

[2017-10-13 13:40] #828 closed

[2017-10-13 13:41] apavlo commented on #824
Here are instructions on how to switch to the right version of the LLVM xcode. We don't support Xcode v9 yet:

https://github.com/cmu-db/peloton/wiki/Installation#osx-installation-without-vagrant

[2017-10-13 13:41] #824 closed

[2017-10-13 15:38] tcm-marcel opened #829 "Peloton crashes on invalid INSERT statements instead of throwing an error"
The function  `planner::InsertPlan::InsertPlan` checks the validity of INSERT statements only with assertions instead of throwing an exception that can be handled.

## Example 1
[code]
[code]
## Example 2
[code]
[code]

Ubuntu 16.04 x86_64 gcc

[2017-10-13 19:00] apavlo opened #830 "Record Open Network Connections in Catalog"
Right now the networking threads accept connections and we can't keep track of what they are doing. We therefore should have each networking thread record their connection information in the catalog. The networking threads will also need to deregister the connection when it closes.

I don't know exactly how Postgres does this, but they expose the connection handles with their `pg_stat_activity` vi

[2017-10-14 02:16] apavlo commented on #829
@hzxa21 @chenboy @luochenUmich -- Can you help @tcm-marcel with this problem?

[2017-10-14 02:17] apavlo commented on #808
@haojin2 Any news on this issue?

[2017-10-14 02:18] haojin2 commented on #808
Working on it, probably a PR late today or tomorrow.

[2017-10-14 02:38] apavlo commented on #829
This is likely. @haojin2 is working on a related fix in #808

[2017-10-14 02:48] haojin2 commented on #829
I think if the query is having invalid syntax then it's the parser's responsibility to handle it. If it has correct syntax but the underlying operation is illegal, then other parts should be responsible for handling that. I'm now working on throwing exceptions for bad syntax, not all invalid queries.

[2017-10-14 02:59] tcm-marcel commented on #829
I may was inaccurate, it's not a syntax problem. So your PR hopefully will solve these ones.

[2017-10-14 13:49] apavlo commented on #829
Actually, I think that @tcm-marcel's example should be caught in the planner. The parser/binder doesn't "know" the number of columns that the table has.

Please confirm with @hzxa21 @chenboy @luochenUmich

[2017-10-14 19:37] malin1993ml opened #833 "Support query templatization and internal trace logging"
The first part of Peloton's self-driving component will be templatizing queries and logging them into an internal catalog table. Here's how we plan to do this:

1. We are getting the structural hashes of the queries using libpq's fingerprint function. Now, we make a vector of strings in the internal transaction context and the garbage collector will pick it up when cleaning and log it (via another

[2017-10-14 19:51] malin1993ml opened #834 "Support candidate index suggestion"
As the first target application of the self-driving feature, we're going to build/remove indexes automatically. This requires the system to propose a candidate set of potentially beneficial indexes first, then the self-driving component will pick them up and optimize the system according to the workload prediction result. At a first step, we're going to reuse AutoAdmin's strategy from MS to genera

[2017-10-14 20:02] malin1993ml opened #835 "Support "What-If" API in the optimizer"
When the self-driving component is planning the optimization actions for the DBMS, it needs to evaluate whether an action is going to be helpful/harmful to the performance given the predicted workload in some future time. On of the ways to evaluate this is through the "What-If" API of the system's own optimizer. To do this, we need to:
1. Be able to create virtual catalog objects, so that we can a

[2017-10-14 21:11] malin1993ml opened #836 "Integrate Tensorflow into Peloton"
The workload prediction module of our self-driving component uses machine learning to predict the arrival rate time series of queries. We're going to integrate Tensorflow to train those machine learning models. Furthermore, the feedback control part of the self-driving component also needs it to train statistical models. The C++ version of Tensorflow requires us to build tensorflow by ourselves. T

[2017-10-14 21:31] malin1993ml opened #837 "Design the Self-Driving Architecture"
This is probably going to be a long running discussion over time as we build the self-driving component for Peloton.

The high-level idea we have right now is that we want the computationally expensive part of our self-driving component, we called _"the brain"_, to be a separate process outside Peloton. There would be a thread in Peloton called _"the nerve center"_, that is responsible for talking

[2017-10-14 22:01] tomasic commented on #833
On Sat, Oct 14, 2017 at 3:37 PM Lin Ma <notifications@github.com> wrote:

cost to the first query ? Doesn't seem worth it

--
Anthony Tomasic
Language Technologies Institute
Carnegie Mellon University
http://www.tiramisutransit.com
*http://mcds.cs.cmu.edu <http://mcds.cs.cmu.edu>*
http://www.cs.cmu.edu/~tomasic

[2017-10-14 22:19] malin1993ml commented on #833
Oh this is not for query caching. We don’t cache the execution plan of the
queries or anything. That is a separate optimization.

Here we are going to add the hash tag and time stamp of every query into
the queue to get their arrival rate time series patterns. To do that, we
are going to update the query history table for every query received by the
DBMS, no matter whether we have seen the query.

[2017-10-15 02:28] apavlo commented on #808
Fixed in #832

[2017-10-15 02:28] #808 closed

[2017-10-15 15:27] sumanthrao commented on #563
I would like to work on this issue,

[2017-10-15 16:14] apavlo commented on #563
@sumanthrao Thanks for the offer. This blocked on #838 though. Once we get the new built-in function infrastructure implemented, then this will definitely be doable.

[2017-10-16 06:21] hzxa21 commented on #829
The binder can know the number of columns in the table by requesting the catalog.  I think there are no major differences on doing the validity checks in binder or optimizer. I feel like we should do it in the binder because it is where the query first contacts the catalog.

[2017-10-16 21:10] #807 closed

[2017-10-17 03:12] apavlo commented on #812
Duplicate of #824

[2017-10-17 09:04] udgw opened #841 "Building on FreeBSD 11.1"
Hi.
I am trying to build peloton on FreeBSD 11.1
I changed code a bit Then It has passed compiling,
However, linker print error shown below.
[this is the log](https://gist.github.com/udgw/5486f0c4999c13dec0a46eaadfbb782f)

What makes this happen?
Thanks.

[2017-10-17 13:02] pmenon commented on #841
@udgw It looks like you're using gcc and not g++ for compilation. Install g++ and try to compile again.

[2017-10-17 18:30] AllisonWang opened #843 "Documentation for optimizer"
Hey optimizer folks. It would be really helpful for us to develop if there is documentation for each optimizer components, like abstract expressions, property sets, etc.

@hzxa21 Is there any existing wiki pages or docs? I think the documentation is crucial for us to integrate faster. Would really appreciate it!

[2017-10-17 20:27] hzxa21 commented on #843
@AllisonWang We are still working on the documentation and will try to finish it as soon as possible. In the meantime, feel free to reach out any of us if you guys have questions or want to meet.

[2017-10-18 03:00] udgw commented on #841
Thank you very much for your advise and the error was dissapeared.

BTW, I got another error like [this](https://gist.github.com/udgw/a112e84105933a48d8e74c71b6264603)
About AbstractTable's Constructor Prptotype error.
It says:
/home/bcen/peloton/src/storage/abstract_table.cpp:27:1:
error: prototype for 'peloton::storage::AbstractTable::AbstractTable(id_t, peloton::catalog::Schema*, bool)'
does no

[2017-10-18 14:19] apavlo commented on #841
What version of g++ are you using?

[2017-10-18 23:41] udgw commented on #841
Thank you for your asking.
I use g++ 6.4.

Here is my current cofiguration [https://gist.github.com/udgw/1d9c99c4fbacbada44670e9cf420361f](url)
I've got same problem with clang.

[2017-10-18 23:50] apavlo commented on #841
We definitely don't support g++6. We only target g++4 + g++5 at this point.

If you are able to fix things for g++6, please send us a PR.

[2017-10-18 23:51] #841 closed

[2017-10-19 00:41] udgw commented on #841
Thank you so much.

[2017-10-19 20:39] apavlo opened #845 "Add Support for SSL Network Connections"
We currently do not support SSL connections. This means that you always have to disable SSL from the commandline. We need to integrate support for openssl in the system. We should follow the same configuration setup as [Postgres](https://www.postgresql.org/docs/9.6/static/ssl-tcp.html).

This was attempted before in #667 but the students working on it did not get very far. They hardcoded a bunch o

[2017-10-19 20:49] ChTimTsubasa commented on #845
Concretely, this is because the first handshake to open (client send Version number and server response "YES") is done before ProtocolHandler is instantiated currently. Since sending a response back requires the participation of ProtocolHandler, this would cause SEG_FAULT.

In addition, such handshake looks specific to Postgres (MySQL uses a passive way to handle a new connection).

[2017-10-19 21:11] apavlo opened #846 "Rename duplicate codegen hash table files"
We have two sets files that have similar names:

Cuckoo Hash Table
* `src/codegen/cc_hash_table.cpp`
* `src/codegen/util/cc_hash_table.cpp`

Open Hash Table
* `src/codegen/oa_hash_table.cpp`
* `src/codegen/util/oa_hash_table.cpp`

I feel like this is confusing. What is the difference?

I note that `src/include/codegen/cc_hash_table.h` says that it is deprecated.

[2017-10-19 21:22] pmenon commented on #846
So this is convention we've been using to separate out codegen stuff with vanilla C/C++ data structures. Everything in `util` is vanilla C++ that also does memory management. The equivalent classes in `codegen` are "accessors" to these data structures, that simplify interacting with them from codegen.

The naming can be a little confusing.

[2017-10-20 00:07] apavlo opened #849 "System does not prevent INSERTS with reserved NULL values for BIGINT columns"
We reserve certain values for the different types to represent NULL values. These are defined in 'limits.h':

https://github.com/cmu-db/peloton/blob/master/src/include/type/limits.h#L42-L50

I added a new test case that creates a table with each type and then tries to insert a value with the reserved value. The front-end throws a proper error to tell you that you are out of range for most types. I

[2017-10-20 21:19] tli2 commented on #837
https://docs.google.com/document/d/1hBkoBrNvM80b53jv3AI2upjWGEMuD2Yej9lul3hPmco/edit?usp=sharing

[2017-10-21 01:30] apavlo opened #850 "Incorrect Comparison Logic for Strings"
The logic for our `VarlenType` comparison types are incorrect.We use `memcmp`, which causes it to incorrectly say that one string is less than another if it is shorter:

https://github.com/cmu-db/peloton/blob/master/src/include/type/type_util.h#L42

This is because we need to do a comparison of strings that are not null terminated.

I'm not sure what the SQL standard says but I suspect that Postgr

[2017-10-21 03:04] apavlo opened #851 "Make type::TypeId use enum class"
We use `type::TypeId` everywhere but it is not a `enum class`. We should switch this:

https://github.com/cmu-db/peloton/blob/master/src/include/type/type_id.h#L19

It will require a bunch of changes throughout the code but it will ensure that we are type safe.

This is a good first task for a new member of the project.

[2017-10-21 03:44] apavlo commented on #849
You recreate this in a test case by uncommenting this line:

https://github.com/cmu-db/peloton/blob/master/test/sql/typelimit_sql_test.cpp#L29

[2017-10-22 02:45] seojungmin opened #852 "Support DATE type in parser"
DATE type is not yet supported in parser.

[code]

[2017-10-22 08:16] bluealert commented on #812
@PauloAmora @seojungmin @apavlo

I have found the reason and test it:

add `-Wno-sign-compare` after `-Werror` at: https://github.com/cmu-db/peloton/blob/master/CMakeLists.txt#L76

remove `SYSTEM` at: https://github.com/cmu-db/peloton/blob/master/test/CMakeLists.txt#L36

[2017-10-22 12:32] apavlo commented on #812
Can you send a PR with the fix so that you get credit for it?

[2017-10-22 17:03] bluealert commented on #812
@apavlo

Hi, Professor, I have created a pull request: https://github.com/cmu-db/peloton/pull/853

I have test the modification on Mac(10.12.6, clang-800.0.42.1) and Ubuntu(16.04, gcc 5.4) successfully.

[2017-10-24 02:39] luochenUmich commented on #243
I think this issue can be closed now. Both optimizer and LLVM supports this type of join

[2017-10-24 03:54] apavlo commented on #243
@luochenUmich Thanks!

[2017-10-24 03:54] #243 closed

[2017-10-24 16:45] prashasthip opened #854 "Parser does not handle SELECT without FROM clause"
For the UDF case and for built-in functions, we need the parser to support the following:

SELECT INCREMENT(1);

where INCREMENT is a function. Currently, the parser throws an error in SelectTransform, after successfully completing TargetTransform.

SELECT INCREMENT(1) from Foo;  -> Works
We need to support SELECTs without the FROM clause as well.

[2017-10-25 04:33] haojin2 commented on #854
This is interesting issue, I think this needs a bit discussion on how we want to partition the responsibility of handling different kinds of "special" queries. I'll do some discussions with related persons and get back to your issue.

[2017-10-25 10:13] prashasthip commented on #854
Thanks @haojin2!

[2017-10-27 20:43] pbollimp opened #858 "Error during linking of libpg_query library in third party"
Using the fingerprint function pg_query_fingerprint (after including "parser/pg_query.h") from within peloton in traffic_cop.cpp, gives the following error.

This problem is happening irrespective of the commit (checked till as far back as commit e3db8318dcdb3c5 )

[2017-10-27 21:50] tcm-marcel commented on #825
The task is basically finished.
However, there is a strange bug that appears when executing a query with several distinct AVG aggregations, that some of them return empty results. I wasn't able to find the cause yet, because it's happens somewhere in the dynamic execution and is very hard to debug. I will continue to find the problem.

[2017-10-28 02:13] malin1993ml opened #859 "Fix the access pattern for catalog objects"
Currently catalog objects are immutable snapshots of the database catalog tables. They way to access them is to directly access the public const member variables of these objects:
https://github.com/cmu-db/peloton/blob/master/src/include/catalog/index_catalog.h#L45

However, this is not safe when we're going to support virtual catalog and "what-if" optimizer API. The correct way to do this is to m

[2017-10-28 04:40] camellyx commented on #859
@malin1993ml We thought about this during the design process, since you mentioned it earlier. For "what-if" optimizer, do you need to create fake indexes or change the property of an existing index?

[2017-10-28 04:45] malin1993ml commented on #859
Yes. We need both of them.

[2017-10-28 04:48] malin1993ml commented on #859
And actually remove existing indexes as well.

[2017-10-28 14:21] apavlo commented on #858
@pbollimp How do I recreate this problem?

[2017-10-28 19:33] pbollimp commented on #858
@apavlo In traffic_cop.cpp, include "parser/pg_query.h" and in `TrafficCop::PrepareStatement()` after `BuildParseTree()` is called, add this code:
`LOG_INFO("Fingerprint: %s", pg_query_fingerprint(query_string.c_str()).hexdigest);`

[2017-10-30 14:41] tcm-marcel opened #863 "Successive AVG aggregations in GroupBy produce wrong output"
When using several successive AVG aggregations in a GroupBy query, some of the AVG columns produce wrong output. The wrong columns appear randomly (but deterministic between the runs).

http://sqlfiddle.com/#!15/8fc516/1/0
[code]
[code]
All three aggregations are identical, but the second one produces a wrong output. In some cases the output is even NULL, so it might be a problem with NULL handlin

[2017-10-30 18:16] hemanthmalla opened #864 "Is g++ 4.8.X supported for building peloton ?"
Build succeeds with g++ 4.9.4, but fails with  g++ 4.8.4

Building with 4.8.4 throws the following error :
[code]

Wiki at [Complier Environment](https://github.com/cmu-db/peloton/wiki/Environment#compiler) states that g++ > 4.7 is supported but [travis builds](https://travis-ci.org/cmu-db/peloton) use g++-4.9 and g++-5

[2017-10-30 18:51] crd477 commented on #864
On 2017-10-30 14:17, Hemanth Malla wrote:

My nearly-finished Jenkins test setup agrees with this.

The situation with Travis is that although they call their build
environment "Trusty", they include versions of software that casual
users cannot install via the Ubuntu package repositories.

--
     -Chad

[2017-10-31 02:43] #798 closed

[2017-10-31 02:59] apavlo commented on #864
Fix is merged in #865. Thanks to @seojungmin!

[2017-10-31 02:59] #864 closed

[2017-10-31 03:09] JinHai-CN opened #869 "Compilation error with LOG_LEVEL_TRACE"
There are some print string without c_str() method faults. I want to fix it, I don't if I have rights to push the code. So, please help fix it.

[2017-10-31 03:19] apavlo commented on #869
Fork the code in your own repo. Make the changes. Then send us a pull request with the fixes.

[2017-10-31 03:22] apavlo commented on #869
@crd477 @tli2 We definitely need to run at least one build in Jenkins with `TRACE` enabled. The test output will be huge so we could pipe it to /dev/null

[2017-10-31 03:24] JinHai-CN opened #870 "Question on configuration of pelotonDB"
I find there is a config file: configuration/peloton.conf. Is this file still used by the db server?
There is --data-directory option in the file, which seems indicating the storage path of the db file. But after I created the table, insert the data, I can't find any file or directory to store the db. Would you please help indicate this?

[2017-10-31 03:29] apavlo commented on #870
Right now it is only in-memory. We are working on logging and checkpoints in#792

[2017-10-31 13:46] crd477 commented on #869
On 2017-10-30 23:22, Andy Pavlo wrote:

Got it.  Testing now.

--
     -Chad

[2017-10-31 17:40] saatviks opened #873 "Possibly redundant parameter in postgres_protocol_handler"
As provided in the code review discussion in #856 by @seojungmin , `bind_parameters` in `src/network/postgres_protocol_handler.cpp` does not seem to be used. Is there any reason for keeping this in the code?

[2017-10-31 21:24] tcm-marcel commented on #858
The problem are definitions of list helper functions in `pg_list.h`, for which the define `PG_USE_INLINE` decides whether they get inlined or not. However, the file `c.h` from libpg_query in which the defines are managed is never used neither in peloton nor in libpg_query.

I accidentally solved the problem by adding 3 defines in `third_party/libpg_query/pg_list.h` BUT then realized that both libp

[2017-11-01 06:37] hemanthmalla commented on #869
Created a PR that fixes this https://github.com/cmu-db/peloton/pull/872

[2017-11-01 19:02] #869 closed

[2017-11-01 21:27] #681 closed

[2017-11-02 19:04] zhxchen17 opened #876 "Dynamic exception specification deprecated in C++11"
When trying to build Peloton with some newer version of gcc (e.g. 7.2.0), I encountered errors like the following:
[code]
It seems that it is not a big issue, but it would be nice to migrate to the up-to-date practice in C++ community, as advised at http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2015/p0003r0.html#5.0, which originally proposed to deprecate the Exception Specification feature f

[2017-11-03 01:01] apavlo commented on #876
@zhxchen17 If you can send us a PR with this, we would definitely be interested. I suspect that is not the only error that you are going to hit with newer versions of gcc.

[2017-11-03 02:26] zhxchen17 commented on #876
@apavlo Sure, looks like a good start point. May add some other compiler minor issues in the following part of the thread.

[2017-11-03 05:54] haojin2 commented on #852
Which value type does date belong to? Timestamp?

[2017-11-03 05:57] haojin2 commented on #854
I've talked to the optimizer guys and am working on a quick fix for this today.

[2017-11-03 12:02] apavlo commented on #852
DATE is its own type. We added the TypeID

[2017-11-03 16:16] haojin2 commented on #852
I see, I'll add that to parser

[2017-11-03 20:47] pbollimp commented on #858
Thanks for your help @tcm-marcel
The change below fixes the issue when added to the three locations having pg_list.h
(Why are there 3 files? There seem to be no difference between them):
src/include/parser/pg_list.h
third_party/libpg_query/pg_list.h,
third_party/libpg_query/src/postgres/include/nodes/pg_list.h

[code]
Now the linking is happening without any error in marcel's and siva's laptop, bu

[2017-11-05 19:56] prashasthip opened #878 "`Select * from Table` hangs if number of rows > 589"
I was trying to do some testing where I insert a large number of rows into a table and then call `Select * from Table;` on it using PSQL.

Select * works well as long as the number of rows < 590. Else, it hangs after the query's tearDown().
I suspect that there may be some bug in the network_handler that is causing some sort of a deadlock.

@ChTimTsubasa has seen this issue previously.

[2017-11-05 20:07] rohit-cmu commented on #878
I am able to reproduce this issue. I noticed another possible bug. As @prashasthip said the terminal hangs after the query's tearDown(). If you try to close this connection, you get a seg fault in the **network threads**.

Here is the stack trace -

`2017-11-05 15:02:00 [src/network/network_master_thread.cpp:126:DispatchConnection] DEBUG - Dispatching connection to worker 2
2017-11-05 15:02:00 [sr

[2017-11-05 20:09] apavlo commented on #878
@prashasthip What happens if you try `SELECT 1 FROM table` on the full table?

[2017-11-05 20:13] rohit-cmu commented on #878
Hi @apavlo  I tried that. That works.

[2017-11-05 20:24] rohit-cmu commented on #878
I tried running a sql test in Peloton. I am inserting 1 million tuples and I do a SELECT * on the table. There is no issue with Query Execution from codegen. If @prashasthip test is failing when running from command line the most probable cause of failure is the networking layer which is shipping the result back to the client. @poojanilangekar  and @tli2 had also sent an email a couple of days ago

[2017-11-05 20:35] apavlo commented on #878
@rohit-cmu Good find. I will assign to @ChTimTsubasa but I think that he is traveling this week.

[2017-11-05 20:38] rohit-cmu commented on #878
Ok. I reproduced this error in Simple_Query_Test. in test/network. The original test inserts 3 tuples. I changed it to add 600 tuples and I do a select * on that table. The result is the same as what @prashasthip mentioned.

[2017-11-05 23:13] dengyuchenkit commented on #878
We think the issue is that the response exceeds size limits, so it has to be split into multiple packets and the server will flush them one by one. The bug is that right now we didn't flush out the last packet so the client didn't get the last part of response.

[2017-11-06 00:23] #863 closed

[2017-11-06 22:56] malin1993ml commented on #843
@hzxa21 What's the status on this? The documentation for the optimizer is important for many other teams working on Peloton, including the Stats team and the Self-Driving Planning team.

Something like this wiki page to describe the Tile Based Architecture would be very helpful:
https://github.com/cmu-db/peloton/wiki/Tile-Based-Architecture
Basically describe each optimizer components, how they wo

[2017-11-06 23:50] chenboy commented on #843
Hi Lin, I'll write some documentation recently. Thanks!

[2017-11-07 03:02] apavlo opened #880 "More LOG_TRACE build errors"
This is from @crd477's comment here: https://github.com/cmu-db/peloton/pull/872#issuecomment-341597936

-----------------

I'm still getting build failures with this patch:

[code]

[2017-11-07 05:48] apavlo commented on #880
Fixed in #881

[2017-11-07 05:48] #880 closed

[2017-11-07 16:05] hzxa21 commented on #843
@chenboy Thanks! I will also do that.

[2017-11-07 20:35] haojin2 commented on #852
The CREATE side should not have any problems now, however when I'm testing on the INSERT side I found the following problems:
1) I cannot do something like: "INSERT INTO test VALUES(1, '2017-11-07');" because there's no cast from varchar to date.
2) I cannot do something like: "INSERT INTO test VALUES(1, '2017-11-07'::date);" because there's no support for T_TYPECAST in parser transformer yet.
3)

[2017-11-10 19:15] haoxianghua opened #888 "Save current stamp in transaction context"
When we input "SELECT now();" in PostgreSQL, it will show current timestamp. However, if we input "BEGIN;" before "SELECT now();", it will always show the timestamp of "BEGIN;" input. This is because PostgreSQL defines "These SQL-standard functions all return values based on the start time of the current transaction". So we would like to save timestamp in transaction context and the time we begin

[2017-11-10 22:41] tcm-marcel opened #893 "Codegen crashes on expression with different types"
The codegen part crashes when using an arithmetic expression with two different types. Apparently the null bitmap is missing.

[code]
http://sqlfiddle.com/#!15/ae631/1/0

Error:
[code]

Assertion failed here:
[code]

[2017-11-11 03:02] hzxa21 opened #897 "Varchar length is incorrectly set"
The length of the varchar type is set incorrectly to its actual length + 1 (for some reason?). The root of this problem is:
https://github.com/cmu-db/peloton/blob/02670dab2f08bd002e3958a5a122887874274148/src/type/value.cpp#L331

Once this problem is fixed, we should also fix:
https://github.com/cmu-db/peloton/blob/02670dab2f08bd002e3958a5a122887874274148/src/type/varlen_type.cpp#L154
https://githu

[2017-11-11 03:58] malin1993ml opened #899 "Hidden assumption of the cogen Binary(Nary) Operator"
The current binary operator of cogen assumes that the two types of the left and right values (1) are the same, (2) can cast from one to another, (3) or have a function definition that exists in the function table of the left value type. The logic is similar with the nary operators.

The logic is in the GetBinaryOperator() function here:
https://github.com/cmu-db/peloton/blob/master/src/codegen/typ

[2017-11-11 04:51] malin1993ml commented on #899
@pbollimp @sivaprasadsudhir for now, I'm implementing the cogen part of the function in the Integer type system. However, I'm still implementing the function body and the proxy in timestamp_functions.cpp and timestamp_functions_proxy.cpp. I'm calling the timestamp_functions_proxy.cpp from integer_type.cpp. This is not the best way to do it, but this is a relatively more understandable one to me.

[2017-11-12 15:20] fdjingyuan opened #903 "Server closed unexpectedly when create tables with the same name"
To reproduce this bug, create the same table twice:

[code]

Instead of reporting a "duplicate error", the server closed its connection unexpectedly:

![image](https://user-images.githubusercontent.com/26754001/32700425-09629a16-c800-11e7-96f7-9c42229df173.png)

Moreover, even if the first table is not created successfully, this problem remains. For example:

[code]

Got the same error:

![image](

[2017-11-13 05:13] #851 closed

[2017-11-14 04:49] hzxa21 opened #907 "LLVM does not support SELECT without FROM currently"
The LLVM engine does not support SELECT without FROM right now because it requires the projection plan to have a child plan. Here is the check:
https://github.com/cmu-db/peloton/blob/c30cb3137b4aca4539d7681cec824f60a0789c55/src/codegen/operator/projection_translator.cpp#L26

If we use SELECT 1 FROM A where A is an empty table, the result will be empty. The reason might be that if the table is empt

[2017-11-14 04:55] AngLi-Leon commented on #903
The issue is because we throw an exception that never been caught.
https://github.com/cmu-db/peloton/blob/master/src/catalog/catalog.cpp#L175
We should be consistent about dealing with failure.

[2017-11-14 14:50] tcm-marcel commented on #907
Postgres also returns an empty result: http://sqlfiddle.com/#!17/5bfca/1/0

The codegen will generate code that evaluates the expression `1` once per row.
Empty table -> no rows to run the expression on -> empty result

[2017-11-14 15:33] pmenon commented on #907
I agree with @tcm-marcel. The plan in that form (i.e., `select 1 from A`) has a scan over table A, and thus, the projection plan must have a child. Note that `select 1 from A` has different semantics that `select 1`: The former returns `1` *for every row* in `A`, while the latter returns only a single row `1`.

[2017-11-14 18:53] ChTimTsubasa commented on #903
I trace the problem and the reason is as follow:

The optimizer is not checking if the duplicate table exists, so the wrong plan is actually generated and being executed by one of the worker threads. Since the worker thread is not executing plan surrounded by 'try{}', the exception would just crash the system.

Patrick would implement table duplicate check in the optimizer, while I would add excep

[2017-11-14 21:08] tli2 opened #909 "Add type cast to peloton"
Already done:

Added parse tree / plan tree / translator

Need to:

1. Add check before invoking implicit cast in LLVM (probably in the binder)
2. Add non-implicit cast (String to everything, date, etc.)
3. Test cases

[2017-11-14 22:25] allisonwang commented on #850
@apavlo I looked into this issue and figured out that memcmp / strcmp are ASCII based sorting, and there is another sorting method called natural sort. However, when I tried the example above in Postgres (10), it returns:

Allison=# SELECT 'aaaaa' < 'Z';
 ?column?
----------
 f
(1 row)

[2017-11-14 22:47] allisonwang commented on #850
I think the result depends on OS. I saw this in PostgresSQL wiki:

I am using UTF8 on Mac OS X.
[code]

[2017-11-16 14:11] #893 closed

[2017-11-17 23:52] #897 closed

[2017-11-18 13:29] fdjingyuan commented on #849
I carefully traced this error, finding that it's caused by the incorrect type conversion between int64_t and double. This problem not only causes an out-of-range number to be stored as a NULL, but also causes a valid number not to be stored correctly, which is a more severe bug.

For the input:

```INSERT INTO tblBIGINT VALUES (1, -9223372036854775808);```

The number "-9223372036854775808"  is fi

[2017-11-18 13:51] tomasic commented on #849
I suspect the long double solution will have problems. The key is to never
convert an integer to a float during the insert.

On Sat, Nov 18, 2017 at 7:29 AM Jingyuan Liu <notifications@github.com>
wrote:

--
Anthony Tomasic
Language Technologies Institute
Carnegie Mellon University
http://www.tiramisutransit.com
*http://mcds.cs.cmu.edu <http://mcds.cs.cmu.edu>*
http://www.cs.cmu.edu/~tomasic

[2017-11-18 20:26] prashasthip commented on #854
@haojin2 - Have you merged the fix?

[2017-11-18 20:28] haojin2 commented on #854
Please refer to PR #886.

[2017-11-18 20:38] prashasthip commented on #907
[https://github.com/cmu-db/peloton/blob/c30cb3137b4aca4539d7681cec824f60a0789c55/src/codegen/query_compiler.cpp#L58](url)

This prevents executing queries like:

select udf(parameter);

[2017-11-18 21:03] hzxa21 commented on #907
@prashasthip You are right. I think the reason why we do this check is that codegen currently cannot execute ProjectionPlan with no children.

[2017-11-19 01:07] seojungmin commented on #849
This seems to me it happens from the same cause as #829, by eagerly transforming into an expression before exactly knowing what it should do.

[2017-11-21 20:31] apavlo opened #916 "Mark Interpreted Engine Code as Deprecated"
We should mark all of the executor files from the old engine as deprecated. That way we make sure that students do not try to fix that code in the future. We may want to the same thing for the `AbstractExpression::Evaluate()` implementations.

We can do this during the December code cleanup.

[2017-11-21 20:53] phisiart opened #917 "Proposal: Change `codegen::lang::If` to hide PHI and force scoping."
I discussed with Tony about this. We think we should post an issue here for further discussion.

## TLDR

Provide a different `codegen::lang::If` that
- Doesn't require the user to explicit construct PHI nodes to merge values.
- Forces correct scoping.

The interface should look like this:
[code]

## Background

Since LLVM uses the SSA form, we must explicitly use a phi node to merge 2 different v

[2017-11-24 23:46] malin1993ml commented on #859
Fixed in #919.

[2017-11-24 23:46] #859 closed

[2017-11-25 20:39] malin1993ml opened #922 "Potential data race in backend_stats_context"
There is a build failure on OSX occurred after merging the catalog refactoring PR:
https://travis-ci.org/cmu-db/peloton/builds/306943052

It is reported to be a potential data race in backend_stats_context.cpp:71. This was not observed before but it does not seem to be related to the catalog access pattern refactoring in that PR:
https://github.com/cmu-db/peloton/pull/919

[2017-11-27 03:19] #878 closed

[2017-11-27 15:38] pmenon commented on #917
Thanks for putting this together and submitting it! Originally, `lang::If` was meant only for *control flow*, not to control assignment. Over time, this evolved into what we now.

What you really want is a **selection** of values based on a condition. LLVM already has this, to a limited extent; to implement your example, you'd write:

[code]

However, if the logic in each case is more complex, you

[2017-11-28 19:14] saatviks opened #927 "Changes needed in floor SQL function"
Some changes are needed in the `floor` function implementation/tests added via PR #889  as are being suggested in the `ceiling` function PR #898 .

[2017-11-28 22:14] seojungmin commented on #917
I think we should have `CreateSelect` abstracted, and implemented in our engine.  We can see from many IR outputs, such that quite a number of `if`s are translated to `select`.  This will help the decision making on how we are going to refactor `if`.

[2017-11-29 07:08] MalcolmUnWang commented on #917
It is good to know `Select` is a better implementation. I can modify my PR to add `Select` abstraction. I am a student who just work on this project recently and don't have much experience on the engine. Thank you for your ideas!

[2017-11-29 07:10] seojungmin commented on #917
@MalcolmUnWang If you are going to add `Select`, please make it as a new, separate PR.

[2017-11-29 07:12] seojungmin commented on #917
and the first place you could apply it to is the `case` operator.

[2017-11-30 13:24] MalcolmUnWang commented on #917
@seojungmin  I am wondering where I can view the IR outputs like you said. I am working on  the `select` but having trouble testing my implementation. Thank you.

[2017-11-30 14:30] seojungmin commented on #917
@MalcolmUnWang No problem. This is the line that you could print out the IRs created.
https://github.com/cmu-db/peloton/blob/a70c7d4cd295243bf7b326b2ef17aa0bcf15e9e5/src/codegen/code_context.cpp#L221
Just change `LOG_TRACE` to `LOG_INFO`.  You could also use `codegen.CallPrintf()` to print any values at runtime, for debugging. It is just like a `printf`.

[2017-11-30 15:24] pmenon commented on #147
AFAIK this has been fixed a while back. Closing.

[2017-11-30 15:24] #147 closed

[2017-11-30 17:24] pranavk commented on #809
#921 should fix this issue.

See: https://github.com/cmu-db/peloton/pull/921/commits/9f36c0520146687fad35638846b5c6ba7c9eb5fb

[2017-11-30 17:28] pranavk commented on #809
Atleast for me, it's quite easy to reproduce. I do a `make clean` in third_party/libpg_query/ and then `make` (without parallelism) in my builddir and this error will popup all the time.

[2017-11-30 17:58] crd477 opened #929 "Update README.md for new Jenkins badge location"
Since the Jenkins project page has changed, the badge location has also changed as follows:
-[![Jenkins Status](http://jenkins.db.cs.cmu.edu:8080/job/Peloton/badge/icon)](http://jenkins.db.cs.cmu.edu:8080/job/Peloton/)
+[![Jenkins Status](http://jenkins.db.cs.cmu.edu:8080/job/peloton/job/master/badge/icon)](http://jenkins.db.cs.cmu.edu:8080/job/peloton/)

This is solely a textual change so I'm not

[2017-11-30 18:55] apavlo commented on #929
I will take care of this. Thanks!

[2017-11-30 18:59] #929 closed

[2017-11-30 20:58] tcm-marcel commented on #809
Currently cmakebuilds libpg_query from scratch, but places the resulting binary in `third_party/libpg_query/libpg_query.a` instead of the build folder. Maybe we should change this?

[2017-11-30 21:26] pranavk commented on #809
Is there be any benefit of moving that to the build folder? Is there any bug we are trying to fix here?

I feel it more natural that the third party static library is not in the builddir of another project, i.e., peloton.

[2017-12-01 20:05] tcm-marcel commented on #809
There is no bug, I just thought all created files should be placed in the build folder. So let's keep it that way.

[2017-12-01 20:55] apavlo commented on #809
@tcm-marcel You are correct. It should be in the build folder.

[2017-12-03 17:24] #825 closed

[2017-12-04 09:28] MalcolmUnWang commented on #876
@apavlo @zhxchen17 This error also happens to me, along with many other errors, when I upgraded my Ubuntu to 17.10. It upgraded the `gcc-5.4.0` to `gcc-7.1.0`. The error is a warning actually and can remove by modifying `CMakeList.txt` to disable `-Werror`. However, there are numerous other compiler errors which will happen on this specific release of Ubuntu. The `protobuf` version will be `3.0.0`

[2017-12-04 16:21] apavlo commented on #876
Do **not** do this.

You can use Ubuntu 17.10, you just have to downgrade gcc.

We will fix the llvm upgrade issues later this month.

We don't care about Windows at this point.

[2017-12-04 21:41] pmenon opened #933 "Bug when parameters to UPDATE have mismatched types"
**Problem:** When performing an update, any parameters provided by the user may mismatch (but be implicitly castable to) the type in the tables schema. Example follows:
[code]

In codegen, we're missing the cast to the column type in the table's schema before inserting the tuple.

[2017-12-05 13:15] pmenon opened #938 "Constraints violated on update"
It looks like column constraints are not being checked on update in neither the codegen or interpreted engine.  Example session:

[code]

[2017-12-05 17:50] tli2 opened #940 "Fix common::ThreadPool magic number"
Right now the thread pool has number of cores + 3 threads. We should make it configurable and check bounds when submitting tasks

[2017-12-05 19:04] zhxchen17 commented on #876
Agree.
I guess for now it would be nice to just do forward compatibility with gcc-7, but keep gcc-5 as the default compiler. I'm working on this, and actually get a working build with 7.2, but still investigating some subtle errors in the unit test. (Basically I do not know whether it is caused by my tweaks or by my machine.)
As WSL user myself, I would say it is still in beta and lots of stuff ar

[2017-12-06 20:40] tli2 opened #943 "Reorganize SettingsManager initialization"
We are currently using macro hacks in settings_manager.cpp to define our command line flags and put them into the settings manager.

This is not a great idea because:

- It is confusing to put #include directives inside a function, and generally confusing to have macros calling important initialization functions as they do not show up in a usage search
- We want to eventually add  is_mutable and i

[2017-12-06 20:44] tli2 opened #944 "Clear up relationship between SettingsCatalog and SettingsManager"
We currently never read from SettingsCatalog. Instead we have an in-memory std::unordered_map in SettingsManager. We write all the changes applied to the map into the catalog however. It is unclear what this indirection level buys us.

Perhaps we should back all our reads in settings manager and validity-check our writes (we currently don't care if something is mutable or not) using the SettingsCa

[2017-12-07 21:20] #933 closed

[2017-12-08 16:43] seojungmin opened #947 "Fix aborts when an exception occurs in the execution engine"
The peloton process dies, when there is an exception underneath the execution engine.  `ExecutePlan` would be able to handle this. This is reproducible with any test case with an constraint exception.

[Peloton output]
[code]

[2017-12-08 17:03] seojungmin commented on #947
@apavlo I think this should be assigned to the networking team, since this also happens with other exceptions. So, I change this to @ChTimTsubasa.

[2017-12-09 00:52] seojungmin commented on #852
@haojin2 Can you list up which modules should support each problem that you mentioned, respectively?

[2017-12-09 01:09] haojin2 commented on #852
Hi Tony,
I think 1 & 3 should be implemented by some internal functions, I was working on the cast from varchar to date earlier but then moved on to the parallel LLVM project so it's still under construction. For 2 I think we should first provide support in parser transformer for TYPECAST and also implement TYPECAST for all types we have.
Hao

[2017-12-11 21:30] tcm-marcel opened #949 "CMake fails under Ubuntu 16.04 after allowing LLVM 3.7+"
Cmake suddenly fails on my laptop (Ubuntu 16.04) due to LLVM version problems. It seems that following commit is introduced the according change: https://github.com/cmu-db/peloton/commit/712d8193dc38f9c19a2826206662f1964596b523

My LLVM packages are installed via apt. This may be a problem with wrongly linked or missing cmake includes in Ubuntu which the LLVM packages should provide.

**Output of

[2017-12-11 21:49] crd477 commented on #949
On 2017-12-11 16:30, Marcel Kost wrote:

Do you have llvm-3.8-dev installed?

The CMake support for LLVM is in that package.

--
     -Chad

[2017-12-12 14:29] tcm-marcel commented on #949
`llvm-3.8-dev` was already installed when the error occurred. I got it to work after installing `llvm-3.9` (and `-dev`) when cmake switched to the higher version. Seems to be a problem with `llvm-3.8` in particular here.

[code]

[2017-12-12 19:57] apavlo commented on #632
This has been fixed for a while. Closing.

[2017-12-12 19:57] #632 closed

[2017-12-12 19:58] apavlo commented on #588
Fixed in #773

[2017-12-12 19:58] #588 closed

[2017-12-12 20:01] apavlo commented on #523
We still haven't fixed this. We still should do this.

[2017-12-12 20:02] apavlo commented on #401
I don't think this is an issue for us anymore. Jenkins runs the psql tests.

[2017-12-12 20:02] #401 closed

[2017-12-13 18:14] seojungmin opened #953 "Build a new Postgres/network buffering consumer"
This is something that we discussed a while ago in the mailing list. It is a way to remove multiple copies with some redundant allocation overheads between the actual query execution and sending the results on the network.

The overall idea is to have this Postgres packet buffer generated in codegen.  In the current implementation, this is possible by implementing a special buffering consumer that

[2017-12-13 18:25] seojungmin opened #954 "Reduce the overhead of deallocating read-write set"
The overhead of deallocating a read-write set at a commit time is high, if we have many tuples in a read-write set.  It is the case with analytics queries.  There are many ways to handle this, such as having more light-weight read-write set, using a Hyper-way of snapshotting the memory space so that we don't need these to be kept, or moving this out of its execution path, etc. There may be pros an

[2017-12-13 18:54] LingyanYin opened #955 "make check incurs errors: make_unique is not a member of std"
Hi,

I wonder anyone has the same problem?
Here is the error output when I run make check:

I install peloton through vagrant in my macbook. Below is the make configuration output and everything seems fine... I also checked this elsewhere and it seems this is a c++14 feature and I also have the flag -std=c++1y...:

[code]

[2017-12-13 19:00] PauloAmora commented on #955
Upgrade your GCC to 4.9

[2017-12-13 21:55] LingyanYin commented on #955
Thanks, this does fix it.

[2017-12-13 21:55] #955 closed

[2017-12-14 00:15] phisiart commented on #953
Since I will be changing plan_executor to be async (for callback-based parallel execution), and will have to look at the networking layer anyway, I should look into this. No promise though.

[2017-12-14 00:57] seojungmin commented on #953
@phisiart I think it would be good to collaborate with @ChTimTsubasa on this issue. @ChTimTsubasa has also mentioned that he is interested in this issue. Since he is the network layer guy and you are now a codegen expert, I think you guys can reduce the implementation time significantly by collaborating each other.

[2017-12-16 19:33] pranavk opened #957 "state of third party code in peloton"
Managing the third_party modules in a way such that we are able to update them nicely with new releases/security fixes upstream seems an ideal way to go. Do we have something like this in mind?

Or do we just want to fork them (as we have already) and make modifications to them gradually making it impossible/difficult to get any new features from upstream?

Ideal way to go might be to download the

[2017-12-16 19:38] schedutron commented on #957
Seems right, but won't there be difficult merge conflicts between custom features we add and new releases from upstream if the pace of pulling from upstream is low?

[2017-12-16 19:44] phisiart commented on #957
We should do this:

For modules we don't want to modify, use git submodule.
For modules we want to modify, fork a custom version and use git submodule.

[2017-12-17 14:34] tcm-marcel commented on #949
I will close this issue but leave a note somewhere if someone else runs into the same problem.
@apavlo where should I leave a note? In the building instructions or create a "known problems" page?

[2017-12-17 14:34] #949 closed

[2017-12-19 02:27] seojungmin opened #963 "Codegen'ing log records"
This issue may be _stupid_, but I thought it would be worth posting it.

While I was looking at @PauloAmora's logging PR, I wondered whether we could generate code for creating the logging records.  If we could assume most of the transactions will succeed after all, creating log records while we create the tuples is not a big burden because most of the values are already known at the time of inser

[2017-12-19 03:30] pmenon commented on #963
This is something we’ve already discussed before. Let’s hold off for now.

[2017-12-19 03:34] #963 closed

[2017-12-19 04:05] poojanilangekar opened #964 "Use of c++14 in bloom_filter_test.cpp"
[Line 339](https://github.com/cmu-db/peloton/blob/f329366cdc687a1aad1ca272e46d11595370d093/test/codegen/bloom_filter_test.cpp#L339) uses [make_unique](http://en.cppreference.com/w/cpp/memory/unique_ptr/make_unique) which is a c++14 feature, causing make check on vagrant to fail.

The solution would be to replace the make_unique call with `std::unique_ptr<catalog::Schema>(new catalog::Schema(cols))

[2017-12-19 04:21] seojungmin commented on #964
@poojanilangekar Your changes should work.

[2017-12-19 05:43] poojanilangekar commented on #964
Thanks! I have raised a PR.

[2017-12-19 13:52] poojanilangekar commented on #964
Fixed in #966

[2017-12-19 13:52] #964 closed

[2017-12-19 14:48] #938 closed

[2017-12-19 15:16] schedutron opened #967 "Postgres Executor Link Not Working"
In the Architecture wiki, under the [Peloton Query Processing](https://github.com/cmu-db/peloton/wiki/Architecture#peloton-query-processing) section, the links are no longer working. The current links are, respectively:

https://github.com/cmu-db/peloton/blob/master/src/postgres/backend/executor/execMain.cpp.
https://github.com/cmu-db/peloton/blob/master/src/postgres/backend/tcop/utility.cpp

[2017-12-19 15:32] schedutron commented on #967
The following link seems to work: https://github.com/cmu-db/peloton/blob/5b69e27785b5be1dd7edaf1205f2e6dd87b66404/src/postgres/backend/executor/execMain.cpp (dates back to 2015, when the wiki was last edited).

[2017-12-19 20:51] apavlo commented on #967
All of that is old. I am going to just delete the page. We don't use Postgres at all anymore.

[2017-12-19 22:33] pbollimp commented on #491
Due to multiple code conflicts with everyone, I will create a pull request and merge this after December 27

[2017-12-20 02:35] rohit-cmu opened #973 "Replacing/Improving LockFreeArray"
I am documenting this issue so that there is a record of it:
Currently we maintain a lock free array for the following :
* LockFreeArray<std::shared_ptr<index::Index>>;
* LockFreeArray<std::shared_ptr<storage::TileGroup>>;
* LockFreeArray<std::shared_ptr<storage::Database>>;
* LockFreeArray<std::shared_ptr<storage::IndirectionArray>>;

All uses initialize from container/lock_free_array.h which ini

[2017-12-20 12:42] #967 closed

[2017-12-20 16:28] adityafeb22 opened #976 "Installed Peloton on MAC 10.13.2 and couldn't execute Peloton"
Hi guys,

I am beginner here and I am sure I should be asking a very basic question. I have installed Peloton using vagrant..

Linking CXX executable ../bin/peloton
[100%] Built target peloton-bin
➜  build make install
[  0%] Original libpg makefile target
[  0%] Built target libpg_query
[  0%] Built target peloton-proto
[ 98%] Built target peloton
[100%] Built target peloton-bin
Install the proje

[2017-12-20 18:18] apavlo opened #978 "Change Travis to use gcc 4.8"
* Change travis.yml to enforce gcc version 4.8.
* Add new travis target for clang builds on Ubuntu

This may fix @crd477's docker build problem.

[2017-12-20 18:29] #442 closed

[2017-12-20 18:32] poojanilangekar commented on #183
Fixed in #409

[2017-12-20 18:32] #183 closed

[2017-12-20 18:33] apavlo commented on #552
Merged in #842

[2017-12-20 18:33] #552 closed

[2017-12-20 18:37] crd477 commented on #978
On 2017-12-20 13:18, Andy Pavlo wrote:

That problem was already fixed by
4399ebf99c7553741f7bbbdf3170fa583ff8a7ee.  I'm not aware of any
outstanding Docker build problems.

The Jenkins gcc builds for Ubuntu Trusty use 4.8 and are currently working.

--
     -Chad

[2017-12-20 18:56] crd477 commented on #978
Just to clarify, I'm not aware of any outstanding problems with the Docker build **mechanism**.  There are still some build failures in Jenkins but they are genuine compilation or linking problems not to do with Docker.

[2017-12-20 19:22] poojanilangekar commented on #290
Fixed by #243

[2017-12-20 19:22] #290 closed

[2017-12-20 19:27] apavlo commented on #976
What's in your 'build/bin' directory?

[2017-12-20 19:31] tcm-marcel commented on #978
The error is Jenkins is following:
[code]
It may happen because of clang using the wrong `libc++`.

Comment from https://stackoverflow.com/questions/24342312/clang-seems-to-use-the-gcc-libraries:

[2017-12-20 19:32] #854 closed

[2017-12-20 19:47] poojanilangekar commented on #836
@saatviks Are you working on this?

[2017-12-20 19:57] poojanilangekar commented on #327
@apavlo We now segfault on it. Will @haoxianghua's PR fix this? Or do you want me to take a look at it?

[2017-12-20 20:37] poojanilangekar commented on #812
We are not going to be merging this as discussed in #853

[2017-12-20 20:37] #812 closed

[2017-12-20 20:48] adityafeb22 commented on #976
➜  build cd bin
➜  bin ls
peloton

Thanks Professor for the reply,, Above is the output of ls in the bin folder...
I have peloton in the bin folder,, nothing apart from that..

[2017-12-20 20:51] schedutron commented on #976
Are you able to start the server by typing `./peloton` while in the `bin` folder?

[2017-12-20 20:53] poojanilangekar commented on #870
Will be fixed in #885

[2017-12-20 20:55] poojanilangekar commented on #876
Closing this issue since the build works on gcc-4.8.

[2017-12-20 20:55] #876 closed

[2017-12-20 21:01] adityafeb22 commented on #976
I could start peloton as suggested, but while it is running I tried opening psql which says pstgre is not running

➜  bin psql "sslmode=disable" -U postgres
psql: could not connect to server: No such file or directory
	Is the server running locally and accepting
	connections on Unix domain socket "/var/run/postgresql/.s.PGSQL.5432"?
I am running on the default port 15721

[2017-12-20 21:02] poojanilangekar commented on #644
Fixed in #645

[2017-12-20 21:02] #644 closed

[2017-12-20 21:03] poojanilangekar commented on #976
To start your psql client use the following:

 psql "sslmode=disable" -U postgres -p 15721

[2017-12-20 21:03] #976 closed

[2017-12-20 21:08] adityafeb22 commented on #976
psql "sslmode=disable" -U postgres -h vagrant-ubuntu-trusty-64 -p 15721

I had to use my hostname instead... to get this worked

So excited to start this stuff with you guys. Thanks a lot for all the help

[2017-12-20 21:15] saatviks commented on #836
Yep - Have been coordinating with @malin1993ml.
We have finished setting up a helper/entity C++ class to work with the [Tensorflow C API](https://www.tensorflow.org/install/install_c) which does the following:
1. Import a tensorflow graph which would generally be written in the tensorflow python API.
2. Useful methods to setup and call tensorflow ops - these would generally be to train and test mo

[2017-12-20 21:19] poojanilangekar commented on #349
@pmenon Do we have plans of supporting inline varchar in the codegen engine?

[2017-12-20 21:25] poojanilangekar commented on #836
@saatviks Thanks for the update. I have assigned you to this issue. Please make sure you mention this issue when you raise a PR.

[2017-12-20 21:26] saatviks commented on #836
Sure, thanks.

[2017-12-20 21:28] #136 closed

[2017-12-20 21:33] poojanilangekar commented on #927
@saatviks What is the status on this? Both the PRs have been merged? Do we still need changes or can this issue be closed?

[2017-12-20 21:37] saatviks commented on #927
Although the `floor` PR was merged in, there were some changes needed which came out when the `ceil` function went through a more thorough review. I'll finish this by next week.

[2017-12-20 21:38] poojanilangekar commented on #927
Cool, please make sure you close this issue when the changes go through.

[2017-12-20 21:42] poojanilangekar commented on #563
@sumanthrao Are you still interested in working on this? PR #838 has been merged and so it should be pretty straightforward to implement the COALESCE function.

[2017-12-20 21:45] poojanilangekar commented on #503
@AngLi-Leon has fixed it. https://github.com/cmu-db/peloton/wiki/Develop-and-Debug-with-CLion-on-macOS

[2017-12-20 21:45] #503 closed

[2017-12-20 22:03] poojanilangekar commented on #576
@apavlo @pmenon @seojungmin Can we close this issue since most of the storage layer APIs are now deprecated because of the LLVM engine?

[2017-12-20 22:04] poojanilangekar commented on #382
Timestamp is fixed. Varchar is still an open issue #331.

[2017-12-20 22:04] #382 closed

[2017-12-20 22:07] poojanilangekar commented on #557
Fixed in #736

[2017-12-20 22:07] #557 closed

[2017-12-20 22:08] poojanilangekar commented on #545
Fixed in #558

[2017-12-20 22:08] #545 closed

[2017-12-20 22:10] poojanilangekar commented on #903
@dengyuchenkit and @ChTimTsubasa Can you please look into this? We need to handle exceptions from the workers and send the appropriate response to the client.

[2017-12-20 22:13] poojanilangekar commented on #326
@dengyuchenkit and @ChTimTsubasa this issue is similar to #903. The catalog throws the exception but it isn't handled appropriately.

[2017-12-20 22:15] poojanilangekar commented on #627
@aaron-tian When do you plan to raise a PR for this issue?

[2017-12-20 22:23] poojanilangekar commented on #522
The page has been removed.

[2017-12-20 22:23] #522 closed

[2017-12-20 22:27] poojanilangekar commented on #888
@haoxianghua Has your patch fixed the issue? Can you raise a PR?

[2017-12-20 22:37] poojanilangekar commented on #327
Duplicate of #903

[2017-12-20 22:37] #327 closed

[2017-12-20 22:43] aaron-tian commented on #627
In the winter break.

[2017-12-21 05:43] apavlo opened #983 "TileGroupLayoutTests Doesn't Test Layouts"
I switched `LayoutType` to be an `enum class` in #982. This caused a compilation error in  `TileGroupLayoutTests`. It turns out that we were passing in a `LayoutType` to `TableFactory::GetDataTable()` but it was being cast to a bool that had nothing to do with layout. So the flag wasn't being used and this this test case doesn't actually different layouts in the system.

We need to rewrite this te

[2017-12-21 15:47] poojanilangekar commented on #561
Duplicate of #568

[2017-12-21 15:47] #561 closed

[2017-12-21 15:52] poojanilangekar commented on #730
Fixed in #727

[2017-12-21 15:52] #730 closed

[2017-12-21 16:03] rohit-cmu commented on #983
I will try to fix this.

[2017-12-21 17:19] #827 closed

[2017-12-21 17:22] phisiart opened #984 "PR #962 was not merged to the master branch"
#962 is now in cmu-db:network-refactor

[2017-12-21 17:24] tli2 commented on #984
This is intentional. We want to get all the network refactor in before we merge this with master. Resolving merge conflict with something half-finished is a pain.

[2017-12-21 17:24] #984 closed

[2017-12-21 18:02] apavlo commented on #753
@wangziqi2013 This is fixed, right? Inquiring minds want to know...

[2017-12-21 18:17] #131 closed

[2017-12-21 18:19] poojanilangekar commented on #195
@ksaito7 would be working on Checkpoints next semester. Closing this issue.

[2017-12-21 18:19] #195 closed

[2017-12-21 18:19] poojanilangekar commented on #261
Fixed.

[2017-12-21 18:19] #261 closed

[2017-12-21 18:20] apavlo commented on #754
1. Move 'delete_test.cpp' into 'test/sql'. Rename to 'delete_sql_test.cpp'
2. Break up the "VariousOperations" test into smaller sub-tests. Refactor the table loading code so that yo can re-use it for all of the new smaller tests.
3. Add SELECT statements that check the contents of the table after you delete tuples.

[2017-12-21 18:20] #277 closed

[2017-12-21 18:21] poojanilangekar commented on #299
Fixed by @hzxa21 and @chenboy

[2017-12-21 18:21] #299 closed

[2017-12-21 18:23] poojanilangekar commented on #349
Need to create a new project idea for 15721 spring 2018.

[2017-12-21 18:23] #349 closed

[2017-12-21 18:25] #356 closed

[2017-12-21 18:27] poojanilangekar commented on #474
@aaron-tian Please check if this issue still exists. If yes, it can be assigned to somebody else. If not, please comment here and close the issue.

[2017-12-21 18:27] haoxianghua commented on #888
@apavlo I can solve this issues by adding some lines. However, no other function will use this field, for example, "current_timestamp" and I remember you said that adding functions when you use them.

[2017-12-21 18:28] #492 closed

[2017-12-21 18:35] #576 closed

[2017-12-21 18:40] poojanilangekar commented on #759
@aaron-tian Please check if this issue still exists. If yes, talk to @apavlo to re-assign else comment on this and close it.

[2017-12-21 18:44] seojungmin commented on #287
`INSERT INTO ... SELECT FROM ...` is supported in the recent Peloton. This is how to implement the feature:

1. Check whether `SELECT INTO ...` can be parsed by the current parser
2. Check whether there is a plan that can specify this in the SELECT plan
3. Check whether there is a support from the optimizer to build this SELECT plan
4. Implement the codegen translator to execute this

Additionally

[2017-12-21 19:49] crd477 commented on #978
Nice find.  libc++-dev is already installed on the Jenkins Trusty image but -stdlib=libc++ is not being passed on the command line.  I can test this fix if you're not already down that path.

[2017-12-21 20:04] crd477 commented on #978
I take that back - libc++-dev is not installed, only libstdc++-4.8-dev.  I'll add it.

[2017-12-21 21:51] poojanilangekar commented on #873
@saatviks I saw some of your commits in the `src/network/postgres_protocol_handler.cpp`. Has this been resolved? If not, can you work on this or add some more details here so it can be assigned to someone.

[2017-12-21 21:53] poojanilangekar commented on #331
This is now being addressed in #850

[2017-12-21 21:53] #331 closed

[2017-12-21 22:27] saatviks commented on #873
@seojungmin had mentioned the following in one of the code review comments - "I also wonder why we have `bind_parameters` from the first place. This is not used in the code. @ChTimTsubasa can you verify this?"
I'm going ahead and assigning this to @ChTimTsubasa following the above comment - Let me know if any further changes are needed.

[2017-12-21 22:54] poojanilangekar commented on #873
Thank you @saatviks!

[2017-12-22 17:50] apavlo commented on #954
@sivaprasadsudhir is fixing it so that we deallocate the `TransactionContext` object in the GarbageCollector. This removes deallocation from the txn's critical path.

More optimized ReadWrite set implementations can be a future project.

[2017-12-22 18:22] poojanilangekar commented on #523
@apavlo I looked through all the files where there were nullptr checks, there are no check just before a delete. It is usually in an if statement where it combines other function calls. So I am closing this issue.

[2017-12-22 18:22] #523 closed

[2017-12-23 07:35] elfring opened #998 "Improve exception safety with smart pointers"
Would you like to wrap more pointer data members with the template class “[std::unique_ptr](https://en.wikipedia.org/wiki/Smart_pointer#unique_ptr "Description for the usage of smart pointers")”?

Update candidates:
- [PelotonClient](https://github.com/cmu-db/peloton/blob/a51ccc3669568fa99eda32cb1a9c1f172ef4b101/src/include/network/service/peloton_client.h#L26)
- [RpcClient](https://github.com/cmu

[2017-12-23 14:23] #957 closed

[2017-12-24 03:59] tli2 commented on #998
I don't think the Rpc code is being used at all and will probably get scrapped soon for a new one.

[2017-12-24 03:59] #998 closed

[2017-12-24 04:03] tli2 opened #1002 "Merge network-refactor into master"
I just created a PR for the last bit of network refactor code I wanted to get in for this week. We will be able to merge the whole thing into master as soon as that PR is merged.

Several items before we merge network-refactor though:
- Merge conflicts, probably
- Need to figure out a merge order since this probably conflicts with SSL and all the larger-scale renaming refactors happening after 25t

[2017-12-24 16:13] apavlo opened #1003 "Refactor CreateExecutor::DExecute"
The CreateExecutor is the one of the few executors that we plan on keeping after we switch over the LLVM engine. Right now it's main implementation method is a giant switch statement. We need to break this up into separate functions (one for each thing that we need to create).

[2017-12-25 04:02] seojungmin opened #1006 "Tidy up the trigger interface & add the trigger in codegen executors"
First, I have found that the triggers are not added to the codegen executors (e.g. Insert).  I think This happened because the codegen work was done based on the old executors without triggers.

Adding the feature was thought to be simple, as only a function call should be added at each trigger point.  However, I found that the trigger interface is not very kind to the executor.  The executor had

[2017-12-25 16:31] #983 closed

[2017-12-26 02:23] malin1993ml opened #1008 "Remove the call to the Optimizer from several catalog instance initializations"
We have many different global catalog singletons in our system, such as `DatabaseCatalog`, `ZoneMapCatalog`. (Ideally we want to combine those singletons together, but that's another longer discussion.)

We now have two ways to initialize a catalog instance:
https://github.com/cmu-db/peloton/blob/master/src/include/catalog/abstract_catalog.h#L48
https://github.com/cmu-db/peloton/blob/master/src/in

[2017-12-29 01:36] tli2 opened #1015 "Formatter script not seeming to work"
[code]

In addition, the command-line flag -d mentioned in the wiki does not seem to be supported any more.

[2017-12-29 15:12] apavlo opened #1019 "Standardize Peloton Macro Names"
We use different naming conventions for our macros:

* `PL_MEMSET`
* `PL_UNIMPLEMENTED`
* `PL_ASSERT`
* `PELOTON_FALLTHROUGH`

I think that they should all be the same. I think that we should probably use the `PELOTON_` prefix for everything to make it easier to change it once we change the name of the system.

But do we want to differentiate between a global variable (e.g., `PELOTON_VALUE_NULL`)

[2017-12-29 18:50] schedutron commented on #1015
Is `clang-format-3.6` executing separately as a terminal command on your machine?

[2017-12-29 18:59] apavlo opened #1021 "Clearer differentiation between raw/value SQL function methods (peloton::function)"
In our SQL function utility classes in `peloton::function` (i.e., `DecimalFunctions`, `DateFunctions`, `StringFunctions`, and `TimestampFunctions`), we have to implementations per SQL function. The first are the implementations that operate on "raw" C++ primitive types. The second are ones that operate on our own `type::Value` objects.

Right now the only way that we differentiate between the two

[2017-12-29 19:36] schedutron commented on #1019
Maybe another standardized second-level prefix like `_VALUE` in `PELOTON_VALUE_NULL` can help in distinguishing between a procedure and a variable.

[2017-12-30 04:34] apavlo commented on #927
What happened with this issue?

[2017-12-30 05:29] saatviks commented on #927
Apologies for the delay - I'll submit the PR today itself.

[2017-12-30 17:43] #927 closed

[2017-12-30 17:49] apavlo commented on #1015
There are three outstanding PRs for the formatting script (#994, #993, #991).
I also thought that we agreed to not require an exact version of `clang-format`?

@tcm-marcel Can you figure out what's going on with all the PRs and this problem when you get back?

[2017-12-30 17:57] schedutron commented on #1015
Even if an exact version is not used, it might happen that even `clang-format` command doesn't work on a person's machine. If one does a fresh install of `clang-format` (latest version), the `clang-format` command *still* won't work on their machine, but `clang-format-3.7` will.

So the formatter script needs to find the correct version/command for `clang-format` installed, but that may not be a t

[2017-12-30 18:09] schedutron opened #1024 "CREATE DATABASE leads to segmentation fault"
When I type a `create database` statement in psql client, I get the following output:
[code]

On Peloton's server logs, I get `Segmentation fault: 11`.

[2017-12-30 18:39] tli2 commented on #1015
I can confirm that changing the script to use clang-format-3.7 fixes the issue on my machine.

[2017-12-31 04:55] mengranwo commented on #1024
Can you use the gdb to get more stack info?

[2017-12-31 10:53] schedutron commented on #1024
`gdb` wasn't working properly on my machine, but here's the `lldb` backtrace:
[code]

[2018-01-01 19:46] haojin2 opened #1026 "DropStatement is only able to handle one target"
Right now DropStatement class is only able to handle one target, regardless of type of DROP.
Do we want to support dropping multiple table/index/schema/trigger?
Right now this problem is handled by the hack at https://github.com/cmu-db/peloton/blob/master/src/parser/postgresparser.cpp#L1121 through only transforming the first target in the target list. If dropping multiple targets such as "DROP SC

[2018-01-01 19:56] #852 closed

[2018-01-02 10:26] sandy20140407 commented on #858
hi~
I met  same error message when I run the command 'make -j4'.
The step of cmake does well,no error.
I try to delete the file named libpeloton-proto.a in /mypath/peloton/script/installation/build/lib,and make again, but same error.

OS:macOS 10.13.1 (17B1003)
kernel:Darwin 17.2.0
Xcode Version 9.2 (9C40b)

[code]

[2018-01-02 19:50] apavlo commented on #858
@sandy20140407 Switch to Xcode8: https://github.com/cmu-db/peloton/wiki/Develop-and-Debug-with-CLion-on-macOS

[2018-01-02 20:05] pbollimp commented on #858
@sandy20140407 If you still get the link error, please apply this patch (you may need to remove prints and some unnecessary code in traffic_cop.cpp) and see if you still get the error.
[link_error_fix.patch.zip](https://github.com/cmu-db/peloton/files/1598576/link_error_fix.patch.zip)

[2018-01-02 20:09] eribeiro opened #1027 "packages.sh execution fails on Ubuntu 16.04+"
Running `sudo bash packages.sh` fails on Ubuntu 16.04 due to a command rename and deprecated command line option of apt-get.

Ubuntu 16.04+ renamed `cmake3` command to just `cmake`. Also, the apt-get's  `--force-yes` was deprecated and only runs if we remove it (or change it to one of the `--allow` prefixes). After doing those changes it will install the dependencies and successfully proceed the b

[2018-01-02 20:09] apavlo commented on #1027
@eribeiro Can you send a PR?

[2018-01-02 20:12] eribeiro commented on #1027
Sure! :) Gonna send one as soon as possible (afk). :+1:

[2018-01-03 03:14] #1027 closed

[2018-01-03 04:32] apavlo opened #1029 "Create 'pg_attrdef' Catalog Table"
We need to store attribute default values in the catalog. Postgres uses the `pg_attrdef` catalog table. We need to add this:

https://www.postgresql.org/docs/9.6/static/catalog-pg-attrdef.html

We need to support the following type of default values:

[code]

[2018-01-04 03:06] malin1993ml commented on #637
Hi @pbollimp and @sivaprasadsudhir,

What's the status of the EXTRACT implementation? As we discussed earlier, it turned out that it's not feasible to convert the date_part string to DatePartType at bind time. So we just need to do the string comparison inside the function at runtime. I remember you guys pretty much already finished the implementation? If so, can you wrap up and submit a PR?

[2018-01-04 09:03] sandy20140407 commented on #858
Thanks for help @apavlo and @pbollimp .
I have changed Xcode 9 to Xcode 8,and apply that patch.but, the error is still when make -j4。
Maybe it's my computer's problem.I'll use another one to install.
I'll paste here if any message.

[2018-01-04 22:35] #1026 closed

[2018-01-05 15:38] apavlo commented on #909
I think that this was added in #975

[2018-01-05 15:38] #909 closed

[2018-01-05 17:17] tcm-marcel commented on #909
@apavlo I think #975 only adds the cast for dates. Nevertheless, we can continue with this code. @tli2 and I had other things to do, so we didn't continue here.

[2018-01-07 22:26] apavlo commented on #870
The sample "peloton.conf" was removed in #1033. We're still working on adding logging support.

[2018-01-07 22:26] #870 closed

[2018-01-07 23:19] apavlo opened #1036 "Clean up directory layout"
We meant through our list of directories last month and decided to move some directories inside of each other. Here are targets:
* 'src/container' -> 'src/common/container'
* 'src/util' -> 'src/common/util'
* 'src/threadpool' -> 'src/common/threadpool'
* 'src/statistics' -> 'src/storage/statistics'
* Rename 'concurrency' -> 'transaction'
* Rename 'src/settings' to 'src/setting'
* Rename 'src/stati

[2018-01-07 23:32] apavlo commented on #973
@pervazea Can you look to find a replacement data structure for this? You can look at libcds as a starting point:

https://github.com/khizmax/libcds

[2018-01-08 01:19] apavlo opened #1038 "Make sure that we don't use brackets for #include"
I fixed some `#include`'s where we were using the brackets (`<...>`) instead of quotation marks (`"..."`):

https://github.com/cmu-db/peloton/pull/1037/commits/9e72651dcf1ff89c2a9fb117094843fa629a7994

It would nice if the validator script could check this automatically and prevent this from happening. For each `#include` that uses brackets, it can simply check to see whether it's one of our own f

[2018-01-08 02:15] rohit-cmu commented on #973
Hi Andy, I started work on this just yesterday. Looked at some other options but the iterable list in libcds seems relevant to us.

[2018-01-08 18:15] apavlo commented on #973
@rohit-cmu Oh that's great! Keep everyone updated

[2018-01-08 21:53] tli2 commented on #1038
Just as an aside that CLion-generated includes are always `<>` for some reason (it is stupid).  This could be one of the reasons people use `<>`.

Also, is there a  style guide on whether to use always `#include "dir/file"` or is `#include file` fine for a file in dir?

[2018-01-08 22:05] apavlo commented on #1038
I thought that the convention was `<>` for something you expect to be installed in the system and `""` for something that is local to the project?

[2018-01-08 22:13] malin1993ml commented on #1038
Yes. At least that's the convention that I'm following.

On Mon, Jan 8, 2018 at 5:05 PM, Andy Pavlo <notifications@github.com> wrote:

[2018-01-08 22:15] tli2 opened #1039 "Change thread_pool::SubmitDedicatedThread to ThreadPoolRegistry"
Instead of using thread_pool::SubmitDedicatedThread in Yingjun's thread pool, we should factor that out into its own component, with monitoring for self-driving built-in, and remove Yingjun's thread pool to avoid confusion.

There will be a unified interface for components that need to claim long-running threads (call SubmitDedicatedTask), and components register themselves with a centralized Thre

[2018-01-08 22:16] tli2 commented on #940
See #1039

[2018-01-08 22:16] #940 closed

[2018-01-08 22:26] tli2 opened #1040 "Implement RPC for peloton"
To build the self-driving component, peloton needs to be able to receive command from a remote component.

There should be a `RpcManager` class that hands out remote objects and routs received tasks to the appropriate layer.

[2018-01-09 05:03] schedutron commented on #1038
Can I work on adding this to the validator script?

[2018-01-10 15:02] pervazea opened #1042 "oltpbench: tpcc hangs"
[tpcc_config.xml.txt](https://github.com/cmu-db/peloton/files/1619291/tpcc_config.xml.txt)

Trying to run oltpbench tpcc, it hangs on loading data. Insufficient information for any diagnosis.

[code]
Peloton output:
[code]
config file attached, as generated by benchmark.py. Test run manually using the attached config file.
Other configuration:
- Ubuntu 14.04 LTS
- debug build

[2018-01-10 15:21] pervazea opened #1043 "oltpbench: tatp issues"
Running oltpbench tatp, peloton complains about an unsupported data type and terminates.

[code]

[tatp_config.xml.txt](https://github.com/cmu-db/peloton/files/1619356/tatp_config.xml.txt)

Configuration file attached, as generated by benchmark.py. Ran manually, to capture output from peloton. Config:
- Ubuntu 14.04 LTS
- debug build of Peloton

[2018-01-10 16:07] pervazea opened #1044 "oltpbench: smallbank fails"
When running oltpbench smallbank manually, the benchmark never completes.

Peloton (debug build), runs and continuously produces the output below:
[code]

oltpbench produces:
[code]
It progresses no further than this. When control c'ing the script, further output is:
[code]

Configuration file attached.
[smallbank_config.xml.txt](https://github.com/cmu-db/peloton/files/1619542/smallbank_config.xml

[2018-01-10 16:20] pervazea commented on #759
I ran the ycsb benchmark, using the benchmark.py script. It includes DeleteRecord with a weight of 10. This runs to completion, but has a short runtime.

Running ycsb using the sample_ycsb_config.xml configuration file (modified to as per the wiki, to use Peloton), does not run to completion.

Just recording the data points in case this helps resolve if DeleteRecord is working (or not).

[2018-01-10 17:29] apavlo commented on #1043
`PostgresValueType` "21" is `SMALLINT`. How do we not support that???

[2018-01-10 18:19] pervazea opened #1046 "oltpbench: twitter fails"
When trying to run oltpbench twitter, it cannot create the database.

benchmark output:
[code]

Nothing useful from Peloton:
[code]

Configuration file attached, as created by benchmark.py
[twitter_config.xml.txt](https://github.com/cmu-db/peloton/files/1619968/twitter_config.xml.txt)

Ran manually.
Configuration:
- Ubuntu 14.04 LTS
- debug build of Peloton

[2018-01-10 18:31] pervazea commented on #1046
Running oltpbench epinions fails in a very similar manner. Adding output here, on the assumption it may be the same cause. If it is not, we can create a separate issue.

[code]

[2018-01-10 19:25] apavlo commented on #1046
`DATETIME` is a MySQ-specifc type. Try renaming the postgres DDL file to make it a peloton one:

[code]

[2018-01-10 20:51] pervazea commented on #1046
For twitter, after switching to the postgres ddl file, we fail creating the databse, because we don't support datatype "serial". One alternative would be bigint with auto_increment. Do we support auto_increment?

Error information below:
Error executing: CREATE TABLE "added_tweets" (   id serial,   uid int NOT NULL REFERENCES "user_profiles" (uid),   text char(140) NOT NULL,   createdate timestamp

[2018-01-10 23:34] apavlo commented on #1046
We don't support SERIAL (aka SEQUENCES). We will add this next semester.

Let's skip this benchmark for now.

[2018-01-11 04:20] tcm-marcel commented on #1038
@schedutron Sure, give it a try. Make sure to rebase your repo, as #991 got merged in today. You can then create a PR and I will review it.

[2018-01-11 05:17] star013 opened #1049 "Segmentation fault when I use psql to run a SQL script"
Hi, there. I am a student who want to take 15721 in spring. I installed peloton in my local mac OS. When I tried to run a demo SQL script using psql as Wiki shows, peloton had segmentation fault.

I run peloton by typing command:
`peloton`
and I run psql by typing command:
`psql "sslmode=disable" -U postgres -h 127.0.0.1 -p 15721`
In psql terminal, I input the following command to run a SQL script

[2018-01-11 15:10] tcm-marcel commented on #1015
Different versions of clang-format produce different output and even the command line arguments don't seem to be stable among versions. I suggest to call a fixed version from both source validator and formatter.

[2018-01-11 17:59] schedutron commented on #1038
Do we need to check only the header files in the `src/include` folder?

[2018-01-11 18:15] tcm-marcel commented on #1038
All files (header and implementation) must be checked for includes that use brackets `<...>`. If `...` is an existing file in `src/include/...`, an error should be thrown. Maybe check for relatives path both with and without `include/`.

[2018-01-11 18:18] schedutron commented on #1038
No, I mean the file mentioned in `#include <...>` would be present only in `src/include`, so I was wondering that, for a given `#include <...>` statement, should I check for the file's presence in only `src/include` or other directories as well?

[2018-01-11 18:20] tcm-marcel commented on #1038
Only in `src/include`, but make sure that the check also works if the include path starts with `include/...` (which is wrong, but otherwise me miss those).

[2018-01-11 20:25] pervazea commented on #1043
The fixes in #1045 do not resolve the problem. Ran a debug build, built from branch apavlo/jan2018-cleanup

Last bit of Peloton output:
[code]
Appended is the stack trace from gdb, for what seems to be the offending thread. Someone familiar with the network code should take a look.

[code]

[2018-01-11 20:28] pervazea commented on #1043
The exception information from oltpbench, was:

[code]

[2018-01-14 07:03] schedutron commented on #1024
Any update here?

[2018-01-14 17:19] schedutron opened #1055 "Segfault when inserting into a nonexistent table"
When I write a query like `insert into foo values(33);`, where `foo` is a table not yet created, the client hangs and Peloton server logs show `Segmentation fault: 11`.

[2018-01-14 17:26] schedutron commented on #1049
Can you provide the contents of your `.sql` script?

[2018-01-14 17:31] star013 commented on #1049
Hi, @schedutron

I just use the script in the "script" folder in the latest peloton. The relative path is `script/testing/join/nested_loop_join.sql`.

[2018-01-15 14:41] tcm-marcel commented on #1038
Added in #1054.

[2018-01-15 14:41] #1038 closed

[2018-01-15 14:51] tcm-marcel commented on #770
1. and 3. were added in #968 and #991, 2. is still missing.

[2018-01-16 15:24] tli2 commented on #1015
Under new student guide in code style

[2018-01-16 18:15] koallen commented on #1019
I think it's better to differentiate between global vars and macros because it adds more semantics and could potentially make debugging easier and/or improve the code readability/maintainability.

For example, in the Google C++ Style, macros are named with capital letters and underscores ([link](https://google.github.io/styleguide/cppguide.html#Macro_Names)), while constants are named with camel c

[2018-01-16 20:10] tcm-marcel commented on #1015
@haoxianghua just tested this on his Mac and apparently you can't install a specific version of clang-format using brew (and thus validator and formatter don't work).
@pmenon I can remember it worked for you - which version of clang-format do you use?

[2018-01-17 03:33] pmenon commented on #1015
@tcm-marcel I use 3.6 by default. Why not have the script discover the clang-format version available by trying a few likely versions?

[2018-01-17 18:48] schedutron opened #1062 "Peloton crashes (segfault) during incorrect insert"
If a table has just 2 columns and one tries to insert a tuple with 3 values, Peloton crashes. The server logs show:
[code]

On the `psql` client, I get the following message:
[code]

[2018-01-18 06:00] notbdu opened #1066 "Vagrant Installation Error"
Following the installation docs, I get the following error:

[code]

I'm running using the vagrantfile in the scripts dir on OSX `10.12.6`.

[2018-01-18 07:51] schedutron commented on #1066
What `cmake` command did you run before make?

[2018-01-18 14:58] notbdu commented on #1066
I ran `cmake -DCMAKE_BUILD_TYPE=Release /peloton`.

[2018-01-18 15:10] tcm-marcel commented on #538
Implemented in #989

[2018-01-18 15:10] #538 closed

[2018-01-18 15:11] apavlo commented on #1066
@notbdu Can you attach the full log?

[2018-01-18 15:39] pervazea opened #1067 "packages.sh will add dups of LLVM repo"
If you run packages.sh more than once, it will add the LLVM repo into /etc/apt/sources.list each time, without first checking if it is present.

This causes apt to complain about having duplicate sources.

[2018-01-18 16:02] notbdu commented on #1066
Output of `cmake -DCMAKE_BUILD_TYPE=Release /peloton`:
[code]
Actually, I'm seeing different results of `make -j4`. Attaching full logs of different runs:

[code]

[code]

[2018-01-18 16:04] notbdu commented on #1066
The linker error in the second run shows up pretty consistently for me.

The compiler segfault does not.

Btw, awesome course @apavlo! Thanks 👍 .

[2018-01-18 16:22] crd477 commented on #1067
On 2018-01-18 10:39, pervazea wrote:

You could back out the change to line 29 in
abf963389e05fdbe99f52de801dccda230876619 to fix this.

If you do that, please let me know because software-properties-common
needs to be explicitly added as a prerequisite to some of the Docker
images in Jenkins before packages.sh is run.

Alternatively, you could just ignore apt's complaints.  Is it actually
common

[2018-01-18 16:56] pervazea commented on #1067
It is reasonable to run packages.sh again. If the required packages change, or are supplemented, I expect the preferred way is to simply re-run packages.sh.

I think the correct approach here, would be to check if the content is in sources.list, and add only if it is not. I'm not an expert in sh, so don't have a recipe to suggest offhand. On ignoring apt's complaints. Not sure this is safe. Apt is

[2018-01-18 16:59] tcm-marcel commented on #1066
@notbdu The linker doesn't recognize the relocation type. Which operating system are you using in which version? Can you try to update your `binutils`?

If you have some time, apply the changes from #961 to your code and see if that solves the problem.

[2018-01-18 17:15] notbdu commented on #1066
Let me try applying your changes in #961.

Btw, the OS in the `VagrantFile` in the `scripts/installation/` dir is Ubuntu 14.04. The latest `binutils` for 14.04 is installed in my VM - version `2.24-5ubuntu14.2`.  See https://packages.ubuntu.com/trusty/binutils.

There are newer versions but those are for Ubuntu 16.04.

Also, here is the output of `uname -a`:
`Linux vagrant-ubuntu-trusty-64 3.13.0-

[2018-01-18 17:33] notbdu commented on #1066
@tcm-marcel I pulled your branch and the compile is working for me now.

Any Idea why compiling libpq manually results in valid relocations? Was libpg_query's makefile compiling w/ a different version of binutils?

[2018-01-18 19:09] tcm-marcel commented on #1066
@notbdu Sorry, I overlooked that it happened in Vagrant. Thanks for the feedback about #961!

[2018-01-18 19:42] notbdu commented on #1066
@tcm-marcel no problem!

[2018-01-18 20:04] tcm-marcel opened #1068 "CMake warning introduced by libpg_query build changes in #961"
Changing the build system to build libpg_query using Cmake instead of the old Makefile (#961) introduces following CMake warning:

[code]

I couldn't find the cause of this warning yet.
* The warning apparently seems to come from *libprotobuf* and __not__ from the changes to *libpg_query*, but for some reason it only shows up now.
* `INTERFACE_LINK_LIBRARIES` contains strings like `$<$<NOT:$<CONFI

[2018-01-18 20:55] schedutron opened #1069 "Buggy INSERT"
If I `CREATE TABLE foo(id int)` and then type the following queries,

[code]
no error is reported. Furthermore, when I run the query `SELECT * FROM foo;`, I get the following weird output:

[code]

[2018-01-19 00:59] nappelson opened #1070 "Segfault running script/testing/join/nested_loop_join.sql"
2018-01-18 19:53:59 [src/network/network_manager.cpp:49:CreateNewConnection] INFO  - Create new connection: id = 4
2018-01-18 19:53:59 [src/network/network_manager.cpp:167:StartServer] INFO  - Listening on port 5432
2018-01-18 19:54:06 [src/network/network_manager.cpp:49:CreateNewConnection] INFO  - Create new connection: id = 17
2018-01-18 19:54:06 [src/network/network_connection.cpp:425:ProcessI

[2018-01-19 02:59] tcm-marcel commented on #978
1. done in #989
2. WIP in #1052

[2018-01-19 12:26] schedutron commented on #1070
Yes, this is identical to #1049.

[2018-01-19 16:00] nwang57 opened #1072 "Duplicate function names "btrim" in src/catalog/catalog.cpp"
In `src/catalog/catalog.cpp` on line 1030 there are two "btrim" function names. Looks like a typo.

<img width="756" alt="screen_shot_20180118_at_9 36 25_pm" src="https://user-images.githubusercontent.com/7065997/35159331-e1579dcc-fd07-11e7-8499-27e0f9f06286.png">

[2018-01-19 16:57] schedutron commented on #1072
Won't they have different signatures?

[2018-01-19 17:01] nwang57 commented on #1072
They do have different signatures but still it looks like a typo for me.

[2018-01-19 17:35] pervazea commented on #1043
Ran with build from #1045, with local changes to fix what I think is also needed, i.e. pulling int8_t and int16_t from the wire rather than int. With those fixes, the benchmark does not fail as above (numeric value out of range). Failure mode:

Peloton:
...p:589:CloseSocket] DEBUG - Attempt to close the connection 61
2018-01-19 12:22:02 [/home/proj/apavlo/peloton/src/network/network_connection.cpp

[2018-01-19 18:43] pervazea opened #1073 "Trace build fails"
[ 48%] Building CXX object src/CMakeFiles/peloton.dir/traffic_cop/traffic_cop.cpp.o
In file included from /home/pakhtar/proj/peloton-pa/peloton/src/include/common/internal_types.h:29:0,
                 from /home/pakhtar/proj/peloton-pa/peloton/src/include/catalog/constraint.h:20,
                 from /home/pakhtar/proj/peloton-pa/peloton/src/include/catalog/column.h:15,
                 from /h

[2018-01-19 18:44] schedutron commented on #1073
How can I reproduce this issue?

[2018-01-19 18:47] pervazea commented on #1073
It looks like a trivial fix... I'll take care of it.

[2018-01-19 19:05] schedutron opened #1074 "Build Failing on macOS"
Here are the partial logs I get after the `make -j4` command:

[code]

[2018-01-19 19:19] schedutron commented on #563
@poojanilangekar May I work on this?

[2018-01-19 19:46] poojanilangekar commented on #1008
I'm not sure if there is a quick fix to this.

The tables which are created in the first way in the`pg_catalog` are created when the catalog's constructor is called. This works fine for those particular tables since they are always created by default. These tables also have default OIDs defined in `catalog_defaults.h`.

However, the other tables eg. `ColumnStatsCatalog` are only created at runtime

[2018-01-19 19:55] poojanilangekar commented on #563
@schedutron I was just cleaning up old issues in December. It is best you ask @pervazea if anyone is working on this.

[2018-01-19 20:07] pervazea commented on #1043
As can be seen above, the problem occurs when loading data into the database. The benchmark  invocation is with --load=true, which uses the benchmark's data loader. I think this is creating <n> loader threads, operating in parallel, where <n> is the number of workloads. 7 in this case.

Turning off data loading allows the benchmark to run to completion. Probably not very useful except as a debuggi

[2018-01-19 20:26] malin1993ml commented on #1008
@poojanilangekar Yes, `pg_catalog` would already exist when the optimizer is called to create `ColumnStatsCatalog`, `TriggerCatalog`, etc. However, the optimizer may need the information in the latter catalog instances as well. E.g., the optimizer may need to know what triggers/zone maps are there to optimize the plan for a query. It's just the optimizer is not supporting those features right now,

[2018-01-19 20:37] poojanilangekar commented on #1008
@malin1993ml I think the ZoneMaps/Triggers, etc. would never be created on startup. But instead get created when the brain calls the appropriate functions, right? So the Optimizer can always query with or without the ZoneMap/Trigger. Hence it might query`pg_catalog` for a `ZoneMap`, find that it doesn't exist and then just continue execution in the naive way. I am not sure, but I was under the imp

[2018-01-19 20:57] apavlo opened #1075 "Switch JDBC Tests to Junit"
Right now we have ghetto script that runs our JDBC tests:

https://github.com/cmu-db/peloton/blob/master/script/validators/jdbc_validator.py

It invokes the Java classes found here:

https://github.com/cmu-db/peloton/tree/master/script/testing/jdbc

Note that the current version of `jdbc_validator.py` only invokes `PelotonTest`. I have modified it in #1045 to invoke multiple classes.

-----------

[2018-01-19 21:09] malin1993ml commented on #1008
I don't know exactly how the ZoneMap works, but I thought you can only know whether a ZoneMap exists by checking the ZoneMap catalog? Can you get that from `pg_catalog`?

[2018-01-19 21:34] poojanilangekar commented on #1008
I think even if the Optimizer queried the `ZoneMapManager`, it would return `false` when querying to check whether or not the `ZoneMap` exists. Only once the `CreateZoneMap` function commits the [translation](https://github.com/cmu-db/peloton/blob/52b28abe8e281f2c71f2042d96ac89fad74c2f11/src/storage/zone_map_manager.cpp#L56), it would  return `true`. Maybe @rohit-cmu Can clear the confusion.

[2018-01-19 21:38] pervazea commented on #1049
See the comment in #1070
_When performing the commands one by one via the script, it appears that
SET ENABLE_MERGEJOIN TO FALSE;
causes the segfault._

[2018-01-19 21:38] pervazea commented on #1070
Duplicate of #1049. Closing this one.

[2018-01-19 21:38] #1070 closed

[2018-01-19 21:45] pervazea commented on #1015
With the change for #1061, is this now resolved? Is there anything still needing fixes after that change?

[2018-01-19 21:48] pervazea commented on #978
So... is this OK to close now? #1052 remains to track clang work.

[2018-01-19 22:04] pervazea commented on #845
This appears to be addressed by #926. If correct, we should close this.

[2018-01-20 03:01] sivaprasadsudhir commented on #1074
@schedutron Did you run cmake again after pulling the UDF related changes?

[2018-01-20 05:11] rohit-cmu commented on #1008
Pooja is right. It will return true only the way Pooja has mentioned it. I
also agree with the internal table APIs and the demarcation.

On Sat, Jan 20, 2018 at 3:04 AM poojanilangekar <notifications@github.com>
wrote:

[2018-01-20 06:32] schedutron commented on #1074
Perhaps I didn't. I then did a fresh build after running `cmake` and it was successful!

[2018-01-20 06:32] #1074 closed

[2018-01-20 07:17] schedutron opened #1077 "INSERT...SELECT leads to Abort Trap"
I have two tables `foo(id int, num int)` and bar(num1 int, num2 int)`. When I execute the following query:

`insert into foo(id) select num1 from bar;`

Peloton crashes and I get the following server logs:

[code]

Here's what I get on the `psql` client:

[code]

Finally, here's a big backtrace that showed up on `lldb`:

[code]

[2018-01-20 07:31] schedutron commented on #1077
This error doesn't occur when there are multiple attributes to be inserted.

[2018-01-20 17:10] schedutron opened #1080 "OLTPBench: Voter Benchmark Fails"
I get the following `oltpbenchmark` logs when benchmarking the voter database:

[code]

Here are server logs:

[code]

[2018-01-21 18:10] #978 closed

[2018-01-21 18:40] tcm-marcel commented on #1015
It should be resolved.

[2018-01-21 18:40] #1015 closed

[2018-01-21 20:45] dasdipanjan04 commented on #285
Hi,

I am kinda new to opensource-contribution. Can I work on this issue?
Sorry for asking such a silly question.

Thanks
Dipanjan

[2018-01-21 21:04] apavlo commented on #285
@dasdipanjan04 I don't think anybody is working on it at the moment. So if you want to work on it, then go for it. Keep us posted with your progress.

The tricky thing about this one is that it needs to work with @ChTimTsubasa's new `StatementCache` in #951. We will merge that in the next few days. When the txn that drops an index commits, you need to go through the `StatementCache` and invalidate

[2018-01-21 21:28] dasdipanjan04 commented on #285
@apavlo thanks for the response and for the related issue.
@mengranwo and @poojanilangekar please let me know about **correctly cleaning up the index's memory**.

[2018-01-21 22:00] malin1993ml commented on #1008
I see. Thanks for the clarification. Then I think the `ZoneMapCatalog` should be fine because we always get it from the `ZoneMapManager`.

However, there're some other catalog instances that are directly [initialized](https://github.com/cmu-db/peloton/blob/master/src/catalog/catalog.cpp#L146) when we [bootstrap](https://github.com/cmu-db/peloton/blob/master/src/catalog/catalog.cpp#L146) `pg_catalo

[2018-01-21 23:07] nappelson opened #1081 "StringFunctions::Repeat appears to allocate improper amount of memory"
disregard

[2018-01-21 23:08] nappelson commented on #1081
Simple test to indicate the behavior:
[code]

[2018-01-22 00:20] #637 closed

[2018-01-22 13:12] schedutron commented on #563
@pervazea May I work on this issue?

[2018-01-22 13:59] pervazea commented on #563
Go ahead.

[2018-01-22 14:47] #1067 closed

[2018-01-22 17:21] schedutron opened #1082 "Exceptions Cannot Propagate Across Threads"
In [`traffic_cop.cpp`](https://github.com/cmu-db/peloton/blob/03e47c4fc4019be66216709b10960f687f6de258/src/traffic_cop/traffic_cop.cpp#L573), the `catch` statement at line 573 is kind of useless:

[code]

For example, in the `default` block, the `ExecuteHelper` method spawns a thread (at line [192](https://github.com/cmu-db/peloton/blob/03e47c4fc4019be66216709b10960f687f6de258/src/traffic_cop/traf

[2018-01-22 19:28] poojanilangekar commented on #1008
I looked at the call to the `Bootstrap` function, it is followed immediately after the call to [instantiate the catalog](https://github.com/cmu-db/peloton/blob/03e47c4fc4019be66216709b10960f687f6de258/src/common/init.cpp#L68). I think we must probably ask @AngLi-Leon @mengranwo and @camellyx for the reason behind making this call right after the constructor call. I believe they had a good reason t

[2018-01-22 19:39] ChTimTsubasa commented on #1043
@pervazea  I am still not able to reproduce this error when running TATP. It looks like some error on the network state machine. If that is the case, Tianyu has a PR (or branch) that do the whole refactor on it and therefore we could try to get that in first and then see if we could solve this problem.

[2018-01-23 01:13] camellyx commented on #1008
Thanks @poojanilangekar for looping us in, and you are correct, we want to minimize the catalog tables defined in `catalog_defaults.h` because they are created in a basic way (i.e., we have to insert records into other system catalogs by hand), which is undesirable.
And from the above discussion, I believe `ColumnStatsCatalog` should be created in that basic way, because `Optimizer` depends on it.

[2018-01-23 01:54] malin1993ml commented on #1008
@poojanilangekar I agree that we should have a `CatalogManager` that keeps track of all the catalogs. That would help in general no matter how we eventually decide to solve this issue.
@camellyx That's for being involved! Well, without a `CatalogManager`, everything would be dependent except `ZoneMapCatalog` which has a manager. If we have a manager, then I think it still depends:
1. For `ColumnSt

[2018-01-23 03:25] #1081 closed

[2018-01-23 03:25] nappelson commented on #1081
misinterpreted what was going on sorry

[2018-01-23 07:31] schedutron opened #1084 "Unable to Start Peloton Server"
Here's what I get in the logs:

[code]

[2018-01-23 10:23] schedutron opened #1085 "LENGTH() is incorrect"
The inbuilt function `length()` doesn't compute lengths correctly:

[code]

[2018-01-23 11:39] schedutron commented on #563
What should be the return type of `coalesce`? `UDT`?

[2018-01-23 14:40] schedutron opened #1089 "Peloton crashes when inserting nonconvertible integer string"
Peloton server crashes for the following session:

[code]