[2018-01-23 15:39] pervazea commented on #563
According to the Postgres documentation, coalesce returns the first non-null argument. The type will be whatever the type is of that argument. You should be able to exercise the function in Postgres, and and see what it does.

One of the experts should correct me if I'm reading it wrong.

[2018-01-23 16:21] pervazea commented on #1089
See #829. I believe this issue is just one case.

[2018-01-23 19:13] schedutron commented on #1089
Yes, but I think #1063 fixes all of those issues.

[2018-01-23 19:20] schedutron commented on #563
Yes, that could be any type, so with what return type should I register it in `AddBuiltinFunction` in `catalog.cpp`?

[2018-01-23 23:06] dasdipanjan04 commented on #285
@apavlo I have implemented the DropIndex with one Test case in drop_test and will see what happens after #951 merge. Please pardon me if I have understood/did anything wrong.

[2018-01-24 19:00] yjc408 opened #1091 "Failure to install peloton on vagrant hosted on Mac"
When I installed peloton with vagrant hosted Mac, I got the following error message every time:

../lib/libpeloton.so.0.0.5: undefined reference to `pg_query_free_parse_result'
../lib/libpeloton.so.0.0.5: undefined reference to `pg_query_parse_init'
../lib/libpeloton.so.0.0.5: undefined reference to `pg_query_parse'
../lib/libpeloton.so.0.0.5: undefined reference to `pg_query_parse_finish'

[2018-01-24 20:54] poojanilangekar opened #1093 "CMake version on the Vagrant VM needs to be upgraded"
The current version of CMake on the Vagrant VM is cmake-2.6. While Cap'nProto does not build needs a minimum of cmake- 3.1 to be installed.

[2018-01-24 20:55] poojanilangekar commented on #1091
What's the version of CMake on your VM?

[2018-01-25 14:49] pervazea commented on #1043
This is without the network re-factored code.
...
2018-01-25 09:44:12 [/home/proj/peloton-pa/peloton/src/network/postgres_protocol_handler.cpp:1166:ProcessPacket] DEBUG - EXECUTE_COMMAND
2018-01-25 09:44:12 [/home/proj/peloton-pa/peloton/src/network/postgres_protocol_handler.cpp:1158:ProcessPacket] DEBUG - BIND_COMMAND
2018-01-25 09:44:12 [/home/proj/peloton-pa/peloton/src/network/postgres_protoco

[2018-01-25 21:01] tcm-marcel opened #1094 "Refactor python scripts"
As suggested from @pervazea in #1061:

* convert source validator and source formatter to python3
* run Pylint
* remove globals where possible
* put duplicated functions in library
  * Call to clang-format together with finding its correct veesion

[2018-01-25 21:04] #1066 closed

[2018-01-25 21:37] pervazea commented on #1043
A bit more information from a run with tracing enabled.
- tried to configure loaderThreads to 1 for OLTPBench, but it seems to only partly honour this value. Number of actual loader threads reported was 3.
- query that failed is below, different data from previous failure.
- see extract from trace log below, suspected cause of failure in bold. Need assistance in interpreting what it means.

----

[2018-01-26 07:17] schedutron commented on #1094
Can I work on this one?

[2018-01-26 11:50] tcm-marcel commented on #1094
Sure. I added two more things to the description.

[2018-01-26 14:46] apavlo commented on #1043
@lmwnshn Can you check on this? I'm not sure why the loader threads flag isn't working correctly. We need to check whether there is a true constraint violation (i.e., duplicate keys) or whether we are reporting a false positive.

[2018-01-26 14:49] apavlo commented on #1003
Merged in #1037

[2018-01-26 14:49] #1003 closed

[2018-01-26 20:27] apavlo opened #1096 "Move Garbage Collector Thread Setting into SettingsManager"
Right now the number of garbage collector threads is hardcoded to one:

https://github.com/cmu-db/peloton/blob/master/src/gc/gc_manager_factory.cpp#L21

We need to move this into the `SettingsManager` so that we can change this more easily:

https://github.com/cmu-db/peloton/blob/master/src/include/settings/settings_manager.h#L29

Eventually we will want to add the ability to dynamically change th

[2018-01-26 20:31] apavlo opened #1097 "New Utility Class for Extracting Information about Query Plan"
@saatviks needs to be able to find out what indexes a query will modify without having to actually run it. If it is an INSERT/DELETE, then it will update all tuples. If it is an UPDATE, then it will only affect the indexes that are based on the attributes being modified by the query. The key way this will work is that the function has to be given a `CatalogCache` object, since we want the catalog

[2018-01-26 20:54] pranavk commented on #1096
Hi,

I am taking this up unless somebody else is already on it.

[2018-01-26 21:21] pervazea opened #1100 "make check fails on trace build"
Trace build (fixes for building with trace not pushed yet).
Only the last little bit of output is shown below as the full output 1) wasn't collected, 2) would be huge.

I wonder if the bad allocation is a symptom of a memory leak. The allocation failing when we run out of memory. Real cause to be determined.

170: 2018-01-26 16:06:21 [/home/proj/peloton-pa/peloton/src/index/bwtree_index.cpp:3022:T

[2018-01-26 21:42] pervazea commented on #1100
Not definitive, but a partial run of "make check" on the trace build, shows memory usage steadily creeping up (as reported by htop). Stopped the test part way, as running to failure takes a long time.

[2018-01-27 03:01] pervazea opened #1101 "ORDER BY is broken"
If you run psql_test.sh
(run from the build directory i.e. ../script/testing/psql/psql_test.sh)

the test fails. If you modify the script to leave the psql output file, or run the commands by hand, you can see that the output is not sorted correctly.

[2018-01-27 03:16] crd477 commented on #1101
Is this the cause of the failure in:
http://jenkins.db.cs.cmu.edu:8080/blue/organizations/jenkins/crd%2Fcrdp/detail/jenkins/40/pipeline/18/
for example?

[2018-01-27 03:53] apavlo commented on #1101
Ugh, we never testing this?

[2018-01-27 10:38] schedutron commented on #1094
What happens sometimes is, I edit a source file, and only the edited part isn't formatted well. The validator complains, and then I run the formatter and it formats the entire file. When I push my commits, it's a bit difficult for the reviewers to separate my work from the formatter's cleaning in the diff. Can we somehow add functionality to make the formatter run only on the edited part of a sour

[2018-01-27 15:07] tcm-marcel commented on #1094
You can create a first commit with `commit --no-verify` and then format the file in a second commit. This way the reviewer can only use the first commit for the review.

[2018-01-27 18:56] pranavk commented on #1097
@schedutron  Hmm, I'm also looking into it. Sorry for not updating the status beforehand. Have you already started working on it? If not, do you mind me taking care of this till the weekend ends? :)

Otherwise, no problems at all; you can ignore this message :)

[2018-01-27 21:14] pbollimp commented on #858
Thanks to @malin1993ml for resolving this issue by moving `#include "postgres.h"` from `third_party/libpg_query/src/pg_query_fingerprint.c` to the top of the file to link successfully. That will force that .c file to include the macro definition of `PG_USE_INLINE` from `postgres.h` first before including `pg_list.h` in which case, we can have a real definition instead of the extern declaration whe

[2018-01-27 21:14] #858 closed

[2018-01-27 22:43] pmenon commented on #1101
Strange, this is working for me on master.

[2018-01-28 02:23] apavlo opened #1103 "Reorganize Directory Layout"
Audit the list of directories and see whether to put some directories inside of each other. Here some possible things to move:

* ~~'src/container' -> 'src/common/container'~~
* 'src/util' -> 'src/common/util'
* 'src/threadpool' -> 'src/common/threadpool'
 * 'src/statistics' -> 'src/storage/statistics'
* Rename 'concurrency' -> 'transaction'
* Rename 'src/settings' to 'src/setting'
* Rename 'src/s

[2018-01-28 04:56] lmwnshn commented on #1043
Sorry for the delay! Here's what I got.

**Summary**:
S1. Could initially reproduce issue exactly once (reason: subscriber relation didn't exist).
S2. But upon rerunning same command with same config, couldn't reproduce issue. All subsequent attempts at reproducing issue failed.
S3. Loader threads appear to work on my end - could you please provide me a sample config that doesn't? I can try tweaki

[2018-01-28 10:32] pranavk commented on #1073
Oops. Sorry for stepping on to your toes. Didn't notice this before. I have a fix for this in #1098

[2018-01-28 11:41] klimagor opened #1106 "build and install does not work on Fedora"
make -j4

[  1%] Built target capnp
[  3%] Built target peloton-proto
[ 16%] Built target pg_query
make[2]: *** No rule to make target 'external/capnp-install/lib/libcapnp-rpc.a', needed by 'lib/libpeloton.so.0.0.5'.  Stop.
make[1]: *** [CMakeFiles/Makefile2:1194: src/CMakeFiles/peloton.dir/all] Error 2
make: *** [Makefile:141: all] Error 2

[2018-01-28 12:05] pranavk opened #1107 "Updating a table with a secondary index -> segfault"
create table test(a int, b int);
insert into test values(1,2), (4,4), (434, 434);
select * from test;
create index idxa on test(a);
update test set a = 54; // BOom !

[2018-01-28 12:06] pranavk commented on #1106
#1083 fixes this issue.

[2018-01-28 12:11] pranavk commented on #1107
This seems to be a duplicate of 686  Closing this one.

[2018-01-28 12:11] #1107 closed

[2018-01-28 13:18] klimagor commented on #1106
Thanks a lot.
I removed the relevant lines manually from the `capnproto.cmake` file.

Now I have errors related to the LLVM:
[code]

[2018-01-28 13:25] klimagor commented on #1106
These errors were with LLVM version 4.0.1.
After upgrading to LLVM version 5.0.1, there are different errors:

[code]

[2018-01-28 14:27] pranavk commented on #1106
I don't think peloton is compatible with LLVM 5 (yet). [Atleast the error message seem to suggest that; binary incompatibility, linking errors, etc.)

I am on Fedora as well and it works for me with LLVM 4.0.1. Not sure where that LLVMBinaryFormat is coming from.

[2018-01-29 03:48] pervazea commented on #1073
No worries.

________________________________
From: Pranav Kant <notifications@github.com>
Sent: Sunday, January 28, 2018 5:32 AM
To: cmu-db/peloton
Cc: Pervaze Akhtar; Assign
Subject: Re: [cmu-db/peloton] Trace build fails (#1073)

Oops. Sorry for stepping on to your toes. Didn't notice this before. I have a fix for this in #1098<https://github.com/cmu-db/peloton/pull/1098>

-
You are receiving t

[2018-01-29 14:07] pervazea commented on #1073
Addressed by #1098

[2018-01-29 14:07] #1073 closed

[2018-01-29 14:28] pervazea commented on #1085
The required fix is more involved than what you have in #1086. (I'm not familiar with all the code, so I'm relaying information).

-  You need to look at the representation of strings. The bug arises from the inconsistency between the representation, the stored data and how the code handles those. You'll probably want to start at the lowest level and make sure there is a consistent approach all th

[2018-01-29 14:32] pervazea commented on #1084
Since the fix for #1086 is incomplete (and therefore not completely correct), this issue is probably invalid. I'm going to close it for now.

[2018-01-29 14:32] #1084 closed

[2018-01-29 15:26] tcm-marcel commented on #1068
The difference between the two properties is following part:
`$<$<NOT:$<CONFIG:DEBUG>>:/usr/lib/x86_64-linux-gnu/libprotobuf.so>;$<$<CONFIG:DEBUG>`
vs.
`/usr/lib/x86_64-linux-gnu/libprotobuf.so`

I don't know where to start looking for the problem. And if I understand cmake correctly, the `$<...>` part should have been resolved before and not show up in this property at all.

[2018-01-29 18:21] pervazea commented on #1101
Prashanth did additional diagnosis using my machine. I'll try to record his findings as accurately as possible below.

The index constructed, is out of order. The plan executed when the test executes "order by", is an index scan.

Some variations that make this more complicated:

1.  If the table is created with a PRIMARY  KEY, the bug occurs. If you do not create column "id" as a PRIMARY KEY, it

[2018-01-30 01:23] crd477 commented on #1101
Just for another data point, hyperthreading is enabled on the Jenkins system:
[code]
Let me know if you want me to disable it there.

[2018-01-30 14:11] pervazea commented on #1101
I think we leave hyperthreading on and try to fix the bug ASAP.

________________________________
From: crd477 <notifications@github.com>
Sent: Monday, January 29, 2018 8:23 PM
To: cmu-db/peloton
Cc: Pervaze Akhtar; Author
Subject: Re: [cmu-db/peloton] ORDER BY is broken (#1101)

Just for another data point, hyperthreading is enabled on the Jenkins system:

$ lscpu
Architecture:          x86_64
CP

[2018-01-30 17:25] ChTimTsubasa opened #1111 "SSL Handshake is inefficient"
At SSL handling stage, the thread would be blocked until the SSL handshake is successful (https://github.com/cmu-db/peloton/blob/master/src/network/network_connection.cpp#L745).

Even the blocking IO fix on this is better the current implementation.

The best way this should work is to let it return to the event loop and wait for the event triggering to do SSL_accept().

I would **FIX** this.

[2018-01-30 18:22] n3ko1 opened #1112 "Wiki contains link to potential malware site"
Hi,

I hope this is the right place to report.

while going through the Wiki I noticed the link "Tips and tricks from an open-source developer" on https://github.com/cmu-db/peloton/wiki/GDB (`http://michael.otacoo.com/manuals/postgresql/`) now leads to a potentially malicious site (heavy ad-ware, at least).

Best
Lucas

[2018-01-30 18:44] crd477 commented on #1112
I modified it to go to the [author's new site](http://paquier.xyz/manuals/postgresql/) instead.

[2018-01-30 18:55] apavlo commented on #1112
@n3ko1 @crd477 Thank you both!

[2018-01-30 18:55] #1112 closed

[2018-01-30 19:52] lmwnshn commented on #1043
Recapping our earlier meeting @pervazea, we've determined that

1. It works on Postgres, not on Peloton.
2. LoaderThreads are fine (the BenchmarkModule message may be misleading)
3. Currently, Peloton can insert one subscriber entry before failing. If we disable UNIQUE on the subscriber DDL, then we manage to insert one or two more before it fails. This was determined by changing the batch size to

[2018-01-30 22:04] pervazea commented on #1101
Running the following SQL, that reproduces the issue:
CREATE TABLE foo(id integer PRIMARY KEY, year integer);
-- load in the data
INSERT INTO foo VALUES(1, 100);
INSERT INTO foo VALUES(2, 200);
INSERT INTO foo VALUES(3, 300);

With data gathered from DataTable::InsertInIndexes at each instance after INSERT is executed
First time:
Breakpoint 1, peloton::storage::DataTable::InsertInIndexes (
    thi

[2018-01-31 03:46] apavlo opened #1114 "Create HashIndex Class"
The catalog team needs a fast index for looking object objects based on their OIDs. Right now we only support the Bw-Tree for indexes. We need to switch to use a hash table index for these. Peloton already links in libcuckoo in its build chain, so we can just use that:

https://github.com/cmu-db/peloton/tree/master/third_party/libcuckoo

There are three parts to this task:

1. Create a new class c

[2018-01-31 14:55] pervazea commented on #1042
This should be re-run with log4j debug logging, to see if there actually is progress being made.

[2018-01-31 14:59] pervazea commented on #1043
When UNIQUE is removed from the DDL, loading proceeds.

(Running now, has not failed, has not completed either). This was Wan's suggestion. When we applied the DDL change yesterday, we didn't apply it correctly, so disregard 3) in the previous comment.

[2018-01-31 15:31] pervazea commented on #1043
Running with default values for the benchmark configuration (except for removing UNIQUE).
For the first 1k subscribers, load time is 8s
For 1k loads at 9k mark (going from 9k loaded to 10k loaded), load time is 2m 5s
For 1k loads at 19k mark (going from 19k loaded to 20k loaded), load time is 4m 34s

So

1. This seems unreasonably slow, both in load time and degradation of load time as record coun

[2018-01-31 15:54] pervazea commented on #1043
With scale factor adjusted to 0.02 (which results in 2k subscribers), the benchmark runs to completion, with the following output (FYI). Not attaching the full result set, since this is just a trial run.

`10:43:18,476` (DBWorkload.java:825) INFO  - Rate limited reqs/s: Results(nanoSeconds=20999511721, measuredRequests=10049) = 478.5349361219083 requests/sec
10:43:18,509 (DBWorkload.java:682) INFO

[2018-01-31 16:41] pervazea commented on #1042
Not conclusive, but I'm reasonably convinced that I'm seeing the same problem as observed with TATP, i.e. the configuration uses a large number of records and the loading of those records is slow. Since TPCC provides almost no progress indicators (even with debug logging enabled), it looks like things are hung. Periodic progress updates are needed from oltpbench for TPCC. Also, the configuration l

[2018-01-31 17:27] neo-apz opened #1116 "Failing to compile OLTPBench"
I'm using the vagrant and the provided VM to run Peloton. I managed to build Peloton successfully; however when I want to compile OLTPBench with `ant`, it fails and gives me an error:

[code]

The error clearly doesn't make sense as it's complaining about one of Java's own classes (`Long`). Is there something I'm missing in the build process?

[2018-01-31 18:21] lmwnshn commented on #1043
For reference, on Postgres the runtime for 2000 subscribers (scalefactor 0.02) is 1min 30s with debug printing enabled.

[2018-01-31 19:09] apavlo commented on #1116
Can you post this issue on the OLTP-Bench repo? This is not a Peloton-specific problem.

https://github.com/oltpbenchmark/oltpbench

[2018-01-31 19:09] #1116 closed

[2018-01-31 19:09] pervazea commented on #1043
TATP, scalefactor 0.02, which produces 2000 subscribers.
Peloton release build (see note), oltpbench with logging set at debug level.

Operation (secs) | Codegen on|Codegen off|
------------ | -------------|-----------------|
1k load | 7 | 5 |
runtime | 131 | 64 |

Note: foreign key support generates excess logging, even in release builds. This was temporarily removed.

[2018-01-31 19:31] pervazea opened #1117 "UNIQUE causes transaction abort"
Observed when initially working on issue #1043, i.e. when running OLTPBench, TATP benchmark.

Postgres ddl has:
`...
CREATE TABLE subscriber (
   s_id INTEGER NOT NULL PRIMARY KEY,
   sub_nbr VARCHAR(15) NOT NULL UNIQUE,
...

Peloton schema modified to omit UNIQUE.

With the original DDL, when the loader starts inserting records into the subscriber table, we get:
- first record is successfully ins

[2018-02-01 03:07] pervazea commented on #1117
Using
CREATE TABLE t (
  id INTEGER NOT NULL PRIMARY KEY,
  st VARCHAR(15) NOT NULL UNIQUE);

I get an assertion failure at schema.cpp line 156
PL_ASSERT(column_index < schema->columns.size());

Incorrect assertion?

[2018-02-01 03:40] pervazea commented on #1117
Using
CREATE TABLE t (
  id INTEGER NOT NULL PRIMARY KEY,
  st VARCHAR(15) NOT NULL UNIQUE);

I get an assertion failure at schema.cpp line 156
PL_ASSERT(column_index < schema->columns.size());

Incorrect assertion?

[2018-02-01 03:48] pervazea commented on #1117
There is an interaction between UNIQUE and batch updates. Doing inserts via psql, works fine, as does setting the batch size to 1 for the TATP loader.

So, there is an interaction between UNIQUE, batch updates and transactions. The TATP loader calls commit after executing the batch, so I assume autocommit is turned off.

[2018-02-01 05:53] ChTimTsubasa opened #1118 "Handle skip_stmt in a systematic way"
The current implementation uses HardcodedFilter() in postgres_protocol_handler to filter the query types that are not supported in our system. This is hacky and does not take into account some corner cases such as empty query. Besides, it also mixes non-supported query type with nested query prevention.

The correct way to do this is probably to filter in traffic_cop. As this is not only relevant

[2018-02-01 06:02] yingjunwu commented on #1118
Are you asking whether supporting nested transactions requires any major changes to the current transaction manager?

[2018-02-01 14:13] ChTimTsubasa commented on #1118
Or any changes?

[2018-02-01 14:22] pervazea commented on #1117
With UNIQUE, errors are reported in the trace logs, but none without.

[/home/proj/peloton-pa/peloton/src/network/postgres_protocol_handler.cpp:887:ExecExecuteMessageGetResult] ERROR - Failed to execute: No string conversion for ResultType value '7

so... update std::string ResultTypeToString to include "TO_ABORT"

[2018-02-01 19:18] yingjunwu commented on #1118
We do not support nested transactions for now as (1) I am not sure how read/write set could be tracked; (2) Some synchronization between inner and outer transactions must be added; (3) logging must be aware of this type of transaction.

I will think about it later. Let's make logging happen first.

[2018-02-01 19:34] tli2 opened #1119 "Eliminate statically accessed singletons"
We have a lot of singletons statically initialized and accessed. (`ClassName::Init(), ClassName::GetInstance()`) This is bad for reasoning about dependency and especially bad for testing since it is hard to stub out singletons. To remove them two things need to be done:

- Identify classes that are no longer relevant or should not be singleton in the first place. (e.g. `peloton::gc::GCManagerFacto

[2018-02-02 00:27] chenboy commented on #858
Hi, @pbollimp @malin1993ml I'm also hitting this error. But I called a different set of functions in the `libpg_query` package: `pg_query_parse_plpgsql()` and `pg_query_free_plpgsql_parse_result()`, so including the header only in `pg_query_fingerprint.c` won't work for me. I think a more general fix should be including this header in `third_party/libpg_query/pg_query.h`. What do you think of it?

[2018-02-02 03:35] malin1993ml commented on #858
Hi @chenboy, so it's not about the .h file. It's about the .c file where the function you need is defined **(not declared)**. In your case, I think move `pg_query_internal.h` to the top of `pg_query_parse_plpgsql.c` would do it.

I don't know whether we should include `postgres.h` in `pg_query.h` because that basically will change the logic of the postgres parser. There may or may not be potential

[2018-02-02 03:49] pervazea commented on #1117
Minimal SQL for reproducing was:
CREATE TABLE t (
  id INTEGER NOT NULL PRIMARY KEY,
  st VARCHAR(15) NOT NULL UNIQUE);

INSERT into t values (1, 'abc');
INSERT into t values (2, 'def');

[2018-02-02 04:13] #833 closed

[2018-02-02 18:28] ChTimTsubasa commented on #845
This issue has been adressed

[2018-02-02 18:28] #845 closed

[2018-02-04 23:48] dasdipanjan04 commented on #285
Works fine after implementing the requested changes by @poojanilangekar .

[2018-02-05 15:18] pervazea opened #1124 "psql_test.sh failing"
terminate called after throwing an instance of 'peloton::CatalogException'
  what():  Can't find Database postgres to create table
../script/testing/psql/psql_test.sh: line 64:  7025 Aborted                 (core dumped) bin/peloton -port $PELOTON_PORT > /dev/null
***FAIL***

[2018-02-05 15:26] pervazea commented on #1124
I've run this on PR's  #1101,  #1117 which are both close to master. Not yet run on master but I'm assuming is broken there.

[2018-02-05 15:35] crd477 commented on #1124
I've seen that before too and it appears to me to be an intermittent error.

[2018-02-05 16:10] pervazea commented on #1124
This particular error is 100%.

Possibly, this is related to our catalog work.
We are trying to use database "postgres", which I assume we are now getting from the connection, while previously we had some hard coded notion of "default_database".

[2018-02-05 19:14] pervazea commented on #1124
This will be addressed in PR #1101, by changing the user to default_database, for the psql_test.sh script.

[2018-02-06 13:58] #1117 closed

[2018-02-06 13:58] #1124 closed

[2018-02-06 13:59] #1101 closed

[2018-02-06 14:14] schedutron commented on #1094
Since the formatter and validator are in different folders, the common library functions have to be put in a package so that both can import them. So should I create a package for the common functions?

[2018-02-06 17:52] schedutron commented on #1094
Should other Python scripts, like `warning-fixer.py` also be formatted?

[2018-02-06 17:58] pervazea commented on #1094
FYI, there are accepted coding standards (best practices) for Python, i.e. PEP-8. If you are reformatting the Python code, you should look at and follow PEP-8.

________________________________
From: Saurabh Chaturvedi <notifications@github.com>
Sent: Tuesday, February 6, 2018 12:53 PM
To: cmu-db/peloton
Cc: Pervaze Akhtar; Mention
Subject: Re: [cmu-db/peloton] Refactor python scripts (#1094)

Sho

[2018-02-06 18:04] schedutron commented on #1094
@pervazea I know, I have contributed to Python's core documentation :)

I'm using `pylint` here, which uses `PEP-8` as a default configuration. What I want to know here is whether scripts other than the formatter and the validator should also be formatted and ported.

[2018-02-06 18:16] pervazea commented on #1094
That's good. Thanks.

________________________________
From: Saurabh Chaturvedi <notifications@github.com>
Sent: Tuesday, February 6, 2018 1:04 PM
To: cmu-db/peloton
Cc: Pervaze Akhtar; Mention
Subject: Re: [cmu-db/peloton] Refactor python scripts (#1094)

@pervazea<https://github.com/pervazea> I know, I have contributed to Python's core documentation :)

I'm using pylint here, which uses PEP-8 as

[2018-02-06 19:00] apavlo commented on #1094
Maybe we should put the formatter and validator in the same folder?

[2018-02-06 19:14] schedutron commented on #1094
@apavlo Indeed, we can do that, but it may not be a good choice in the long run. I'll try to create a package soon, it simply involves creating a bunch of `__init__.py` files.

[2018-02-06 23:01] ZiluTian opened #1129 "Error when starting Peloton server"
Hello,
I am getting started with Peloton and have some issues when I tried to bring up peloton server. I followed the installation instruction for vagrant. Installation completed successfully with no error. But when I tried to bring up by typing $pelont, I received two error messages complaining about loading root_crt and server certificate, as shown below:

vagrant@vagrant-ubuntu-trusty-64:~$ pel

[2018-02-06 23:04] ZiluTian commented on #1129
Also, I noticed the timestamp is wrong. My local machine is 1hr earlier than the timestamp printed out.

[2018-02-06 23:42] apavlo commented on #1129
You need to connect to it on the right port:

[code]

I will fix the wiki instructions.

[2018-02-06 23:42] #1129 closed

[2018-02-07 13:53] ZiluTian opened #1131 ""Can't find Database Postgres" when running "create table ...""
Hello,
Thanks for the previous response! I can now connect to the server successfully. However, when I try the commands on the tutorial page, the first one

create table foo(id integer, year integer);

throws an error at me and the server closed the connection:

"terminate called after throwing an instance of 'peloton::CatalogException'
  what():  Can't find Database postgres to create table
Abort

[2018-02-07 14:01] ZiluTian commented on #1131
I tried the commands listed here:
https://www.digitalocean.com/community/tutorials/how-to-create-remove-manage-tables-in-postgresql-on-a-cloud-server

and I received errors for all of them, either failed to resolve the domain name or failed to fetch.

[2018-02-07 14:05] apavlo commented on #1131
You have to create the database first:

`CREATE DATABASE postgres;`

[2018-02-07 14:11] schedutron commented on #1131
And then connect to it via `\c postgres`...

[2018-02-07 14:17] ZiluTian commented on #1131
Thanks so much! The second error remains though. Is there any hack to get around it? Thanks!

[2018-02-07 14:21] schedutron commented on #1131
I think the line `SET ENABLE_MERGEJOIN TO FALSE;` in the test script is causing the segfault.

[2018-02-07 14:29] ZiluTian commented on #1131
Hi, thanks for your suggestion! I have tested both commenting the line out and setting it to TRUE, the error message remains though.

[2018-02-07 14:32] schedutron commented on #1131
Try commenting out all the `SET` lines maybe?

[2018-02-07 14:46] ZiluTian commented on #1131
Hi, I commented out all the set lines and here is the error message:

2018-02-07 14:42:18 [src/codegen/util/bloom_filter.cpp:59:Init] INFO  - BloomFilter num_bits: 4745610 bits_per_element: 9.491220 num_hash_funcs: 1
Segmentation fault (core dumped)

[2018-02-07 19:39] pmenon commented on #1131
@ZiluTian Thanks for reporting this.

@pervazea The server is crashing in the optimizer (backtrace [here](https://gist.github.com/pmenon/072bb5d275fc9f21aa68e5c014e3d400)). Coordinate with @chenboy, he should have a better idea of what's going on.

[2018-02-07 23:52] pervazea commented on #1019
@apavlo , @pmenon and anyone else wishing to comment.

The changes in PR #1110 look fine, but a few small things to resolve:
1. If I was writing new code, what convention should I follow? We should document the conventions somewhere, maybe in coding_style.md?

1. What are the conventions? There are suggestions and opinions on some items above, but it isn't clear what the final agreement was? Lets

[2018-02-07 23:55] pervazea commented on #1131
This is a duplicate of #1049

[2018-02-08 01:41] chenboy commented on #1131
The reason is the optimizer does not support outer join. We discussed in the team meeting this afternoon, this should be fixed in the near future.

[2018-02-08 01:41] pervazea commented on #1072
This is not a typo.
It is left as an exercise to the reader to understand why. As a hint, read the specification of the trim group of SQL functions. It does seem though, that the function header documentation for AddBuiltinFunction is not entirely correct.

[2018-02-08 01:41] #1072 closed

[2018-02-08 01:59] pervazea commented on #1024
@schedutron
The operation as specified in the bug, works fine. I assume you are doing something more than just
"create database test".

Can you update this report with complete information on how you are reproducing this problem?

[2018-02-08 04:20] #285 closed

[2018-02-08 07:52] schedutron commented on #1024
At the time of the submission of this issue, I was precisely getting that error. Maybe I was also doing `\c test`.

[2018-02-08 14:24] pervazea commented on #1049
Closing as a duplicate of #1131

[2018-02-08 14:24] #1049 closed

[2018-02-08 14:26] pervazea commented on #1024
Insufficient information to reproduce.

[2018-02-08 14:26] #1024 closed

[2018-02-09 13:40] schedutron commented on #1094
@apavlo I've packaged the `script` folder in #1127. Should I also refactor the Python scripts you recently added?

[2018-02-09 15:06] pervazea opened #1135 "Can't find Database xxxx to create table"
Trying to run oltpbenchmarks after recent changes.

I believe we now pick up the database to use from the connection, rather than defaulting to default_database. This breaks the current configuration for oltpbenchmarks.

Couple of possible fixes:

1. Change the xxx_config.xml file to specify default_database, e.g.
    <DBUrl>jdbc:postgresql://localhost:15721/ycsb</DBUrl>
becomes
    <DBUrl>jdbc:po

[2018-02-09 15:30] pervazea opened #1136 "index_name for foreign keys exceeds max length"
Running the tatp benchmark from oltpbench

(gdb) print index_name
$3 = "call_forwarding_FK_special_facility_1"

This is 37 characters, without counting any null termination. The maximum index length  is 32 as defined by:

.../src/include/catalog/abstract_catalog.h
// Maximum column name size for catalog schemas
static const size_t max_name_size = 32;

What is the right fix?

Possible options:
1. T

[2018-02-09 16:22] mengranwo opened #1137 "Avoid data copy when constructing catalog object cache"
When creating a [catalog object cache](https://github.com/cmu-db/peloton/blob/master/src/catalog/table_catalog.cpp#L27) (I'll use table catalog object as an example), we pass in an `executor::LogicalTile` in the constructor and use the `GetValue()` method to extract result for specific column. However, `GetValue()` method involves tons of unnecessary data copy. What we want is to [reinterpret_cast

[2018-02-09 21:56] apavlo commented on #1135
Change the config files.

[2018-02-09 21:58] apavlo commented on #1136
@mengranwo What does Postgres do?

[2018-02-09 22:09] mengranwo commented on #1136
@apavlo
According to [PostgreSQL Version 9.6](https://www.postgresql.org/docs/9.6/static/sql-syntax-lexical.html)
The system uses no more than NAMEDATALEN-1 bytes of an identifier; **longer names can be written in commands, but they will be truncated**. By default, NAMEDATALEN is 64 so the maximum identifier length is 63 bytes.

[2018-02-10 00:05] MohamedBouzid commented on #1114
hi, I am interested to contribute

[2018-02-10 02:06] pervazea commented on #1136
For reference, what Postgres did:
<pre>
         Table "public.call_forwarding"
   Column   |         Type          | Modifiers
------------+-----------------------+-----------
 s_id       | integer               | not null`
 sf_type    | smallint              | not null
 start_time | smallint              | not null
 end_time   | smallint              |
 numberx    | character varying(15) |
Index

[2018-02-10 08:36] zhaoguoquan94 commented on #973
I and Vamshi discussed this issue. We don't think that libcds has a lock-free ARRAY data structure. We can use a KV map in libcds to replace it, but this will add a lot of lookup overhead.
If we'd like to reduce the memory usage asap, we could just **lower the default array size**. Currently, it is a fixed size array. It will crash after adding 1048576 values anyway. And only two files are using i

[2018-02-10 19:04] schedutron opened #1141 "Unable to connect to Peloton server"
I try to connect to Peloton server with the command `psql "sslmode=disable" -h localhost -p 15721`, but the connection fails and I get the following logs on the server side:

[code]

[2018-02-10 19:09] schedutron commented on #1141
I'm attaching few screenshots since the above dump is (relatively) less readable:

<img width="1280" alt="screen shot 2018-02-11 at 12 35 37 am" src="https://user-images.githubusercontent.com/22810216/36065659-cf6b117a-0ec3-11e8-95d7-57fee3528a6d.png">
<img width="1280" alt="screen shot 2018-02-11 at 12 35 59 am" src="https://user-images.githubusercontent.com/22810216/36065665-da5a3c1e-0ec3-11e8-9

[2018-02-10 21:49] MohamedBouzid commented on #1114
@apavlo  Ok i will be happy to do so. How the meeting will be held ?

[2018-02-12 04:34] ChTimTsubasa commented on #1002
This is addressed.

[2018-02-12 04:34] #1002 closed

[2018-02-12 04:45] ChTimTsubasa commented on #1055
This error is thrown in the database.cpp

I have printed the logs by gdb:

0x00007ffff63b5abe in peloton::catalog::TableCatalogObject::GetTableOid (this=0x0)
    at /home/tianyi/Documents/project/peloton/src/include/catalog/table_catalog.h:74
74        inline oid_t GetTableOid() { return table_oid; }
(gdb) backtrace
#0  0x00007ffff63b5abe in peloton::catalog::TableCatalogObject::GetTableOid (this=

[2018-02-12 08:25] schedutron commented on #1055
There's a throw statement in `catalog.cpp` as well which addresses this. I'm using it to fix this issue in #1056.

[2018-02-12 18:07] neo-apz commented on #1042
How long should this roughly take?

[2018-02-12 18:42] chenboy opened #1146 "Having clause with aggregate expression not supported"
Seems like our codegen engine does not support aggregate expression in having clause. When I try to run query `SELECT AVG(a), b FROM test GROUP BY b HAVING AVG(a) = 3.5`, the codegen engine throws an exception 'We don't have a translator for type: AGGREGATE_AVG".

I'm porting last part of Patrick's capstone project, unnesting sub-query with aggregation, currently I'm blocked by this. Can anyone he

[2018-02-12 19:05] pmenon commented on #1146
This can probably just be a TVE on the `AVG(a)` output column?

[2018-02-12 19:08] apavlo commented on #1042
@neo-apz It's unclear. It's a unknown bug. If we knew what was causing the problem then we would know how to fix it.

[2018-02-12 19:09] dasdipanjan04 commented on #1141
I was about to create the same issue. Happened with me too. @schedutron thanks for creating this issue.

[2018-02-12 19:13] neo-apz commented on #1042
No I meant how long the loading process takes.
Because it's not clear whether it has hung or it is still loading the data. I can see it's consuming both CPU and memory resources, but it's still unclear whether it's actually making any progress.
So I'll really appreciate it if I know how long it roughly takes to load all the data, so that I know whether it's hung or not.
Thanks

[2018-02-12 19:14] dasdipanjan04 commented on #1114
Hi,

Is anyone working on this issue? If not I would like to work on this. @MohamedBouzid  @apavlo please let me know.

Thanks and Regards
Dipanjan Das

[2018-02-12 19:50] chenboy commented on #1146
Thanks, I’m going to implement in this way. Just want to make sure this isn’t too hacky.

[2018-02-13 04:26] apavlo commented on #1114
@MohamedBouzid Tuesdays @ 12pm (GHC 7501)

@dasdipanjan04 @qwkai is working on this.

[2018-02-13 14:09] pervazea commented on #1042
Loading time depends upon the configuration, what you have set in tpcc_config.xml. I'm using a scalefactor of 1, and loading time is still a problem. I don't remember the exact numbers, but when I extrapolated from progress last time I made observations, the loading time was going to be in the hours.

See the attached file. Rename it to log4j.properties  and place in the working directory from whe

[2018-02-13 14:35] crd477 commented on #1093
I think the change in https://github.com/cmu-db/peloton/commit/0fc7c2021c8b117f78f2df5c591727a69ca662cc#diff-46454d00238f98e83096b2d44703df7e should have resolved this but I don't have access to Vagrant.  Could you please check?

[2018-02-13 21:57] schedutron commented on #1141
Maybe this presentation will be useful to fix this: https://llvm.org/devmtg/2014-04/PDFs/LightningTalks/EuroLLVM%202014%20--%20container%20overflow.pdf

[2018-02-14 16:18] pervazea opened #1151 "Insert performance regression"
The reported numbers are generated on release build, timing the insert of 10k records (database loading) when running the YCSB benchmark. Times are as reported by the YCSB benchmark by enabling debug output.
Run on:
model name      : Intel(R) Core(TM) i7-4700MQ CPU @ 2.40GHz
8 cores (4 real, 4 HT)
Ubuntu 14.04
gcc 4.8.4

All times are in seconds

Codegen | No Codegen | Commit | Date and time
-----

[2018-02-14 18:18] apavlo commented on #1151
Let's do microbenchmarks on inserts directly into the DataTable. I can try to do that tonight.

[2018-02-14 22:05] poojanilangekar opened #1153 "TransactionContext object is deleted before the transaction result is available for the Logger/Networking threads"
According to Line 93 in TransactionManager.cpp function, we currently delete the current_txn object if GC is turned off. This is semantically incorrect since we should not be deleting the transaction object before we have returned its result to the client/handed it off to the logger thread.

[2018-02-14 22:35] poojanilangekar commented on #1093
@crd477 Yes, you are right. This has been solved. Thanks!

[2018-02-14 22:35] #1093 closed

[2018-02-14 22:37] poojanilangekar commented on #1091
The current version builds without any failures. Please make sure you are using a version after [this](https://github.com/cmu-db/peloton/commit/0fc7c2021c8b117f78f2df5c591727a69ca662cc#diff-46454d00238f98e83096b2d44703df7eL150) patch.

[2018-02-14 22:37] #1091 closed

[2018-02-15 14:50] pervazea commented on #1151
Valgrind / callgrind is useless in diagnosing this.

Running without valgrind (codegen off), I see the 0.92s vs 63s timing.

When running under valgrind, both runs take around 460s. Yes, it is about 9s slower in the degraded case. The difference is swamped by the valgrind overhead. I tried to see what was different in Kcachegrind, but the difference is lost in the noise.

[2018-02-15 15:05] apavlo commented on #1151
I created a simple test that inserts 5m tuples directly into the `DataTable` without going through the SQL or execution layer. I track the time in batches of 100k inserts. The performance looks to be stable no matter how large the table gets:

[code]

[2018-02-16 01:00] poojanilangekar opened #1154 "Jenkins tests with the address sanitizer are failing"
Even though Jenkins says all test have passed, we have a total of 59 tests failing due to memory leaks. This is something @pervazea noticed on my PR. But I just checked that all the other PR and the master repo is also leaking the same memory. The [master](http://jenkins.db.cs.cmu.edu:8080/blue/organizations/jenkins/peloton/detail/master/5/pipeline/18) also leaks memory. Strangely, I wasn't able t

[2018-02-16 03:05] pervazea commented on #1154
I'll talk to Chad tomorrow. We should be paying attention to the return value from the tests. Jenkins seems to have no mechanism to run a set of things, then report whether one of N items failed. You either stop as soon as one invocation fails, or ignore the error code and continue running. We should be able to write our own wrapper to address this, in due course.

At the moment, we've been trying

[2018-02-16 03:28] mbutrovich commented on #1137
I have implemented the functionality in table_catalog.cpp's constructor, but have a couple of questions before I implement this in the other CatalogObjects:
1. I looked around through the deprecated [LogicalTile::GetValue()](https://github.com/cmu-db/peloton/blob/master/src/executor/logical_tile.cpp#L163) function for figuring out how to unwrap the LogicalTile and Tile classes to get at the pointe

[2018-02-16 03:46] pervazea commented on #1154
Completely agree.

________________________________
From: Prashanth Menon <notifications@github.com>
Sent: Thursday, February 15, 2018 10:22 PM
To: cmu-db/peloton
Cc: Pervaze Akhtar; Mention
Subject: Re: [cmu-db/peloton] Jenkins tests with the address sanitizer are failing (#1154)

With the exception of the ssl_test which is failing due to OpenSSL (see #926<https://github.com/cmu-db/peloton/pull/9

[2018-02-16 16:12] mbutrovich commented on #1137
I [implemented this functionality in TableCatalogObject's constructor](https://github.com/mbutrovich/peloton/blob/master/src/catalog/table_catalog.cpp#L27) as requested and it passes the CatalogTests suite. I added a [GetTuplePointer() method to LogicalTile](https://github.com/mbutrovich/peloton/blob/master/src/executor/logical_tile.cpp#L187) which hopefully isn't beyond the scope of this Issue, s

[2018-02-16 20:08] crd477 commented on #1154
Disregard what I said previously about ```make -k```; it was nonsensical.

The purpose of the ```||true``` is so that later steps, e.g., ```psql_test.sh``` and ```jdbc_validator.py``` can still run even if one of the unit tests fails.  I talked with @pervazea a bit about it this morning and I'm no longer even convinced that the current test invocation and collection is doing the right thing becaus

[2018-02-19 16:10] pervazea commented on #1151
Seems to be associated with BIND_COMMAND and execution of:
ExecBindMessage(pkt);

Pre-regression:  0.022 s
Post-regression: 0.8 s

I've got the no. of records inserted set small, hence the small measurement values.

[2018-02-19 18:56] pervazea commented on #1151
I haven't re-run the numbers yet, but points to
InsertPlan::SetParameterValues

where we've moved from   insertion by some variant of:
tuples_[tuple_idx]->SetValue(column_id, value);
to insertion by:
values_.insert(it + (tuple_idx + 1) * column_id, value);

[2018-02-20 03:06] pervazea commented on #1151
values_ in the InsertPlan, is a vector. It looks as if the insertion requires data movement. We should be using something better suited to insertions (when they are not at the end)? A map?

[2018-02-20 21:04] pervazea commented on #1154
On the status of PR1134

We see in the Jenkins builds:
[](url)http://jenkins.db.cs.cmu.edu:8080/blue/organizations/jenkins/peloton/activity?branch=PR-1134
Failures:
1 - Xenial, Debug - Peloton failed with assertion failure
4 - same as 1.
6 - Trusty, Release - failed psql_test.sh, with data being inconsistent with reference output
12 - failed in communicating with Github. (Ignore this, nothing to d

[2018-02-20 21:21] poojanilangekar commented on #1154
@pervazea I think we can add a breakpoint right before the assertion and check the value of `GetLastReaderCommitId` and then do a backtrace when it doesn't match the commit_id. Can we test this tomorrow?

[2018-02-20 21:41] pervazea commented on #1154
We can try this. I believe I did exactly that, but it did not work.
Now, I was not sure that when I first did this, which type of build I had, since gdb complained about unknown filename. So, when we do this again, we should:

- delete and recreate a debug build
- then try inserting the breakpoint and running

Chad also suggested looking at lldb if gdb won't cooperate.

[2018-02-20 21:47] pervazea commented on #1151
For the record.. tried reducing YCSB FIELD_SIZE from 100->1. No significant difference in performance.
Note also that I believe this variable only partially controls the YCSB data. Looks like the loader has a hard coded 100 in the data generator. Adjusted this in addition to FIELD_SIZE for my experiment.

[2018-02-21 01:43] pervazea commented on #1151
I believe I have a fix. Need to work through running numbers.
I was wrong about the access pattern. It is sequential. The fix will help memory usage too.

[2018-02-21 05:04] apavlo commented on #1151
@pervazea FYI, I fixed the `FIELD_SIZE` issue on `YCSBLoader`:

https://github.com/oltpbenchmark/oltpbench/commit/6ffb8743c79e2e4dd4d4cdb9f74b564a7e3a40a6

[2018-02-21 18:00] #1055 closed

[2018-02-21 19:44] pervazea commented on #1154
More on the psql failure.
1. Pooja thinks she has a fix, related to how the commit id is saved.

1. The failure we've been seeing, is intermittent. We determined today, that it only manifests when the Jenkins machine has a higher load. Even then, not 100% of the time.

1. Running via gdb in the Docker container, still doesn't work as expected. Somehow, the process terminates without gdb being able

[2018-02-21 20:10] poojanilangekar commented on #1154
I tried adding a memory fence before the` SetLastReaderCommitId` function. However, this didn't fix the problem either. So now the assertion must necessarily pass. Not sure if there is anything else I am missing.

[2018-02-21 21:58] GustavoAngulo opened #1162 "Support subquery in HAVING clause"
Implement support for having subqueries in the having clause of a query

[2018-02-23 17:50] schedutron opened #1164 "Peloton connects to nonexistent database"
In the `psql` client, if I type `\c foo`, where the database `foo` has not yet been created, Peloton shows a success message:

[code]

Later, if we, say, try to create a table, then it shows an error:

[code]

[2018-02-23 21:23] pervazea opened #1166 "Deprecate make benchmark"
Remove make benchmark from Travis, and the underlying code benchmark code it builds.

[2018-02-26 11:36] amanmehta-maniac commented on #1085
I would like to take up this issue. Any heads up about where/how to start looking for fixes?

[2018-02-26 12:16] apavlo commented on #1085
@amanmehta-maniac This is a bit advanced. It requires a major rewrite of how we represent VARCHAR everywhere.

[2018-02-26 14:33] pervazea opened #1169 "Jenkins pipeline configurations"
We'd like to have more consistency in the Jenkins jobs, so the following is proposed for pipelines:

For debug and release pipeline, which would be similar to current debug/test pipeline (not enumerating every detailed step below):
1. packages.sh
1. source validator
1. build with Debug (or Release), Coveralls false, USE_SANITIZER=Address (sanitizer only on Debug builds)
1. make check
1. (omit make

[2018-02-26 15:08] pervazea opened #1170 "Parameter separation from cached plans"
First, it isn't clear if the change implied by this issue is necessary and which plans would be affected, but am recording the issue for follow up.

The insert plan stores parameter values in the values_ vector. The current implementation has a reference to the plan from the cached statement. The statement cache is (stated to be) per connection.

Architecturally, a cleaner approach would be for ca

[2018-02-26 15:29] pervazea commented on #1154
I tried on Friday to recreate this problem without success. Have solicited Chad's help to recreate.

I am not familiar with the interacting bodies of code, but have some speculation. Suggestions on what to instrument or how to debug would be welcome.

I suspect that after the assertion fails, the transaction level garbage collector executes and is destroying / freeing the structures GDB is trying

[2018-02-26 16:53] crd477 opened #1171 "Codegen naively generating SSE4.2 intrinsics in some cases"
I added a bunch of Jenkins worker VMs running our OpenStack cluster last week.  Some of these hypervisors are using older Intel Xeon CPUs (Penryn/Harpertown architecture) which do not have SSE4.2 capabilities.  A new compile-time error appeared when building on these systems.  The error differs slightly between compiler and platform combinations but some artifacts can be seen here:
<http://jenkins

[2018-02-26 17:41] crd477 commented on #1154
A quick note on how to induce enough load to reproduce:
1. ssh to jenkins
1. in one window:
```docker run --rm -it pr1134:trusty```
then inside that container, do:
```cd /peloton/build; while : ; do make -j4 check; done```
1. (repeat step 2 in second window)
1. in a third window
```docker run -it pr1134:trusty```
then inside that container, do:
[code]

[2018-02-26 18:11] pervazea commented on #1154
We recreated this with a couple of additional log statements right before the assert that trips:
- last reader commit id was 0
- transaction commit id was a non-zero, reasonable value.
The assertion did not trip. (This is odd, implying that the values changed between the time the LOG_INFO statements read them and the assertion was executed).

The psql test failed, with the update statement being e

[2018-02-26 18:17] tcm-marcel commented on #1171
@pmenon can you confirm my statement about the CRC intrinsic `%llvm.x86.sse42.crc32.64.64` we use in codegen?

[2018-02-26 19:45] pervazea commented on #1154
2018-02-26 19:44:48 [src/concurrency/timestamp_ordering_transaction_manager.cpp:642:PerformDelete] INFO  - last rdr commit id 0
2018-02-26 19:44:48 [src/concurrency/timestamp_ordering_transaction_manager.cpp:645:PerformDelete] INFO  - cur commit id 1640677507276
peloton: /peloton/src/concurrency/timestamp_ordering_transaction_manager.cpp:648: virtual void peloton::concurrency::TimestampOrderingTra

[2018-02-26 20:36] tcm-marcel commented on #1094
Done in #1127

[2018-02-26 20:36] #1094 closed

[2018-02-26 22:28] tcm-marcel opened #1173 "Jenkins build fails: PIC error"
Jenkins fails in build `Build / Ubuntu Trusty/gcc-4.8.4/llvm-3.7.1 (Debug/Test/LOG_LEVEL_TRACE)` with errors of the following format:

[code]

* The other builds (gcc4.8 Release and gcc5 Debug + Release) seem not affected.
* The error occurs on all branches.

[2018-02-26 22:39] tcm-marcel commented on #1173
Usually we compile everything in peloton as PIC:
https://github.com/cmu-db/peloton/blob/e40dfcbac417c029144fed4af972ce0a1fbdfc45/CMakeLists.txt#L76

[2018-02-27 16:37] pervazea commented on #1154
- The problem appears to be independent of codegen.
- No success when running under GDB (yet)

[2018-02-27 17:45] apavlo commented on #1170
According to @malin1993ml, we don't store parameters for all plans (e.g., SeqScan). People fixed this in the past for some plans but we never got to InsertPlan.

We should fix everything and make it uniform.

[2018-02-27 18:53] pervazea commented on #1154
Success with GDB!
When GDB started, it had an error about being unable to turn off address space randomization. This was significant. Docker containers prevent various operations by default. To make GDB work, invoke the docker container like so (where pr1134:trusty is the docker container I'm using):

docker run --security-opt seccomp=unconfined --rm -it pr1134:trusty

Then GDB can correctly set b

[2018-03-01 01:09] saatviks opened #1175 "formatter script should generate python header"
Currently the formatter script only supports headers for languages using `//` for comments. We need to add support for Python too(i.e. `#` style comments).

[2018-03-01 02:26] suafeng opened #1176 "Link error for skiplist_index"
Had following error when building skiplist_index_test.

  "peloton::index::SkipList<peloton::index::GenericKey<16ul>, peloton::ItemPointer*, peloton::index::FastGenericComparator<16ul>, peloton::index::GenericEqualityChecker<16ul>, peloton::ItemPointerComparator>::ConditionalInsert(peloton::index::GenericKey<16ul> const&, peloton::ItemPointer* const&, std::__1::function<bool (void const*)>, bool*)

[2018-03-01 03:47] pervazea commented on #1154
The following approach looks to be working (but haven't examined carefully yet). Diff attached. Make Peloton think it has lots of CPUs, even though it doesn't. psql test failing on my laptop, whereas without this change, worked fine.

Thinking that a cleaned up version where we can manually pass in the value (when desired) via a command line parameter, might be useful for testing and flushing out

[2018-03-01 08:38] poojanilangekar commented on #1154
I think we can do that by adding a parameter to the SettingsManager

[2018-03-01 13:19] schedutron commented on #1175
I want to work on this one. As of now, I think the formatter script only checks the staged files that have a `.cpp` extension. @tcm-marcel correct me if I'm wrong. Should I add code to check for `#` comments in `.py` scripts too? Also, what about triple-quoted doc-strings?

[2018-03-01 14:49] crd477 commented on #1173
@tcm-marcel I think it only occurs now after the switch to the ```gold``` linker in #1109.  I can confirm that Fedora 27 also needs the ```-fPIC``` change as hinted at in https://github.com/cmu-db/peloton/pull/1105#issuecomment-369411602

[2018-03-01 15:04] #1173 closed

[2018-03-01 15:08] pervazea commented on #1176
The master branch builds fine for me. You need to provide context.

- Are you building the peloton master branch? If not, what are you building? Do you have local changes?
- What platform? OS version? Compiler version? Build type (debug, release etc)

[2018-03-01 15:38] tcm-marcel commented on #1175
I talked with @pervazea about this: We don't need validators or formatters for python code, as our primary language will be C++, and those are already provided by the Python community. I would have suggested just to add the headers manually.

However, if we can adapt the existing code for updating/placing headers to also work with Python files with only small changes, this seems reasonable. But th

[2018-03-01 15:42] crd477 commented on #1176
@suafeng it looks to me like you are using the clang compiler.  If that is so, be aware there are still outstanding issues compiling peloton with clang.  Try using gcc.

[2018-03-01 16:41] schedutron commented on #820
Can I work on this one? Would this be a suitable task for a beginner like me?

[2018-03-01 18:26] poojanilangekar commented on #1154
@yingjunwu I think the bug lies in the `AbortTransaction` function of the `TimeStampOrderingTransactionManager`. When the psql_test.sh failed. I tried to find the version of the tuple it returned and the transaction id, begin cid and end cid of the old location. (Some background, the tuple is from the previous update statement which failed, so it contains the value <1,1000> which failed because th

[2018-03-01 18:46] yingjunwu commented on #1154
Do you mean that we did not set the end commit id of the newly created version (for the updated tuple) back to INVALID_CID?

[2018-03-01 20:02] poojanilangekar commented on #1154
Yes.

[2018-03-01 21:04] #1151 closed

[2018-03-02 02:36] pervazea commented on #1042
Against current master (release build).

21:32:08,381 (Worker.java:503) ERROR - Fatal error when invoking NewOrder/01
java.lang.RuntimeException: C_D_ID=1 C_ID=1275 not found!
	at com.oltpbenchmark.benchmarks.tpcc.procedures.NewOrder.newOrderTransaction(NewOrder.java:192)
	at com.oltpbenchmark.benchmarks.tpcc.procedures.NewOrder.run(NewOrder.java:158)
	at com.oltpbenchmark.benchmarks.tpcc.TPCCWork

[2018-03-02 03:09] pervazea commented on #1043
Some notes... not systematic yet. With fix to increase table name length to 64.

With scale factor .02 (2k records), codegen, 1788 requests / sec.

With scale factor 1, codegen, 8 cores, 48.5 requests / sec
With scale factor 1, codegen, 4 cores, 70.4 requests / sec
With scale factor 1, codegen, 2 cores, 60.0 requests / sec

[2018-03-02 14:40] schedutron opened #1183 "CONCAT() leads to failed assertion"
When I type `SELECT CONCAT(fname, lname) FROM foo;`, Peloton stops with the following logs:

[code]

I did a debugger backtrace and found that the line [`loop.LoopEnd(codegen, {});` in `tile_group.cpp`](https://github.com/cmu-db/peloton/blob/c15635bd9da44214a9bb4498e4b7bd4b7928d552/src/codegen/tile_group.cpp#L64) doesn't get executed.

Following is a full backtrace log:

[code]

However, when I fo

[2018-03-02 15:20] schedutron commented on #563
`COALESCE()` is a function which takes a variable number of arguments. A similar function is `CONCAT()`; I looked at its implementation for inspiration but that didn't help since the current implementation concatenates just two columns. So how do I register `COALESCE()` as a function that can take a variable number of arguments, in `catalog.cpp`? Specifically, what should be the second argument pa

[2018-03-02 15:20] schedutron commented on #563
@poojanilangekar `COALESCE()` is a function which takes a variable number of arguments. A similar function is `CONCAT()`; I looked at its implementation for inspiration but that didn't help since the current implementation concatenates just two columns. So how do I register `COALESCE()` as a function that can take a variable number of arguments, in `catalog.cpp`? Specifically, what should be the s

[2018-03-02 15:39] pmenon commented on #1183
`CONCAT` currently isn't supported in the codegen engine because we're using it as an assignment for our [graduate level database class](http://15721.courses.cs.cmu.edu/spring2018/). If you want to use concat you can either implement it yourself ([here](https://github.com/cmu-db/peloton/blob/master/src/codegen/type/varchar_type.cpp#L406)), or run peloton without codegen like so: `./bin/peloton --n

[2018-03-02 15:39] #1183 closed

[2018-03-02 15:54] pervazea commented on #1043
PR1138 will increase table name length to 64.

[2018-03-02 16:22] schedutron commented on #1183
Sorry, I wasn't aware of that.

[2018-03-02 17:20] pervazea opened #1184 "Jenkins - stage pass / fail reporting"
As discussed in person, and in #1154, we want to ensure that any failures in executing tests in a stage, are reflect in failure of that stage.

At the moment, we try to maximize coverage and continue with additional steps in the stage. It is therefore very easy to miss a failure in the (long) logs.

Remove || true from any steps in stage where it isn't absolutely necessary, where we want the failu

[2018-03-02 17:21] #1169 closed

[2018-03-05 06:56] chenboy opened #1187 "Binder does not handle alias binding correctly"
If we declare aliases for complex expressions in the select list, e.g. `avg(a)`, `b + c`, the binder does not replace these alias with their original columns elsewhere in the query. This may cause some problems in the later binding phase. For example, when executing `select sum(a) as d, b from test as B group by b having exists (select b from test2 where a = B.d)`, We do not replace `B.d` in the w

[2018-03-05 07:07] chenboy opened #1188 "Nested-loop join executor only support right child as scan executor."
The nested-loop join executor in the old execution engine calls `UpdatePredicate()` on its right child to update the predicate when the left child produces a new tuple. This function is only implemented in scan executors, so only right child as scan is supported. Before this semester, we only build left-deep join tree so this may not be a serious problem, but with join order enumeration added, we

[2018-03-06 00:57] #1146 closed

[2018-03-06 14:43] pervazea commented on #1106
Where do we stand on this?
1. What version of Fedora is this for?
1. Note that #1140 addressed building under Fedora 27. With LLVM 4.0.1

Is this done (for now)? Can we close it?

[2018-03-06 17:53] tcm-marcel opened #1192 "Add Static Code Checks for Test Files"
Add code to the validator script `./script/validator.py` that checks the **test cases and test utilities** for the **naming conventions** listed in https://github.com/cmu-db/peloton/blob/master/test/README.md.

(follow-up from #770)

[2018-03-06 17:53] tcm-marcel commented on #770
Remaining part moved to #1192.

[2018-03-06 17:53] #770 closed

[2018-03-07 14:14] pmenon commented on #1171
@crd477 @tcm-marcel Correct, we use CRC32 for hashing. We also support Murmur3, but CRC is the default. Considering SSE4.2 is about 10 years old now (I think it was introduced one generation after Penryn), do we want to support older architectures?

[2018-03-07 15:08] GustavoAngulo commented on #1162
Support was added in PR #1147

[2018-03-07 15:08] #1162 closed

[2018-03-07 15:45] tharun323 commented on #1192
please assign this to me !

[2018-03-07 16:10] tcm-marcel commented on #1192
@tharun323 Sure, give it a try. Please make sure, that the code is proper Python 3 and formatted correctly. (we just did this in https://github.com/cmu-db/peloton/pull/1127)

Some more details about what we want to do
* extend the validator script `./script/validator.py` to apply some checks on our test source files
* check all `./test/**/*_test.cpp` files for
  1. correct class naming
  2. correc

[2018-03-07 17:17] pervazea opened #1194 "Memory leaks when running with AddressSanitizer"
_With the exception of the ssl_test which is failing due to OpenSSL (see #926), all the others are reporting leaks in libpg_query - specifically creating the MemoryContexts. I recall fixing this a while back when we flipped on AddressSanitizer.

I believe the leaks are false positives. I added clean up code here and here which should get called when threads exit. What looks to be happening is that

[2018-03-07 17:18] pervazea commented on #1194
Extracted from #1154

[2018-03-07 17:33] mrks opened #1195 "Joins with more than three join partners segfault"
On 0db1a2a478ce2102451a47c0be14ecb5ecb45e00 (current master), this causes a segfault:

[code]

[code]

[code]

In 5878dc7, this still works.

[2018-03-07 18:04] crd477 commented on #1171
There's probably not much benefit to supporting older architectures especially if the fix is nontrivial but maybe just add a note to the supported platforms section of the wiki clarifying the requirements.  Perhaps replace, "Please note that it will not compile on 32-bit systems", with, "A 64-bit processor with SSE4.2 support is required", or something?  I've also confirmed (unsurprisingly) that c

[2018-03-07 20:15] pervazea opened #1196 "make check fails on Ubuntu Xenial gcc 5.4 Release"
It has probably been failing for some time. The || true directive was masking these failures.

test/CMakeFiles/optimizer_rule_test.dir/build.make:62: recipe for target 'test/CMakeFiles/optimizer_rule_test.dir/optimizer/optimizer_rule_test.cpp.o' failed

make[3]: *** [test/CMakeFiles/optimizer_rule_test.dir/optimizer/optimizer_rule_test.cpp.o] Error 1
CMakeFiles/Makefile2:7166: recipe for target 't

[2018-03-07 20:32] pervazea commented on #1196
More specifically, the complain is about:

/usr/include/c++/5/sstream:300:7: error: 'struct std::__cxx11::basic_stringbuf<_CharT, _Traits, _Alloc>::__xfer_bufptrs' redeclared with different access

       struct __xfer_bufptrs

       ^

[2018-03-07 22:04] tcm-marcel commented on #1196
In several test files we have the following line:
https://github.com/cmu-db/peloton/blob/0db1a2a478ce2102451a47c0be14ecb5ecb45e00/test/optimizer/optimizer_rule_test.cpp#L13

This define also overrides all included header files from the libc++. This struct is defined several times inside libc++, but some definitions were not explicitly marked as `private` and once we override they keyword, we and u

[2018-03-08 15:55] pervazea opened #1197 "Inconsistent insert value type and insert_plan field type"
Overview;
When trying to run oltpbench TPCC benchmark against the current master, Peloton segfaults and the benchmark fails. At the point of failure, the database has been loaded and we are in the execution / measurement phase.

terminate called after throwing an instance of 'peloton::Exception'
  what():  TIMESTAMP is not coercable to DECIMAL

Partial stack trace at point of failure is:
[code]

T

[2018-03-11 14:18] pmenon commented on #1196
@chenboy Can you clean up the tests to remove the `#define` in @tcm-marcel's comments. This is breaking builds on our dev machines as well.

[2018-03-11 15:11] pmenon commented on #1171
I've updated the wiki to list this.

Thanks, @crd477!

[2018-03-11 15:11] #1171 closed

[2018-03-11 15:16] pmenon commented on #1195
@mrks Thanks for reporting this!

@GustavoAngulo Looks like 7d083d546860ff91420cf56c5571b2abd340f004 (for #1150) is causing regression. Assigning to you to fix.

@chenboy Can you co-ordinate a fix for this.

[2018-03-11 15:27] pmenon commented on #1176
This was a student having compilation issues for the 15-721 class assignment. The problem was their skiplist implementation was split across header and CPP, rather than the header-only.

[2018-03-11 15:27] #1176 closed

[2018-03-13 06:09] schedutron commented on #1175
@tcm-marcel The header update function is in the formatter, right? I'm trying to adapt it to `.py` files with as less code as possible. Should I go ahead and submit a PR?

[2018-03-13 10:13] schedutron commented on #1175
Also, I think there should be a new `requirements.txt` file for required Python libraries.

[2018-03-13 17:02] tcm-marcel commented on #1175
Yes, sorry this was a typo.

Feel free to refactor the code to make the header update function more readable. But try to use the same code for C++ and Python files. (We don't want duplicate code for every language) Then create a PR.

We can think about including this to the existing install script. I will check that.

[2018-03-16 13:53] pervazea opened #1203 "Fix git handling of line endings via reposity config file"

[2018-03-16 14:05] pervazea opened #1204 "Turn off Fedora builds in Jenkins"
Fedora builds were enabled in Jenkins, in support of the Tensorflow work.

1. Tensorflow does not integrate and work (cleanly) as desired, in Fedora. The team is therefore going to abandon Fedora as their platform and switch back, most likely to Ubuntu.

2. We have external contributors (1 known), but no other internal users of Fedora.

We are therefore going to remove Fedora from the Jenkins buil

[2018-03-16 14:10] crd477 commented on #1204
Great.  I dislike the rolling release approach that Fedora appears to practice anyway.

[2018-03-19 13:27] #1204 closed

[2018-03-19 16:17] eribeiro commented on #1164
Hi @schedutron, it's not my intention to step on your toes, so I am leaving this here as a patch file you can git apply and see if it solves what you need or at least guide you through a direction. I dunno the trivial test I wrote is working, for example. But it seems to have solved the issue. /cc @apavlo

[1164.txt](https://github.com/cmu-db/peloton/files/1825796/1164.txt)

Please, let me know wh

[2018-03-19 16:22] eribeiro commented on #1164
Oh, and the "3D000" code you see in the patch came from here: https://www.postgresql.org/docs/10/static/errcodes-appendix.html and I could confirm via Wireshark on a psql connection to Postgres.

[2018-03-20 13:20] pervazea opened #1209 "packages.sh fails on Jenkins Xenial, gcc 5.4"
Packages.sh is no longer working correctly on Jenkins Xenial builds. Likely cause is recent incorporation of #1202.

[2018-03-20 17:57] schedutron commented on #1192
@tharun323 Are you still working on this? If not, can I try my hand at this issue, @tcm-marcel?

[2018-03-20 19:36] pervazea commented on #1196
I'm going to try to fix this. Without this, we don't have usable tests on Xenial. This issue is blocking #1194 since Xenial is my development platform.

Discussed options with Marcel. The best option might be to have accessor functions specifically so the tests can get at necessary state. This would require changes to the optimizer classes as well as to the tests. Likely to touch a lot of code.

T

[2018-03-20 19:57] pervazea opened #1211 "Fix optimizer tests to use accessor functions to optimizer classes"
See #1196.

To get "make check" to be usable again, the fix for #1196 will declare optimizer test classes to be friends of optimizer classes. This is:
1. Ugly, because the test classes are gtest classes, so the class names are a composites.
2. Exposes everything to the test class.

The preferred solution that this issue should implement, is:
1. Define access methods, and have the tests use them. P

[2018-03-20 22:07] tcm-marcel opened #1212 "Memory Leaks after throwing Exceptions"
(Found during review of #1185)

When I run the tests in Debug mode with Address Sanitizer, the test cases `ssl_test` and `insert_sql_test` fail with a memory leak. On travis the same configuration works.

@poojanilangekar looked at it and found this: https://github.com/cmu-db/peloton/pull/1185#issuecomment-374769807

<details>
  <summary>Output of the Address Sanitizer</summary>

[code]

[code]

<

[2018-03-20 23:04] tcm-marcel commented on #1212
Btw I don't think this is related to #1194, even though the problem also occures in a SSL test case.

[2018-03-21 13:20] #1089 closed

[2018-03-21 14:19] tcm-marcel commented on #1211
Clion showed me a lot of unused includes in the optimizer test files. When those test cases get touched anyway, one should also clean up the includes.

[2018-03-21 14:35] pervazea commented on #1211
The minimal fix for #1196 did not declare all the test classes to be friends of optimizer classes. We would be undoing this anyway. So, to summarize work needed:

1.  #define private public
Get rid of all instances of the above in the optimizer tests.

1. Where we've replaced the above already with friend declarations in the optimizer code, undo the friend declarations.

1. Replace both of the abo

[2018-03-21 15:20] ChTimTsubasa commented on #1212
@poojanilangekar @tcm-marcel I would push an SSL refactor PR fixing (possibly) missing explicit abort and SSL_test memory leak.

[2018-03-22 02:55] saatviks opened #1214 "Hardcoded Tensorflow Install"
The ideal way to be installing tensorflow python binaries are as: `pip3 install --upgrade tensorflow==1.4.0`, but this causes the problem as described in the discussion #1202:

The python binaries are relatively safe for the supported OSes(Mac, Ubuntu 14/16/17). That said, there is a way to make them non-hardcoded. The problem is that Jenkins builds seem to be hitting some unrelated SSL certificat

[2018-03-22 13:18] #1209 closed

[2018-03-22 13:19] #1196 closed

[2018-03-22 14:18] tcm-marcel commented on #1192
I emailed @tharun323 and didn't get any answer, he doesn't seems reliable.

@schedutron Sure, you can work on it!

[2018-03-22 14:22] pervazea opened #1216 "tensorflow_util_test fails"
On a debug build, Ubuntu Xenial (16.04), current master.

Preferably fix so the test passes.

If this is not possible (e.g. if we are not ready for this test to be run yet), disable it for now.

[code]

[2018-03-22 14:34] pervazea opened #1217 "ssl_test fails on Jenkins"
This was on a release build, Ubuntu Xenial 16.04 on Jenkins.

The same test passed on Ubuntu Trusty (14.04) on Jenkins. The difference seems to be that in this case, the logs include:
**could not open certificate file "/home/jenkins/.postgresql/postgresql.crt": Permission denied**

[code]

[2018-03-22 21:49] malin1993ml commented on #1216
I ran the test on my own Ubuntu 16 machine and got the same error:
[code]

[2018-03-22 22:41] pervazea commented on #1194
Maybe not as simple and clear cut as we first thought.

1. There is more than one leakage signature. So, not just the leaks originally noted (libpg_query). There are a small number of others, that leak significant amounts of memory.

2. The list of leaks is different on Jenkins than on other machines (my laptop for instance). Possibly the concurrency level affects the behavior.

[2018-03-23 04:26] ChTimTsubasa commented on #1212
@tcm-marcel @poojanilangekar I take a look at the memory leak problem and it seems not relevant to the frontend but rather some bugs within postgres parser or something relevant to #1194

[2018-03-23 04:48] ChTimTsubasa commented on #1217
I pushed an SSH refactoring PR#1218

I would see the Jenkins log on that PR. If it still occurs, I would fix this issue based on that PR.

[2018-03-23 05:19] saatviks commented on #1216
Upgrading Tensorflow version to 1.5 solves the problem on 16.04. Will test on 14.04 and submit a PR.

[2018-03-23 06:52] ChTimTsubasa commented on #1217
Unfortunately this problem still happens on the new PR. And the way that the exception is thrown looks confusing to me. Probably more information is needed before I draw the conclusion.

I am wondering if it is possible for me to get access to the Jenkins Machine to build and test there in order to recreate the problem?

[2018-03-23 16:03] pervazea commented on #1217
Sure, we can get you access to Jenkins. It more painful to debug things there though.

See the following extract from the Postgres docs:

_To start in SSL mode, files containing the server certificate and private key must exist. By default, these files are expected to be named server.crt and server.key, respectively, in the server's data directory, but other names and locations can be specified us

[2018-03-23 17:34] ChTimTsubasa commented on #1217
The docs seem to describe the situation on the server side, while the exception is actually thrown at the client side, stating that there is no such crt. We do have custom certificates and keys for testing now in peloton server under 'peloton/src/network/ssl/'.

Plus I do not have ~/.postgresql no my laptop but the test still passes. I am wondering if it is because the psql is trying to create som

[2018-03-23 18:17] pervazea commented on #1217
Ok, so my comments didn't help. I see no .postgresql directory on my machine either.

[2018-03-23 19:25] pervazea commented on #1212
When I run the sanitizer on my machine, I get
[code]

[2018-03-23 19:48] schedutron commented on #1192
@tcm-marcel Cool! I'm busy with a conference till Wednesday, but will surely start working on static code checks after that!

[2018-03-23 21:16] pervazea opened #1220 "Old build logs disappear"
After merging a PR into master, I'm unable to find / access the Jenkins logs for the closed PR.

Filing to ensure we discuss and correct if possible.

#1208 was the PR in question.

[2018-03-23 22:16] malin1993ml commented on #1220
I observed this as well. I think it happens to all the merged PRs.

[2018-03-24 15:30] tcm-marcel commented on #1212
On another machine 9 test cases fail, also because of memory leaks. (I already told @pervazea about this) I will just paste the raw output from *make check* here, in case someone wants to look at it:

https://gist.github.com/tcm-marcel/30049a08724e23d805764559a276d63e

[2018-03-24 15:39] poojanilangekar commented on #1154
@yingjunwu I tried the fix I suggested. But that didn't work. I have a question regarding the way the `PerformUpdate` function is designed. Why is the index being updated even before the transaction commits? I specifically mean this line:

`    UNUSED_ATTRIBUTE auto res =
        AtomicUpdateItemPointer(index_entry_ptr, new_location);`

Could this be causing the concurrency bug? Can this update be

[2018-03-24 22:12] malin1993ml commented on #1216
Fixed in #1219.

[2018-03-24 22:12] #1216 closed

[2018-03-25 06:04] latelatif opened #1222 "One update updates the values multiple times | Halloween Problem"
![pasted image at 2018_03_23 12_02 pm](https://user-images.githubusercontent.com/25693934/37872182-2f673130-2fd0-11e8-8ab8-7f5bd217ddd8.png)

As can be seen in the trace, the updates happen more than once. This looks like the Halloween problem (https://en.wikipedia.org/wiki/Halloween_Problem).

This behavior is only seen with codegen and not the old engine.

[2018-03-25 06:23] latelatif opened #1223 "Updates change the order and offset of attributes"
While working on delta records for logging, I came across this behavior for updates:
[code]
As can be seen above in the trace, the column values are flipped after the first update and they are flipped again after the second update. It is not just that the values are re-ordered in the output of the select query, the actual offsets in target_list_ are also changed. I just log the column offset and t

[2018-03-26 02:08] pmenon commented on #1222
I recall running into this last summer and fixing it. But right now, I can't reproduce this on master:

[code]
Can provide more details on build environment? OS, compiler, cmake settings?

[2018-03-26 14:12] pervazea commented on #1223
It gets more interesting. Sometimes it yields the result above. Sometimes it gets:
[code]

[2018-03-26 14:18] pervazea commented on #1223
Which is reported in #1222

[2018-03-26 14:30] pervazea commented on #1222
I'm seeing this behavior w/o codegen too.

[2018-03-26 14:32] pervazea commented on #1223
This time w/o codegen. It only reports UPDATE 1 this time, but still has the wrong values.
[code]

[2018-03-26 14:33] pervazea commented on #1223
I have created a Junit test for this. PR will be coming soon.

[2018-03-26 16:43] ChTimTsubasa commented on #1217
I have posted the following in the #1218 but just paste the possible solutions here if others can see and help me with this:

There can be two solutions to #1217 .

1. Change the permission of default certificates and key.
2. Use custom certificate and key.

I tried 2 for a while by using Haoxiang's create_certificates.sh script or manually generate certificates and keys as (https://www.postgresql

[2018-03-26 18:11] pervazea commented on #1106
We went through a phase of "we need to support Fedora" and have subsequently decided that we are not going to support Fedora. The motivation was that we wanted it in support of the work with Tensorflow, but have determined that it isn't adequately supported on Fedora.

[2018-03-26 18:11] #1106 closed

[2018-03-26 18:14] ChTimTsubasa commented on #1212
@poojanilangekar In the running peloton instance, we definitely abort all transactions as the AbortQueryHelper() is called in the destructor of traffic_cop(https://github.com/cmu-db/peloton/blob/master/src/traffic_cop/traffic_cop.cpp#L54)

[2018-03-26 18:24] poojanilangekar commented on #1212
@ChTimTsubasa But that's only when the destructor is called. The reason @tcm-marcel noticed the memory leak was because the test doesn't explicitly call the destructor.  Technically, if the execution of a transaction ends up in an exception, shouldn't we immediate abort it? There is no point keeping its state in the traffic cop, because this transaction will never commit.

[2018-03-27 06:11] yingjunwu commented on #1154
see #106

[2018-03-27 06:48] yingjunwu commented on #106
The atomic problem mentioned in this issue directly results in the bug reported in #1154, but in different forms. Let's consider the following SQL statements:

[code]

The `update` statement does the following things:
- invoke the `seq_scan_evaluator` (as there's no index on `year` attribute) to find all the matching tuples in each tile group of the table `foo`;
- remove all the matching tuples fr

[2018-03-27 13:29] pervazea opened #1227 "Add clang builds to Travis"
PR #1052 was closed (incomplete). This issue is for completion of this feature, is we still want to add clang builds to Travis.

[2018-03-27 13:32] poojanilangekar commented on #106
@yingjunwu The assertion didn't fail when it was trying to update the same transaction. It is finding the tuple from the previous transaction. If it was the case that the transaction was seeing its own version of the tuple, it wouldn't fail on line 641 of `timestamp_ordering_transaction_context.cpp` because the `last_reader_commit_id` would be the same.

The bigger question I have is, why are we u

[2018-03-27 13:33] pervazea opened #1228 "Standardize macro names"
Complete the work started in #1110

[2018-03-27 13:54] tcm-marcel commented on #1227
In general: Adding support for clang on Linux. At them moment the travis build fails because of minor unsupported features and differences to the Mac clang version.

[2018-03-27 19:19] pervazea opened #1230 "Use valgrind for leak detection"
Set up Jenkins stage(s) with valgrind

At the team meeting, we discussed that with the address sanitizer leak detection, we are not getting 100% consistency to the leak reporting. Some leaks are reported sometimes, but not all the time.

The assertion was that valgrind should provide better consistency and reliability.

[2018-03-28 02:14] saatviks opened #1232 "Tensorflow background thread problem"
Tensorflow has a currently open [issue](https://github.com/tensorflow/tensorflow/issues/17739). Basically they don't expose any API to shut down background threads when closing a Tensorflow session. As a result Valgrind(and possibly the Address Sanitizer) is bound to throw errors related to this.

There's nothing much we can do until Tensorflow releases a relevant API for the same.

[2018-03-28 02:34] GustavoAngulo opened #1233 "Fix cost model estimate for InnerHashJoin"
Currently the estimate does not take into account the difference in costs between tables for a hash join

https://github.com/cmu-db/peloton/blob/fd2cf84a637a70e8033dc9c6bf3fb7fa68881cef/src/optimizer/cost_calculator.cpp#L86-L93

[2018-03-28 02:36] GustavoAngulo commented on #1233
@chenboy What do you think is the best approach for this? Should we define a separate global variable for the cost of probing?

[2018-03-28 02:58] GustavoAngulo opened #1234 "False positive in rule checking in optimizer"
It seems that by having the following enum start at 0, the optimizer can result in a false-positive, where when checking if the INNER_JOIN_COMMUTE rule has been applied to a group, it will return true when it hasn't been applied.

https://github.com/cmu-db/peloton/blob/fd2cf84a637a70e8033dc9c6bf3fb7fa68881cef/src/include/common/internal_types.h#L1312-L1314

I believe this may be due to the mask th

[2018-03-28 14:46] pervazea commented on #1043
Ran TATP with scalefactor 1, on master as well as the upcoming changes for #1197.  It runs with  roughly the same performance.

[2018-03-28 14:46] #1043 closed

[2018-03-28 14:54] pervazea commented on #1042
Master (with modified oltpbench to avoid #1197)

Release build, codegen on:
*** Error in `./peloton': double free or corruption (fasttop): 0x00007fb1bd463b70 ***
=======

Release build, codegen off:
*** Error in `./peloton': double free or corruption (fasttop): 0x00007f740cc51110 ***

pa_insert branch:
Release build, codegen on
*** Error in `./peloton': munmap_chunk(): invalid pointer: 0x00007f900

[2018-03-28 15:00] pervazea commented on #1042
pa_insert branch, release build, unmodified oltpbench, codegen on:
*** Error in `./peloton': corrupted size vs. prev_size: 0x00007efda0c402c0 ***

ditto, codegen off:
*** Error in `./peloton': corrupted size vs. prev_size: 0x00007f3d314550e0 ***

[2018-03-28 16:00] poojanilangekar commented on #1212
@sivaprasadsudhir There is a memory leak in query_clusterer_test.cpp.  Here is one of the trace:

[code]

Please fix it.

[2018-03-28 16:04] poojanilangekar commented on #1212
@saatviks There are memory leaks in tensorflow_test.cpp. Please look at http://jenkins.db.cs.cmu.edu:8080/blue/rest/organizations/jenkins/pipelines/peloton/branches/PR-1237/runs/2/nodes/19/steps/112/log/?start=0 for the log.

[2018-03-28 16:06] saatviks commented on #1212
Hi Pooja, Yes I'm aware and have been fixed in the next major PR I'll be putting up.

[2018-03-28 16:11] poojanilangekar opened #1239 "Travis builds not triggered occasionally"
I have noticed this for the past couple of days. Occasionally travis doesn't trigger a build for PRs. Not sure if the issue is because of too many jobs in the queue.

For instance when the master was merged into #1235.
The Travis queue doesn't have a job for it:
https://travis-ci.org/cmu-db/peloton/pull_requests

[2018-03-28 17:39] tcm-marcel commented on #1239
I can remember that I also noticed this problems months ago, but I never found a solution for this. It seems that travis just sometimes looses triggers and Github then forever waits for a response.

![clipboard](https://user-images.githubusercontent.com/5031362/38046011-77ed5ac4-328c-11e8-8b02-04109c6b66b5.png)

Using `push --force` on the same branch may trigger the build again, but that's just a

[2018-03-28 22:29] nappelson opened #1241 "TestingSQLUtil::ExecuteSQLQuery fails with LLVM error on bulk inserts where tuple count is large (e.g. 10,000)"
When doing bulk insert (e.g.)

`INSERT INTO test VALUES (x, y, z), (x, y, z) ...`  where x changes each time and when there is 10,000+ tuples (don't know exactly where this breaks), we get the error seen below

schema was x=int, y=decimal, z=varchar

[code]

[2018-03-29 03:38] szhaoyu opened #1243 "select function assert abort"
As created a function
`CREATE OR REPLACE FUNCTION increment(e double)
RETURNS double AS $$
BEGIN RETURN e + 1; END;
$$ LANGUAGE plpgsql;`

when execute command through psql.
`select increment(100.0);`

It will abort caused by assert function's null body.

[2018-03-29 17:47] pervazea commented on #1042
I ran tpcc against master, to determine if the memory problem was in the updated code.

The address sanitizer caught a problem in the new code. With a fix for that, TPCC now runs.
That master was failing, but with the updates, TPCC now runs, would imply the old insert code was the source of the problem with master. Should be non-issue once the new code is merged.

[2018-03-29 18:03] apavlo commented on #1042
@pervazea This is great news!

[2018-03-29 19:34] #1097 closed

[2018-03-30 15:33] pervazea commented on #1080
If I remember correctly, we used to ignore the database specified in the connection string. This is no longer true. Replace "voter" with "default_database" along with the other necessary adjustments to the sample file.

I believe we don't support views, so you'll get past this, but fail later.

[2018-03-30 15:33] #1080 closed

[2018-03-30 19:50] aaron-tian opened #1246 "Add boolean flags & Move catalog initializations"
@mengranwo @dengyuchenkit Can you add a boolean flag for every table catalog to indicate if we want to include it in checkpoints, and move two catalog initialization (ZoneMapCatalog and ColumnStatsCatalog) to catalog bootstrap? Kazuhiro needs them for checkpointing. Thanks.

[2018-03-30 21:48] DeanChensj opened #1249 "Error running 'bash package.sh' on macOS High Sierra"
$ bash packages.sh
packages.sh: line 20: ${DISTRO^^}: bad substitution
Unknown distribution 'darwin'

Platform: Darwin Dean-Mac.wv.cc.cmu.edu 17.5.0 Darwin Kernel Version 17.5.0: Mon Mar  5 22:24:32 PST 2018; root:xnu-4570.51.1~1/RELEASE_X86_64 x86_64

[2018-03-30 23:43] pmenon commented on #1249
Odd, seems to work for me on 10.13.3. Can you also try `./packages.sh` ?

[2018-03-30 23:58] DeanChensj commented on #1249
The error message is pretty much the same. I copied out the macOS part to another script and it works. Thanks!

[2018-03-31 04:34] mbutrovich commented on #1249
Just as a sanity check I just spun up a clean 10.13.4 image and couldn't reproduce the issue.

[2018-03-31 14:00] pmenon commented on #1249
And our macOS build run with this script. Closing for now.

[2018-03-31 14:00] #1249 closed

[2018-04-01 23:39] zhaoguoquan94 commented on #1228
Sorry the old issues are buried with tons of other Github notifications in my mailbox.

[2018-04-02 22:45] #1195 closed

[2018-04-03 00:52] Joezc opened #1254 "package script exit when executing dnf install invalid package"
https://github.com/cmu-db/peloton/blob/3b64df80bc4aff5ec181064087abf1f2100b8034/script/installation/packages.sh#L53

When I was running this script, the script exit when executing this line since I did not install `protobuf`
on my Fedora before. So, I think this should be edited to be more robust.

[2018-04-03 13:22] tcm-marcel commented on #1254
We recently decided not to support Fedora for now because of problems with tensorflow.

[2018-04-03 13:22] #1254 closed

[2018-04-03 16:28] tcm-marcel commented on #1212
Fixed by #1238, #1250, #1247 and #1235. Thanks to everyone who helped!

[2018-04-03 17:02] #1212 closed

[2018-04-03 18:39] jmininger opened #1256 "Build fails due to : ld: library not found for -lssl"
MacOS High Sierra v10.13.3
Xcode 9.2

## Cmake and make directives:
[code]
[code]
## I also suppressed a number of warnings as shown below. They were all of the same variety--the only difference being that each had a different template argument-- so I've only included one of them.
[code]

[2018-04-03 22:15] mbutrovich commented on #1256
Just Googling around, it seems like reinstalling the Command Line Tools is a common solution for this problem:

https://groups.google.com/forum/#!topic/crystal-lang/tMcFSbvYRlA
https://github.com/brianmario/mysql2/issues/795

Those links recommend xcode-select --install, however I think that will install the latest version which isn't what you want. Try reinstalling 9.2 following the link from the

[2018-04-04 13:56] #1228 closed

[2018-04-04 14:02] pervazea commented on #1222
@pmenon

[2018-04-04 14:27] pervazea commented on #1223
This might be an interesting data point. The flipping of the values depends upon ordering in the update SQL statement.

default_database=# create table tbl(id integer, year integer);
CREATE TABLE
default_database=# INSERT INTO tbl VALUES (5, 400);
INSERT 0 1
default_database=# UPDATE tbl set year=year*2, id=id*2;
UPDATE 1
default_database=# select * from tbl;
 id  | year
-----+------
 800 |   10
(

[2018-04-04 14:47] pervazea opened #1258 "Fix Peloton's hard dependency on number of CPUs"
At the moment, if I run make check on my laptop (8 cores), it passes.
If I run the same make check, with only 2 cores enabled, it fails some tests (most pass).

This is low priority, but the system or tests should not fail. In my opinion, it is fine that some minimum number of threads are needed in various places, but operation with fewer cores should merely be slower rather than failing.

[2018-04-04 16:29] #569 closed

[2018-04-04 16:31] pervazea opened #1259 "Add unit tests for the explain statement"
To support #1108

[2018-04-04 19:46] pervazea opened #1261 "clang-format not installed by packages.sh"
clang-format-3.6 or as per current requirements

[2018-04-05 02:34] mbutrovich commented on #1256
That version builds Peloton okay for me. It seems like wires are crossed on your system with respect to where to look for the SSL library. Apple rolled their own starting with El Capitan, but you likely have some OpenSSL packages installed via Homebrew as well that might be mixing things up if you symlinked them into other places. All I can suggest at this point is reloading your dyld cache...

su

[2018-04-05 02:38] mbutrovich commented on #1261
This might be tough to easily fix for macOS since LLVM@3.6 is no longer offered as a Homebrew package. I had to download the full LLVM 3.6 archive and manually extract clang-format, rename it to clang-fotmat-3.6, and stick it in the appropriate folder.

[2018-04-05 12:58] pervazea commented on #1197
Fixed by #1237.

[2018-04-05 12:58] #1197 closed

[2018-04-05 13:30] poojanilangekar commented on #1223
With the Halloween problem fixed,  the bug only exists in the LLVM engine. I think the reason is that it doesn't call the `project_info_->Evaluate` function. A similar logic is used in update_translator.cpp. I think the issue is that the `IsInTarget` function just checks if the `target.first` is equal to the `index`. There is no check for the actual location of the `target_list`, instead it just p

[2018-04-05 14:35] tcm-marcel commented on #1261
We had a longer discussion with the version of clang-format in #1015 and it was changed back in #1050.

[2018-04-05 17:45] pervazea commented on #1223
Marcel may be able to look at this, so jointly assigning to him (with pmenon to review), unless @pmenon you really want this on your plate.

[2018-04-05 19:12] poojanilangekar commented on #1223
@tcm-marcel I just fixed the issue. It was a very small fix. If you haven't already started working on it, I can raise a PR with a fix and a test.

[2018-04-05 19:13] tcm-marcel commented on #1223
@poojanilangekar sure, go ahead - I just wanted to start to look at it

[2018-04-06 13:05] #1096 closed

[2018-04-06 13:38] pervazea opened #1268 "Clean up FK debug logging"
2018-04-06 09:36:19 [/home/proj/master/peloton/src/executor/create_executor.cpp:184:CreateTable] DEBUG - Foreign key column names:

2018-04-06 09:36:19 [/home/proj/master/peloton/src/executor/create_executor.cpp:186:CreateTable] DEBUG - FK col name: custid

2018-04-06 09:36:19 [/home/proj/master/peloton/src/executor/create_executor.cpp:189:CreateTable] DEBUG - FK sink col name: custid

[2018-04-06 13:54] pervazea opened #1269 "Network layer soft errors"
These don't seem to cause any visible failures, but imply that something is not 100% correct.

Occur when running the smallbank benchmark. There are more of these logged. Only 2 samples are extracted below.

[code]

[2018-04-06 13:56] pervazea commented on #1044
Apart from #1269, the benchmark now runs.

[2018-04-06 13:56] #1044 closed

[2018-04-06 13:56] tcm-marcel commented on #1269
I see this line all the time, I think is is usual behavior. But I have no idea what exactly is happening.

[2018-04-06 19:46] jmininger commented on #1256
OpenSSL 1.0.2l  25 May 2017

[2018-04-06 19:59] poojanilangekar commented on #1256
The version seems fine. I think there is an issue with the path. Find the location of your current OpenSSL installation using `which openssl`. Now add the path you find without the trailing `openssl` to the `$PATH` variable. Let me know if it fixes your issue.

[2018-04-06 20:05] aaron-tian opened #1270 "Store foreign keys into a catalog table"
@poojanilangekar We have some foreign key related information in catalog files currently, but it's not durable, so we don't have any info about foreign key constraints when we recover from checkpoints. Can you add a new catalog table called pg_constrain referring to what postgres does, which contains foreign keys, schemas, constraints and other stuff if necessary? Thanks.

[2018-04-07 02:49] saatviks commented on #1214
Resolved with #1251.

[2018-04-07 02:49] #1214 closed

[2018-04-07 03:39] pmenon commented on #1223
Solved via #1266

[2018-04-07 03:39] #1223 closed

[2018-04-07 13:52] Nov11 commented on #1269
the only piece of code print debug message in connection_handle.cpp
[code]
I think retrying on close failure should be removed.
1. The fd is closed on linux regardless of close function call returns an error or not. No need to worry about leaking fd.
[https://stackoverflow.com/questions/33114152/what-to-do-if-a-posix-close-call-fails](url)
[http://man7.org/linux/man-pages/man2/close.2.html](url)
2

[2018-04-07 14:52] pervazea commented on #1269
I agree on correctness of removing the while.

However, if the close fails, it should be logged, something like:

Close failed on connection %d, errno %d

(the current log message is wrong... you don't know it was "already closed", it could be EIO)

If a string description of errno is readily available, use it instead of the number, otherwise the numeric form is ok.

Maybe, if we find that the clo

[2018-04-08 11:27] Nov11 opened #1273 "jenkins server runs out of disk space"
Build processes fail because of this.  Need help to make more valid disk space on that server.

[2018-04-09 12:55] crd477 commented on #1273
Thanks.  I'll fix this.

[2018-04-09 18:25] tcm-marcel opened #1275 "Query leads to endless loop (because of Optimizer?)"
Running TPC-H Q13 leads to an endless loop in peloton. I tried to follow the execution path and it seems to me that the optimizer runs in infinitely many tasks and the actual execution never starts. However, I am not familiar with this part of peloton.

<details>
<summary>TPC-H Q13 (includes creating schema)</summary>

[code]

</details>

[2018-04-09 18:26] tcm-marcel commented on #1275
@chenboy can you take a look at this?

[2018-04-10 17:49] pervazea opened #1277 "Socket bind failure handling"
If I run Peloton, then run another instance. In the second instance:

Peloton does a bit of initialization, then fails on the socket bind (expected), and throws an exception The exception is caught and peloton exits. Two problems:

1. Peloton exits, silently. Exit code is 0, indicating a normal exit. This is incorrect. It should return an appropriate error exit value.
2. It does this silently. It

[2018-04-10 18:34] saatviks commented on #1232
@pervazea I'm curious about the correct way to handle suppressions to ensure that I supress the correct set of leaks(and future genuine memory leaks dont go unnoticed). I think the current way of supressing`tf_session_entity.cpp` is incorrect since future genuine user introduced memory leaks might go unnoticed.

It seems that a regex like `tensorflow::thread` would be more suitable? I'm not confid

[2018-04-11 01:04] pervazea commented on #1232
I don't know that I have a good answer, without studying the issue. Even after that, this is going to be imprecise.

In general, one wants to suppress only specific leaks, so that suppression should identify the leak location as precisely as possible. One could:
1. Go as far down the stack as possible (which is is what we've done with tf_session_entity.cpp). Going even further down is possible, bu

[2018-04-11 16:56] jmininger commented on #1256
I was finally able to build it after reinstalling Xcode command line tools (as suggested above), and after uninstalling anaconda and reinstalling python3. I still had to use the
```-DCMAKE_CXX_FLAGS="-Wno-error=pointer-bool-conversion" ``` for the build to work though. Thank you for your suggestions

[2018-04-11 16:56] #1256 closed

[2018-04-11 18:55] pervazea commented on #1239
Unclear if this is a Travis bug. I see only trigger history for recent builds (this is too old), otherwise it would be possible to see if Travis got the request and what it did with it.

If the merge is not correct, Travis will record:
GitHub payload is missing a merge commit (mergeable_state: "unknown", merged: false)
and ignore the request.

[2018-04-12 18:32] pervazea opened #1291 "Abort transaction results in memory leaks"
From #1063
See the an extract of one of the tests added, below. In this version, the transaction is terminated with commit. This works fine. The original version terminated the transaction with abort. The result when running with the address sanitizer was a raft of memory leaks (there were quite a few tests added in that style).

My assumption is that abort transaction should not leak any memory.

[2018-04-12 18:43] pervazea commented on #474
First, this issue lacks sufficient detail. It should include:

- which benchmark? Oltpbench can run one of many benchmarks
- Specifics of the benchmark. The benchmarks have a number of parameters specified in the configuration file. Was the default used? Were specific parameters set?
- There is more than one way to run oltpbench. How was it run

In short, it lacks the detail required to reproduce

[2018-04-12 18:43] #474 closed

[2018-04-12 20:44] Onmysofa opened #1293 "Trigger test assumes order in table's trigger list"
`trigger_test.cpp: 153` assumes the LIFO order in table's trigger list. But I think the order could not be guaranteed.

[2018-04-12 20:46] Onmysofa commented on #1293
I don't think we can know the insertion order in `trigger_catalog.cpp`

[2018-04-12 21:15] Onmysofa opened #1294 "Bug in scan"
`src/planner/abstract_scan_plan.cpp: 53`
Fixed in #1281

[2018-04-12 22:54] pervazea opened #1295 "Jenkins build / checkout failure"
This is from PR-1278 (which is mine)

We have seen this possibly 3 times in the past week, on different PRs. It seems to require additional pushes to be done to the PR to get past this.

[code]

[2018-04-13 20:05] latelatif opened #1296 "Invalid SQL statement in multi-statement transaction does not abort the transaction properly"
If an invalid SQL statement is issued in a multi-statement transaction, the state of the transaction is set to ResultType::ABORTED and the idea is that the commit/rollback should abort the transaction. The user gets a warning when trying to run other SQL statements in the same transaction saying that the transaction is aborted and they should rollback.

On getting a rollback, the code calls AbortQ

[2018-04-13 20:46] DeanChensj opened #1297 "Infinite loop in select * when there is an uncommitted update towards pg_table"
This is from PR-1289 #1289

In our PR, we add support for ALTER TABLE RENAME column, where we made modification to the catalog, columnCatalog and the pg_table.

The failure happens when you :
1. begin a transaction
2. do alter table, does not commit
3. begin another transaction to select *.

The second transaction will trap into an infinite loop in the `src/executor/index_scan_executor.cpp`.  In t

[2018-04-14 01:26] nwang57 opened #1298 "QueryCache Bug"
Currently, when comparing two plans, lets say sequential plans, it only compares if the table, the number of predicates and the predicate types are the same.

Lets say we have plan A:` SELECT a FROM foo WHERE a = 40`.
and plan B: `SELECT b FROM foo WHERE b = 41`.

They are considered to be the same plan. See test below. When execute plan A it saves the complied plan into the query cache. Then when

[2018-04-14 17:09] vkonagar opened #1299 "Invalid Index Scan Plan Selection with Multi-column Indexes"
As part of our class project "Index Selection", we are trying to generate multi-column hypothetical indexes and checking the cost of using them for a query.

The optimizer does not select a valid plan with multi-column indexes. If we create a multiple-column index say Index1 on columns say (a, b, c) on a table T, and if a query has a where clause on only (b), then the optimizer chooses Index1 in i

[2018-04-14 23:04] latelatif commented on #1296
An easy way to reproduce this issue.

[code]

[2018-04-15 14:36] tcm-marcel commented on #1239
Let's wait for the next time this occurs and then check the trigger history. (I didn't know about that)

[2018-04-15 21:14] malin1993ml opened #1300 "IndexScanDesc and IndexScanPlan Refactor"
We now store a physical pointer of the used index in the `IndexScanDesc` and `IndexScanPlan`. This won't work for "what-if" API because the "fake" index will only have a catalog entry and an OID, but not a pointer to a physical object. The optimizer will crash when generating the `IndexScanPlan` using "what-if" API.

The refactor needs to take the pointer out of the `IndexScanDesc` and `IndexScanP

[2018-04-16 03:16] GustavoAngulo commented on #1275
@tcm-marcel The loop is caused because this query contains a Left Outer Join. A group in 15721 is working on implementing outer joins in the optimizer (#1280) so it should hopefully be fixed soon. I'll keep the issue open for now.

For the future though we should probably throw an exception for unimplemented SQL functions in the optimizer instead of looping.

[2018-04-16 16:43] apavlo commented on #1300
@malin1993ml This is fixed in #1301, right?

[2018-04-16 20:15] GustavoAngulo commented on #1299
https://github.com/cmu-db/peloton/blob/78b85dc21d5f1d7b09b150380ecec22b92ea804e/src/optimizer/rule_impls.cpp#L241-L253

This is probably the cause of the issue. The `Check` function essentially checks if we can use an index scan for a "Get" operator. We're only checking the existence of an index, not if we can actually use then index. I can probably take a look.

[2018-04-17 01:10] crd477 commented on #1295
This was related to just one of the worker nodes that didn't have the correct default network route. I've fixed it.
I suspect this situation cropped up during the recent disk space failures. For that problem, I've installed a cron job to clean up old build workspaces so hopefully it will not appear again.

[2018-04-17 01:10] #1295 closed

[2018-04-17 01:14] crd477 commented on #1273
I've implemented a workaround in a cron job on each of the workers that removes workspaces from old (>1 day) builds.  The correct long term fix is to have the proper cleanup stage in the Jenkins pipeline.  I'll test the solution and submit a PR when that is ready.

[2018-04-17 02:26] vkonagar commented on #1299
Gustavo, Thanks! I looked at the code you pointed and I think the issue is here.

https://github.com/cmu-db/peloton/blob/78b85dc21d5f1d7b09b150380ecec22b92ea804e/src/optimizer/rule_impls.cpp#L394

Here, we are just checking if the given column is present in the column set of the index object but not enforcing any order in the matches. Instead, we should take the vector of column oids present in in

[2018-04-17 17:32] saatviks commented on #1232
Thanks @pervazea and @malin1993ml - based on your suggestions have set the following as the new leak supression for this bug:
[code]

[2018-04-17 18:12] tcm-marcel commented on #1273
@crd477 Does the workspace also include the logs? Because in general we want to keep them as long as possible, at least one week. We had the problem already that we wanted to analyze older builds and the logs were gone. If you then click on the Jenkins link of a commit on Github, you just get a 404.
The cleanup stage you mentioned seems what we want: delete everything except for the logs and then

[2018-04-17 20:15] pervazea opened #1306 "__PELOTONFILE__ is not always correct"
In trying to walk through (trace) code execution paths, I see that __PELOTONFILE__ is not always correct. I've seen this before too, but previously thought it was my error.

With __FILE__ the filename is correct.
2018-04-17 15:49:50 [/home/pakhtar/proj/pa_index_scan/peloton/src/include/plann\
er/seq_scan_plan.h:45:SeqScanPlan] DEBUG - Enter SeqScanPlan

With __PELOTONFILE__ the filename is definit

[2018-04-18 00:44] crd477 commented on #1273
On 2018-04-17 14:12, Marcel Kost wrote:

I'm pretty sure the cron job only removes the actual source and object
code from a particular build, not the logs and results.  I wonder if the
404 you saw was from an aborted build or something.  Could you point me
to an example so I can check it out?

Thanks...

[2018-04-18 00:47] crd477 commented on #1273
Also of note, the peloton Jenkins project is configured to keep old items for 30 days.

[2018-04-18 17:15] tcm-marcel commented on #1273
@crd477 It was some weeks ago, I can't find it anymore. Probably it got caused by Jenkins changes at that time. I will tell you, if it happens again.

[2018-04-18 18:25] pervazea opened #1307 "query_logger_test failure"
On Jenkins, has leaks when running under the address sanitizer
Seen in several recent builds. Extract of logs from PR-1271 appended.

This seems to be reporting that the leaks are from:
.../src/brain/query_logger.cpp:37

The symptom is as if the transaction is not committed,  but the code in this file does terminate the transaction.

I am unable to reproduce this on my machine.

    Start  13: que

[2018-04-18 18:27] pervazea opened #1308 "Fix Travis to use gcc5"
Discontinue use of gcc4.8

[2018-04-18 18:27] pervazea opened #1309 "Fix Jenkins and Travis to use gcc5"
Discontinue use of gcc4.8

[2018-04-18 18:29] pmenon commented on #1308
Fix Travis **and** Jenkins, yes? Also, modify compile options to explicitly set C++11 standard: `-std=c++11`.

[2018-04-18 19:04] pervazea commented on #1308
See #1309 for Jenkins, and yes to -std=c++11 (thanks for the correction / reminder)

[2018-04-18 21:16] tcm-marcel commented on #1308
Should we include other gcc versions in the build? And if yes, in travis or in Jenkins? I would prefer to keep the travis build simple, as it is easier for us the scale the Jenkins builds.

Adapting the sources to build with clang under Linux is also still open: #1227 (I didn't find time for this yet)

[2018-04-18 22:24] pervazea commented on #1308
No idea : -)

From what I can see, the docker container for Ubuntu 14.04 only has a single compiler version installed, so no picking is required. What I'm looking to do is to install gcc 5 and use update-alternatives to make gcc 5 the preferred version. This is temporary. Once we update the docker images with dependencies we can have all this pre-configured.

LMK if you think this is wrong or have

[2018-04-19 00:46] crd477 commented on #1308
On 2018-04-18 18:24, pervazea wrote:

That is correct.  There are more versions available from the package
repository but the pre-installed version is whatever the unadorned "g++"
package refers to: gcc-4.8 in the trusty case, and gcc-5.4 in the xenial
case.

Regarding this and your separate note about updating the docker images
with all the new dependencies, could you please specify what version(

[2018-04-19 15:32] apavlo opened #1312 "Packages Script Does Not Check for Protobuf Compilation Errors"
I ran `packages.sh` on my Ubuntu 17.10 machine. It is unable to compile the protobuf dependency but the script just keeps running. There is no indication at the end that the installation failed.

I think you need to check for a non-zero exist code in the `install_protobuf3.4.0` function.

https://github.com/cmu-db/peloton/blob/master/script/installation/packages.sh#L61

Log is here: [ubuntu-17_10.

[2018-04-19 17:21] apavlo opened #1313 "Remove IsolationLevelType::READ_ONLY"
The way that we are marking that a txn is read-only is by setting it's isolation level to `READ_ONLY`.

https://github.com/cmu-db/peloton/blob/master/src/include/common/internal_types.h#L425

We currently don't support setting a txn to be read-only from the SQL interface, but the `TransactionManager` is checking for this `IsolationLevel` all over the place:

https://github.com/cmu-db/peloton/blob/

[2018-04-19 18:52] pervazea commented on #1309
See discussion in #1308

[2018-04-19 18:53] pervazea commented on #1308
Superceded by #1309

[2018-04-19 18:53] #1308 closed

[2018-04-19 19:59] poojanilangekar opened #1314 "Concurrent transactions on the same table are aborted"
When we run concurrent transaction on the same table, with one transaction updating it and the other reading from it, the transaction performing the read gets aborted.

Here are the steps to reproduce the bug:

[code]

Now on one connection carry out the following steps:
[code]

On another connection, try any queries on the same table:
[code]

[2018-04-19 22:17] pervazea opened #1315 "Build and run test suite on Travis, macOS"

[2018-04-20 01:09] pervazea opened #1316 "Try out gcc 6"
Assess if Peloton compiles and / or what changes are needed to get it to compile

[2018-04-20 13:52] pervazea opened #1317 "Update docker images with dependencies"
_Regarding this and your separate note about updating the docker images with all the new dependencies, could you please specify what version(s) of the compiler you'd like to have pre-installed?_

For gcc, lets go with 5.4.0 which is the version (default I believe) on Ubuntu 16.04.

We have updated Jenkins and Travis to use the above gcc 5 version, removed gcc 4 builds from Travis.

Next is to upda

[2018-04-20 13:54] #1309 closed

[2018-04-20 15:30] pmenon opened #1318 "Update LLVM to 5.0 or 6.0"
On our newer KabyLake servers, LLVM versions older than 4.0 seem to be generating bogus code. LLVM 4.0 and above fixes these issues.  If we're considering an upgrade, I'd like to explore LLVM 5.0 and 6.0 as upgrade targets, too.

[2018-04-20 18:06] crd477 commented on #1295
I noticed this happening a few more times since my last comment.  Upon further investigation, the cause was invalid DHCP and metadata being served by a staging system I had on the same network.  I've stopped the offending services on that system and I'm confident this particular problem of the worker nodes not being able to access github will not happen again.  Sorry for the hassle...

[2018-04-20 21:15] ksaito7 opened #1319 "Add a column length in ColumnCatalogObject and pg_attribute"
Current catalog::ColumnCatalogObject class and pg_attribute table don't have column length information, although the catalog::Column class has it. Due to this, the checkpoints can't recover the catalog::Column from pg_attribute table.

[2018-04-20 21:51] ksaito7 opened #1320 "Catalog OID collision in checkpoint recovery"
Some catalog objects have OID as primary key. OID is incremented automatically when a new catalog record is inserted. The OID value never distinguish built-in catalog records (e.g. built-in function, and catalog table info in pg_table) with user created catalog records (e.g. UDF, and user table info in pg_table).

In checkpoints, all catalog tables is kept with same values including OID. However,

[2018-04-21 16:13] nwang57 commented on #1298
The tuple value expression equality check works well when bound by the `bind_node_visitor` because it will set the `bound_obj_id_` variable for the tuple value expression instance. However, the equality check will not work when we manually create the expression tree and call `PerformBinding` on the plan. It will not set the `bound_obj_id_` nor the table name and column name.

I tried to compare th

[2018-04-21 17:15] malin1993ml commented on #1300
This issue is fixed in #1301 so I'm closing it. I would add a final comment that we're doing bunch of initialization work in `IndexScanExecutor::DInit()` right now, including generating the `IndexScanPredicate`. We need to do similar work in the LLVM engine as well when we're suppporting index scan in the LLVM engine.

[2018-04-21 17:15] #1300 closed

[2018-04-22 16:13] mbutrovich opened #1325 "Garbage collection doesn't reclaim in all scenarios"
David and I completed our first comprehensive evaluation of the garbage collector. Based on the test suite we wrote [here](https://github.com/mbutrovich/peloton/blob/gc_fixes/test/gc/transaction_level_gc_manager_test.cpp), we've identified the following tuple-related problem scenarios:

1. Primary key constraint violation (FailedInsertPrimaryKeyTest)
- Insert tuple (0,0), commit
- Insert tuple (0,

[2018-04-24 12:30] crd477 commented on #1317
OK, this is completed for the Ubuntu Trusty and Xenial images since they're currently enabled in Jenkins.  I can update other images if you'd like but it's probably better to wait until there is interest in supporting those.

#1328 is also related so that tensorflow and protobuf don't get built and installed unconditionally.  They're already installed in the docker builder images though.

[2018-04-24 13:49] schedutron commented on #1006
Can I work on this?

[2018-04-24 14:47] pervazea commented on #1317
A couple of people are reporting failures on Jenkins Trusty images. Haven't diagnosed yet, but I suspect there is something not correct in the new images.

________________________________
From: Chad Dougherty <notifications@github.com>
Sent: Tuesday, April 24, 2018 8:30 AM
To: cmu-db/peloton
Cc: Pervaze Akhtar; Author
Subject: Re: [cmu-db/peloton] Update docker images with dependencies (#1317)

O

[2018-04-24 16:53] pervazea commented on #1317
Docker images seem fine, but breaks after we run packages.sh

________________________________
From: Pervaze Akhtar
Sent: Tuesday, April 24, 2018 10:47 AM
To: cmu-db/peloton
Subject: Re: [cmu-db/peloton] Update docker images with dependencies (#1317)

A couple of people are reporting failures on Jenkins Trusty images. Haven't diagnosed yet, but I suspect there is something not correct in the new i

[2018-04-24 16:57] crd477 commented on #1317
Could you please elaborate on what is breaking?  I tested multiple invocations of `packages.sh` with 2ff8c44b8c89cd1242860290e928eb5cf2bdb3b0 applied and did not have any problems.

[2018-04-26 03:46] poojanilangekar commented on #1222
Fixed in #1272 and #1263

[2018-04-26 03:46] #1222 closed

[2018-04-26 03:47] poojanilangekar commented on #1154
Fixed in #1272 & #1263

[2018-04-26 03:47] #1154 closed

[2018-04-26 03:48] poojanilangekar commented on #106
Fixed in #1272 & #1263

[2018-04-26 03:48] #106 closed

[2018-04-28 11:29] Nov11 opened #1332 "What is the correct behavior of a read only txn?"
I'm writing a test case for read only txn access mode.
Suppose x == 0 and two txns run in this order:
[code]

I think both of these txns should be able to commit.
Two reads of txn#2 should return the following results.
Isolation level of txn#1 does not matter.

isolation level of txn#2 | 1st read | 2nd read
-- | -- | --
read committed | 0 | 2 |
repeatable read | 0 | 0 |
serializable | 0 | 0

Is my

[2018-04-29 01:46] apavlo commented on #1332
Yes, this is correct. We currently only support snapshot isolation though so I wouldn't worry about this for your test in #1313.

[2018-04-29 01:46] #1332 closed

[2018-04-29 17:44] tcm-marcel commented on #1239
@poojanilangekar told me it happened again: https://github.com/cmu-db/peloton/pull/1302#issuecomment-385267457

@pervazea Can you check the Github trigger history and see if we can see something there?

[2018-05-01 15:39] pervazea commented on #1318
Matt tried out Ubuntu 18.04 over the weekend. Packages.sh does not work as LLVM 3.7 doesn't install.

So, likely that we'll want to upgrade LLVM in conjunction with moving to 18.04. If there are any other outdated (unsupported) components moving to 18.04, those too.

[2018-05-01 18:00] tcm-marcel commented on #1239
I see a lot of builds that get not triggered right now, even on *my* fork.

I guess we can't do anything about that...

[2018-05-01 18:06] mbutrovich opened #1334 "Segfault in value_integrity_test when compiling with Clang on macOS"
As of #1302 the master branch generates a segfault in value_integrity_test when compiling with Clang on macOS. When run with AddressSanitizer enabled, it implies that a bad memory access is generated within libunwind afte a DivideByZeroException is thrown.

I haven't verified if this is unique to Apple's custom Clang release or manifests on normal Clang as well. My clang version is:
[code]
Details

[2018-05-01 18:11] mbutrovich commented on #1334
Looks like a similar issue to what was discussed in #995.

Also, if I disable the prior test (IntegerOverflow) and run the failing test (IntegerDivideByZero) in isolation, it passes.

[2018-05-01 20:00] nwang57 opened #1336 "Assertion fail when insert and delete in the same transaction"
[code]
The assertion failed at line 618 in `src/concurrency/timestamp_ordering_transaction_manager.cpp`.  It seems that if the txn owns the tuple, it will not update the tuple's last reader id. So the commitId is 0 during the assertion.

[2018-05-01 20:02] apavlo commented on #1336
Thank you for reporting this. We are having a lot of problems with our concurrency control scheme. Is this a blocker for your project?

[2018-05-01 20:05] nwang57 commented on #1336
Yeah, we passed all the `make check` tests except the functions_test which is related to this problem. We will talk with @pmenon on Friday about this issue.

BYW, we just merged with catalog refactoring commit in the master with our changes. So far it doesn't break any test yet.

[2018-05-01 21:26] poojanilangekar commented on #1334
Interestingly, it wasn't trigger in #1335.  Here is the snippet of the log:
[code]

[2018-05-01 21:41] mbutrovich commented on #1334
As far as I know Travis still only builds with gcc, not Clang. My suspicion is this is manifesting a bug inside of LLVM's internal use of libunwind, since Peloton never uses the library explicitly. A similar bug has been reported recently to LLVM, and it visible all the way back to LLVM 3.7:

https://www.mail-archive.com/llvm-bugs@lists.llvm.org/msg20647.html

[2018-05-01 21:46] poojanilangekar commented on #1334
But #1335 used clang to build on macOS. I don't think you can build peloton with gcc on macOS.

[2018-05-01 21:53] mbutrovich commented on #1334
You're right. It was built with Clang (albeit an older version) than the one most of us are using. Bizarre.

[2018-05-05 15:11] mengranwo commented on #1029
Sure, will look into that during weekend.

[2018-05-06 04:13] ChTimTsubasa opened #1350 "EXPLAIN handle push down"
The way #1108 add support to EXPLAIN is to extract the explained statement directly from query string at protocol handler layer, which is not the best place to handle EXPLAIN for 2 reasons:

1. Pointed out by @nappelson, #1108 only support EXPLAIN for Postgres Simple Protocol and would fail Postgres Extended Protocol used by JDBC. This is because Optimizer does not support handling EXPLAIN.

2. Pr

[2018-05-07 16:55] apavlo commented on #1350
What if we just made a special `ExplainExecutor` that just generates the plan string and then outputs that as a single tuple?

[2018-05-07 17:53] chenboy commented on #1350
We just looked at Postgres and found they handle all utility commands in the traffic cop, I'm not quite sure why they do it this way though.

[2018-05-07 18:58] ChTimTsubasa commented on #1350
I would say one reason they do that in this way is that utility queries would touch some of the frontend components during execution. For example, EXPLAIN would need optimizer, PREPARE and EXECUTE would need plan cache (Statement Cache in our system)

[2018-05-07 19:04] ChTimTsubasa commented on #1350
Utility commands are all executed in https://github.com/postgres/postgres/blob/master/src/backend/tcop/utility.c#L337
While generally executed in https://github.com/postgres/postgres/blob/master/src/backend/executor/execMain.c

[2018-05-08 18:10] ChTimTsubasa commented on #1296
I tried these commands on the current master branch. It does not exist. The txn state stack is clean and the last two command can success.

[2018-05-08 18:14] ChTimTsubasa commented on #1296
I would add test cases to address this problem.

[2018-05-08 19:05] ChTimTsubasa commented on #1296
This issue is right about that the txn context is not explicitly aborted in the traffic cop after an invalid statement. But somehow the txn is still aborted so that another txn cannot see it. I am wondering if this is related to @poojanilangekar 's recent fix on concurrency control?

I would fix the problem to explicitly abort the traffic_cop.

[2018-05-08 20:47] poojanilangekar commented on #1296
My recent fix was for the Halloween problem #1222. So that just changed visibility in a per statement basis. Not related to what is visible across statements. Can you give me some details of where the error is within the `TransactionManager`?

[2018-05-09 04:57] poojanilangekar opened #1351 "Change line 7588 in src/index/bwtree_index.cpp to LOG_TRACE"
After merging #1190,  the following log message gets printed every epoch:

```[src/index/bwtree_index.cpp:7588:~EpochManager] DEBUG - Clearing the epoch in ~EpochManager()...```

I think this is an overkill and makes the real debug messages get lost. It should be changed to `LOG_TRACE`

[2018-05-09 21:21] GustavoAngulo opened #1353 "Join cost calculation uses default value of -1"
It seems that in certain cases during three way joins, when one of the children of a join is a join itself, its cardinality estimate will be -1, so the cost model will use that -1 value to compute the cost for the overall join (which is bad). This is most likely due to the optimizer not properly updating the cardinality of intermediate joins [here](https://github.com/cmu-db/peloton/blob/d052644e79

[2018-05-10 04:45] chenboy opened #1354 "Duplicate groups generated in the optimizer"
As it was reported by @GustavoAngulo , the assertion in https://github.com/cmu-db/peloton/blob/master/src/optimizer/memo.cpp#L46 is not correct because we may generate duplicate groups with different group ID in the optimizer. This is because now we do not generate all logically equivalent group at once.  One possible scenario is we generate `((A join B) join C) join D` by one transformation rule

[2018-05-10 14:10] pervazea opened #1355 "Benchmarking observations"
Recording some observations, that will need resolution (at some point).

1. Running TPCC. Sometimes (not often, maybe 1 in 10 or 1 in 20 runs), peloton crashes with memory corruption. I suspect this is not TPCC specific.

2. Result variability. Getting a significant amount of variability in the results. Low around 17, high around 45 and median of around 30 requests / sec. Have not applied any spec

[2018-05-10 15:06] GustavoAngulo commented on #1353
Possibly, this might affect our benchmarking results for our class project, but its hard to say.

[2018-05-10 15:56] GustavoAngulo commented on #1354
You should be able to recreate it with any three way join, or possibly a two way join. I thin running planner_equality_test should cause it. I'm seeing though that the changes from #1245 never made it in, idk why that happened. In which case to trigger the failure you will need to make the fix [here](https://github.com/cmu-db/peloton/pull/1344/files#diff-fbc80aa087788824d20419be608d1137R104)

[2018-05-10 22:38] Dingshilun opened #1356 "Binder Infinite recursive calls of GetColumnObjects if the column tuple in pg_attribute is being modified and not committed"
Hi, we are working on Alter Table. And if we execute any txns like this:
T1                  T2
start
                       start
Alter column
(rename)
                       select */select that modified column
At this time, tuples belong to the table are modified but not committed. Basically any txns that read them would abort.
Txn2 would be trapped in recursive GetColumnObjects() and finally g

[2018-05-11 00:59] poojanilangekar commented on #1356
Did you try using the fix from #1322?

[2018-05-11 01:05] Dingshilun commented on #1356
No I haven't. I will try using it. Will it be merged into master?

[2018-05-11 03:03] poojanilangekar commented on #1356
Eventually, yes. Not sure it will be merged before the 721  presentation day.

[2018-05-11 03:33] poojanilangekar commented on #1356
@Dingshilun
I think I know what the other problem might be. Change the line 252 of `column_catalog.cpp` to `return table_object->GetColumnObjects(true);`. This would make sure that the TableCatalog returns the cached object. And the read only fix would make sure that Txn2 isn't aborted.

[2018-05-12 17:29] eloiseh opened #1358 "Undefined reference to LockFreeArray"
When we try to use LockFreeArray in transaction_manager.h, the linker throws undefined reference error. Any idea why would this happen?
[code]

[2018-05-12 18:57] saatviks opened #1359 "Path issues with `tensorflow_test`"
Currently in order to locate and:
1. Run the model generation python scripts
2. Load the generated model
We try to generate a relative path with methods written in `FileUtil` by me. This can lead to errors unless the test is run from within the `tests` directory of your build.

[2018-05-12 20:44] nappelson opened #1360 "Support ability to Analyze all tables"
Right now, `analyze_executor` does not support analyzing all tables.
If you run `Analyze;`, it returns as if it were successful but doesn't actually analyze the tables. I think we should first add logging to specify that we don't support `Analyze;` if we don't end up making it work soon.

Here is the snippet from `src/executor/analyze_executor.cpp` that indicates we don't support it
[code]

[2018-05-12 20:55] nappelson opened #1361 "Adding debug method that can print query plans"
Would recommend adding a method that can print out query plans. This method should likely take in a pointer to an `AbstractPlan` and print out each `PlanNode`'s information (with `GetInfo()` in a structured way.

This method could exist in `src/include/planner/abstract_plan.h`

[2018-05-13 20:46] Zeninma opened #1362 "ZoneMap bug when using cached compiled query"
When a cached compiled query is reused for the second time, ```ZoneMapManager::ShouldScanTileGroup``` always returns false and causes error ```Conditional jump or move depends on uninitialised value(s)``` in valgrind . This is because the argument ```parsed_predicates``` is only populated when the query is compiled for the first time but needed at runtime whenever the compiled query is executed. H

[2018-05-13 20:50] Zeninma opened #1363 "Destruction of uninitialized Value in FillPredicateArray"
Inside ```peloton/src/codegen/runtime_functions.cpp```, ```void RuntimeFunctions::FillPredicateArray``` assigns ```(*parsed_predicates)[i].predicate_value``` to  ```predicate_array[i].predicate_value```. However, ```predicate_array[i].predicate_value``` has never been initialized. In ```Table::GenerateScan```, it only gets allocated a block of memory. Hence, during the assignment an uninitialized

[2018-05-14 12:33] eloiseh commented on #1358
You probably forget the explicit template instantiation. Can you try to add
[code]
at the end of lock_free_array.cpp and rerun cmake?

[2018-05-14 12:33] #1358 closed

[2018-05-14 21:50] eloiseh opened #1365 "Weird switch between executor and codegen"
When we test concurrent transactions, one create index and one update a tuple, the execution uses codegen when we manually add sleep, but uses executor when we don't, it's really weird because the queries we use are exactly the same. And when it uses executor, bugs cause segmentation fault when accessing bw_tree index in certain ways.

[2018-05-16 07:43] chenboy opened #1368 "Potential memory leak in the serialize method of varlen type"
In https://github.com/cmu-db/peloton/blob/3451aeff65a80c8a9aae8fa10f3f7083dd99ee7a/src/type/varlen_type.cpp#L181, we'll create a new char array to buffer the serialized varlen type if no memory pool is specified, I think it will not be deleted afterwards so this may cause a memory leak. I found this when working on the explain executor, which returns the plan string as a tuple.

Detail see this bu

[2018-05-16 20:13] chenboy opened #1369 "No informative GetInfo() method for operator nodes and some plan nodes"
This is a little bit different from what we discussed in the meeting, I'll explain in the description.

There's no GetInfo() method for operator nodes in the optimizer, which makes debugging the optimizer extremely painful.

https://github.com/cmu-db/peloton/blob/master/src/include/optimizer/operators.h#L52

There are some difficulties implementing it I can think of. First is operators are stored

[2018-05-17 00:23] linmagit opened #1370 "Decouple the DataTable pointer from the plan objects"
We now have the `storage::DataTable` pointer inside many plan objects, such as `AbstractScanPlan`, `AnalyzePlan`, `DeletePlan`, `InsertPlan`, and `UpdatePlan`.  This prevents us from shipping the plan objects around or using the "what-if" API on the brain side.

I'll take `SeqScanPlan` for example. Instead of getting the table pointer and storing it in the plan object here:
https://github.com/cmu-

[2018-05-18 16:36] ksaito7 opened #1373 "Unexpected catalog object might be obtained from CatalogCache"
When we use a getter function in CatalogCache, an unexpected catalog object might be obtained from unexpected database. For example:
[code]
In this function, same `table_oid` might be existed in an other database unexpected, because SystemCatalogs class allows each catalog to make same oid between databases. We need to add a database_oid argument to all getter functions.

[2018-05-18 18:22] ksaito7 opened #1374 "Can't recover tile group from LayoutCatalog in checkpoint recovery"
Current LayoutCatalog table, pg_layout, doesn't have about ROW or COLUMN layout. So checkpoint recovery can't decide which layout was used in the recovered tile group from LayoutCatalog. To recover it from LayoutCatalog, all layout info has to insert into pg_layout.

Additionally, layout oid in case of ROW or COLUMN is not initialized when constructed by `Layout(const oid_t num_columns, LayoutType

[2018-05-21 14:21] #1313 closed

[2018-05-21 15:04] apavlo commented on #1370
I will assign this to @Zeninma once he joins the group on Github.

[2018-05-21 15:05] apavlo commented on #1369
I will assign this to the incoming PKU intern.

[2018-05-21 20:08] pmenon commented on #1164
I think #1224 supersedes this. Closing for now.

[2018-05-21 20:08] #1164 closed

[2018-05-22 02:28] pervazea opened #1377 "Sequential scan with value_parameter defaults to executor"
Found during performance testing.
We configured YCSB to use a 100% read workload, removing the primary key from the schema, to force Peloton to use codegen sequential scan rather than executor index scan. Discovered that due to use of value parameter (in a prepared statement), the system uses the executor.

Modifying the code to allow the value parameter with codegen, Peloton runs fine, but YCSB c

[2018-05-22 16:54] chenboy commented on #1354
I found that ORCA may be solving duplicated groups problem by merging them, which I think is the correct way to do it.

[https://github.com/greenplum-db/gporca/blob/master/libgpopt/src/search/CMemo.cpp#L605](https://github.com/greenplum-db/gporca/blob/master/libgpopt/src/search/CMemo.cpp#L605)

[https://github.com/greenplum-db/gporca/blob/master/libgpopt/src/search/CMemo.cpp#L605](https://github.c

[2018-05-22 20:30] malin1993ml commented on #1354
Interesting. Do you know how Columbia did it? Or they actually didn't
handle it...

On Tue, May 22, 2018 at 9:54 AM, Bowei Chen <notifications@github.com>
wrote:

[2018-05-22 23:28] chenboy commented on #1354
I didn't see them handle this problem in their codebase, at least they're not merging groups.

@malin1993ml Do you think it's OK to do it in the similar way as ORCA does it?

[2018-05-23 04:04] malin1993ml commented on #1354
I think it’s okay. There’re trade-offs with it, but I don’t have a better
approach right now. I think it’s reasonable to proceed with that way.
On Tue, May 22, 2018 at 16:28 Bowei Chen <notifications@github.com> wrote:

[2018-05-23 14:19] pervazea commented on #1377
Examining the interaction between Peloton and oltpbench using wireshark. The output is hard to read since there is no jdbc protocol decoder. What it looks like:

Select calls from 1-5, pass back column information.
Select call 6 has different interaction. The return information from codegen has the same MD5 hash as before, which implies we are sending back the right information.

JDBC documentatio

[2018-05-23 14:27] pervazea commented on #1377
For future reference:
[https://jdbc.postgresql.org/documentation/head/server-prepare.html](url)
[https://www.postgresql.org/docs/current/static/protocol-flow.html#PROTOCOL-FLOW-EXT-QUERY](url)

[2018-05-23 19:11] pervazea commented on #1377
For future reference:
[https://jdbc.postgresql.org/documentation/head/server-prepare.html](url)
[https://www.postgresql.org/docs/current/static/protocol-flow.html#PROTOCOL-FLOW-EXT-QUERY](url)

[2018-05-23 19:19] pervazea commented on #1377
result_format is a vector containing information about the expected encoding of query parameters.
On the way in, ReadParamValue in postgres_protocol_parser.cpp handles incoming data.

Outgoing, it is done in executor/logical_tile.cpp, in
std::vector<std::vector<std::string>> LogicalTile::GetAllValuesAsStrings(
    const std::vector<int> &result_format, bool use_to_string_null)

Since codegen (quit

[2018-05-24 21:16] mbutrovich commented on #1334
Current master branch no longer manifests this issue, and I don't believe this is a bug in our control anyway.

[2018-05-24 21:16] #1334 closed

[2018-05-25 17:46] pervazea opened #1382 "prepare_stmt_test fails in codegen"
Running with:
- Master (as of approx. 23 May 2018)
- With modified query_compiler.cpp
- make check fails, in the prepare_stmt_test

- I had, in a different src tree, made some fixes for marshaling types in binary, and was testing to see if they worked, which led to this bug. Since none of my fixes are present, codegen is enabled for VALUE_PARAMETERS, and the test in question does not trigger binar

[2018-05-25 18:58] pervazea commented on #1382
Re-running after pulling from Master 25 May 18, which provides better diagnostics, courtesy of changes by Matt B.

2018-05-25 14:55:19 [/home/proj/master_bin/peloton/test/network/prepare_stmt_test.cpp:41:PrepareStatementTest] INFO  - [PrepareStatementTest] Connected to default_database
2018-05-25 14:55:19 [/home/proj/master_bin/peloton/src/codegen/lang/vectorized_loop.cpp:37:~VectorizedLoop] ERROR

[2018-05-29 14:33] pervazea commented on #1382
#0  peloton::codegen::ComparisonTranslator::DeriveValue (this=0x7fffdc009480,
    codegen=..., row=...)
    at /home/pakhtar/proj/master_bin/peloton/src/codegen/expression/comparison_translator.cpp:37
#1  0x00007ffff63f337c in peloton::codegen::RowBatch::Row::DeriveValue (
    this=0x7fffe8bfc3b0, codegen=..., expr=...)
    at /home/pakhtar/proj/master_bin/peloton/src/codegen/row_batch.cpp:130
#2

[2018-05-29 14:50] pervazea commented on #1382
$21 = (peloton::expression::ComparisonExpression) {
  <peloton::expression::AbstractExpression> = {
    <peloton::Printable> = {
      _vptr.Printable = 0x7ffff7cd7688 <vtable for peloton::expression::Comparis
onExpression+16>
    },
    members of peloton::expression::AbstractExpression:
    ival_ = 0,
    expr_name_ = "",
    alias = "",
    distinct_ = false,
    exp_type_ = peloton::Expression

[2018-05-29 17:42] apavlo commented on #1351
Fixed in #1372

[2018-05-29 17:42] #1351 closed

[2018-05-29 17:47] pervazea opened #1386 "PerformVectorizedRead optimization"
1. We should separate the visibility check from the addition to the read-write set in TransactionRuntime::PerformVectorizedRead(). (transaction_runtime.cpp line 28)
Visibility should be checked for all tuples, but PerformRead() should only be called for tuples that pass the scan predicate. Otherwise, *all* visible tuples will be added to the read-write set, which is too conservative.  (Prashanth s

[2018-05-30 13:11] pervazea commented on #1382
Possible solutions discussed yesterday.
1. Doing conversion from VARCHAR (parameter value) to the target type, in codegen. Rejected.
2. Modifying the planner / optimizer to add a "type conversion node" into the plan, along with suitable support to execute it in the rest of the system. This was the direction.

[2018-05-30 14:18] apavlo opened #1387 "Prepared Statement Type Binding"
The codegen engine expects that all input parameters for prepared statements are properly cast before they arrive. This causes a problem as shown in the example #1382 where we pass in `VARCHAR` value for a query that expects an `INT` parameter. The reason why we don't have this problem in the interpreted engine because we run each parameter value through the cast function with a giant switch state

[2018-05-30 14:19] apavlo commented on #759
I don't think that this is an issue anymore.

[2018-05-30 14:19] #759 closed

[2018-05-30 14:55] apavlo opened #1388 "Long Running Test Cases"
We need to create a new class of test cases (a mix of C++ gtest and Java junit) that run for long periods of time. I don't know what the right way to do this in terms of both build/test infrastructure (jenkins) and in the source code.

We should always be building these test cases as part of the regular build process but we don't want these to run when someone invokes `make check`. There might be

[2018-05-30 18:18] pmenon commented on #1069
This was fixed in #1063

[2018-05-30 18:18] #1069 closed

[2018-05-30 19:26] mbutrovich commented on #1318
Have a [branch going](https://github.com/mbutrovich/peloton/tree/llvm6) that has been tested in the following configurations:

Ubuntu 16.04 (dev5):
LLVM 3.7 (fails, but expected due to bad Skylake support)
LLVM 5.0 (passes make check, Debug, ASAN on)
LLVM 6.0 (passes make check, Debug, ASAN on)

macOS:
LLVM 3.7 (passes make check, Debug, ASAN on)
LLVM 6.0 (passes make check, Debug, ASAN on)

I'm g

[2018-05-30 19:40] crd477 commented on #1318
Cool!

[2018-05-30 19:41] crd477 commented on #1388
Got it.  I'll start on this soon.

[2018-05-31 23:31] apavlo opened #1392 "Remove LOG_INFO from update_test"
There is a bunch of `LOG_INFO` debug statements in 'update_test.cpp'

https://github.com/cmu-db/peloton/blob/master/test/executor/update_test.cpp

We need to remove them. This should be easy

[2018-06-06 19:16] tli2 commented on #1387
After investigation, it turns out we already do the proper casting in postgres_protocol_handler.cpp, if the type of parameters are known.  I am also having problems reproducing the failure when running TPC-C (Pervaze is sending me his config file).

AFAIK, two things can cause failure on this front at this moment:

- Unfilled parameter type fields in the parse message (This is the reason for failu

[2018-06-07 14:42] Traveler98 commented on #1392
I am new to this . I changed what you asked for here : https://github.com/cmu-db/peloton/compare/master...Traveler98:patch-1
Hope I've done it right .

[2018-06-07 17:50] tli2 commented on #1387
Pervaze and I wasn't able to reproduce this error on TPC-C or YCSB. The failure is probably not due to this. The test case can be fixed by itself. Pervaze will incorporate the fix in his other PR. Closing this issue unless something else comes up.

[2018-06-07 17:50] #1387 closed

[2018-06-07 18:27] pervazea opened #1394 "Failure when running YCSB with VALUE_PARAMETER supported"
This is trying to resolve #1382, which turns out to be a just a broken test.

Overview:
- Trying to run oltpbench (specifically YCSB), with codegen.
- Enabled VALUE_PARAMETER, so we can get codegen to handle preparated statements
- Experimental code to support JDBC marshaling of binary types

What works:
- YCSB with 100% read workload, runs. Have not tried long runs. Short runs are fine.
- Unit te

[2018-06-07 18:32] pervazea commented on #1394
Code may be found in my  prepstmt_seq_scan from
https://github.com/pervazea/peloton.git

[2018-06-08 09:11] a6802739 commented on #1319
@ksaito7  I'm new to this project, And I want to try to fix this. One question here is what does the `column_offset` means within `ColumnCatalogObject`?

[2018-06-08 11:27] ksaito7 commented on #1319
@a6802739 This issue has already been implemented in PR #1383 (now reviewing). Could you try other issues?
 `column_offset` means a head location of the column in the table. It seems to be used for storage management to recognize where the column data is in the tuple. For example, assuming that a table has two columns (id interger, value varchar(36)), then id's offset is 0, and value's offset is 4

[2018-06-08 15:02] a6802739 commented on #1319
@ksaito7  I see, Thanks a lot. Any issue would be fine for me to start, could you just point out another issue which is suitable for a beginner?

[2018-06-08 16:12] apavlo opened #1395 "Mark Transaction as Read-Only When Executing Single-Statement SELECT"
If we get `SELECT` query in a single-statement txn, we should mark it as 'read-only'. This will avoid conflicts with other txns that are running at the same time.

I think the only place that we need to change is `TrafficCop::ExecuteHelper()`:

https://github.com/cmu-db/peloton/blob/master/src/traffic_cop/traffic_cop.cpp#L163

I'm not sure how we can write a test case to prove that this is working

[2018-06-08 16:16] apavlo commented on #1395
I will assign this task to @lmwnshn

[2018-06-08 16:38] apavlo opened #1396 "TransactionContext Read-Only Interface"
We need to think about how we want to set the read-only flag for a `TransactionContext`. There are currently two ways to set this flag:

1. When the txn is created in `TransactionManager::BeginTransaction()`
   https://github.com/cmu-db/peloton/blob/master/src/include/concurrency/transaction_manager.h#L226-L228

2. After it has started using `TransactionContext::SetReadOnly()`:
   https://github.c

[2018-06-10 19:15] apavlo opened #1397 "Add New SessionContext Object"
There are certain parameters that we need during execution that need to persist across transactions.

1. `current_database`: The database that the client is currently connected to. This is currently called `default_database` in the code.

2. `temp_namespace`: This is the namespace (schema in Postgres parlance) where all temp tables will get created. Anytime that we need to do a look-up in the cata

[2018-06-10 19:31] apavlo opened #1398 "Clean-up Catalog Infrastructure"
Our catalog code is a mess. It's inconsistent. We need to clean it up so that it is easier to understand and follows the proper logical hierarchy.

I propose the following changes:

1. Refactor the methods so that `TransactionContext` is always passed in as the first argument.

2. Refactor the `Catalog` methods so that parameters are passed in using the same order as the hierarchy (i.e., Database→

[2018-06-10 20:44] Zeninma commented on #1370
I am having a problem while doing the decoupling. It would be great if I can get some help on this.

#### My approach for decoupling
In ordert to do the decoupling, I substitute ```storage::DataTable target_table``` in some plan objects with the corresponding database and table ```oid_t```. The ```storage::DataTale *GetTable()``` is replaced with ```storage::DataTable *GetTable(concurrency::Transa

[2018-06-11 13:49] apavlo commented on #1370
I don't think that the plan objects should support `GetTable` anymore. That should be down from outside of the plan.

@tli2 It looks `IndexScanPlan` just needs the value type for a particular column in the index:

https://github.com/cmu-db/peloton/blob/master/src/planner/index_scan_plan.cpp#L88

Can we modify the binder to record this when it constructs the `IndexScanPlan`? The plan objects should

[2018-06-11 14:24] tcm-marcel opened #1399 "Print stack trace on errors using libunwind"
**The idea:** Print a stack trace on server side when exceptions get thrown/caught. (Replacing the old stack trace code with libunwind)

@mengranwo already tried this in #914 and #995, but failed because of a few (partly unrelated) errors she couldn't eliminate. I think we can give this PR another try, since a few of these things have been solved in the meantime.

* Try to apply #995 to current ma

[2018-06-11 14:46] pervazea commented on #1394
To recap:
- running YCSB
- using a branch with a quick and ugly fix for binary marshaling. The JDBC driver switches from text marshalling to binary marshalling after 5 invocations of a particular prepared statement.
- problem appears to be in an update statement.  Fails with

[code]

Prior to this.. the log looked like:

[code]

[2018-06-11 15:47] tli2 commented on #1398
Speaking of XXXCatalogObjects, what are them exactly? From what I understand they are results from a read. Would it make more sense to rename them to "CatalogEntry" or something like that? I remember getting confused by it while doing class project and not being able to find much documentation explaining what it is

[2018-06-11 15:50] tli2 commented on #1382
As discussed elsewhere, reason for failing is that libpqxx does not fill type fields in prepare message. We are already casting correctly for types that are known in the binding phase in the network code, but do not do type inference to fix the ones that do not specify types.

A workaround would be to use explicit PREPARE with types as SQL in this test case. I have tested that this resolves the is

[2018-06-11 16:11] apavlo commented on #1398
@tli2 I am okay with renaming them to be `CatalogEntry`.

[2018-06-11 18:37] pervazea commented on #1394
In UpdatePlan::Performbinding:
[code]
We set ais_  with column attribute information. In the case in question, i.e. when JDBC switches to binary mode and tries to be smart about prepared statements, we get the follow behaviour:

1. We go through and set attribute information in ais_
2. When we switch to binary mode, we find that ais_ is already set. However, we go through this path again, and set

[2018-06-11 18:44] pervazea commented on #1394
[PLTestBase.java.txt](https://github.com/cmu-db/peloton/files/2091282/PLTestBase.java.txt)
[UpdateTest.java.txt](https://github.com/cmu-db/peloton/files/2091283/UpdateTest.java.txt)

[2018-06-12 21:06] tcm-marcel opened #1405 "Crash in Parser when using COPY without DELIMITER"
`COPY` got introduced in #1371, including parser changes. Not explicitly specifying a delimiter however crashes Peloton in the parser.

Example from @lmwnshn:
`postgres=# COPY customer FROM '/Users/wanshenl/Desktop/data/tpch1/customer.tbl';`

<details>
 <summary>Peloton output with stack trace</summary>

[code]

</details>

[2018-06-12 22:16] pmenon commented on #1405
So, the problem is not when no delimiter is specified, but when no options are provided at all.

`COPY customer FROM '/Users/wanshenl/Desktop/data/tpch1/customer.tbl' with (FORMAT csv);` should work (but fail correctly because `dbgen` output isn't comma-separated).

Postgres seems to default to CSV if no options are provided, we should probably do the same. Should be a trivial fix.

[2018-06-13 16:57] gandeevan commented on #1314
This is actually the expected behaviour. Since we don't do speculative reads,  MVTO aborts a transaction that attempts to read or update a version whose write lock is held by another transaction. So unless a multi-statement Txn is explicitly made read-only, the Txn performing the read will get aborted in the presence of concurrent updates.

[2018-06-13 17:05] tomasic commented on #1314
Does this fact explain our low TPC performance?

I guess we should augment the TPC numbers with the abort rate - or has
someone looked at this? If its high, that would be the place to look
instead of looking at cycles spent in each function.

On Wed, Jun 13, 2018 at 11:57 AM Gandeevan Raghuraman <
notifications@github.com> wrote:

--
Anthony Tomasic
Language Technologies Institute
Carnegie Mellon

[2018-06-14 16:42] saatviks commented on #1312
Resolved with #1406

[2018-06-14 16:42] #1312 closed

[2018-06-15 00:21] lisihao opened #1409 "Peloton crashes at bootstrap without command parameters on 4 sockets and 144 hardware threads big machine."
Machine configuration：
1. 4 soclets，144 hardware threads，Ubuntu14.04 LTS
2. I compiled peloton without errors

Using  peloton command without parameters，peloton crashed with “setting” error. I use “Pelot -connection_thread_count=64” then it was ok.
I trace to the root cause and find that the SETTING_in（connection_thread_count，“number of connection treads......”，std：：tread：：hardware_concurrency（），1

[2018-06-18 14:55] tli2 commented on #1398
Since I am blocked on a weird test failure in #1404, I can quickly fix some of these today.

[2018-06-18 15:33] tcm-marcel opened #1413 "Address sanitizer fails in art_index_test"
The address sanitizer reports an error in the **art_index_test** in the Travis Mac build for PR #1244, which is not related to the ART index.

The error appears in the test case **NonUniqueKeyMultiThreadedStressTest**:

<details>
<summary>Output of address sanitizer (incomplete)</summary>

[code]

</details>

[Complete output](https://api.travis-ci.org/v3/job/392879559/log.txt)

[2018-06-19 12:00] apavlo opened #1416 "Remove Tabs!"
This should have been caught in the code review!

https://github.com/cmu-db/peloton/blob/2676275c8ea298cb0fede43e2d9f838a0e6fb57e/src/include/catalog/catalog_cache.h#L53

[2018-06-19 14:06] ksaito7 commented on #1416
Sorry!

[2018-06-19 14:35] tli2 commented on #1416
@ksaito7 https://github.com/cmu-db/peloton/wiki/Formatting this can help you. Also, I remember in CLion you can configure it to automatically format your code (Google C++ style is what we use)

[2018-06-19 14:36] tli2 commented on #1398
5. Remove all default parameters (or document them clearly for the ones that really make sense), per  #1414

[2018-06-19 14:48] ksaito7 commented on #1416
@til2 Thanks. I will use its script. And I set up my eclipse to use space.

[2018-06-19 16:33] #1416 closed

[2018-06-19 17:00] pervazea commented on #1394
In today's Peloton meeting, Prashanth's assertion was that re-binding on the cached plan was not required.

[2018-06-19 18:20] #1374 closed

[2018-06-19 18:22] #1320 closed

[2018-06-19 18:22] #1373 closed

[2018-06-19 19:00] ksaito7 commented on #1319
@a6802739 You should choose an issue tagged beginner. Sorry, I don't know which is better. If you want to work for catalog issues, how about  #1414?

[2018-06-19 19:01] #1319 closed

[2018-06-20 00:11] mbutrovich commented on #1316
Default on Ubuntu 18.04 is GCC 7 and that worked for me when I was testing a couple of weeks ago.

[2018-06-20 02:43] a6802739 commented on #1399
@tcm-marcel , I'm new to this project, could I have a try for this?

[2018-06-20 16:58] mbutrovich opened #1420 "Concurrency control (MVTO) discussion"
In trying to improve the performance of the CC system, I've identified several design decisions that I'd like to discuss here and possibly change in the future.

1. We maintain and rely on a doubly-linked version chain. This is at odds with both the MVCC paper:

...and our [own wiki entry on our CC protocol](https://github.com/cmu-db/peloton/wiki/Concurrency-Control-Protocol):

2. We add READs to

[2018-06-20 17:52] tli2 opened #1421 "Language table initialization in Catalog"
"but we should not be initializing the language table in this function." (Referring to Catalog::InitializeLanguages()) - Andy

[2018-06-20 21:34] pmenon commented on #1316
Seems to compile okay if we update to C++14, too (default on GCC6 and GCC7).

[2018-06-21 08:34] yingjunwu commented on #1420
Hi @mbutrovich, nice thought! Most of the problems you mentioned above have been discussed before. You can find my answers below.

1. We do use doubly-linked version chain. Ideally, a single-direction version chain, which was described in the paper, is enough. However, during the implementation, we found that we have to add the reverse-direction pointers to guarantee the correctness of our latch-f

[2018-06-21 15:37] mbutrovich commented on #1316
C++14 is good on (Apple) Clang too. Sounds like we have a decent list of toolchain updates to discuss at the end of summer (LLVM, C++14, GCC, etc.).

[2018-06-22 15:53] ksaito7 opened #1424 "Setting issues"
- SettingsManager controls transaction for SettingsCatalog. So checkpoints can’t recover settings due to nested transaction.
- Can’t add new settings after Peloton booting. So we can’t implement SET command.
- There is no update function in SettingsCatalog.
- Why setting control functions are static?

So I propose setting refactoring to SettingManager and SettingsCatalog. Basically, I think settin

[2018-06-22 16:46] tli2 commented on #1424
There is a bunch of Set methods in SettingsManager. I don't know how they interact with transactions though.

[2018-06-22 16:58] ksaito7 commented on #1246
Setting catalog has already had the persistent flag. We will use this flag for decision of whether checkpoints write its value back when recovery.

[2018-06-22 17:06] ksaito7 commented on #1424
Set methods are just update methods for existed setting value using `setting_id`. These can not create new settings actually.

[2018-06-22 19:07] tcm-marcel commented on #1413
Valgrind memcheck with  `--leak-check=full --show-leak-kinds=all` doesn't find any problems:

[code]

[2018-06-22 20:28] tli2 commented on #1382
fixed with #1408

[2018-06-22 20:28] #1382 closed

[2018-06-25 16:15] tli2 opened #1427 "SerializableTransactionTest might be failing spuriously"
Several complaints about this failing from time to time on Travis. Might be a Mac issue, might be that the test is broken, might be that we broke something in CC.

Investigation would be appreciated.

[2018-06-25 19:10] elfring commented on #523
[How do you think about](https://github.com/cmu-db/peloton/blob/8a41d7c53a1543d546733a4a67a4e22f75fec64e/src/catalog/system_catalogs.cpp#L70 "Update candidate: Destructor for SystemCatalogs") to [use a development tool like “clang-tidy” for corresponding source code adjustments](https://clang.llvm.org/extra/clang-tidy/checks/readability-delete-null-pointer.html "Deletion of unnecessary null pointe

[2018-06-25 20:57] mbutrovich commented on #1427
Here's an example of how it fails, and on rerun it typically passes. Maybe some nondeterminism in how stuff is being scheduled:

[code]

[2018-06-26 03:13] tli2 commented on #1427
Also worth noting, on both occasions observed, this happens on mac builds only

[2018-06-26 12:58] mbutrovich commented on #1427
I’ll spend some time on it today.

[2018-06-26 13:22] pervazea commented on #1424
What new settings do you wish to add (after the system has booted)?

[2018-06-26 13:59] ksaito7 commented on #1424
I wanted users to be able to set original variables through SET command in psql or config files. But I found that Postgres can't set the original variables. I misunderstood that. Delete its line.

[2018-06-26 15:49] tli2 opened #1430 "EpochManager thread_id looks fishy"
This keeps track of front_end thread ids (which apparently defaults to 0 and we never bothered to fill that argument out in many places). Each front_end thread id can have multiple transaction live on it at the same time.

We haven't investigated this thoroughly but this does not pass the smell test. Marking this for later.

[2018-06-26 16:31] lmwnshn opened #1431 "psql -c to create and drop database segfaults on benchmarking machine"
**Issue**
Latest version of Peloton segfaults on both DEBUG and RELEASE builds on a Ubuntu 16.04.4 LTS box,
when you use -c or -f to CREATE and DROP database.

**Reproducibility**
Unable to reproduce on other lab machines, including both Linux and Mac.

Setup:
[code]

Running:
[code]

**Backtrace (-c)**
[code]

**Backtrace (-f)**
[code]

[2018-06-26 17:45] mbutrovich commented on #1427
Haven't been able to reproduce it locally all day :(

[2018-06-26 17:47] lmwnshn commented on #1427
I just tried running it 10-20 times and got it to fail:

[code]

Same failure.

[2018-06-26 18:07] mbutrovich commented on #1427
Can you get a TRACE level log of it to get a better idea what's happening? I still can't get it to reproduce.

[2018-06-26 18:55] pmenon opened #1433 "Array allocation of `TupleHeader` fails compilation on Ubuntu 18.04"
I just tried to compile latest master on Ubuntu 18.04 GCC7, and it looks to be failing compilation when instantiating the array of `TupleHeader`s in the `TileGroup` [here](https://github.com/cmu-db/peloton/blob/master/src/storage/tile_group_header.cpp#L40). The problem stems from the fact that `TupleHeader` is marked as 64-byte aligned (i.e., `__attribute__((aligned(64)))`) , but array allocations

[2018-06-26 19:36] mbutrovich commented on #1433
I suspect that the answer is no since it's probably the same underlying implementation, but does it work with `struct alignas(64) TupleHeader` on the type definition instead of `__attribute__((aligned(64)))`?

[2018-06-26 19:51] mbutrovich commented on #1433
Nope, doesn't seem like that'll change anything. In the end it might just be a premature optimization that would be safe to remove. I was trying to get each tuple's header to be cache line aligned, but perhaps it's too early to worry about that. Interestingly if I take out the attribute, I always end up with a 64-byte aligned base address for the array anyway, but that's probably just getting luck

[2018-06-26 20:00] pmenon commented on #1433
@mbutrovich You're just getting lucky, the standard makes no guarantees on alignment.

I understand the motivation, it's probably is okay to keep it. If you really need alignment, over-allocate and use `std::align`. We do this for parallel execution when allocating per-thread states.

[2018-06-27 14:13] mbutrovich commented on #1427
@lmwnshn helpfully ran it 1000 times on [this commit](https://github.com/cmu-db/peloton/commit/91d9525ada479573a42feeb7ed3d633e54cc905a) just before I did all the TransactionContext refactoring in the last couple of weeks. It still reproduced. My suspicion right now is that in rare cases the bootstrapping process (which seems slower in the last month) takes longer than we wait in the test (1 epoch

[2018-06-27 16:16] tli2 commented on #1398
As @pervazea pointed out, we are a long way from done on this one, as there are multiple naming issues and other inconsistencies in the code. To make matters worse very little documentation is provided so it is unclear what any of the API should behave.

[2018-06-27 16:20] #1386 closed

[2018-06-27 19:53] lmwnshn opened #1437 "Peloton-benchmark performs worse than "weaker" machines"
**Summary**
Benchmark machine has faster CPUs, more CPUs, more memory, but still performs worse on YCSB.

**Details**
- Benchmark machine
  - 32 cores (Intel(R) Xeon(R) CPU E5-2660 0 @ 2.20GHz)
  - YCSB (default): 4-6k
- Comparison machine
  - 8 cores (Intel(R) Core(TM) i7-8550U CPU @ 1.80 GHz)
  - YCSB (default): 8k

Disk space doesn't appear to be an issue.

**Tried without success**
1. Disablin

[2018-06-27 20:07] tli2 commented on #1437
Maybe this has to do with high contention somewhere in our code?

[2018-06-27 20:20] mbutrovich commented on #1427
The test we occasionally fail was modified in #1322. I'll have to spend more time looking at it tomorrow to understand why we seem to have a race.

[2018-06-27 20:32] mbutrovich commented on #1437
If this is single terminal (1 thread), I'm not surprised to see a 6 year-old Sandy Bridge @ 2.2GHz (turbo up to 3.0GHz) getting beaten by a Kaby Lake @ 1.8GHz (turbo up to 4.0GHz) in single-threaded performance.

[2018-06-28 01:29] #1431 closed

[2018-06-28 14:37] pervazea opened #1438 "Unable to build master"
On my laptop.
[code]

- pulled to update to most recent master
- build failed
- ran packages.sh
- build still fails
I did re-run cmake both times

Environment:
- Ubuntu 16.04
- gcc 5.4
- llvm 3.7 (via packages.sh)

[2018-06-28 14:44] #1437 closed

[2018-06-28 14:55] tcm-marcel commented on #1438
Changing the line to `const llvm::Instruction *instruction = &(*instr_iterator);` makes it work.

**The problem:** `&(* ... )` is technically the identity. In this case however, the `*`operator in the iterator is overloaded to return an object reference, from which we want the pointer. Most compiler understand what to do because of the requested destination type. For some compiler configurations h

[2018-06-28 17:46] pervazea opened #1440 "TPCC fails with codegen"
Attempting to run oltpbench TPCC out ouf my branch, where I have a usable version of codegen index scan. I am able to run YCSB and TATP, but TPCC fails as shown below.

It is trying to read a decimal field from the results of a select. If I understand the stack trace correctly, this is after it switches to binary marshaling mode.

[code]

[2018-06-28 18:35] #1438 closed

[2018-06-28 18:44] tli2 opened #1441 "Transactions are started in PrepareStatement"
For some unknown reason this bug has been here since a very long time ago (at least a year.)

In traffic_cop.cpp : 306 we prematurely start a transaction as soon as we see that this is a single statement or a begin immediately after parsing, before execute. We attempt to begin the transaction again in the execute phase in some twisted logic.

This is clearly wrong. We haven't been able to seriousl

[2018-06-29 20:35] mbutrovich opened #1444 "Tests sleep for 1 epoch duration expect the global epoch to advance"
We've found a number of tests (serializable_transaction_test, for example) that sleep a thread for exactly the duration of an epoch and expect the global epoch to have advanced. However, this window may be too short depending on how threads are scheduled on the host, and causes tests to randomly fail. These tests should either sleep a bit longer, or deterministically advance the global epoch.

[2018-06-30 01:09] tli2 commented on #1441
After talking to @ChTimTsubasa it seems like Postgres does this as well so we don't have to invalidate plan on an interleaving like this:

plan
bind
               drop table
execute

The code we have can still be fishy (starting a transaction when parsing an abort, e,g,). More discussion needed.

[2018-07-02 14:58] lmwnshn opened #1448 "Travis failure due to tensorflow requirement not found"
On the first travis box, we fail the tensorflow test because pip cannot find tensorflow 1.4.0

[code]

This affects recent PRs such as #1443 , #1446 .

[2018-07-02 15:13] mbutrovich commented on #1448
This seems to coincide with the  Python 3.7 release on Homebrew a few days ago. Looks like tensorflow hasn't updated their compatibility list to include 3.7:
https://github.com/tensorflow/tensorflow/issues/17022

Note the Programming Language on this page doesn't list 3.7 yet:
https://pypi.org/project/tensorflow/

I suspect it'll be resolved quickly.

[2018-07-02 15:39] pervazea commented on #1440
A couple more data points and information.
1. I ran this against (codegen) sequential scan vs. index scan, and it fails. As expected, not specific to the underlying operation.

2. Passes with codegen off.

[2018-07-02 18:01] pervazea commented on #1440
Error in marshalling as applied to the codegen path, in computing type size(s).

[2018-07-02 19:54] saatviks commented on #1448
Just to add to this,
Also tried `pip3 install --upgrade https://storage.googleapis.com/tensorflow/mac/${TF_TYPE}/tensorflow-${TF_VERSION}-py3-none-any.whl` which is meant to be for all python versions, but isnt compatible with python3.7 currently.

[2018-07-02 20:21] pervazea commented on #1440
Not present in master, fixed in local branch, work in progress.

[2018-07-02 20:21] #1440 closed

[2018-07-02 20:23] tli2 commented on #1448
I think it is still failing on Travis last I checked (Your PR)

[2018-07-02 20:44] pmenon opened #1451 "Limit without Order-By not working."
Looks like #1385 broke limit's without order-by's. I've fixed in #1435, specifically [in this commit](https://github.com/cmu-db/peloton/pull/1435/commits/ec37d5b1dd70723df562eb235f07eb807486e3fb)

[2018-07-03 01:31] tli2 commented on #1448
Temporarily fixed due to  #1450, we should re-enable dependency when possible.

[2018-07-03 01:33] tli2 commented on #1451
Should we cherry-pick that commit and merge or is it fine to leave this until #1435 gets in?

[2018-07-03 22:43] mbutrovich opened #1452 "TPC-C segfault: Double-free in GCManager"
I've been working on performance stuff today, and the faster I get the system to run the less stable it is. So I decided to chase down the segfaults in TPC-C. Here are the results of one segfault hunt.

It's a double-free in GCManager's CheckAndReclaimVarlenColumns(). I've not looked at this code closely before as part of our other GC fixes, but will dive into it in the next couple of days. Addres

[2018-07-04 14:06] #1270 closed

[2018-07-05 16:51] lmwnshn commented on #1452
This is happening on the nightly run too. Attached are the backtraces.

[gdb.txt](https://github.com/cmu-db/peloton/files/2167476/gdb.txt)
[asan.txt](https://github.com/cmu-db/peloton/files/2167477/asan.txt)

[2018-07-05 18:33] mbutrovich commented on #1452
It's looking like this issue started manifesting after #1415 was merged 2 days ago. That commit is effectively current master, and if I go back to the commit before #1415 I can't get it to reproduce.

I don't fully understand how #1415 would introduce this since there were no changes to the GC system, but it's ~5000 lines of changes that I didn't review. It's possible that's now exposing incorrect

[2018-07-06 16:55] tli2 commented on #1452
@ksaito7

[2018-07-06 17:41] ksaito7 commented on #1452
I check it.

[2018-07-06 21:13] ksaito7 commented on #1452
I found this cause. Even if a query updates data in a column with no constraint, my code updates it as if its column has primary key constraint. I didn't know why GC manager makes that error in this situation actually. But when I fixed that, then that error disappeared.

[2018-07-06 21:17] mbutrovich commented on #1452
Wow, nice job finding it so quickly!

If you open up a new PR for your refactor I’ll be sure to run it through the benchmarks as a sanity check.

[2018-07-06 21:44] ksaito7 commented on #1452
@mbutrovich Thanks, but I've asked @lmwnshn for the test.

[2018-07-07 02:48] lmwnshn commented on #1452
I've run it and it looks good, more details in the PR.

[2018-07-07 04:15] ksaito7 commented on #1452
@lmwnshn Thanks a lot!

[2018-07-08 02:59] happyjoblzp opened #1456 "peloton not support persistence"
I run peloton over Mac, after create a table and insert some data, I can retrieve the data.
but if restart peloton,  the table disappear。

[2018-07-08 14:16] apavlo commented on #1456
The logging code lives in PR #1348 if you really want that feature.
We are rewriting the core engine, so this system is a WIP now.

[2018-07-08 14:16] #1456 closed

[2018-07-10 14:02] zyycj opened #1457 "macOS Installation failed"
macOS High Sierra 10.13.5

**command**: sudo ./packages.sh
**error**: packages.sh: line 18: ${DISTRO^^}: bad substitution
Unknown distribution 'darwin'
Please contact our support team for additional help. Be sure to include the contents of this message
Platform: Darwin localhost 17.6.0 Darwin Kernel Version 17.6.0: Tue May  8 15:22:16 PDT 2018; root:xnu-4570.61.1~1/RELEASE_X86_64 x86_64

How to so

[2018-07-10 15:27] pervazea opened #1458 "Repurpose MemSQL machines for Jenkins"
In yesterday's meeting of the Peloton team, it was asserted that no-one really uses the MemSQL machines.

Take those machines and re-purpose them. Add them as additional systems for Jenkins to use.

[2018-07-10 15:28] #1457 closed

[2018-07-10 16:40] crd477 commented on #1458
Will do.  Are they OK to wipe and reinstall or is there any data that needs to be preserved first?

[2018-07-10 20:16] pervazea commented on #1458
They are OK to wipe. Please install Ubuntu 18.04 LTS on them. I'll open a separate issue to detail how we start setting things up for Peloton2 (real name to be chosen). Specifying 18.04 because we've agreed to move to the latest versions of many components (including Ubuntu) and deprecate use of older versions. This will simplify the resource / version matrix  considerably.

[2018-07-11 08:12] happyjoblzp opened #1459 "Data model discussion"
As I known, some IMDB, such as Hana/Hyper，use dictionary coding for column.
The advantages of dictionary coding are the following：
- String conversion to integer, process of integer more efficient
- better compression performance and compression radio
- query process may benefit from dictionary (eg. estimate distinct\count  during join or group by)

Storage structure impact performance.  peloton d

[2018-07-11 23:47] #1452 closed

[2018-07-12 16:06] mmmohsen opened #1461 "Log files for peloton"
Hello,

I'm using a driver to connect to peloton from C code using libpq-fe.h,
After doing some insert queries the peloton crashes with this error

"""
 server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.
"""

and from the terminal I run peloton from ./peloton

I got

"""
terminate called after throwing an instanc

[2018-07-12 18:10] apavlo commented on #1461
Compile it in debug mode:

https://github.com/cmu-db/peloton/wiki/Developer-Build

We have only used pqxx to test it.  We haven't tried libpq-fe

[2018-07-12 18:10] #1461 closed

[2018-07-16 00:43] #1369 closed

[2018-07-17 04:33] happyjoblzp opened #1464 "insert Date field error"
[code]

[2018-07-17 12:23] happyjoblzp opened #1465 "Filter on 'char' field was error while import data by copy"
[code]

[2018-07-21 19:07] thayumanavar77 opened #1466 "Peloton crash on startup when built under ubuntu 17.10"
$ ./bin/peloton
ASAN:DEADLYSIGNAL
=================================================================
==5655==ERROR: AddressSanitizer: SEGV on unknown address 0x7f47e7f8f128 (pc 0x7f47e2d051bf bp 0x7ffcd6a54150 sp 0x7ffcd6a54150 T0)
==5655==The signal is caused by a WRITE memory access.
    #0 0x7f47e2d051be in _GLOBAL__sub_I_mathlimits.cc (/usr/local/lib/libtensorflow_framework.so+0x3da1be)
    #1

[2018-07-25 15:58] GustavoAngulo opened #1467 "Include optimizer estimates in resulting optimizer plan"
We want to add the following statistics so @pmenon can use them at execution time:
* Operator cardinality estimation
* Selectivity for each predicate

The code should already be written for computing these, we just need to add them to the different objects.

[2018-08-02 16:55] ChTimTsubasa commented on #1296
This should be fixed in a local branch in https://github.com/tli2/peloton/tree/txn_handler, which is built on top of #1445

[2018-08-02 16:55] #1296 closed

[2018-08-05 13:36] ansarizafar opened #1469 "Data model and query language like EdgeDB"
EdgeDB has a better data model and query language than any other relational database management system. Please consider using similar features.

https://edgedb.com/
https://edgedb.com/blog/edgedb-a-new-beginning

[2018-08-05 14:27] apavlo commented on #1469
@ansarizafar It looks like they just have extended SQL to support graph traversal and write results as JSON. The latter is easy to do, but I don't see how having non-standard SQL extensions is a good thing.

[2018-08-05 14:27] #1469 closed

[2018-08-05 15:14] ansarizafar commented on #1469
The reasons are mentioned in the blog post https://edgedb.com/blog/edgedb-a-new-beginning

[2018-08-08 03:17] aoqiping opened #1470 "Not support for 'Interval' and 'Betweed', how to test tpch SQL queries?"
Hi, I compiled it and want to do some tpch test，but the first sql just throw that
"DataType interval not supported yet"
Your wiki said the tpch Query1 was passed? How to fix it ?
Thank you and looking forward!

[2018-08-08 03:57] ansarizafar opened #1471 "Roadmap for Peloton"
Is there any road map available? When Peloton will be ready for using in production?
A complied binary will encourage new users to try Peloton.

[2018-08-26 12:17] mmmohsen opened #1474 "Measuring the memory/disk consumption in peloton"
Hello,

Is there is a way to measure the memory consumption and the disk storage consumption of peloton?

preferably from an SQL client.

Thank you a lot in advance,

Mahmoud

[2018-08-28 00:05] apavlo commented on #1474
No, not yet. We are in the process of doing a major refactor and we will add this later in the semester

[2018-08-28 00:05] #1474 closed

[2018-09-04 21:21] yetiancn opened #1476 "Jenkins waiting to report status"
Hi @crd477. Whenever you get a free moment, could you please check out why Jenkins looks stuck for us. Seeing this error:
`Expected — Waiting for status to be reported`
on PR #1473

Thank you!

[2018-09-06 11:30] crd477 commented on #1476
OK, I think it's fixed now.  Let me know if you find otherwise.  I think this may have been fallout from a minor catastrophe that befell the Jenkins server due to a plugin security update.

[2018-09-15 09:59] Handora opened #1477 "build failed on Ubuntu linux 16.05 with unrecognizable insn"
My system is ubuntu 16.05 with gcc and g++ 5.4.0 and build as the instructions as Wiki.

fail logs are as follow:
[code]

[2018-09-16 15:56] apavlo commented on #1477
It looks like you are running on an older CPU?

[2018-09-16 15:57] apavlo commented on #1471
We are in the process of major refactoring. Our goal is to have a first release by the end of the year.

[2018-09-16 15:57] #1471 closed

[2018-09-16 15:58] apavlo commented on #1466
We are refactoring the code. This repository will be abandoned soon.

[2018-09-16 15:58] #1466 closed

[2018-09-16 15:59] apavlo commented on #1459
We are in the process of refactoring the code. See last semester's project on adding dictionary compression to Peloton:

https://15721.courses.cs.cmu.edu/spring2018/project-showcase.html

[2018-09-16 15:59] #1459 closed

[2018-09-19 10:57] yetiancn opened #1478 "packages.sh needs to be updated to change LLVM version in Travis"
Error log from Travis:
[code]
It seems that LLVM 3.7 was deprecated. We need to update `packages.sh` to fix this problem.

[2018-09-20 14:42] #1477 closed

[2018-09-23 11:49] Handora opened #1479 "peloton crashes abnormally when inserting"
I have built the peloton according to the developer instruction guide, while when I launch the client using `psql "sslmode=disable" -U default_table -h localhost -p 15721` and create and insert tuple table as follow, the server crashes abnormally
[code]
when inserting the tuple, the server's error is as follow,

[code]

[2018-09-26 00:31] peijialing opened #1481 "Could not install peloton:error: ‘new’ of type ‘peloton::storage::TupleHeader’ with extended alignment 64 [-Werror=aligned-new=]"
When I was trying to install packages using sudo bash packages.sh, I get the following info:
`Err:1 http://us.archive.ubuntu.com/ubuntu bionic InRelease
  Could not connect to us.archive.ubuntu.com:80 (91.189.91.23). - connect (111: Connection refused) Cannot initiate the connection to us.archive.ubuntu.com:80 (2001:67c:1562::19). - connect (101: Network is unreachable) Could not connect to us.arc

[2018-09-26 00:39] apavlo commented on #1481
The network problem is at your end. We're just using `apt-get`.

We have not tried to compile Peloton with gcc C++17. Our target is C++11 with gcc5.

[2018-09-26 00:39] #1481 closed

[2018-09-30 00:50] peijialing opened #1483 "Error when trying to run OLTP benchmark on peloton"
When I was trying to run OLTP benchmark(tpcc) on peloton,  I coud not get the result file.The following two screenshots show what I got from peloton and oltp side.
![screenshot from 2018-09-28 11-54-15](https://user-images.githubusercontent.com/11536648/46251710-de2c9600-c428-11e8-81a3-fda332c1fa93.png)
![screenshot from 2018-09-28 11-54-24](https://user-images.githubusercontent.com/11536648/46251

[2018-10-18 11:25] qiuyuhang opened #1486 "Compile Error"
# Env
macOS 10.14
clang: Apple LLVM version 10.0.0 (clang-1000.10.44.2)

# Error
I got a lot of such errors, this is one of them.
[code]

[2018-10-20 16:19] apavlo commented on #1486
Peloton only compiles with Xcode 9.3:

https://github.com/cmu-db/peloton/wiki/Installation#macos-quick-setup

We are not planning to fix this because we are moving over to a newer codebase that supports newer versions of the LLVM.

[2018-10-20 16:19] #1486 closed

[2018-10-29 09:50] haocoder opened #1487 "build failed"
when I built by
`cmake -DCMAKE_BUILD_TYPE=Debug -DUSE_SANITIZER=Address -DCMAKE_CXX_FLAGS="-DLOG_LEVEL=LOG_LEVEL_TRACE" ..
make -j4`
there is wrong with `/usr/include/llvm-3.9/llvm/Support/Compiler.h:389:39: fatal error: sanitizer/asan_interface.h: No such file or directory`

[2018-11-01 00:37] apavlo commented on #1487
I don't think your environment is setup correctly:

https://github.com/cmu-db/peloton/wiki/Installation#ubuntu-quick-setup

[2018-11-02 09:08] haocoder commented on #1487
thank you, I have fixed my problem, it's my environment incorrect

[2018-11-02 09:22] haocoder opened #1488 "data lost when restart peloton"
sorry for my question, i forgot this is a in-memory database

[2018-11-08 17:14] ZhangJiaQiao opened #1489 "CMake fails under macOS Mojave 10.14.1"
Cmake fails on my Macbook due to the doxygen problem. I have install the doxygen 1.8.14. How to solve this problem.</br>
**Output of file:**
[code]

[2018-11-17 16:39] #1487 closed

[2018-11-17 16:39] #1458 closed

[2018-11-30 02:48] RonyMin commented on #1465
I reproduce the issue @happyjoblzp you faced, and analyze the internals of Peloton to solve the issue.
The problem is originated from how Peloton handles the end value of a string, i.e., varchar column.

The basic mechanism for every char-type value is to add '\0' (00000000 in a bitstring) at the end of string value.
For instance, a binary string for selection predicate, r_name = 'ASIA', in a quer

[2019-01-03 12:35] brianonn commented on #1239
I see this only when the PR merge to the target branch was not successful (i.e. could not be done automatically) due to merge conflicts with the target.  With the merge conflicts, travis can't schedule a build

[2019-01-14 17:19] zgf opened #1491 "cannot build Peloton with GCC 7.0+"
When trying to build peloton:
`/home/guofzh/repos/peloton/src/storage/tile_group_header.cpp: In constructor ‘peloton::storage::TileGroupHeader::TileGroupHeader(const peloton::BackendType&, const int&)’:
/home/guofzh/repos/peloton/src/storage/tile_group_header.cpp:40:51: error: ‘new’ of type ‘peloton::storage::TupleHeader’ with extended alignment 64 [-Werror=aligned-new=]
   tuple_headers_.reset(ne

[2019-01-16 01:00] apavlo commented on #1491
We are not supporting this repo anymore. It won't work on newer versions of gcc.

[2019-01-17 12:12] llvim commented on #1491
@apavlo peloton is DEPRECATED?  is there any new project?

[2019-01-17 15:14] apavlo commented on #1491
@llvim Yes. Announcement coming later in 2019.

[2019-01-17 15:14] #1491 closed

[2019-01-23 07:55] rurban commented on #1491
He probably means Terrier

[2019-04-11 06:53] baiwfg2 commented on #1491
@zgf  I built it successfully with gcc 7.2. You can see the details from https://docs.google.com/document/d/1SqHj82x7xRDvxjZS0c-Lf8JbWTSiFoNC1fPcL9GLIvU

[2019-06-05 07:18] fzhedu commented on #767
@zagnix

Did you solve this problem? I face this problem now.
system : CENTOS 7
-- ******************* Peloton Configuration Summary *******************
-- General:
--   Version           :   0.0.5
--   Git               :   484d76d-dirty
--   System            :   Linux
--   Compiler          :   /home/claims/Downloads/gcc-build-6.4.0/install/bin/c++ (gcc 6.4.0)
--   Release CXX flags :   -O3 -DN