[2015-05-25 21:10] jarulraj opened #1 "Map plan to operators"
(a) Parse plan - get info from postgres catalog
Currently, we can print plans in n-store [ src/backend/bridge.c ].

(b) Return output tuples to postgres
We need to transform from nstore::storage::Tuple -> postgres::TupleTableSlot.

(c) Finish Insert and Seq scan operators.

[2015-05-25 21:11] jarulraj opened #2 "Finish all operators"
(a) Index Scan, Nested-Loop Join
(b) Order By, Group By
(c) Limit, etc.

[2015-05-25 21:12] jarulraj opened #3 "Transaction support"
Integrate postgres and n-store

Already have transaction support in n-store. Do we need to do extra stuff for postgres ?

[2015-05-25 21:12] jarulraj opened #4 "Scheduler"
Parallelize sequential scans. Need to use TBB.

[2015-05-25 21:13] jarulraj opened #5 "Dynamic tilegroup transformation"
(a) Online k-means clustering
(b) Track column accesses
(c) Integrate within n-store

[2015-06-12 14:45] apavlo opened #6 "Remove pkey/fkey types from table catalogs"
The primary key and foreign key information should not be stored within each column in the catalog. This should be stored separately as constraints.

[2015-06-16 18:34] apavlo opened #7 "Switch to Apache License"
We want to be Apache not GPL3.

Overwriting the license file is good enough.

[2015-06-17 06:10] jarulraj commented on #7
Sure, updated the license.

[2015-06-17 06:10] #7 closed

[2015-06-30 00:14] apavlo opened #9 "Exhaustive Generic Join Test Cases"
We need to test all the different combinations of tile groups, value types, join types, and join algorithms. This needs to be generic so that we can easily re-use the code whenever we add a new join executor.

[2015-06-30 23:04] apavlo opened #10 "Not picking up libmm14 on Ubuntu 14.04"
This is after installing the `libmm14` package.

[2015-07-01 00:09] apavlo opened #11 "Remove table/column names from TupleValueExpression"
I can't think of any reason that we need to store the table and column names in `TupleValueExpression` (other than for debugging). We should remove these attributes.

[2015-07-01 13:49] mindbergh commented on #10
I passed the configure after installing `libmm14 libmm-dev libmm-dbg` .

[2015-07-01 13:49] #10 closed

[2015-07-01 14:45] jarulraj commented on #2
Finished all these basic operators. We also added hash-set operator for set operations.

[2015-07-01 14:45] #2 closed

[2015-07-02 01:11] mindbergh opened #12 "Deep memcpy needed for peloton_send_dxl()"
One memcpy on the whole PlanState struct is not sufficient. Every sub-structs need to be copied as well.

[2015-07-02 20:28] jarulraj commented on #12
I think 53414da7 fixes this. Please close this after checking that that's the case.

[2015-07-03 14:32] mindbergh commented on #12
We almost fixed the problems.  I tracked the problem and found out that all memory is good except the `RelationData` struct, which is created under another MemoryContext `CacheMemoryContext`. Similarly to what you did at 7915a7e6, I tried to change `CreateCacheMemoryContext()` at `catcache.cpp` to make use of `TopSharedMemoryContext` instead, but system repeatedly crashes upon start. Any suggestio

[2015-07-20 05:32] jarulraj commented on #3
Finished integrating txn support between systems in c5ef1f42.

[2015-07-20 05:32] #3 closed

[2015-07-20 05:33] jarulraj commented on #12
I think we have now solved this problem. We can access all the information in the planstate.

[2015-07-20 05:33] #12 closed

[2015-07-20 05:36] jarulraj commented on #4
We already have a basic TBB-based scheduler. I am still considering flow graphs.

[2015-07-20 05:37] jarulraj opened #13 "Optimize non-inlined value processing"
Store the non-inlined data in a manner optimized for faster comparisons. For instance, a long string can be represented by its start and end letters and a pointer to the actual string.

[2015-07-25 18:04] jarulraj commented on #1
We can now do all the things mentioned above. We are currently working on handling joins and aggregates.

[2015-09-01 23:24] jarulraj commented on #11
Removed it.

[2015-09-01 23:24] #11 closed

[2015-09-01 23:24] jarulraj commented on #4
I think we are done with this.

[2015-09-01 23:24] #4 closed

[2015-09-01 23:24] jarulraj commented on #1
We have basically finished all the basic operators.

[2015-09-01 23:24] #1 closed

[2015-09-17 02:11] apavlo opened #14 "configure: error: Please install zlib library : libzlib1g-dev"
[code]

As far as I know `libzlib1g-dev` doesn't exist on ubuntu. I think you mean `zlib1g-dev`

[2015-09-17 02:12] apavlo opened #15 "configure: error: Cannot find ssl libraries"
[code]
It doesn't tell me to install the `libssl-dev` package like you do for the other missing dependencies.

[2015-09-17 20:18] jarulraj commented on #15
Sure, added an installation hint.

[2015-09-17 20:18] #15 closed

[2015-09-17 20:18] jarulraj commented on #14
Fixed the installation hint to report the right package.

[2015-09-17 20:18] #14 closed

[2015-10-04 19:52] apavlo opened #16 "Remove 'postgresql.conf' from root directory"
Not sure why we need to have the file `postgresql.conf` in the root directory of the repository. We should probably have an `etc` directory and move it in there.

[2015-11-03 02:27] jarulraj commented on #5
Done.

[2015-11-03 02:27] #5 closed

[2015-11-23 06:51] jarulraj commented on #16
Moved it to `scripts/oltpbenchmark`.

[2015-11-23 06:51] #16 closed

[2015-12-31 16:19] jarulraj commented on #13
Let's do this later.

[2015-12-31 17:20] tomasic commented on #13
if it is "do this later", don't we just assign the ticket to the "future
work" milestone, instead of closing it? (thus we have a way to track future
work ideas)

On Thu, Dec 31, 2015 at 10:19 AM, Joy Arulraj <notifications@github.com>
wrote:

--
Anthony Tomasic
Senior Systems Scientist
Language Technologies Institute
Carnegie Mellon University
http://ideate.cmu.edu/graduate-programs-research/emerg

[2016-01-01 05:25] jarulraj commented on #13
Yes, that makes sense. I have reopened the issue.

[2016-01-01 07:13] jarulraj commented on #6
We currently store all the integrity constraints in each table. We still need to work on enforcing foreign key constraints.

[2016-01-01 18:54] jarulraj commented on #9
Added a generic join test suite in 97a5dcc233f7c20dd55e41317d0d3ee1a459faf0. It evaluates different join types (Inner, Left outer, Right outer, Full outer) and join algorithms (Nested loop join, Merge join, Hash join). We deal with logical tiles here, so we don't worry about tile group layout in this test suite. We do value type testing in another test suite.

[2016-01-01 18:54] #9 closed

[2016-01-18 04:24] runshenzhu opened #17 "questions about tile based join operator"
This page: https://github.com/cmu-db/peloton/wiki/Tile-Based-Architecture describes the tile Based Architecture of peloton and provides some examples.

I have a question of last example (Join Operator in Logical Tile Algebra). Why the meta-data of logical tile Z are (TILE R ATTR B, TILE R ATTR C) and (TILE R ATTR B, TILE R ATTR C), instead of (TILE R ATTR B, TILE R ATTR C) and (TILE S ATTR Y, TILE

[2016-01-18 04:30] ranxian commented on #17
I agree with you, it should be a mistake in the writeup

[2016-01-18 07:53] jarulraj commented on #17
You are right. I fixed the picture. Thanks for the heads up.

[2016-01-18 07:53] #17 closed

[2016-01-21 10:44] chouclee opened #18 "[Wiki] Installation script"
Running the dependency script will give me error message "There are problems and -y was used without --force-yes".

Adding --force-yes flag before -y can solve this error.

My OS: Ubuntu 14.04.3 desktop amd64bit

[2016-01-31 02:08] jarulraj commented on #18
There might be problems in your installation. Quoting from http://manpages.ubuntu.com/manpages/raring/man8/apt-get.8.html :

So, I think it is a bad idea to add that flag.

[2016-01-31 20:02] #18 closed

[2016-02-08 03:06] jarulraj opened #19 "Debugging logger"
We rely on an ad-hoc macro based [logger](https://github.com/cmu-db/peloton/blob/master/src/backend/common/logger.h).

1. We need to ensure that the default logging levels are sane. Right now, we default to `LOG_LEVEL_INFO` when DEBUG is not defined, and default to `LOG_LEVEL_OFF` when NDEBUG is defined.

2. We need to decide whether we would like to have a trailing newline  by default or not.

3.

[2016-02-08 03:07] wangziqi2013 commented on #19
Bar.

[2016-02-08 03:12] jarulraj commented on #19
That was a quick response :+1:

[2016-02-08 03:14] wangziqi2013 commented on #19
I will delete that

[2016-02-08 03:15] jarulraj opened #20 "Constraints"
Constraints give you as much control over the data in your tables as you wish. They serve a very important role in DBMSs. We currently only validate [**null**](https://github.com/cmu-db/peloton/blob/master/src/backend/storage/data_table.cpp#L115) and [**unique**](https://github.com/cmu-db/peloton/blob/master/src/backend/storage/data_table.cpp#L132) constraints. We need to add more support for cons

[2016-02-08 03:16] jarulraj commented on #6
Added this as a subtask in #20.

[2016-02-08 03:16] #6 closed

[2016-02-08 04:51] jarulraj opened #21 "Isolation Levels"
We use a multi-version concurrency control protocol. Right now, we only support the default snapshot isolation level.

1. We need to identify anomalies and avoid them in our protocol.

2. We need to support higher isolation levels, like the *serializable* (isolation level)[https://en.wikipedia.org/wiki/Isolation_%28database_systems%29#Isolation_levels].

3. We need a testing suite for validating d

[2016-02-08 04:55] jarulraj opened #22 "Main-Memory Oriented Planner"
We could swap out the Postgres planner with a main-memory oriented **extensible** planner.

1. Get a ANTLR-based C++ SQL parser.

2. Handle all the basic SQL parse trees in TPC-C and TPC-H in the planner.

3. Add a planner testing suite.

4. Integrate the planner with our Postgres-planner compatible execution engine.

5. Optionally, add support for distribution operators.

[2016-02-08 04:59] jarulraj opened #23 "Index Data Structures"
We should refactor our index API. We might want to compare it with other in-memory DBMSs like Memsql.

1. Add support for a new index data structures -- like a concurrent hash table or a skip list.

2. Compare different indexes in a bake-off with different workloads.

3. Upgrade the index testing framework.

4. Use **covering indexes** to improve query performance.

[2016-02-08 05:03] jarulraj opened #24 "PostgreSQL wire protocol"
Implement the postgreSQL wire protocol in C++11. This will be invaluable to a lot of upcoming open-source DBMSs.

1. Here's the [reference](http://www.postgresql.org/docs/9.5/static/protocol.html).

2. There's a nice [question](https://stackoverflow.com/questions/335008/creating-a-custom-odbc-driver) related to this on StackOverflow.  A simple Python implementation of a subset of this protocol is

[2016-02-08 05:06] jarulraj opened #25 "Schema changes"
Handling schema changes (DDL) along with concurrent DML operations is a challenging problem faced by several companies.

1. Add support for any missing DDL operations.

2. Handle concurrent DDL operations in a transactionally consistent as well as performant manner.

[2016-02-08 05:08] jarulraj opened #26 "DBMS-Client Interface"
The values returned by the DBMS should convey the reason for the failure of a query.

1. We need to add a mechanism for conveying this information using different error codes similar to Postgres.

2. We need to revamp our exception handling subsystem to let the compiler do the work for us.

[2016-02-08 05:11] jarulraj opened #27 "Scalability"
We need a testing suite that evaluates the scalability of the entire DBMS on the TPC-C benchmark.

1. A testing suite for doing automated scalability analysis. We should test the scalability of the different subsystems -- like the transaction manager, the index structures, etc.

2. Figuring out scalability bottenecks while running the benchmark and fixing them.

[2016-02-08 06:34] jarulraj commented on #19
Fixed 1 and 2.

[2016-02-09 18:25] jarulraj opened #29 "Join Operators and Types"
1. Modify nested loop, hash, and merge join executors to handle cases where one of the tables is empty or both are empty.

2. Add radix join executor.

3. Add support for more join types like semi join, anti join, and cross join.

4. Extend the join testing suite.

[2016-02-09 18:27] jarulraj opened #30 "User defined functions"
1. Add support for UDFs.

[2016-02-09 18:29] jarulraj opened #31 "Triggers"
A trigger is a specification that the database should automatically execute a particular function whenever a certain type of operation is performed. Triggers can be defined to execute either before or after any INSERT, UPDATE, or DELETE operation, either once per modified row, or once per SQL statement. If a trigger event occurs, the trigger's function is called at the appropriate time to handle t

[2016-02-09 23:23] tomasic commented on #30
definitely separate tickets ...

On Tue, Feb 9, 2016 at 12:27 PM, Joy Arulraj <notifications@github.com>
wrote:

--
Anthony Tomasic
Senior Systems Scientist
Language Technologies Institute
Carnegie Mellon University
http://ideate.cmu.edu/graduate-programs-research/emerging-media/
<http://ideate.cmu.edu/graduate-programs-research/emerging-media/>
http://www.tiramisutransit.com
*http://mcds.cs.cmu.e

[2016-02-12 20:48] jarulraj opened #33 "Garbage Collection"
1. Add support for a Postgres style [vacuuming thread](http://www.postgresql.org/docs/9.2/static/routine-vacuuming.html).

2. Reuse freed up slots in tile groups during insertion.

3. Do vacuuming on a per-table basis.

[2016-02-12 22:03] apavlo commented on #33
I actually don't know if we want to use a vacuum. Let's discuss this at
some point.
On Feb 12, 2016 3:48 PM, "Joy Arulraj" <notifications@github.com> wrote:

[2016-02-17 18:31] jarulraj opened #35 "Views"
1. Add support for views, both static and dynamic views.

[2016-02-17 18:39] jarulraj opened #36 "TravisCI integration"
1. We are almost there. Just need to fix some path issues on TravisCI. Like this : https://travis-ci.org/eslint/eslint/builds/109641054

2. Add support for Coveralls.

3. Integrate it with the pull request system. Like this : https://github.com/eslint/eslint/pulls

[2016-02-17 18:54] tomasic commented on #35
I've worked on view updates - in short, there is no good solution and no
one uses them. Triggers seems to be the best work around.

On Wed, Feb 17, 2016 at 12:32 PM, Joy Arulraj <notifications@github.com>
wrote:

--
Anthony Tomasic
Senior Systems Scientist
Language Technologies Institute
Carnegie Mellon University
http://ideate.cmu.edu/graduate-programs-research/emerging-media/
<http://ideate.cmu.

[2016-02-17 19:02] jarulraj commented on #35
Yes, not all views are updatable. https://msdn.microsoft.com/en-us/library/ms187956.aspx#Anchor_2
I have removed it from the list for now.

[2016-02-18 02:53] jarulraj commented on #19
Added an abstract `Printable` class with a `GetInfo` function in afb253fe4a4f10bb4f778160f1f7a51a20466173.

[2016-02-18 02:53] #19 closed

[2016-03-10 00:27] jarulraj commented on #36
Finished 1 and 3.

[2016-03-10 00:27] jarulraj commented on #36
Will add support for Coveralls later.

[2016-03-10 00:27] #36 closed

[2016-03-24 21:59] jarulraj commented on #21
cmu-db/peloton/pull/82 adds basic support for testing isolation levels.

[2016-03-26 08:09] kamelzcs opened #88 "Does the nested_loop_join_executor really support nest loop + index scan?"
I suppose it does not work when `nl != nullptr` and I think the relevant part is wrong.
For the following relevant part code to deal with `nest loop + index scan`, I think there are several problems,

1. it is an independent part, `children_[1]->SetContext(value, 1);` would only take the value relate to the last `left_tile_row_itr`  part.
2. It does not run `Executor()` of  `index scan` for each `

[2016-03-26 17:47] yingjunwu opened #90 "fix T_ResultState problem."
@YangMann dml_utils.cpp

[2016-03-26 18:13] jarulraj commented on #88
@eric-haibin-lin can you take a look at this ?

[2016-03-26 20:47] ranxian opened #91 "{seq,index}_scan_executor should fail when operation failed"
In https://github.com/cmu-db/peloton/blob/master/src/backend/executor/seq_scan_executor.cpp#L141 and https://github.com/cmu-db/peloton/blob/master/src/backend/executor/index_scan_executor.cpp#L182, when the executor uses the txn manager to perform read, the txn manager may return false (e.g. 2PL txn manager may fail to acquire read lock). If so, the executor should check the result of `PerformRead

[2016-03-27 14:42] larryxiao opened #93 "Update query failure: Type INVALID"
When running the following sequence of queries:

[code]

The sequence of queries executes fine in PostgreSQL.
It would fail, and the row is deleted after the failed execution.

[code]

[2016-03-27 14:43] larryxiao commented on #93
The log of it:

[code]

[2016-03-28 04:15] eric-haibin-lin commented on #88
@jarulraj  I noticed that we have a dummy class NestedLoopIndexJoinPlan. I guess we do not plan to use that class?

@Michael-Tieying-Zhang  It looks like the executor_context is eventually set according to the last row in left tile. I think the right way to do it is to call Execute() on right child every time context is updated?

[2016-03-28 17:42] yingjunwu commented on #91
@ranxian issue solved?

[2016-03-28 17:52] domino-succ commented on #88
@eric-haibin-lin You can try that and test whether IN+subquery can work after then.

Executor_context is used when executing IN+subquery. For example,  select * from Foo1 where age IN (select id from Foo2 where name='mike'); Here "select id from Foo2 where name='mike'" is a subquery and is transformed as left child. We put the results of left child in executor_context, and the right child can exec

[2016-03-28 17:52] ranxian commented on #91
Solved in this commit:
https://github.com/cmu-db/peloton/pull/96/commits/e2fbb9e0668d12f3302e3457809f166e5c3a17d3

[2016-03-28 18:50] #91 closed

[2016-03-29 01:31] jarulraj commented on #93
We have a mapping problem. The postgres modify table plan contains a "constant" variable with type unknown OID (705).

[../../src/backend/bridge/dml/tuple/tuple_transformer.cpp:297:GetValue] ERROR - Unknown atttypeid : 705
 [../../src/backend/expression/constant_value_expression.h:33:ConstantValueExpression] TRACE - Constant : INVALID::(no details)

[2016-03-29 01:40] jarulraj commented on #88
@kamelzcs  thanks for reporting this. we have removed the associated code from the executor, because the design was not generic. we will add support for subqueries with IN by modifying the transformer rather than the executors.

[2016-03-29 02:05] yingjunwu commented on #93
I'll take a look at this bug.

[2016-03-29 02:28] kamelzcs commented on #88
If it is a pure nested loop executor, why is it in a incremental way as the whole logic is in a `for(;;)` loop?
Why not just do something as below?

[code]

[2016-03-29 02:35] jarulraj commented on #88
It is incremental because we do not do table-at-a-time processing. We process the data **logical-tile-at-a-time**. Here's more information on the architecture : https://github.com/cmu-db/peloton/wiki/Tile-Based-Architecture#join-operator-in-logical-tile-algebra

[2016-03-30 04:24] shlee0605 opened #99 "CleanPlan is not working properly"
[code]

If this sequence of queries are executed, the peloton fails with segmentation fault.
Our team looked into the stack trace and found that the following line causes the error.
If we comment out the "delete root", it no longer causes segmentation but it may possibly lead
the memory leak.

https://github.com/cmu-db/peloton/blob/master/src/backend/bridge/dml/mapper/mapper.cpp#L195

I include th

[2016-03-30 04:44] shlee0605 commented on #99
There is a different bug that if we run the following query.

[code]

For this query,  peloton fails at evaluating TupleValueExpression.

I include both logs and stacktrace.

[code]

[code]

[2016-03-30 04:46] omegaga commented on #99
I fixed a bug in this place yesterday. Obviously it's still a similar problem. I will take care of this issue.

[2016-03-30 12:16] tomasic commented on #99
Are these tests added to a regression test suite?

On Tuesday, March 29, 2016, Kien-hung Li <notifications@github.com> wrote:

--
Anthony Tomasic
Senior Systems Scientist
Language Technologies Institute
Carnegie Mellon University
http://ideate.cmu.edu/graduate-programs-research/emerging-media/
<http://ideate.cmu.edu/graduate-programs-research/emerging-media/>
http://www.tiramisutransit.com
*http:/

[2016-03-30 19:02] omegaga commented on #99
They aren't. We can add them to test suite. But we also need to refactor our code to use shared_ptr rather than raw pointer.

[2016-03-30 19:09] omegaga commented on #99
@jarulraj There are several bugs here. One is duplicate plan deletion, which I can solve it by changing this part of code to use shared_ptr. Another problem is that schema in a plan is wrapped in a `unique_ptr` (like [here](https://github.com/cmu-db/peloton/blob/master/src/backend/planner/projection_plan.h#L63) and [here](https://github.com/cmu-db/peloton/blob/master/src/backend/planner/abstract_j

[2016-03-30 19:20] jarulraj commented on #99
Let's go with the `shared_ptr` solution.

[2016-04-03 18:18] amaliujia opened #105 "Link error when building tests"
I pulled the latest version code and compiled code in master branch, but  get the following error:

`libtool: link: cannot find the library ../third_party/gmock/libgmock.la' or unhandled argument ../third_party/gmock/libgmock.la`

However, I can see this library in the Makefile.am in root_dir,

`include $(top_srcdir)/third_party/gmock/Makefile.am`

I used make check.

I have no idea what's wrong.

[2016-04-03 18:38] yingjunwu commented on #105
please perform `make -j` first before running `make check`.

[2016-04-03 18:51] yingjunwu opened #106 "atomic problem in sequential scan"
Currently, we cannot guarantee atomicity when performing sequential scan. Let us now consider the scenario that a transaction `txn_A` updates a tuple with key=10. This action essentially contains three sub-actions: (1) create a local version `V_new` with the latest value assigned; (2) make the local version `V_new` globally visible by setting its begin and end timestamp; (3) change the older versi

[2016-04-03 19:34] yingjunwu commented on #105
@amaliujia does it work?

[2016-04-03 21:17] amaliujia commented on #105
It works! Thanks @yingjunwu

[2016-04-03 21:18] #105 closed

[2016-04-04 03:24] jarulraj commented on #88
@Michael-Tieying-Zhang Can you send a PR based on the updated code ?

[2016-04-04 14:00] Michael-Tieying-Zhang commented on #88
Sure. Let's review it first. Normally, the right child has a complete
query that can execute without the executor_context, and it uses
predicate_ to join the left and right results.

But for IN+NestLoop, there is no predicate_. We had to put the results
of left child in executor_context, and the right child can execute using
this context. Otherwise, the right child can't execute.

For example: sel

[2016-04-05 00:05] jarulraj commented on #88
Can we move this logic out to the transformer instead of doing it in the executor ?

[2016-04-05 00:06] jarulraj commented on #106
How can the garbage-collection component help ?

[2016-04-05 00:11] Michael-Tieying-Zhang commented on #88
In transformer, we don't perform executing so we can't get the result of the left sub-plan. But the right sub-plan need the result of the left. The result can only be obtained inside the executor. So we can't move it to the transformer.

tieyingz@cs.cmu.edu

From: Joy Arulraj
Date: 2016-04-04 20:05
To: cmu-db/peloton
CC: Michael
Subject: Re: [cmu-db/peloton] Does the nested_loop_join_executor real

[2016-04-05 00:24] jarulraj commented on #88
Can we check for this case in the nested loop plan node
https://github.com/cmu-db/peloton/blob/master/src/backend/bridge/dml/mapper/mapper_nested_loop_join.cpp#L29

And add a left plan node as the child of this node ?

[2016-04-05 00:33] Michael-Tieying-Zhang commented on #88
The left plan is already added as the child in the nested loop transform. All the static parameters are added (transformed) in the nested loop transform. What the right plan needs is the execution result of the left plan. So we can only pass the result to the right plan when executing.

tieyingz@cs.cmu.edu

From: Joy Arulraj
Date: 2016-04-04 20:24
To: cmu-db/peloton
CC: Michael
Subject: Re: [cmu-d

[2016-04-05 08:46] kamelzcs commented on #88
1. Do you mean `children_[0]->Execute()` and `children_[1]->Execute()` would generate a pair of logical tiles those would be passed to the join operator?
2. The current nested join looks like simulation some coroutine  feature, which I think is unnecessary complex, as the join operator should always be driven by the outer plan(right child). Once the right child finished, there is no need to consid

[2016-04-06 02:56] YangMann commented on #99
@omegaga Hi, we merged the recent updates from master to our branch. However, the two test cases above still fail. Could you please check whether the bug is completely fixed? Our team tries to test our implementation but we cannot check the results because the code is failing due to the same reason.

[2016-04-06 17:01] pmenon opened #114 "Fix Copy() interface to return unique_ptr instead of raw pointers."
Fix the interface introduced in #110 to return `unique_ptr` instead of raw pointers. @amaliujia take a look as this is your modification.

[2016-04-06 17:04] jarulraj commented on #88
1. Yes, that is correct.
2. We need to support LEFT OUTER JOIN. If the execution is completely driven by the RIGHT child, then it won't work correctly.

[2016-04-06 19:24] pmenon opened #115 "Copy() in HashRangeExpression is incorrect"
I don't think the Copy() method in HashRangeExpression is correct. It seems to only copy one of the `N` ranges.  @amaliujia please take a look as this was your modification.

[2016-04-06 20:28] amaliujia commented on #115
Sure. I will take a look at it.

[2016-04-06 20:32] amaliujia commented on #114
Let's discuss in #110. I left a new comment there.

[2016-04-06 20:56] pmenon opened #116 "Refactor CASE expression type"
Right now, CASE expressions are handled between `CaseExpression` and `OperatorCaseWhenExpression`, where the former relies on the latter throwing exceptions to determine whether when clauses are false.  This is unnecessarily complex.

One solution is to have a single `CaseExpression` class that accepts a list of pairs of expressions as clauses.  The first component of the pair is the "when" condit

[2016-04-06 20:58] apavlo commented on #116
@pmenon's assessment and suggested fix is correct.

[2016-04-06 21:51] pmenon opened #117 "Multithreaded insert over JDBC doesn't work"
Concurrently loading a TPC-H dataset using OLTPBench doesn't seem to be working.  Loading the tables serially through OLTPBench does, however, seem to be working.

I haven't dug deep into exactly where the problem is, but figured I'd create a ticket to track the issue.

[2016-04-06 22:36] normanyahq commented on #116
Got it. I will take a look.

[2016-04-06 23:34] yingjunwu commented on #117
YCSB concurrent insert transaction works. Not sure why it does not work for TPC-H.

btw, at this point of time, single-thread loading will be faster than concurrent loading, as we only have a low-performance b-tree with global mutex utilized to serialize concurrent modifications.

[2016-04-07 01:26] amaliujia commented on #114
Fixed, see #118

[2016-04-07 01:37] pmenon commented on #114
Nice job.

[2016-04-07 01:37] #114 closed

[2016-04-07 15:00] pmenon opened #120 "Fix Copy() interface in Expression subsystem to return unique_ptr instead of raw pointers."
We need a similar refactoring of the Copy() interface as was done in #118 for AbstractExpression. @amaliujia can you take care of this?

[2016-04-07 17:39] omegaga commented on #120
I have fixed it in my commit.

[2016-04-07 18:23] jarulraj commented on #99
@omegaga any updates on this bug ?

[2016-04-07 18:23] jarulraj commented on #93
@yingjunwu any updates on this bug ?

[2016-04-07 18:29] omegaga commented on #99
@jarulraj I have done my part in refactoring it into unique_ptr. But I noticed a recent update for Copy() method, which has some conflict with my code. I will send a pull request after finishing it up.

[2016-04-07 18:32] jarulraj commented on #99
I see. Ok.

[2016-04-07 19:30] yingjunwu commented on #93
@jarulraj Haven't fixed this bug. I will get around to it later.

[2016-04-07 23:53] amaliujia commented on #120
Cool. I haven't had time to do that.

[2016-04-08 01:06] amaliujia opened #124 "Move message_queue to common."
Can @jarulraj move message_queue (https://github.com/cmu-db/peloton/blob/master/src/backend/networking/message_queue.h) to common and rename it?

Such producer-consumer queue is necessary for parallelism and I am using my version too.  Let's create one for everyone who need it.

Can you also add `void Push(const vector<T>& item)` for convenience?

[2016-04-08 01:29] #116 closed

[2016-04-09 16:34] #120 closed

[2016-04-09 16:47] jarulraj commented on #115
@amaliujia  Is this done ?

[2016-04-09 16:47] jarulraj commented on #93
@yingjunwu can you spend some time today looking at this ?

[2016-04-09 16:48] jarulraj commented on #90
@yingjunwu  Add more information on the problem. @YangMann any updates ?

[2016-04-09 16:49] jarulraj commented on #117
@pmenon can you add some information on where it is failing ?

[2016-04-09 16:50] jarulraj commented on #124
Feel free to do this and send a PR.

[2016-04-09 20:07] omegaga commented on #99
The second statement has not been fixed yet. I and @shlee0605 are discussing this now.

[2016-04-09 20:07] omegaga commented on #99
The second statement has not been fixed yet. I and @shlee0605 are discussing this now.

[2016-04-09 20:23] larryxiao opened #131 "`insert on conflict do update` transaction failed"
Tested on 583d1be7ffb425eca47d0fa2401154b8623c6fe7 (Apr 9) and 71d7a687c6d474f5ff95dbf8272f08b88b03932f (Mar 13).

[code]

[code]

[2016-04-09 20:39] yingjunwu commented on #131
I'll take a look at that.

[2016-04-10 06:03] yingjunwu commented on #124
I don't find it is necessary to add function like `void Push(const vector<T>& item)`. The semantic is somewhat confusing. Do we need to push a set of items to the queue *atomically*? If yes, then you'd better directly use `queue<std::vector<some_type>>`.

Feel free to comment on my PR #134.

[2016-04-10 06:11] yingjunwu commented on #131
@jarulraj Do we currently support `ON CONFLICT` statement?

[2016-04-10 06:13] yingjunwu commented on #106
@jarulraj sure it will work. I am coordinating with GC team to address this problem.

[2016-04-10 06:14] yingjunwu commented on #93
@jarulraj I will save some time to fix this bug in the next two weeks.

[2016-04-10 18:44] #124 closed

[2016-04-10 20:58] YangMann commented on #90
@jarulraj `T_ResultState` is an empty switch case. It's a node type and is used for some optimizations.
Currently it's an empty switch case. It is causing Peloton to report "not supported operation" error when calling functions like `avg`, `max` on primary key columns.

[2016-04-10 22:38] yingjunwu commented on #93
@jarulraj The major problem is that postgres set string type as `UNKNOWNOID` and interprets later during execution. However, Peloton directly copies the value passed by postgres without interpret it.

see: https://github.com/cmu-db/peloton/blob/master/src/postgres/backend/parser/parse_node.cpp#L522

fixing this bug will take time. I will save some time to fix it.

[2016-04-11 02:38] amaliujia commented on #115
See #135

[2016-04-11 14:52] #115 closed

[2016-04-11 14:53] jarulraj commented on #131
I am not sure if we do.

[2016-04-11 20:41] shlee0605 opened #136 "insert into select statement does not work"
After running the following statements, I get the segmentation fault error.

[code]

I also attach the stack trace and logs.
It seems that peloton supports the regular insert statements only.

[code]

[2016-04-11 21:10] shlee0605 commented on #136
The following query, which is used for the similar usage, is also not working.
[code]

[2016-04-11 21:41] apavlo commented on #136
We definitely don't support these type of queries yet. Is there a specific reason that you need this or can you work around it for now?

[2016-04-12 02:01] yingjunwu commented on #93
Postgres processes const values by packing them into `Const` struct. If the value is of string type, then Postgres will first assigns its type as `UNKNOWNOID`. see: https://github.com/cmu-db/peloton/blob/master/src/postgres/backend/parser/parse_node.cpp#L522. Such type is transformed into the corresponding type later in https://github.com/cmu-db/peloton/blob/master/src/postgres/backend/parser/pars

[2016-04-12 02:44] larryxiao commented on #93
Thank you! I agree we should put it aside. Should we update https://github.com/cmu-db/peloton/blob/master/src/postgres/backend/catalog/sql_features.txt?

[2016-04-12 04:47] shlee0605 commented on #136
@apavlo Iterative machine learning algorithms usually store intermediate data to temporary tables. Our team initially planned to show some ml udf functions (e.g. pagerank) for the demo.

[2016-04-12 14:47] amaliujia opened #138 "How to filter a column with given predicates?"
I saw there is example:

[code]

Basically this code creates predicates that helps `select * from A where value of column 0 = 20 and tuple id = 0`, since here the example uses `tuple_value_expr = expression::ExpressionUtil::TupleValueFactory(0, 0);`

The questions, how to create a predicate that helps "`select * from A where  value of  column 0 = 20`"?

[2016-04-14 00:30] eric-haibin-lin opened #142 "Fatal error under concurrent txns / multiple connections"
Peloton fails when I have multiple psql connections submitting queries concurrently.

This is the script I used to submit queries:

This is the content of `insert.sql` (only one line)

This is the error message I got:

This is what I found in peloton logs (not very informational)

I can reproduce this problem with the most recent version of peloton using the above script once every ~5 times. Has a

[2016-04-14 14:52] larryxiao opened #143 "Prepared Statements not working/supported?"
Tested on 6a88a585ca6a215b34dbac9e0e3221278ed28be1 (Apr 12) and 71d7a687c6d474f5ff95dbf8272f08b88b03932f (Mar 13).

[code]

[code]

[code]

[2016-04-14 20:05] #93 closed

[2016-04-15 17:13] ranxian opened #144 "Peloton performance profiling"
I have used callgrind to profile Peloton's performance for YCSB and TPCC. If there are something matching your observation (or not), please comment on this.

Major observation
1. Postgres frontend takes big portion of the time  > 50%
2. Peloton IndexScanExecutor::DInit is heavy
3. MVCC (Concurrency Control and Version Chain) is very lightweight, not the bottleneck

I have re-profiled Peloton using

[2016-04-15 17:58] tomasic commented on #144
in the front end, can you tell the percentage of time due to planning
versus due to copying between peloton and postgres versus everything else?

On Fri, Apr 15, 2016 at 12:13 PM, Ryan Xian <notifications@github.com>
wrote:

--
Anthony Tomasic
Senior Systems Scientist
Language Technologies Institute
Carnegie Mellon University
http://ideate.cmu.edu/graduate-programs-research/emerging-media/
<http:/

[2016-04-15 20:26] apavlo commented on #144
I had a meeting today with everyone about this. The decision is that we are going to bite the bullet and start removing Postgres front-end stuff. We think that we can get a new network handler and a preliminary query planner from the class project groups. I think that it would be the same amount of effort to work around these problems so we're just going to start doing it the right way.

We'll dis

[2016-04-15 22:07] ranxian commented on #144
I have updated the numbers for profiling TPCC benchmark

[2016-04-15 22:11] ranxian commented on #144
@tomasic
It takes 1/3 of the time for Postgres to build the PlanState tree. Peloton will transform this tree to Peloton's plan tree and execute it. Since Peloton has a cache for such transformation, the copying (if I understand you correctly) will not have too much cost.
However, it **is** expensive to initialize Peloton's executors

[2016-04-15 22:18] ranxian commented on #144
I have uploaded the callgrind trace for a 10min run of TPCC NewOrder Transactions. You can use kcachegrind to visualize it

[tpcc-profile-10min.trace.tar.gz](https://github.com/cmu-db/peloton/files/221879/tpcc-profile-10min.trace.tar.gz)

[2016-04-16 00:16] tomasic commented on #144
And the plan state is not saved in prepare so we must do something more
extensive?

On Friday, April 15, 2016, Ryan Xian <notifications@github.com> wrote:

--
Anthony Tomasic
Senior Systems Scientist
Language Technologies Institute
Carnegie Mellon University
http://ideate.cmu.edu/graduate-programs-research/emerging-media/
<http://ideate.cmu.edu/graduate-programs-research/emerging-media/>
http://ww

[2016-04-16 04:38] ranxian commented on #144
@tomasic That's correct, the plan state is not cached even for a prepared statement

[2016-04-16 04:42] omegaga commented on #144
@tomasic PlanState is a structure containing runtime information, therefore they shouldn't be cached. [This wiki page](https://github.com/cmu-db/peloton/wiki/Query-Plan) discusses some details.

[2016-04-16 20:07] mindbergh commented on #144
@apavlo Good to know that we are finally making this move!

[2016-04-18 01:39] apoms opened #145 "Incorrect results with predicate that depends on joined results"
When Peloton transforms a plan from Postgres which has a predicate that can not be pushed down to the scan of a table (such as one that depends on the result of a join), the resulting transformed plan produces incorrect results. See the following pastebin for a test case which shows the problem: http://pastebin.com/JYTEmXuA

This sqlfiddle post shows the correct behavior: http://sqlfiddle.com/#!15

[2016-04-18 20:56] shlee0605 opened #146 "having clause is not working properly"
While we try to test whether udf function work in having clause, we find out that peloton gives the incorrect result for having clause.

[code]

The expected output is the following:
[code]

However, peloton returns the following result.
[code]

[2016-04-18 23:29] omegaga commented on #143
I also met the same problem when I am trying to generate a PREPARE statement like this:
`PREPARE foo AS SELECT * FROM A WHERE id IN ($1, $2, $3);`
Then the second time I execute the prepared statement will result in an exception.

I will look into this problem.

[2016-04-18 23:34] pmenon opened #147 "Hash joins are not working"
Simple join between two two-column tables on integer keys doesn't seem to work specifically for hash joins.  Sample test here: http://pastebin.com/7LdGRM9p

[2016-04-19 00:16] larryxiao commented on #143
Thanks! :+1:

[2016-04-21 21:18] mindbergh commented on #143
Prepare statement is supported via connectivity API, not PREPARE in psql. More detail: https://github.com/cmu-db/peloton/wiki/Plan-Caching

[2016-04-21 21:26] omegaga commented on #143
@mindbergh We do have support to prepare statement through PREPARE statement. In both extended queries and simple queries, prepared statements are executed by invoking `ExecuteQuery`. The problem here is, after executing the prepared statement several times (this number has been changed from 5 to 1 by you in commit 99d8297), Postgres will use generic plan rather than custom plan. In a generic plan

[2016-04-22 06:49] #143 closed

[2016-04-24 22:13] rowdyrabbit opened #152 "Vagrant file failing due to 404 error for customize.sh and pacakges.sh scripts"
The customize.sh and packages.sh scripts have been moved to a different directory but Vagrantfile still references the old locations on github.

[2016-04-24 22:16] #152 closed

[2016-04-30 16:58] ranxian opened #155 "Catalog::Manager is not scalable"
I'm profiling YCSB benchmark on a multicore system. On a system with 12 cores 24 threads, the throughput can't grow when more than 12 cores are used for read only workload. After profiling, I found that when using 24 cores, half of the cycles are spent in `_raw_spin_lock`, which is a linux syscall used by C++ `std::mutex`. The callgraph showed that in this workload it is mainly used by `Catalog::M

[2016-04-30 17:22] apavlo commented on #155
This is a big problem. I warned @jarulraj about this before. We should fix this.

[2016-04-30 19:09] jarulraj commented on #155
Sure, replace it with a spinlock or go for a lockfree hash map. Make sure that correctness is not affected.

[2016-04-30 20:13] pmenon commented on #155
Why are tiles owned by the singleton manager and not by the tables they belong to? Using a concurrent map will definitely help, but changing this architecture should help a great deal moving forward when we have concurrent queries and scans that touch all the tiles, no?

[2016-04-30 20:36] yingjunwu commented on #155
Agree. Actually the initial design did not consider multi-tenancy problem. Multiple databases can collocate on the same machine. Currently, all the databases on a single machine are instantiated in the same process, and these databases will request tiles from the same tile_factory. This design is unscalable and cannot guarantee fair resource sharing. We may need to rewrite the storage layer in the

[2016-04-30 21:07] jarulraj commented on #155
@pmenon Yes, we can add another layer of indirection, something like this (table id, tile group id). But, the high-level idea is that tile groups are large enough that the overhead of these table lookups get amortized across a lot of tuples.

@yingjunwu I don't really understand what you are suggesting. At the end of day, everything will hit `malloc`. If we allocate big chunks of memory (i.e. tile

[2016-05-01 03:01] yingjunwu opened #156 "tile group scalability"
when all the tuples in a tile group are allocated, a new tile group must be allocated by a certain thread. All the other threads must be busy waiting until the new tile group is allocated. This operation is not scalable.

probably we should maintain a tile group cache for each thread (core).

[2016-05-01 03:39] yingjunwu opened #157 "plan cache"
Peloton's query plan, or even plan executor, can be cached. There is no need to create a new plan instance for each transaction. Meanwhile, the `executor_context` of each transaction can also be reused.

[2016-05-01 18:40] yingjunwu commented on #155
We have fixed it.

[2016-05-01 18:40] #155 closed

[2016-05-01 19:28] #138 closed

[2016-05-01 21:10] yingjunwu commented on #156
Move data members from the executor nodes to the plan nodes to avoid initialization of executor nodes.

[2016-05-04 04:02] yingjunwu opened #158 "build fails"
The latest version in the master branch cannot compile. Could anyone fix this problem?

[code]

[2016-05-04 04:07] omegaga commented on #158
I discussed with Michael on this issue today. A workaround would be deleting `src/backend/networking/abstract_service.pb.*`. The reason is that Michael updated a protobuf file, but since it's ignored in git system, and the original files exist, they are not overwritten and lead to the build error.

A better way here is to ensure files are generated each time it's built.

[2016-05-04 04:09] yingjunwu commented on #158
Then please send a PR to fix bug.

@dingty @saurabhkadekodi @ranxian @jessesleeping please follow this post.

[2016-05-04 12:41] #158 closed

[2016-05-04 12:41] jarulraj commented on #158
If this is still an bug, please reopen the issue.

[2016-05-04 17:53] yingjunwu commented on #158
the bug has been fixed. thanks.

[2016-05-05 15:21] larryxiao opened #161 "compile error with format string"
The CI doesn't seem to check debug info in build. When configured with

[code]

Error:
[code]

[2016-05-05 15:56] apavlo commented on #161
Excellent find. I will update the Jenkins build configuration.

[2016-05-05 17:31] larryxiao commented on #161
PR #162 updating travis and fixing other string format issue

[2016-05-05 22:17] #161 closed

[2016-05-06 00:05] normanyahq opened #165 "SeqScan crashed"
seqscan crashed with following statements.
[code]

LOG:

[code]

A quick fix:

comment out following line:
https://github.com/cmu-db/peloton/blob/master/src/postgres/backend/postmaster/peloton.cpp#L237

[2016-05-06 00:06] normanyahq commented on #165
On @pmenon 's machine it even failed earlier:
[code]

LOG:
[code]

[2016-05-06 00:14] omegaga commented on #165
@larryxiao you might want to take a look and see if this is the problem you met this morning.

[2016-05-06 00:15] Michael-Tieying-Zhang commented on #165
I will look at this issue

[2016-05-06 01:06] apavlo commented on #165
Why are we executing any networking code at all for query execution?

[2016-05-06 01:10] Michael-Tieying-Zhang commented on #165
I cleared the network query in the latest PR

[2016-05-06 01:11] apavlo commented on #165
What does "cleared the network query" mean?

[2016-05-06 01:13] jarulraj commented on #165
I have removed all the networking stuff from the peloton query execution path for now. We desperately need full system testing.

[2016-05-06 01:14] #144 closed

[2016-05-06 01:15] #27 closed

[2016-05-06 01:18] #88 closed

[2016-05-06 01:41] Michael-Tieying-Zhang commented on #165
I don't think we need to re-run the experiments. The dml code is just merged this week.

[2016-05-06 01:43] apavlo commented on #165
@jarulraj  is not saying that we need to rerun experiments. He is (correctly) saying that we need a regression test suite to test the entire system end to end.

[2016-05-06 01:44] apavlo commented on #165
Also, please don't edit my comments.

[2016-05-06 01:49] Michael-Tieying-Zhang commented on #165
@jarulraj is not saying that we need to rerun experiments. He is (correctly) saying that we need a regression test suite to test the entire system end to end.

Agree！

[2016-05-06 02:34] jarulraj commented on #165
I think that this issue has been fixed. Please reopen if needed.

[2016-05-06 02:34] #165 closed

[2016-05-06 07:08] jarulraj commented on #165
I have added a full system test in 83a352b8. We now setup oltpbench, run ycsb, and check if we obtain a non-zero throughput on every run. Over time, we can add more types of transactions in the ycsb benchmark and add new benchmarks for functionality testing.

[2016-05-06 21:18] yingjunwu opened #166 "boost bug"
Hi, boost lockfree queue has an unfixed bug which can result in valgrind error: https://svn.boost.org/trac/boost/ticket/8395. This bug has not been fixed (although identified) in the most recent library.

I am sorry for introducing the following two files to the master branch: https://github.com/cmu-db/peloton/blob/master/src/backend/common/lockfree_spsc_queue.h, https://github.com/cmu-db/peloton/

[2016-05-07 13:23] jarulraj commented on #166
Maybe you can replace the `boost queue` with this one (with BSD license) :
https://github.com/cameron314/concurrentqueue ?
http://moodycamel.com/blog/2013/a-fast-lock-free-queue-for-c++

[2016-05-07 17:23] normanyahq commented on #90
I fixed it in this PR: https://github.com/cmu-db/peloton/pull/167

[2016-05-07 17:27] yingjunwu commented on #90
@normanyahq that's great! thanks!

[2016-05-09 22:11] pmenon commented on #117
Looks like this is a problem with OLTPBench.  The TPC-H loader spawns a per-table thread that's responsible for loading data.  Before actual loading, however, all threads truncate their respective table over a single shared connection. A bad interleaving of begin -> truncate -> commit ends up seg-faulting the system.

I've fixed the issue [here](https://github.com/pmenon/oltpbench/commit/d63b184c5

[2016-05-09 22:11] #117 closed

[2016-05-10 15:17] ranxian opened #171 "overload new/delete operator with jemalloc"
Currently we are not actually using jemalloc, because the new operator is not overloaded to use jemalloc. I would like to fix this, ~~is there a global header/source that is included by all~~ as long as we overload them somewhere that is linked in `libpeloton`, jemalloc would work

[2016-05-10 15:20] ranxian commented on #171
I also didn't see where do we include <jemalloc/jemalloc.h>, jemalloc is also not in the link flags, are we really using jemalloc?

[2016-05-10 15:25] jarulraj commented on #171
No, we are currently not using jemalloc. Instead of overloading those operators, can you alter the linker flags to use `-ljemalloc` by adding the autoconf check (jemalloc.m4) ? Also, add it to the installed package list.

https://stackoverflow.com/questions/9521226/c-stl-with-jemalloc
https://github.com/chriso/bitset/blob/master/configure.ac#L27
https://github.com/chriso/bitset/blob/master/m4/jema

[2016-05-10 15:28] ranxian commented on #171
@jarulraj `-ljemalloc` alone will not work, the suggested way to make all `new`/`delete` and `std::allocator` to use jemalloc is to overload these operators (it is suggested in the first link you posted)

[2016-05-10 15:28] yingjunwu commented on #171
I think I've set the link flag, haven't I?

[2016-05-10 15:29] ranxian commented on #171
@yingjunwu Yes I saw a `-ljemalloc-dev`, but that alone would not work, we are still using `malloc`

[2016-05-10 15:36] ranxian commented on #171
simple benchmark:

[code]
Without those overloaded operators
[code]
With overloaded operators
[code]

It's on the MemSQL machine

[2016-05-10 15:42] yingjunwu commented on #171
I think you can just use `LD_PRELOAD`. It's not very cool to change the source code for using jemalloc.

[2016-05-10 15:43] yingjunwu commented on #171
https://github.com/jemalloc/jemalloc/wiki/Getting-Started

[2016-05-10 15:45] jarulraj commented on #171
I think that the issue is the order of the link flags. Add `-ljemalloc` before another other libraries, so that they don't load in glibc malloc, and see if that helps.
http://www.canonware.com/pipermail/jemalloc-discuss/2013-July/000619.html

[2016-05-10 15:46] yingjunwu commented on #171
you can also learn from silo: https://github.com/stephentu/silo. They support jemalloc, tcmalloc, hoard etc. They did not change the source code.

[2016-05-10 15:51] ranxian commented on #171
They did

https://github.com/stephentu/silo/blob/master/memory.cc

[2016-05-10 16:00] yingjunwu commented on #171
we can talk offline.

[2016-05-12 06:31] #21 closed

[2016-05-12 06:31] #30 closed

[2016-05-12 06:32] #33 closed

[2016-05-12 06:32] #90 closed

[2016-05-12 22:37] jarulraj opened #175 "Optimize BTree Index Scan"
Currently, the btree index scan code is optimized only for the `=` predicate case (`EXPRESSION_TYPE_COMPARE_EQUAL`). For other expression types, such as `>` (`EXPRESSION_TYPE_COMPARE_GREATERTHAN`), we do not set the `start key` or the `end key` to narrow down the scan range. We end up scanning over the entire index in these cases.

https://github.com/cmu-db/peloton/blob/master/src/backend/index/bt

[2016-05-13 06:34] jarulraj commented on #166
Fixed this by replacing `boost` queue with `concurrentqueue`.

[2016-05-13 06:34] #166 closed

[2016-05-15 06:01] jarulraj commented on #171
Finished this in 1c16a21810.

[2016-05-15 06:01] #171 closed

[2016-05-27 18:26] yingjunwu opened #183 "temp table"
A transaction needs to create a temp table if an aggregation operator is performed. Our current implementation treats such a temp table equally as a regular database table, which means that every temp table has to be registered to the catalog, causing unnecessary synchronization overhead. Meanwhile, some aggregation operations, such as sum, count, max, min, generates only one output tuple. using a

[2016-05-29 23:55] apavlo opened #184 "gtest doesn't compile on Ubuntu 16.04"
I upgraded to Ubuntu 16.04. There were a few minor things that I had to fix to get it to compile, but the errors for gtest under `make check` are a bit much for me to fix:

http://pastebin.com/raw/4jq2PVLx

Here is my environment:
* Ubuntu 16.06
* 4.4.0-22-generic
* g++ (Ubuntu 5.3.1-14ubuntu2) 5.3.1 20160413

[2016-05-30 02:03] saifalharthi commented on #184
I setup a VM same as yours to check which files have this problem.
Only two files fail when doing `make check`
common/cache_test.cpp
language/namespace_test.cpp

I removed them from their "Makefile.am" and everything else compiled with no problems.
Every test passed expect for "recovery_test" , I don't know if there is a problem there.

I will try to check out the compilation messages as they seem

[2016-06-08 23:41] #20 closed

[2016-06-08 23:42] #22 closed

[2016-06-08 23:42] #23 closed

[2016-06-08 23:42] #24 closed

[2016-06-08 23:42] #25 closed

[2016-06-08 23:42] #26 closed

[2016-06-08 23:42] #29 closed

[2016-06-08 23:42] #31 closed

[2016-06-08 23:42] #35 closed

[2016-06-08 23:42] jarulraj commented on #175
@amaliujia fixed this.

[2016-06-08 23:42] #175 closed

[2016-06-14 03:30] yingjunwu opened #192 "super slow string comparison"
The string comparison in our btree index is (at least) one order of magnitude slower than int comparison. This is a major bottleneck in our TPC-C benchmark. I think we might borrow idea from masstree, which interprets a single string as multiple integers when performing comparison.

[2016-06-14 14:36] apavlo commented on #192
You are talking about dictionary compression, which should be done at the
database level and not the index level.
On Jun 13, 2016 11:30 PM, "Yingjun Wu" <notifications@github.com> wrote:

[2016-06-14 15:19] ranxian commented on #192
I think he's saying that one integer is 4 chars, so that number of
comparisons will be 4 times less

On Tuesday, June 14, 2016, Andy Pavlo <notifications@github.com> wrote:

--
Best regards,

Ran (Ryan) Xian
Master of Computational Data Science
School of Computer Science
Carnegie Mellon University

[2016-06-14 15:56] yingjunwu commented on #192
yep @ranxian understood correctly. If we want to compare two strings, we can compare the first 4 bytes of two strings as integer comparison and then compare the second 4 bytes.

Masstree highly optimized its string operations and directly stores a string as an array of integers.

[2016-06-14 16:26] pmenon commented on #192
I don't think the approach in Masstree will work for UTF/Unicode strings, since it doesn't do any form of collation.

[2016-06-18 00:39] apavlo opened #193 "Linker errors with libjsconcpp v1.7 on Ubuntu 16.04"
I was able to get the source code compile with gcc 5.3.1 but there is a linker error due to a problem with `libjson-cpp` v1.7:

[code]

Apparently this is a known problem with v1.7. They fixed in v1.8:

http://stackoverflow.com/a/28570134

Ubuntu is not going to switch to the new version in the next release. So we may want to include it as a third-party dependency. It's MIT licensed.

[2016-06-20 14:52] apavlo opened #195 "Add TileGroup schema info into checkpoints"
For @pmenon's project, we need to make sure that we can reload a database from a checkpoint with the exact same schema.

I'm going to add a new `LogRecord` type and write it out when iterate over the `TileGroups` in `SimpleCheckpoint`.

https://www.youtube.com/watch?v=2Zm7qm51Rnk

[2016-06-24 14:53] apavlo commented on #195
I've been poking at this for a while. There is some stuff in here about checking for torn writes so they deserialize things in two parts. I think that the correct approach is to use a checksum in the log record header to check for correctness. It's going to take me a while to refactor but I'm on it.

[2016-06-24 18:58] #192 closed

[2016-06-24 18:58] #156 closed

[2016-06-24 18:59] jarulraj commented on #156
@saifalharthi finished moving data members from the executor nodes to the plan nodes.

[2016-06-25 02:56] jarulraj commented on #193
Removed `jsoncpp` dependency.

[2016-06-25 02:56] #193 closed

[2016-06-25 03:25] jarulraj commented on #184
Using `g++ 5.3` should no longer be a problem.
https://travis-ci.org/cmu-db/peloton/jobs/140169967

[2016-06-25 03:25] #184 closed

[2016-06-25 03:40] apavlo commented on #184
Beautiful:

[code]

Nice work!

[2016-07-24 18:02] apavlo opened #198 "New parser doesn't compile on flex 2.6"
flex: 2.6.0
bison: 3.0.4
gcc: 5.4.0

[code]

The C++ code is easy to fix, but obviously we have to do this every time . This is a one-liner fix:

`sed -i 's/ > YY_CURRENT_BUFFER_LVALUE/ > (int)YY_CURRENT_BUFFER_LVALUE/g' src/sql_scanner.cpp`

Newer versions of flex should not have this problem.

[2016-07-25 21:10] wangziqi2016 commented on #198
I have seen this problem on Kubuntu with flex 2.6.0

But after downgrading to flex 2.5.35 (copying the binary from any of the dev machine suffices) this problem no longer appears.

[2016-08-16 20:28] malin1993ml opened #205 "Failing on TPC-C with OLTPBench"
For now, Peloton can successfully run the NewOrder transaction in TPC-C.

For Payment, the transaction fails to execute until customerByNameSQL. The query can be successfully executed on the Peloton side. But the OLTPBench side cannot read the result back:
15:26:21,203 (Worker.java:403) DEBUG - Payment/02 Bad value for type timestamp/date/time: {1} 0 - 22007

For OrderStatus, it fails on the same

[2016-08-17 13:00] saifalharthi commented on #205
I pushed a commit to my fork for supporting aliases. Please pull the changes and test it on the last query.

[2016-08-18 16:59] saifalharthi commented on #205
This is done , I pushed the fix for that and OrderStatus runs now and Payment should run as well.

[2016-08-21 23:46] malin1993ml commented on #205
The two old issues on TPC-C was fixed by @saifalharthi, thanks!

Now we have some new issues since we can reach more queries after the above fixes.
StockLevel:
The query stockGetDistOrderIdSQL doesn't always retrieve correct the answer from Peloton. It will succeed on the first few queries and the return a random big number after that. Also, we seems to return NULL instead of 0 when there's no tup

[2016-08-22 02:40] wangziqi2013 opened #212 "Coverage Generation & Uploading Does Not Work"
Description
=========
Coverage generation does not work in a sense that there is no .gcno AND/OR .gcda file generated from "make check" command even if we turn on the flag by "-DCOVERALLS=ON"

Also coverage data is not properly uploaded, either because of the data not being properly generated or because of other problems in the build system

Status
=====
Currently I have fixed the first one - gcda

[2016-08-22 03:05] yingjunwu opened #214 "test fails"
jenkins performs tests under debug mode. However, when using release mode, `parser_test` and `create_index_test` will fail. Please fix it.

[2016-08-22 15:39] malin1993ml commented on #214
The problem doesn't exist when building from a clean clone. It seems that CMake couldn't recognize the changes in some files (probably parser related files).

[2016-08-22 15:41] yingjunwu commented on #214
Agreed. This problem disappeared after cleaning up all the files under `build` folder.

[2016-08-22 15:57] jarulraj commented on #214
Then, let's close this issue.

[2016-08-22 15:57] #214 closed

[2016-08-23 18:55] saifalharthi commented on #205
I am working on fixing this and pushed a commit to my repo that runs StockLevel successfully ( according to OLTPBecnhmark). However , there are still some problems.

In stockGetDistOrderId the query is correctly executed from Peloton side , yet OLTPBench seems to get and assign a different result. I made sure that the result left peloton (at least reached the function where it sends the results to

[2016-08-24 16:13] apavlo opened #217 "Move 'container_tuple.h' to 'common'"
For some reason `container_tuple.h` is in the `expression` directory. This seems weird. I was thinking that we might want to move it to `common`.

[2016-08-30 23:20] yingjunwu opened #220 "jemalloc is not linked correctly"
jemalloc is not working for now. One solution is that we can force users to preload jemalloc. This makes sense as some users may prefer some other scalable memory allocation libraries (e.g., tcmalloc, hoard) rather than jemalloc.

[2016-08-31 17:27] ranxian commented on #220
I will take a look on this

[2016-08-31 17:59] apavlo commented on #212
@jessesleeping Please check with @wangziqi2013 about this problem. This is something that we want to fix quickly so that we have it for the rest of the semester.

[2016-08-31 18:01] jessesleeping commented on #212
Ok.

[2016-08-31 18:43] apavlo opened #222 "Clean-up + Revive WAL Component"
The WAL code was abused this summer. Nobody is sure whether it is still working (but probably not). Since @MattPerron wrote a lot of it last semester, he should go through and tidy things up to start the semester.

I also have a branch that I started with some fixes that we should eventually merge in. Not all of these items have been implemented:

* Add BEGIN/END markers to each log record
* Recor

[2016-08-31 18:57] apavlo opened #223 "Fix PSQL Support"
There is something wrong with our new networking code where we can't use JDBC or PSQL at the same time. I'm not sure what the problem is, but this is obviously bad. We need to fix this.

[2016-08-31 18:58] #99 closed

[2016-08-31 19:28] apavlo opened #224 "Add support for "SELECT...FOR UPDATE""
The `ReadModifyWrite` transaction in YCSB uses the `FOR UPDATE` feature in the first SELECT query.

https://github.com/oltpbenchmark/oltpbench/blob/master/src/com/oltpbenchmark/benchmarks/ycsb/procedures/ReadModifyWriteRecord.java#L30

We currently support this in the new parser and are able to set the flag properly in the query plan, but we need to add code to take the write lock in the `IndexSca

[2016-09-02 01:20] sid1607 commented on #223
To clarify, JDBC and PSQL can't be used concurrently but work properly when they are running on their separately?

[2016-09-02 14:40] apavlo commented on #223
Yes, this is my understanding.

@jarulraj This is correct, right?

[2016-09-03 03:30] jessesleeping commented on #212
I think I have fixed this issue. Basically we need to add the coverage CXX/C flag before we generate the configure file. For further test, @jarulraj can you grant me the permission to get the Travis repo token?

[2016-09-03 13:31] ranxian commented on #220
The basic problem is that the way dynamic library dependencies are resolved is kind of BFS way. For example, `app` depends on `liba.so`, `liba.so` depends on `libjemalloc.so`. In either `app` or `liba.so`, `libc` will be linked, but `liba.so` links `libjemalloc.so` first then `libc`.

When the dependencies of `app` get resolved, it will first resolve its **directly** depended libraries: `liba.so`

[2016-09-03 13:39] ranxian commented on #220
There are two solutions for this problem:

* The one I posted above. Cons: `libpeloton.so` is no longer the only object file any Peloton application will need, they will also need to link against `libjemalloc.so`

* Use `PRELOAD_LIB=/path/to/jemalloc`. By doing this we achieve the same goal, and we don't even need to include jemalloc's headers, and don't need to add it as a compile time dependenci

[2016-09-03 13:41] ranxian commented on #220
@jarulraj @apavlo Please provide some design/architect thoughts, which approach is more desired?

[2016-09-03 13:45] yingjunwu commented on #220
1. I think in your example, you did not mention the dependency of libc.probably what you mean is that liba.so depends on both libjemalloc.so and libc.

2. I think even in the first solution, we don't need to include jemalloc's header.

3. Have you tried the first solution? I attempted to adopt the first solution by modifying the current cmakefile but failed.

[2016-09-03 14:19] apavlo commented on #220
Is it easier if we remove the YCSB shared library?

I agree with @yingjunwu that I like solution #1.

[2016-09-03 19:10] jarulraj commented on #220
You can check out the usage pattern in Chromium.

https://github.com/adobe/chromium/blob/cfe5bf0b51b1f6b9fe239c2a3c2f2364da9967d7/base/allocator/allocator_shim.cc

[2016-09-03 19:10] jarulraj commented on #223
I discussed this with @sid1607.

[2016-09-03 19:14] ranxian commented on #220
@jarulraj in the Chromium case, they are explicitly calling the prefixed version `je_malloc` instead of `malloc` (https://github.com/adobe/chromium/blob/cfe5bf0b51b1f6b9fe239c2a3c2f2364da9967d7/base/allocator/allocator_shim.cc#L118). I guess we may prefer to still use `malloc` here

[2016-09-03 19:17] ranxian commented on #220
@yingjunwu

1. Yes. libc is anyway depended by either `libpeloton.so` or `peloton`, it will be very hacky not to link against libc
2. That is correct, if we are just using standard mem allocator function, not including `jemalloc` header is fine.
3. trying now

[2016-09-03 19:19] ranxian commented on #220
@apavlo
I'm not sure what do you mean, basically `libpeloton.so` is linked by `peloton`, `ycsb`, `tpcc`, etc. We don't really have a `ycsb` shared lib.

[2016-09-03 20:00] ranxian commented on #220
@yingjunwu you are right, I tried the first approach but not work. This is because `bin/peloton` does not use `malloc` directly so when it gets linked the `-ljemalloc` flag is ignored. I need to add a link flag `-Wl,--no-as-needed` to force link against jemalloc.

Here is the result

![image](https://cloud.githubusercontent.com/assets/1311188/18227344/8b3b1490-71ef-11e6-854b-f9067e766802.png)

[2016-09-04 17:41] jarulraj commented on #198
Added `-Wno-sign-compare` to parser compilation flags. This should fix this issue.

[2016-09-04 17:41] #198 closed

[2016-09-04 17:42] jarulraj commented on #157
We are now caching the `query plan`. I am not sure if caching the `executor tree` is a good idea.

[2016-09-04 17:42] #157 closed

[2016-09-04 17:42] jarulraj commented on #212
@jessesleeping has fixed this issue.

[2016-09-04 17:42] #212 closed

[2016-09-04 17:44] jarulraj commented on #13
This idea won't work when we add support for collations.

[2016-09-04 17:44] #13 closed

[2016-09-04 17:44] jarulraj commented on #106
@yingjunwu Can you please fix this issue in your GC PR ?

[2016-09-04 17:44] jarulraj commented on #142
This problem no longer exists.

[2016-09-04 17:44] #142 closed

[2016-09-05 20:08] yingjunwu commented on #106
This is similar to phantom problem and let's hard to fix it in the GC PR. I will try to fix it in the next PR.

[2016-09-06 01:54] sid1607 commented on #223
Fixes
------

1) PSQL and OLTPBench can both work using AF_INET sockets. The terminal README has been updated - https://github.com/cmu-db/peloton/wiki/Terminal

2) wire/protocol.cpp had a bug where it would assume every query was an empty query and did not print any output on PSQL. This has been fixed by 86360f01793e3bd4d829e0c70e534b6f09137244

Open Issues
----------------
1) The Query Executor o

[2016-09-06 01:54] #223 closed

[2016-09-06 15:55] #220 closed

[2016-09-06 17:35] sid1607 opened #229 "SELECT * queries return only a single tuple on PSQL"
Despite creating and populating a table with multiple tuples on PSQL, a ``SELECT *`` query only returns a single tuple. The problem has been found to be associated with Query Plan Executor.

[2016-09-06 17:36] sid1607 opened #230 "Failure of JOIN queries on PSQL"
Join queries on PSQL crash by throwing
[code]

[2016-09-06 19:23] apavlo commented on #230
Is there a stack trace?

[2016-09-06 19:52] saifalharthi commented on #230
I think Joins were not supported , I think we only created a hack join for TPCC and looking at the code here https://github.com/cmu-db/peloton/blob/master/src/optimizer/simple_optimizer.cpp#L98

You can see that if it the select statement has more than one table then it will go to the "CreateHackingJoinPlan" function and it will assume that the tables are the same tables in tpcc's StockLevel secon

[2016-09-06 22:33] apavlo commented on #229
This is something we should definitely fix.

[2016-09-08 15:37] apavlo commented on #224
The basic idea of how this works is that there will be a boolean flag in the `IndexScanPlan` and `SeqScanPlan` plan node objects. If a tuple satisfies the predicate during the scan (and will be added in executor's output result), then you will want to acquire a write-lock.

https://github.com/cmu-db/peloton/blob/master/src/executor/seq_scan_executor.cpp#L148
https://github.com/cmu-db/peloton/blob/

[2016-09-08 15:52] ranxian commented on #224
@apavlo
There is actually an `AcquireOwnership()`([link](https://github.com/cmu-db/peloton/blob/master/src/concurrency/timestamp_ordering_transaction_manager.cpp#L292)) method that takes a write lock. We can implement as you said to maintain a boolean flag and call this method

[2016-09-08 16:36] yingjunwu commented on #224
@apavlo I think current API is sufficient enough to implement `FOR UPDATE`. As @ranxian said, there's several APIs for acquiring read or write locks. `IsOwnable()` (https://github.com/cmu-db/peloton/blob/master/src/executor/update_executor.cpp#L112) checks whether the current transaction owns the write lock, and `AcquireOwnership()` (https://github.com/cmu-db/peloton/blob/master/src/executor/updat

[2016-09-08 17:36] jarulraj commented on #224
@apavlo I have already discussed this with @aquafemi and @kreichek.

[2016-09-08 17:54] saifalharthi commented on #224
@apavlo apparently this was not merged to master. I issued a PR containing that code.

[2016-09-08 18:08] yingjunwu commented on #224
@saifalharthi thanks for your PR. I think the PR modified the API of `IndexScanExecutor`, but @kreichek and @aquafemi still need to fill in the logic.

[2016-09-08 18:10] saifalharthi commented on #224
@yingjunwu I understand that , I did not change anything in `IndexScanExecutor`. I only added the flags to the planner so it can be used there.

[2016-09-08 18:14] yingjunwu commented on #224
@saifalharthi yes I saw that part. Let's merge your PR once it passes all the tests.

[2016-09-08 23:33] saifalharthi commented on #224
@yingjunwu I think the PR is ready to be merged. Only VarlenTest has a problem and I think Yuemei is trying to fix that

[2016-09-09 14:26] apavlo commented on #224
@kreichek @aquafemi There should be enough code now for you to complete this task. Be sure to write a test case that checks whether it works. This will take longer than the actual implementation but it's important.

The test case should create two txns. The first txn does a SELECT FOR UPDATE on a tuple and then wiats. The second txn tries to modify that same tuple but it should fail because of the

[2016-09-09 23:13] sid1607 opened #233 "JDBC has issues with new type-system"
1. JDBC multiple_test(), scan_test() and batch_insert() throw exceptions when used with peloton

2. Add JDBC tests to CI

[2016-09-09 23:27] sid1607 opened #234 "YCSB fails with the new type-system (SIGSEGV)"
stacktrace

[code]

[2016-09-10 02:30] sid1607 commented on #229
It seems like this no longer an issue. The current version runs these queries as expected. Perhaps we should add a test for this into Travis?

[2016-09-10 02:46] MattPerron commented on #234
Is this a transient issue or do you have a set of conditions to reproduce it?

[2016-09-10 02:55] sid1607 commented on #234
[code]
This appears everytime after loading table completes.

[2016-09-10 02:59] malin1993ml opened #236 "LOG_LEVEL_TRACE broken due to new type/value system"
Because the new type/value system has a slightly different interface than then old one, some LOG_TRACE statements that use the old system interface are broken.

This will not be checked through either Travis or Jenkins. I'm thinking whether it's a good idea to check whether the system can be built successfully with LOG_TRACE on Jenkins.

[2016-09-10 03:12] apavlo commented on #236
Maybe we should enable TRACE on Jenkins.

On Sep 9, 2016 10:59 PM, "Lin Ma" <notifications@github.com> wrote:

[2016-09-10 03:24] malin1993ml commented on #236
I think we could build the system twice on Jenkins. First try to build with TRACE to see whether it succeeds. The second time build and run "make check" in release mode to avoid giant log output.

[2016-09-10 13:57] ranxian commented on #236
@malin1993ml

Is **broken** means compile error or something else? For me it is compile errors.

[2016-09-10 16:38] malin1993ml commented on #236
Yes. It is compile error.
On Sat, Sep 10, 2016 at 09:58 Ran Xian <notifications@github.com> wrote:

[2016-09-10 20:02] apavlo commented on #236
I will update Jenkins tonight to do this.

On Sep 10, 2016 12:38 PM, "Lin Ma" <notifications@github.com> wrote:

[2016-09-11 19:58] kreichek commented on #224
I will be looking to get this down early this week

[2016-09-12 14:16] apavlo commented on #236
Jenkins now compiles both `TRACE` and `RELEASE` targets. But it only builds the test cases with `RELEASE`.

@jarulraj Is there a way to build the test cases without having to actually run them?

[2016-09-12 17:33] malin1993ml opened #238 "Master broken due to incorrect path of jdbc_validator.py"
The current master brunch is failing because the directory was changed to "build" when running the tests, but the command that invokes jdbc_validator is:
"python ./script/validators/jdbc_validator.py"
which assumes root directory.

@sid1607 I believe that it's easy for you to fix this?

[2016-09-13 01:21] kreichek opened #239 "No projects found when importing git project within eclipse"
I am following this guide (https://github.com/cmu-db/peloton/wiki/Eclipse) to set-up my eclipse environment for development. When I get to step 7 of setup Peloton, I get no projects found in the dialog box instead of seeing peloton. Any ideas what could possibly going wrong or what I could try to troubleshoot this?

[2016-09-13 01:25] saifalharthi commented on #239
What I did was
1- clone peloton
2- open eclipse -> import -> C\C++ -> import code as Makefile project.
3- Go to the path of the project.

I used "Cross GCC" and the project source code will be indexed. However , I did all my tests at the terminal , not the IDE.

[2016-09-13 01:27] apavlo commented on #239
Also, make sure that you are using a newer version of Eclipse.

I've attached my .project + .cproject files. If you put them in the root dir then Eclipse should be able to find then.

[peloton-eclipse-project.zip](https://github.com/cmu-db/peloton/files/468663/peloton-eclipse-project.zip)

[2016-09-13 01:32] kreichek commented on #239
Should I download Neon instead of Luna? I was worried about any compatibility issues so I stuck with Luna since that was in the guide.

[2016-09-13 01:35] apavlo commented on #239
I use Eclipse 4.5.2 (Mars).

The default version that in Ubnuntu is too old.

[2016-09-13 01:54] malin1993ml commented on #239
I'm using Neon. So far I have no problem indexing the code. Though I compile and test the code using command line.

[2016-09-13 02:05] kreichek commented on #239
I managed to get the project indexed on Neon. Thanks for all the help!

[2016-09-13 02:05] #239 closed

[2016-09-13 17:24] sid1607 opened #241 "JDBC segfaults while doing an index_scan"
Appears while using test_jdbc.sh

stacktrace

`#0  0x00007ffff786912c in peloton::common::Type::GetTypeId (this=0x7fff00000005) at /home/siddharth/git/peloton/src/common/type.cpp:203
#1  0x00007ffff76bfd08 in peloton::common::Value::GetTypeId (this=0x7ffff1c1aaa0) at /home/siddharth/git/peloton/src/include/common/value.h:67
#2  0x00007ffff7771ba1 in peloton::expression::ConstantValueExpression::Co

[2016-09-13 17:54] sid1607 opened #242 "Aggregations crash with std::logic_error with JDBC"
Run Scan_Test() (including  aggregation queries) from test_jdbc.sh

Peloton crashes on running this test with std::logic_error.

stacktrace

`#0  0x00007ffff519ac37 in __GI_raise (sig=sig@entry=6) at ../nptl/sysdeps/unix/sysv/linux/raise.c:56
#1  0x00007ffff519e028 in __GI_abort () at abort.c:89
#2  0x00007ffff5aa5535 in __gnu_cxx::__verbose_terminate_handler() () from /usr/lib/x86_64-linux-gnu/li

[2016-09-13 23:41] apavlo opened #243 "Extend SimpleOptimizer to Support Equi-Join Queries"
Our current query planner is hardcoded by @jarulraj  to generate plans for the only join query in TPC-C:

https://github.com/cmu-db/peloton/blob/master/src/optimizer/simple_optimizer.cpp#L627

You can see what this particular query looks like here:

https://github.com/oltpbenchmark/oltpbench/blob/master/src/com/oltpbenchmark/benchmarks/tpcc/procedures/StockLevel.java#L38

We want to extend code th

[2016-09-14 01:03] kreichek commented on #224
Femi and I are working on implementing this.

We are confused as how to the executors are called. We searched on both Github and Eclipse for instances of the many of the executors and didn't find any usages within the codebase.

We have been looking through update_executor.cpp to get a sense of the code. What exactly does isOwner mean in the context of an update command (https://github.com/cmu-db/

[2016-09-14 01:08] apavlo commented on #224
The `TransactionManager` will do this for you automatically when the txn commits.

[2016-09-14 01:09] saifalharthi commented on #224
As for Executing the plan you can check https://github.com/cmu-db/peloton/blob/master/src/executor/plan_executor.cpp#L45

You can find calls for it in the test files and in
https://github.com/cmu-db/peloton/blob/master/src/tcop/tcop.cpp#L50

[2016-09-14 01:46] apavlo commented on #230
Replaced by #243

[2016-09-14 01:46] #230 closed

[2016-09-14 01:47] haojin2 commented on #243
Got the issue, not working on it

[2016-09-14 14:55] sid1607 commented on #236
@jessesleeping Could you look into this, so that the system can be prepared for the first public release.

[2016-09-14 14:57] jessesleeping commented on #236
Ok, I will look at this issue.

[2016-09-15 00:25] #229 closed

[2016-09-15 00:26] #233 closed

[2016-09-15 00:27] apavlo commented on #243
I'm assuming that you meant that you are "now" working on it. You two guys should work together on this. Feel free to talk with @malin1993ml on your ideas on how to fix this.

[2016-09-15 00:29] haojin2 commented on #243
Yeah sorry that was a typo... I've been trying to get a general idea of the system and that optimizer part for the past day. I'll reach out to Lin as soon as I feel prepared with knowledge about that part. Probably later tomorrow. Thanks!

[2016-09-15 00:56] apavlo commented on #243
You should work with @iwantcombo on this first task. The two of you should look at it together.

[2016-09-15 00:59] haojin2 commented on #243
Got it, I'll reach out to him. Thanks!

[2016-09-15 02:50] iwantcombo commented on #243
Let's meet up sometime.

[2016-09-15 02:52] malin1993ml opened #246 "Add support for database selection when selecting table"
Currently Peloton supports for creating different databases, but doesn't support for accessing databases other than the DEFAULT_DB. All coming queries are assumed to access the DEFAULT_DB.

To handle this, we need to add database token to the parser when handling selection of tables. And then pass this token to wherever catalog is accessed.

[2016-09-15 03:54] MattPerron opened #247 "Add support for VARBINARY data types"

[2016-09-15 19:34] MattPerron opened #249 "The parser/ and protocol.cpp leak memory"
For example, [this](https://github.com/cmu-db/peloton/blob/master/src/networking/protocol.cpp#L421) is never cleaned up.
Also some parser tokens which are newed are never deleted.

[2016-09-15 19:39] yingjunwu opened #250 "some expired wiki pages can be removed"
e.g.,
https://github.com/cmu-db/peloton/wiki/Postgres
https://github.com/cmu-db/peloton/wiki/Postgres-Modifications

[2016-09-15 21:55] jarulraj commented on #250
I removed the https://github.com/cmu-db/peloton/wiki/Postgres-Modifications.

I think we can still keep the https://github.com/cmu-db/peloton/wiki/Postgres page around.

Any other pages that can be removed ?

[2016-09-15 22:51] MattPerron commented on #250
These pages seem to be dead:
https://github.com/cmu-db/peloton/wiki/Notes-DDL
https://github.com/cmu-db/peloton/wiki/Postgres-Expression-System
https://github.com/cmu-db/peloton/wiki/Notes-Fork

These pages refer to the old postgres code and could be mostly removed or edited:
https://github.com/cmu-db/peloton/wiki/Architecture (should be edited to reflect current design)
https://github.com/cmu-db/

[2016-09-16 02:52] #249 closed

[2016-09-16 02:53] MattPerron commented on #249
Resolved with PR #251

[2016-09-16 02:54] MattPerron commented on #242
fixed with PR #248

[2016-09-16 02:54] #242 closed

[2016-09-16 14:46] eric-haibin-lin opened #254 "Stat tables and per query stat"
- Currently statistics are stored in the aggregator object. Moving the stat to a database table makes it easier to manage these data, with the existing functionality peloton supports.
- Recording per query stat, including the number of tuples for read/update/delete/insert, and the latency of query.

[2016-09-17 13:51] apavlo commented on #224
@aquafemi @kreichek Have you written test cases? Do you guys need somebody to code review this yet?

[2016-09-17 14:12] eric-haibin-lin opened #259 "Add end to end stat test to JDBC validator"
We should have a end to end JDBC test with stats option on, and be able to query the metric tables in catalog database.

[2016-09-17 21:24] aquafemi commented on #224
We were working on it yesterday. We tried to emulate the update_test and I think the problem is that going that way requires going through the parser/planner which you advised against.

* Does the table need to be prepopulated with some tuples to run the test case?
* How do we invoke the executor directly? We were thinking of using the TransactionScheduler in the transaction_tests_utill to schedul

[2016-09-17 21:32] apavlo commented on #224
Yes, otherwise there is nothing to lock.

If you look at `UpdateTests`, you will see that it uses the parser/planner to generate a query plan but then it invokes the plan on its own:

https://github.com/cmu-db/peloton/blob/master/test/executor/update_test.cpp#L123

It's actually not a well-written test case because it doesn't actually check whether the values in the tuples are correct. Your test c

[2016-09-18 15:35] apavlo opened #261 "Add SQL Function Catalog"
As @MattPerron mentioned in #248, right now our support for SQL functions is broken and ad-hoc. We support some of the string functions directly in the expressions API (e.g., [string fuctions](/cmu-db/peloton/blob/master/src/include/expression/string_expression.h)), but there is no easy way to extend the parse to support new ones. Postgres handles this by storing everything in the catalog. I like

[2016-09-19 01:20] pbhowmic opened #262 "planner_test failing"
Code pulled on Sep 17 2016. There is one failure.
Used gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.2)
Environment: Ubuntu 16.04.1 LTS running on Vagrant on Mac

[2016-09-19 01:44] apavlo commented on #262
I am not able to reproduce this problem:

[code]

Commit 7b88cfd5094d5b01028284ceae77075d719cd365
Ubuntu 16.04.1 LTS
gcc (Ubuntu 5.4.0-6ubuntu1~16.04.2) 5.4.0 20160609

It is also not failing on Travis nor Jenkins.

[2016-09-19 03:05] eric-haibin-lin opened #263 "update & delete not using index scan plan"
Updating and deleting index searchable rows are using sequential scan instead of index scan, which is slow.

https://github.com/cmu-db/peloton/blob/master/src/optimizer/simple_optimizer.cpp#L389
https://github.com/cmu-db/peloton/blob/master/src/planner/update_plan.cpp#L73

[2016-09-19 19:16] pbhowmic commented on #262
I assume you are using a Release build. I am using a debug build with log level TRACE

I verified that Release build is not failing the test.

[2016-09-20 00:27] apavlo commented on #262
I am also not able to reproduce with your build command for commit 7b88cfd5094d5b01028284ceae77075d719cd365

[code]

[2016-09-20 01:22] MattPerron commented on #262
I was able to reproduce this. It fails make check because it is leaking memory. I am working on a fix.

[2016-09-20 01:29] MattPerron commented on #262
@pbhowmic
Please check that PR #264  solves your issue.

[2016-09-20 01:34] MattPerron opened #265 "Hanging when handling partial writes in socket_base.cpp"
The code to handle the case when `write` does not write a whole buffer causes a hang at https://github.com/cmu-db/peloton/blob/master/src/wire/socket_base.cpp#L185

[2016-09-20 01:38] MattPerron commented on #265
Also, even though the sockets are non-blocking, the read and write functions in this file block until a buffer is written.

[2016-09-20 01:42] sid1607 commented on #265
Yes, it doesn't seem like this code uses all the non-blocking facilities that libevent has to offer. Any steps on how to reproduce this hang condition?

[2016-09-20 01:44] MattPerron commented on #265
When peloton returns large amounts of data (around 8MB) this happens almost every time.
Also, I already have a solution (to it hanging), I created this issue for bookkeeping purposes.

[2016-09-20 03:31] malin1993ml opened #267 "TPCC fails on CREATE statement with float type"
With several latest fixes, we're able to run YCSB again using OLTPBench. However when trying to run TPCC, the system crashed with a CREATE statement with a float column type. It seems that the float type  is not recognized  by the system correctly:

[TRACE] [/home/lin/peloton/src/tcop/tcop.cpp:106:PrepareStatement()] 2016-09-19 23:27:13 - Prepare Statement CREATE TABLE customer (   c_w_id int NOT

[2016-09-20 13:01] MattPerron commented on #265
Fixed with #266

[2016-09-20 13:01] #265 closed

[2016-09-21 00:31] malin1993ml opened #270 "Travis test failed due to timeout"
Right now we need 40ish minutes to run all the tests, but Travis has a maximum time limit for a job of 50 minutes:
https://docs.travis-ci.com/user/customizing-the-build/#Build-Timeouts

When the job exceeds 50mins, the tests will fail. That already happened when sometimes our tests are running slow:
https://travis-ci.org/cmu-db/peloton/builds/161475007

[2016-09-21 00:37] malin1993ml opened #271 "Jenkins test broken"
Jenkins test was broken after the merge #260:
http://jenkins.db.cs.cmu.edu:8080/job/Peloton/101/

It failed when trying to build tests on release mode.

[2016-09-21 00:41] MattPerron commented on #271
I believe @eric-haibin-lin is looking into this.

[2016-09-21 00:42] malin1993ml commented on #271
Cool.

[2016-09-21 01:35] #262 closed

[2016-09-21 01:35] #267 closed

[2016-09-21 01:38] MattPerron commented on #234
As we said in today's meeting, this is now working.

[2016-09-21 01:38] #234 closed

[2016-09-21 01:38] MattPerron commented on #246
If this is complete, please close the issue.

[2016-09-21 01:39] MattPerron commented on #241
I believe this is now working so I'm closing the issue. Please reopen if there are further problems.

[2016-09-21 01:39] #241 closed

[2016-09-21 01:40] #238 closed

[2016-09-21 01:40] #236 closed

[2016-09-21 01:41] MattPerron opened #272 "Some unnamed prepared statements return no results"
This occurs in TPC-C New Order and Delivery transactions.

[2016-09-21 01:47] #254 closed

[2016-09-21 01:47] #246 closed

[2016-09-21 02:17] apavlo commented on #271
The tests are running on jenkins but it is not generating the xml files for the results of the unit tests. So we are not able to see the test result history.
[code]

http://jenkins.db.cs.cmu.edu:8080/job/Peloton/100/console

How do I enable gtest to output xml files?

[2016-09-21 02:17] pbhowmic commented on #262
confirmed fixed.

[2016-09-21 02:36] #259 closed

[2016-09-21 02:53] #271 closed

[2016-09-21 02:53] apavlo opened #275 "No gtest XML output"
The tests are running on jenkins but it is not generating the xml files for the results of the unit tests. So we are not able to see the test result history.
[code]

http://jenkins.db.cs.cmu.edu:8080/job/Peloton/100/console

We need to figure out how to enable gtest to output xml files.

[2016-09-21 12:50] apavlo commented on #224
@aquafemi We should meet to discuss this task.

[2016-09-21 13:36] apavlo commented on #275
Fixed in #276

http://jenkins.db.cs.cmu.edu:8080/job/Peloton/106/testReport/(root)/

[2016-09-21 13:36] #275 closed

[2016-09-21 14:36] MattPerron commented on #272
Fixed in #273

[2016-09-21 14:36] #272 closed

[2016-09-21 16:48] jessesleeping opened #277 "Revive the log manager"
Currently the log manager is disabled in the transaction manager. Also, since we are using our own catalog table now, the recovery logic should also handle the catalog table.

[2016-09-21 18:23] malin1993ml commented on #270
I've written to the travis-ci support team and they kindly agreed to extend our maximum build time to 90 minutes!

That solves this issue, but having said that they also suggested some methods to reduce our build time. I'll create a separate issue for that.

[2016-09-21 18:31] malin1993ml opened #278 "Reduce travis build time"
Travis team has agreed to extend our maximum build time to 90 minutes. But we also want to look into some methods to reduce the build time according to what they suggested in the email:

[2016-09-21 18:36] #270 closed

[2016-09-22 01:12] malin1993ml opened #279 "StockLevel of TPC-C keeps retrying"
21:05:31,036 (DBWorkload.java:714) INFO  - Launching the tpcc Benchmark with 1 Phases...
21:05:31,038 (ThreadBench.java:319) INFO  - [Starting Phase] [Workload= tpcc] [Serial= false] [Time= 10] [Rate= 10] [Arrival= REGULAR] [Ratios= [0.0, 0.0, 0.0, 0.0, 100.0]] [Active Workers=1]
21:05:31,056 (Worker.java:402) DEBUG - StockLevel/05 Bad value for type int : integer_null 0 - 22003
21:05:31,058 (Work

[2016-09-22 22:02] MattPerron commented on #279
should be fixed with #280

[2016-09-22 22:02] #279 closed

[2016-09-23 04:49] sid1607 opened #282 "DROP Table segfaults"
When I was running basic1.sql on psql, peloton crashes with

Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7ffff1ffc700 (LWP 24034)]
0x00007ffff76f6de9 in peloton::parser::DropStatement::GetTableName (this=0x7fffef016df0) at /home/siddharth/git/peloton/src/include/parser/statement_drop.h:45
45	  inline std::string GetTableName() { return std::string(table_name->name);

[2016-09-23 12:45] eric-haibin-lin commented on #282
let me take a look

[2016-09-23 19:49] malin1993ml opened #283 "Handle NULL value properly at binding stage"
Right now if the frontend sends a NULL value at the binding stage the system will crash.

[2016-09-23 20:48] malin1993ml commented on #205
The wrong answer problem of the StockLevel is already fixed in #284. Two things:
(1) In Postgres JDBC driver, transactions will first execute as unnamed prepared statement (got planned every time) until PrepareThreshold is reached:
https://jdbc.postgresql.org/documentation/81/server-prepare.html
The default PrepareThreshold is 5.
(2) Unmaned prepared statement and named ones are using different va

[2016-09-23 21:00] malin1993ml commented on #205
Also, #284 and Matt's fix #273 fixed some of the retrying problem of Payment transaction. Now Payment sometimes can succeed:

For OrderStatus, Peloton is still always retrying:

For both transaction types, Peloton sometimes cannot find the customer with specific last name. For OrderStatus, Peloton cannot find orders even the customer is found. I haven't checked whether we have inserted the custome

[2016-09-24 01:58] sid1607 commented on #205
I'll look into it

[2016-09-24 02:04] malin1993ml commented on #205
@sid1607 FYI, some constants in TPC-C are set here:
https://github.com/cmu-db/oltpbench/blob/master/src/com/oltpbenchmark/benchmarks/tpcc/jTPCCConfig.java

I have decreased some numbers to make the test faster.

[2016-09-24 02:37] MattPerron commented on #283
closed with #284

[2016-09-24 02:37] #283 closed

[2016-09-24 03:13] eric-haibin-lin commented on #282
Which version are you using?

I cannot reproduce it with the most recent version of master 9ddc7cb4a887a478045a9eb2aaa28d8402ef8753.

-

[2016-09-24 03:18] eric-haibin-lin opened #285 "Drop index executor"
Currently drop executor can only drop a table. Dropping an index is not implemented yet.

https://github.com/cmu-db/peloton/blob/master/src/executor/drop_executor.cpp#L39

[2016-09-26 15:39] eric-haibin-lin commented on #282
@sid1607 any more information about the failure?

[2016-09-26 18:57] apavlo opened #287 "Add support for "SELECT...INTO""
We want to be able to take the output for a SELECT statement and have it feed back directly into a new table. The `InsertExecutor` already has support for taking the output of its children plan nodes and inserting it into the table:

https://github.com/cmu-db/peloton/blob/master/src/executor/insert_executor.cpp#L123

I think that the steps for this task are as follows:

1. Update the parser + plan

[2016-09-28 02:21] sid1607 commented on #282
I guess there were some inconsistencies in my local build. This is not an issue anymore.

[2016-09-28 02:21] #282 closed

[2016-09-28 06:21] pbhowmic opened #288 "segfaults when querying a non-existent table"

[2016-09-29 07:26] sid1607 commented on #205
OLTPBench retries ORDER_STATUS transactions because it receives empty result sets for two of the queries (ordStatGetNewestOrdSQL and customerByNameSQL). Running the same failing queries on PSQL returns the expected tuple. It seems like the problem is when the ORDER BY clause is used - I removed this clause from the two failing ORDER_STATUS  queries  and the benchmark is able to proceed. Debugging

[2016-09-29 18:35] MattPerron commented on #263
Fixed in #289

[2016-09-29 18:35] #263 closed

[2016-09-29 21:07] apavlo commented on #205
This is really bizarre. Is the result payload that gets sent back the same?

[2016-09-30 20:55] sid1607 commented on #205
Do you mean the result payload for the query with the ORDER BY clause? In case of OLTPBench, Peloton is not able to find the required row while executing the query's predicates. From PSQL, everything works fine.

[2016-09-30 21:03] apavlo commented on #205
I mean whatever the query result is before we send it back to the client.

On Sep 30, 2016 4:55 PM, "Siddharth Santurkar" <notifications@github.com>
wrote:

[2016-09-30 21:07] sid1607 commented on #205
No, the result we retrieve before sending it back to the client is different. We get 0 rows when we send the query from OLTPBench and the expected row when we send the row from PSQL. This doesn't seem to be wire protocol problem - in the sense that it is not like we are sending the required result data over the wire and JDBC isn't able to process it.

[2016-10-02 22:16] pbhowmic opened #290 "segfault when running hash_join.sql test script"
I get a segmentation fault when running the hash_join.sql test script. Looks like peloton is unable to handle a join on an empty table. Script run thru psql

The offending line in the script (line 13) is the last one in the script below

[code]

[2016-10-03 00:19] eric-haibin-lin commented on #290
Hmmm. Unfortunately INNER JOIN queries always fail since we don't have a optimizer for join queries yet. It fails also when the table is non-empty. Same for other kinds of joins.
You can see how optimizer handles select stmt now:
https://github.com/cmu-db/peloton/blob/master/src/optimizer/simple_optimizer.cpp#L91

Actually the hash_join.sql should be revised as well, some of the queries are not wh

[2016-10-03 00:20] apavlo commented on #290
This will be fixed by #243

[2016-10-03 03:56] sid1607 opened #291 "Incorrect Sequential Scan Output for large tables"
When the number of tuples in the table exceeds the size of a tile group (presently 1000 tuples), sequential scans (SELECT * queries) return only the tiles from the last tile group processed. The problem is with plan_executor.cpp. From line 97, the executor is repeatedly invoked until it returns 'false'. Once it returns false, the last output tile is retrieved and formatted for the frontend. Howeve

[2016-10-03 06:48] yingjunwu commented on #291
I am not pretty sure whether we need to redesign the sequential scan executor. As pointed out in #106, when processing transactions concurrently, we may confront phantom-like problem if sequential scan is invoked. The only solution I have is to perform full index traversal instead of tile group scans. We may have a detailed discussion on this problem.

[2016-10-03 14:02] apavlo commented on #291
You're **sure** that we need to redesign it or you're **not sure**?

We should discuss this with @pmenon. We are not going to be using the interpreted engine going forward. I don't think his new code has this problem (although he has not considered transactions or concurrency control yet).

[2016-10-03 14:20] yingjunwu commented on #291
I am __pretty sure__ that the current version of sequential scan executor is buggy... The key problem is that the transaction that is performing sequential scan on a table is unaware of a concurrent transaction that is inserting a new version into the same table. I don't have any quick solution for this problem, and we should talk.

Anyway, the problem I mentioned is orthogonal to the one found by

[2016-10-03 15:53] ranxian commented on #291
Looks like we don't do phantom detection

On Monday, October 3, 2016, Yingjun Wu <notifications@github.com> wrote:

--
Best regards,

Ran (Ryan) Xian
Master of Computational Data Science
School of Computer Science
Carnegie Mellon University

[2016-10-04 11:06] yingjunwu opened #292 "sdbench compilation failed"
the sdbench (https://github.com/cmu-db/peloton/tree/master/src/main/sdbench) in the master branch cannot pass compilation. I think it is because this benchmark is never updated after the introduce of the new type system.

[2016-10-04 14:20] pbhowmic commented on #290
@eric-haibin-lin Not killing me right now, just trying to get a feel for the code before I dive in, but I don;t want to misclassify any errors I run into, I just need to know when the error is due to a pre-existing bug and not because of any code I change or add.

[2016-10-04 16:53] ranxian commented on #292
@yingjunwu You are correct, the code for sdbench in the master does not incorporate the new type system.

@jarulraj I actually think it is a good idea to `embrace' the master branch, we can then get new GC and N2O for free.

[2016-10-04 22:56] sid1607 commented on #291
Fixed by PR #294

[2016-10-04 22:56] #291 closed

[2016-10-05 00:49] eric-haibin-lin opened #295 "[STAT] Record per query CPU utilization"
We already have the latency(real time/wall clock time) stat per query, we should also have CPU time (the time CPU spends on processing instructions) stat via `getrusage()` per thread.

Actual CPU utilization per query = CPU time / wall clock time

[2016-10-05 00:59] tomasic commented on #295
Perhaps something like (thread user time + thread system time)/(wall clock
time/hardware threads)

On Tuesday, October 4, 2016, Haibin Lin, Eric <notifications@github.com>
wrote:

--
Anthony Tomasic
Language Technologies Institute
Carnegie Mellon University
http://www.tiramisutransit.com
*http://mcds.cs.cmu.edu <http://mcds.cs.cmu.edu>*
http://www.cs.cmu.edu/~tomasic

[2016-10-05 01:00] eric-haibin-lin commented on #295
Yes, `getrusage` returns both thread user time and thread system time

[2016-10-05 22:00] malin1993ml commented on #205
Fixed by PR [#297].

[2016-10-05 22:00] #205 closed

[2016-10-05 22:19] malin1993ml opened #299 "Handle binding correctly in join and other plans"
The default logic for binding the parameters of a stored procedure to plans is here:
https://github.com/cmu-db/peloton/blob/master/src/planner/abstract_plan.cpp#L65
Basically it just calls the binding function of all its children.

If there're certain fields in the plan that need to be bound, such as predicate expressions, we have to customize the binding function. We already have some overrode fu

[2016-10-06 18:25] aelroby opened #300 "Server Scaling"
When any thread is executing, and for example needs to refill the read buffer, if the file descriptor is not ready for read, select() is called and the thread is blocked until it is notified that it can read from the file descriptor now. select() is implemented so that it iterates over the bits representing the file descriptors in the file descriptors set and notify the blocking thread whenever th

[2016-10-06 23:08] #295 closed

[2016-10-07 03:31] eric-haibin-lin opened #302 "TPCC fails to insert more than 1 tuples for history table"
In tpcc, history table doesn't have any primary keys. After loading all the tables, the history table only contains 1 tuple. All insertion fails after the first one.

We can reproduce it problem with the following 3 queries:

[code]

The second insertion failed.

The problem is caused by the default primary index of the table. Currently when a table is created, a primary index is **always created*

[2016-10-07 03:33] apavlo commented on #302
TPC-C never reads from the HISTORY table. It is append only. I say disable the pkey for now when one is not defined and then see what breaks.

[2016-10-08 15:02] eric-haibin-lin commented on #288
Fixed by PR #301

[2016-10-08 15:02] #288 closed

[2016-10-08 17:58] Michael-Tieying-Zhang opened #304 "Abort rate is 99% for PCC under hyper-threading"
A txn has two queries: SELECT and UPDATE, and they both operate the same table. The abort rate will be 99% when the total threads reach hyper-threading (for PCC). Before that, the abort rate is only around 20%. That is to say, the abort rate suddenly increases to 99% when # of threads exceeds # of physical cores.

[2016-10-08 19:37] apavlo commented on #304
Do you have code that somebody can use to reproduce this? What is the access pattern distribution? How big is the table? How many tuples do they access? Does this happen on master?

Nobody else is going to know what you mean by "PCC" either.

[2016-10-08 19:47] Michael-Tieying-Zhang commented on #304
Yes. I have code to reproduce this issue. The table has 10,000 tuples with 90% HotSpot accesses within [1, 50]

I didn't try that on master branch (I think it is "TO" as the default concurrency control protocol).

[2016-10-08 19:53] apavlo commented on #304
By "PCC" do you mean 2PL?

[2016-10-08 19:58] Michael-Tieying-Zhang commented on #304
Yes. "Pcc" is the command line parameter. It is actually 2PL.

[2016-10-08 19:59] apavlo commented on #304
If it's 2PL (what variant?), then are you just experiencing lock thrashing? Why do you think it is something wrong with the system?

[2016-10-08 20:09] Michael-Tieying-Zhang commented on #304
The abort rate increases sharply (it is 20% when # threads is 6 and 99% when # threads is 7). Can lock thrashing explain that? If so, pls close this issue.

[2016-10-08 20:22] apavlo commented on #304
You have to measure this.

[2016-10-08 20:28] apavlo commented on #304
Please also only post issues that are reproducible in the master branch.

[2016-10-08 20:28] #304 closed

[2016-10-10 13:53] apavlo commented on #224
@jessesleeping - Can you finish this task real quick this week and get it into the master? Please be sure to add a test case.

[2016-10-10 14:47] jessesleeping commented on #224
Sure.

[2016-10-11 20:42] malin1993ml commented on #224
#305 was a hacking for us to profile TPC-C first without supporting this. Please remove that after this is done.

[2016-10-13 15:05] #247 closed

[2016-10-13 22:06] malin1993ml commented on #302
Fixed in #307

[2016-10-13 22:06] #302 closed

[2016-10-14 20:16] malin1993ml commented on #224
Done by #308.

[2016-10-14 20:16] #224 closed

[2016-10-16 06:00] yingjunwu commented on #222
Logging subsystem has already been revived. New logging subsystem is on the way.

[2016-10-16 06:00] #222 closed

[2016-10-18 15:57] apavlo opened #310 "Refactor SeqScanPlan Constructor"
Currently the `SeqScanPlan` constructor takes in a `parser::SelectStatement` object for initialization. It then contains logic to figure out how to extract the expression tree and set up the object:

https://github.com/cmu-db/peloton/blob/master/src/planner/seq_scan_plan.cpp#L52

The problem with this code is that it assumes that the target table for the scan operator is found in `parser::SelectSt

[2016-10-18 20:31] eric-haibin-lin opened #311 "Excessive buffer flush in wire protocol"
For each message peloton receives, peloton processes it and flush the response buffer. To execute a query, JDBC sends over parse, bind, describe, execute and sync (5 messages) all together in one packet, and waits for response. Currently peloton flushes the buffer after processing each of these messages. Instead flushing 5 times, we should batch the 5 responses and just flush once.

@sid1607 @mali

[2016-10-18 20:39] sid1607 opened #312 "Add executor thread pool"
Currently the client's thread pool is responsible for query execution as well. This limits the number of concurrent clients that we can support without over-comitting to the number of cores and is (potentially?) responsible for some of the performance problems we face with TPCC. Decouple the client thread pool from the execution thread pool by handing over the query plan from the client thread to

[2016-10-18 20:43] malin1993ml commented on #311
That's a cool finding. Does that improve our networking performance?

[2016-10-18 22:11] sid1607 opened #313 "OrderStatus fails with SQL parsing error"
I observed this while running the master branch with tpcc (configured as OrderStatus - 100 and all others 0) and I observe this from OltpBench

18:06:51,906 (Worker.java:402) DEBUG - OrderStatus/03 Error parsing SQL statement 0 - null
18:06:51,907 (Worker.java:472) DEBUG - Retrying transaction...
18:06:51,907 (Worker.java:402) DEBUG - OrderStatus/03 Error parsing SQL statement 0 - null
18:06:51,90

[2016-10-18 22:21] malin1993ml commented on #313
I can run it on my machine. Can you try to make a clean build for both Peloton and OLTPBench?

[2016-10-18 23:47] sid1607 commented on #313
Yup, I had an outdated version of OLTPBench. Resolved.

[2016-10-18 23:47] #313 closed

[2016-10-19 02:02] eric-haibin-lin commented on #311
Used no-op benchmark script to stress the networking in peloton, and got the following result (unit: queries / second). Batch flush is the improve version of peloton.

We have significant improvement on local tests, but for remote(cross-machine) test the improvement is not as significant.

| No-op query | Timesten | Peloton | Postgres | Peloton (Batch Flush)
| --- | --- | --- | --- | --- |
| Remot

[2016-10-19 02:35] ranxian commented on #311
This is cool, I can run timesten ycsb+tpcc right after this is merged

[2016-10-20 01:47] eric-haibin-lin opened #316 "Handle empty queries in wire protocol"
When peloton receives empty queries, it should send back `parse complete` for the parse msg, `no data` for the describe msg. This fix is missing in the PR merged today morning.

[2016-10-22 15:32] eric-haibin-lin commented on #316
Resolved by PR #319

[2016-10-22 15:32] #316 closed

[2016-10-22 15:32] #311 closed

[2016-10-25 20:55] eric-haibin-lin opened #321 "column vector is copied many times for each bind parameter call"
e.g. here: https://github.com/cmu-db/peloton/blob/master/src/planner/update_plan.cpp#L146

[2016-10-25 23:40] sid1607 commented on #312
Performance tests showed that this approach made NOP/empty query execution 1.5x slower. This is because boost threadpool uses mutexes and condition variables to assign tasks from the queue to threads in the pool. Conclusion: We need a custom-made thread pool for query execution.

[2016-10-25 23:40] #312 closed

[2016-10-27 18:38] #321 closed

[2016-10-29 15:30] pbhowmic opened #324 "Update Wiki please"
[https://github.com/cmu-db/peloton/wiki/Query-Plan](url) needs to be updated. For one, is there an `ExecInitNode()` or `ExecProcNode() `methods anymore? I tried grepping thru the code in `src/`
 and came up with no hits.

[2016-10-29 15:33] apavlo commented on #324
We are working on a new query optimizer right now, so the wiki pages are out-of-date.

Is there something specific that you are trying to accomplish?

[2016-10-29 16:20] pbhowmic commented on #324
Hi Professor Pavlo. First I would like to say thank you for making the 15-721 lectures available on YouTube, I have really enjoyed them and I they have helped plug a hole in my knowledge base. I am not a DB guy myself, in fact, I an MSCF grad from Tepper so in a past life, a lot of my work involved Monte-carlo scenario generation. In my limited off time, I have been trying to "bake" analytics  int

[2016-10-30 03:56] eric-haibin-lin opened #325 "Collect parameters' value & type in query metrics table for prep stmt"
(add description later)

[2016-10-30 19:59] apavlo commented on #324
@pbhowmic Email me. We should try to talk this week pavlo@cs.cmu.edu

[2016-10-30 19:59] #324 closed

[2016-11-01 00:24] MattPerron opened #326 "Possible to create tables with columns of the same name"
[code]

We currently do not error when creating a table which already exists.

[2016-11-01 00:49] eric-haibin-lin commented on #278
I'm curious why we're not using `ctest -j4` to run 4 unit tests in parallel to reduce the time for unit tests? Does it not work for travis?

[2016-11-01 00:59] MattPerron commented on #326
[code]

This is also troubling.

[2016-11-01 01:01] MattPerron opened #327 "Creating a table which already exists fails silently"
[code]

[2016-11-01 01:18] malin1993ml commented on #278
I've tried -j2 but it didn't make any difference than -j1. I think travis doesn't support multi-thread building.

[2016-11-01 01:25] eric-haibin-lin opened #328 "Support multiple insert tuples per insert stmt"
Currently parser cannot handle multiple tuple values in sql.
https://github.com/cmu-db/peloton/blob/master/src/parser/sql_parser.y#L536

[2016-11-01 04:03] MattPerron commented on #328
@eric-haibin-lin  are you working on this? if not I could take a look.

[2016-11-01 04:28] eric-haibin-lin commented on #328
Not yet. I also noticed that currently in insert plan we only store one
tuple instead of a list of tuples

On Tuesday, November 1, 2016, Matt Perron <notifications@github.com> wrote:

--
Best Regards,
Haibin Lin

Master of Science in Computer Science
School of Computer Science
Carnegie Mellon University

+1 (412) 478-1556
www.linhaibin.com

[2016-11-01 05:40] pbhowmic commented on #324
Hi Professor Pavlo,
Sure we can talk. Let me know a few dates/times and I will see which ones are workable.
Email me at p.s.bhowmick at gmail

[2016-11-02 00:48] eric-haibin-lin opened #330 "Implement COPY command"
Implement the copy query command so that we can dump the query_metric table into a csv file with deserialized values.

https://www.postgresql.org/docs/9.2/static/sql-copy.html

[2016-11-02 02:09] pbhowmic commented on #243
Not sure where folks are with addressing this issue but it might be a good idea to clean up the SELECT case statement while tackling this issue, it is a bit long (300+ lines of code) with multiple if-then-else statements spanning the case. It hurts the readability of the code.

[2016-11-02 02:28] wangziqi2013 opened #331 "GetMaxValue() and GetMinValue() on VARCHAR Does Not Create Correct Value"
https://github.com/cmu-db/peloton/blob/master/src/common/type.cpp#L201
https://github.com/cmu-db/peloton/blob/master/src/common/type.cpp#L175

In the above two switch branches, they both pass length = 0 to class Value constructor,  which corresponds to:

https://github.com/cmu-db/peloton/blob/master/src/common/value.cpp#L198

In class Value constructor, argument "len" (which is both 0 for VARCHAR

[2016-11-03 17:38] eric-haibin-lin opened #332 "GetVarcharValue.ToString lost the last character"
This test will fail:

v9.ToString() returns "hell".
Because `GetVarcharValue` didn't count the \0 at the end, while ToString considers the last character to be \0.

https://github.com/cmu-db/peloton/blob/master/src/include/common/value_factory.h#L61
https://github.com/cmu-db/peloton/blob/master/src/common/varlen_type.cpp#L139

[2016-11-07 20:38] #332 closed

[2016-11-07 20:56] #217 closed

[2016-11-11 22:00] MattPerron commented on #328
Fixed with #336

[2016-11-11 22:00] #328 closed

[2016-11-14 15:02] eric-haibin-lin opened #340 "array_value_test random string seg fault"
Once in a while the test generate a char[] with length 0 which causes seg fault.

https://github.com/cmu-db/peloton/blob/master/test/common/array_value_test.cpp#L66

https://github.com/cmu-db/peloton/blob/master/test/common/array_value_test.cpp#L144

[2016-11-14 16:37] #340 closed

[2016-11-15 21:15] apavlo opened #343 "NestedLoopIndexJoin Executor"
We need the `NestedLoopIndexJoin` executor for TPC-C StockLevel. The current implementation is a regular dirty nested-loop without the join probe. You are also going to need to fix up `SimpleOptimizer::CreateHackingJoinPlan` to use the new executor instead of the hash join:

https://github.com/cmu-db/peloton/blob/master/src/optimizer/simple_optimizer.cpp#L764

[2016-11-15 21:20] domino-succ commented on #343
Yes. We need to replace HashJoin in current simple_optimizer.cpp with the fixed nested-loop join.

[2016-11-17 02:59] sid1607 commented on #300
Implemented by #342

[2016-11-17 02:59] #300 closed

[2016-11-17 08:36] SLMT opened #345 "Build Fails"
Hello, I just tried to build the system and I got the following error message while executing `make -j4`:

[code]

I use Fedora 24 and here is the version of the Linux kernal:

[code]

I installed the dependencies via `dnf`, a package manager running on Fedora. Here are the names and the versions of the packages I installed:

[code]

It should include all packages listed in [here](https://github.c

[2016-11-17 08:45] SLMT commented on #345
Sorry, I just found that there is a notice on the [official website](http://pelotondb.io/download/) saying the system doesn't compile on 32-bit systems.

I suggest the notice should also be written in [README](https://github.com/cmu-db/peloton/blob/master/README.md) and [the installation guide](https://github.com/cmu-db/peloton/wiki/Installation).

[2016-11-17 12:46] #345 closed

[2016-11-17 12:48] MattPerron opened #346 "Add 64 bit only notice to readme"

[2016-11-17 13:10] yingjunwu opened #347 "configurable thread count"
The current implementation set the number of threads for transaction processing to `std::thread::hardware_concurrency()` by default. This may not be correct. We should preserve some threads for garbage collection and logging. Also, the system must know the number of threads assigned for each component (e.g., transaction processing, garbage collection, and logging) prior to execution. To solve this

[2016-11-17 14:48] apavlo commented on #347
We should talk about this with @malin1993ml. It's good that this parameter is no longer hardcoded, but we want to be able to make it dynamic so that we can tweak it at runtime. This is part of a larger theme of having all of the configuration knobs dynamic so that Lin's work can change it.

This is a good start though.

[2016-11-17 14:51] apavlo commented on #345
@SLMT Were you able to get it to build on Fedora 64-bit?

[2016-11-17 14:57] #346 closed

[2016-11-17 15:20] SLMT commented on #345
@apavlo Yes, it built successfully. Thanks.

[2016-11-17 17:23] malin1993ml commented on #347
Sounds good. We can talk about this at some point.

On Thu, Nov 17, 2016 at 9:48 AM, Andy Pavlo <notifications@github.com>
wrote:

[2016-11-17 20:51] #325 closed

[2016-11-18 04:34] SLMT commented on #345
BTW, I installed the dependencies using this command:

[code]

It might be useful for the people who try to build Peloton on Fedora.

[2016-11-18 08:34] yingjunwu opened #349 "inlined varchar"
Neither the new nor the old type system supports inlined varchar. It only supports storing varchar in varlenpool.

[2016-11-19 04:19] lmsreborn opened #350 "[ERROR] libevent_server.cpp:108:LibeventServer()--Fail to bind"
I have followed the guidelines completely and built the project successfully. However, I started `peloton`, a error appeared:
[code]

[2016-11-19 05:21] apavlo commented on #350
Are you using the latest version? Your fork is 6 months out of date.

What platform are you using? Can you run it with debug logs turned on and send the output?

[2016-11-19 05:44] eric-haibin-lin commented on #350
@lmsreborn  could you also try another port with "peloton -port" to see if its because the default port is already occupied?
@sid1607 we should print an error msg instead of core dump..

[2016-11-19 07:44] lmsreborn commented on #350
@apavlo I have downloaded the latest version. The version I forked is to learn CS 15721 :)
@eric-haibin-lin Yeah, the problem is port 5432 is already occupied. I try other port, it works.

[2016-11-19 14:46] tomasic commented on #350
how about changing the message to 'failed to bind to port XXXX - try
changing port with -port command line option'

On Sat, Nov 19, 2016 at 1:44 AM, Victor <notifications@github.com> wrote:

--
Anthony Tomasic
Language Technologies Institute
Carnegie Mellon University
http://www.tiramisutransit.com
*http://mcds.cs.cmu.edu <http://mcds.cs.cmu.edu>*
http://www.cs.cmu.edu/~tomasic

[2016-11-21 02:33] #330 closed

[2016-11-21 22:29] malin1993ml opened #355 "StatsTest broken with g++-5"
The latest build of Peloton is broken due to a failure on StatsTest with g++-5:
https://travis-ci.org/cmu-db/peloton/builds/177756128

The failure was on MultiThreadStatsTest:

I first saw the same failure (also with g++-5) after #351, but I restarted the build and the failure disappeared. Nor could I reproduce this failure locally with g++-5.4.0. Also I think the issue might be introduced before

[2016-11-23 00:03] apavlo opened #356 "Expression Tree Utility Functions"
We need to expand `ExpressionUtil` to include new functions for transforming expression trees. This is needed for the optimizer and other query planning components to make it easier to manipulate them. I am going to try to find some of the H-Store code that I wrote to do these things and convert them to our system:

https://github.com/apavlo/h-store/blob/master/src/frontend/edu/brown/expressions/E

[2016-11-23 20:03] malin1993ml commented on #355
Peloton master failed on stats_test again:
https://travis-ci.org/cmu-db/peloton/jobs/178390100

[2016-11-26 19:41] jessesleeping opened #358 "Pre-declared read only transaction support"
We need the following functionality to support pre-declared read only transaction

- The **epoch manager** should assign a proper timestamp to the read-only transaction to ensure that this transaction reads a consistent read-only snapshot of the database.
- The **transaction manager** should ignore all the read performed by a read-only transaction. Since the transaction is read-only and it's runni

[2016-11-28 14:04] apavlo opened #361 "EXTRACT Placeholder Function"
Can you add back the `EXTRACT`function? Except that I don't want you to actually implement it. I just need you to add in the function and hook it up into the system so that it gets invoked when it is used in a SQL query. But then it will just return `INT32_NULL` for now.

I am going use this for the first programming project in the spring semester. I will create a hardcoded version that returns th

[2016-11-28 14:27] apavlo opened #362 "Internal Catalog Overhaul"
This is a more long-term plan, so this is not going to happen this semester. But this is where I think that we need to go early next year to clean up our internal architecture. Like the networking overhaul, I think that we are going to have to bite the bullet and spend some time re-factoring our internal catalog management sub-system. This is necessary in the long run to make the code easier to un

[2016-11-28 15:20] MattPerron commented on #361
Sure. By when do you want this completed?

[2016-11-28 15:20] apavlo commented on #361
Dec 15th

[2016-11-28 21:34] #310 closed

[2016-11-29 01:41] apavlo commented on #358
Merged with #359

[2016-11-29 01:41] #358 closed

[2016-11-29 01:43] apavlo commented on #145
I think this is no longer an issue. Closing for now. [Wu Tang](https://www.youtube.com/watch?v=19cjIAK_w1Q).

[2016-11-29 01:43] #145 closed

[2016-11-30 15:16] apavlo opened #367 "Merge + Delete OLTP-Bench Fork"
I don't want us to maintain a special fork of OLTP-Bench just for Peloton. I will make Peloton a supported DBMS in the framework, merge any changes that we have (manually), and then delete the CMU-DB fork.

[2016-12-01 04:47] #347 closed

[2016-12-01 04:48] #343 closed

[2016-12-01 17:54] apavlo commented on #367
This is finished. I have merged all of the fixes and logic that we had for Peloton in this branch to the main branch. I deleted the forked repository. There is a back-up available here in case we need to look at it again:

http://pelotondb.org/files/old/oltpbench-peloton.tar.gz

[2016-12-01 17:54] #367 closed

[2016-12-02 00:55] #355 closed

[2016-12-02 16:37] apavlo opened #371 "TPC-C Delivery delivUpdateCustBalDelivCntSQL fails because of float"
Executing this query from the Delivery transaction:
[code]
Produces this error:
[code]

If you remove `C_BALANCE = C_BALANCE + $1` from the query, then it works. I made sure to use Lin's fixes that uses floats instead of doubles. The DDL is set to use the decimal type for `C_BALANCE`

https://github.com/oltpbenchmark/oltpbench/blob/master/src/com/oltpbenchmark/benchmarks/tpcc/ddls/tpcc-peloton-ddl

[2016-12-02 16:50] apavlo opened #372 "TPC-C StockLevel stockGetCountStock fails"
Executing this query from the StockLevel transaction:
[code]
Produces this error:
[code]
I have not investigated this further to understand why this is failing.

@Michael-Tieying-Zhang Where are your test cases for this query?

[2016-12-02 16:54] apavlo opened #373 "Invalid PRIMARY KEY DDL Syntax"
We can only declare a multi-attribute primary key by add it to each attribute definition:

[code]

This is invalid SQL. It should be:

[code]

[2016-12-02 16:55] Michael-Tieying-Zhang commented on #372
I'll look at this problem.

[2016-12-02 19:06] apavlo commented on #371
This actually might be because I didn't port the CMU-DB oltp-bench branch correctly. It works on the old version of the benchmark framework. Let me investigate.

[2016-12-02 19:06] apavlo commented on #372
FYI, this still fails on the CMU-DB specific fork of OLTP-Bench. I believe that the problem is with your code and not the benchmark framework.

[2016-12-02 19:25] apavlo commented on #371
The following queries work from the terminal:

[code]

But then we core dump when we try to set `C_BALANCE` to a negative number:
[code]

[2016-12-02 19:29] apavlo commented on #371
Then it also looks like we can only update one field at a time:

[code]
This query only updates `C_BALANCE`:
[code]
And this query only updates `C_DELIVERY_CNT`:
[code]
It doesn't matter if you use constants:
[code]

[2016-12-02 19:43] apavlo commented on #371
The original problem with this query is because I was using `setFloat()` instead of `setDouble()`. I had it backwards. It works now.

[2016-12-02 19:43] #371 closed

[2016-12-02 19:44] apavlo opened #374 "UPDATE is horribly broken"
The following queries work from the terminal:

[code]

But then we core dump when we try to set `C_BALANCE` to a negative number:
[code]

Then it also looks like we can only update one field at a time:

[code]
This query only updates `C_BALANCE`:
[code]
And this query only updates `C_DELIVERY_CNT`:
[code]
It doesn't matter if you use constants:
[code]

[2016-12-04 22:03] malin1993ml opened #375 "Min aggregation on integer is not working"
Max on integer is working. Min and max on double are also working.

[code]

[2016-12-05 21:20] #372 closed

[2016-12-06 18:27] #375 closed

[2016-12-06 22:04] Michael-Tieying-Zhang commented on #373
@apavlo What's the status for this issue? We cannot run the latest OLTP-Bench to test Peloton due to this issue.

[2016-12-06 22:13] apavlo commented on #373
What DBTYPE are you using? Don't use 'postgres'  use 'peloton'

On Dec 6, 2016 5:04 PM, "Michael" <notifications@github.com> wrote:

[2016-12-06 22:26] Michael-Tieying-Zhang commented on #373
Got you

[2016-12-07 01:06] malin1993ml opened #380 "Update cannot convert integer to double automically"
In the Update query, if we pass a integer value to a double field in the table, that will always be converted to 0.

[code]

[2016-12-07 01:10] malin1993ml opened #381 "Cannot insert boolean type value into table"
[code]

[2016-12-07 01:18] malin1993ml opened #382 "Min/Max aggregation doesn't work with varchar/timestamp"
We get a core dump with this:
[code]

With timestamp, the core dump will happen when there're more than one values in the table:
[code]

[2016-12-07 01:20] apavlo opened #383 "`psql_test.sh` is Non-Deterministic / Wrong"
I have no idea how the `psql_test.sh` script works at all on Travis. When I tried to run it on Jenkins, it fails because Peloton is producing a result that is different than the expected output. Upon inspection of the test queries, it appears that we are assuming the output is ordered from the DBMS (which it's not because it's unordered). When you try to add in an `ORDER BY` to make sure that the

[2016-12-07 03:12] apavlo opened #384 "UPDATE allows you to violate primary key constraint"
We don't let you INSERT a duplicate key:
[code]

Well now that's good. But you better believe that we let you update an existing tuple with a duplicate primary key:
[code]
In the above example, we should not allow you to have two of the same ids.

[2016-12-07 03:17] apavlo opened #385 "ORDER BY is Broken"
We don't support `ORDER BY` with a `SELECT *` query:
[code]
The server gives the following error:
[code]
But if you make the `SELECT` include the column you want to sort on, then it works:
[code]
When you remove `year` from the output list, we crash again:
[code]

[2016-12-07 03:48] #350 closed

[2016-12-08 03:06] #374 closed

[2016-12-08 11:32] yingjunwu opened #387 "TODO List for Transaction Management"
TODO:

1. Re-implement lock-free array. The current implementation is not "lock-free". It's pre-allocation.
2. Port logging and checkpointing components (which affects current WBL implementation).
3. Persist catalog table.
4. Fix index scan bug (#106).
5. Implement constraints and triggers.
6. Change return type of `DExecute()` function in executors to `Result` enum (https://github.com/cmu-db/pelo

[2016-12-08 21:41] jessesleeping commented on #387
Some more TODO from my experience:

1. Support update to primary key. (https://github.com/cmu-db/peloton/issues/384 <https://github.com/cmu-db/peloton/issues/384>)
2. Enforce index constraint check in update executor when we perform in-place update.

Jiexi Lin

[2016-12-09 17:28] Michael-Tieying-Zhang commented on #384
Do we support UNIQUE INDEX now?

[2016-12-09 17:34] apavlo commented on #384
Yes. See the first example above where I try to INSERT the same key twice and it fails on the second one (as expected).

[2016-12-09 17:36] Michael-Tieying-Zhang commented on #384
Got you. In that case, it's easy to fix.

[2016-12-09 19:34] Michael-Tieying-Zhang commented on #384
The problem also exists for UNIQUE SECONDARY INDEX:

`michael=# UPDATE foo SET age = 1000 WHERE year = 100;
UPDATE foo SET age = 1000 WHERE year = 100 1
michael=# select * from foo;
 id | age  | year
----+------+------
  2 |   20 |  200
  1 | 1000 |  100
(2 rows)
`
The code should examine UNIQUE INDEX, but it did nothing:
[https://github.com/cmu-db/peloton/blob/master/src/storage/data_table.cpp#L4

[2016-12-09 20:25] apavlo commented on #278
We will eventually move over the Jenkins to speed things up.

[2016-12-09 20:25] #278 closed

[2016-12-10 01:24] Michael-Tieying-Zhang opened #390 "Got no result after updating the secondary index"
First create table and insert two tuples:
[code]
For now, there is no problem.

Now, update the secondary index for column `age`:
[code]
Then, lookup the table using column `age`:
[code]
There is no result. But the result should be:
[code]

[2016-12-11 18:23] Michael-Tieying-Zhang commented on #390
This issue has been solved.

[2016-12-11 18:23] #390 closed

[2016-12-14 16:27] sid1607 opened #394 "BeginTransaction is called for every query that is executed"
To execute a query, protocol.cpp invokes tcop.ExecuteStatement().

TrafficCop::ExecuteStatement in-turn invokes PlanExecutor::ExecutePlan

PlanExecutor::ExecutePlan calls txn_manager.BeginTransaction().

The current implementation is not aware of when a BEGIN/COMMIT query is received and creates transactions for individual queries.

[2016-12-14 20:14] jessesleeping opened #396 "Support reference count for varlen columns"
When creating a new version of a tuple in the update executor, if a column:
- is of VARCHAR or VARBINARY type
- and is not inlined
- and is not updated
then, instead of allocating a copy of the varlen value, we can add to its reference count in the varlen pool.

To support this, we need to
- support reference count in the varlen pool
- support copy by reference in update executor/project info
- (m

[2016-12-14 22:33] sid1607 opened #397 "Large Sequential Scans with high selectivity cause JDBC to break"
When I populate a table with 10million tuples using a JDBC client and run a 10% selectivity query, the client crashes while Peloton is writing the output.

Peloton-side output
--------------------------
[ERROR] [src/wire/libevent_socket.cpp:349:FlushWriteBuffer()] 2016-12-14 15:29:27 - Fatal error during write
[ERROR] [src/wire/libevent_callbacks.cpp:187:StateMachine()] 2016-12-14 15:29:27 - Error

[2016-12-15 00:20] #384 closed

[2016-12-15 00:33] apavlo commented on #383
@Michael-Tieying-Zhang Since #395 is merged, can you fix this? It should be really easy. You have to update the expected output file:

https://github.com/cmu-db/peloton/blob/master/script/testing/psql/psql_ref_out.txt

I have already updated the ORDER BY queries in [basic1.sql](https://github.com/cmu-db/peloton/blob/master/script/testing/dml/basic1.sql) to make them work.

Once the script works, r

[2016-12-15 00:38] Michael-Tieying-Zhang commented on #383
@apavlo Sure. I'll take care of it.

[2016-12-15 03:04] Michael-Tieying-Zhang commented on #383
@apavlo Are you sure the script can work? The script has a lot of problems running on my desktop, such as the parameter PELOTON_ARGS, and the file path for output and input.

[2016-12-15 03:09] apavlo commented on #383
Give me 10 minutes and I will check.

[2016-12-15 03:39] apavlo commented on #383
@Michael-Tieying-Zhang What's the error message that you are getting?

[2016-12-15 03:46] Michael-Tieying-Zhang commented on #383
There is no any output message when I run the script. After I removed the parameter PELOTON_ARGS from psql command, it (psql) can run but there is no output file. Then I removed delete output file command, and there is output file but it said there is no REF_OUT_FILE:

[2016-12-15 03:51] apavlo commented on #383
@Michael-Tieying-Zhang Looking into it...

[2016-12-15 03:54] Michael-Tieying-Zhang commented on #383
@apavlo Take it easy ：)

[2016-12-15 03:58] apavlo commented on #383
@Michael-Tieying-Zhang I'm on it. Easy fix.

[2016-12-15 04:05] #383 closed

[2016-12-15 04:26] jarulraj commented on #250
Cleaned up and removed some of the wiki pages suggested by @MattPerron.

[2016-12-15 04:26] #250 closed

[2016-12-15 04:27] jarulraj commented on #277
What's the current status of the log manager @jessesleeping  @yingjunwu @MattPerron ? Do we have test cases for the log manager ?

[2016-12-15 04:36] jarulraj commented on #106
@yingjunwu How to ensure atomicity of sub-actions (2) and (3)?

[2016-12-15 04:46] apavlo commented on #277
@jessesleeping is going to port their latest logging + epoch + GC code from their paper branch to the master next week. Then @YingjunWu will work on the next paper in January.

We want their optimized logging code in order to do real TPC-C benchmarking.

[2016-12-15 04:47] jarulraj commented on #292
@yingjunwu are the other benchmarks compiling and running?

[2016-12-15 07:21] sid1607 commented on #397
The reason this issue happens is that the response payload is too large to be delivered by the standard wire protocol. Based on the discussion in this link - http://stackoverflow.com/questions/31904559/32bit-message-length-1gb-query it looks like Postgres wire protocol isn't designed to send more than 1GB of payload in a single packet. The wire protocol has the "Copy operations" feature that enabl

[2016-12-15 07:21] #397 closed

[2016-12-15 07:21] sid1607 commented on #385
I will look into this

[2016-12-15 15:03] apavlo opened #401 "Inconsistent results with basic1.sql"
This is a weird one. I'm still working through things to figure out what's going on here. The [psql_test.sh](https://github.com/cmu-db/peloton/blob/master/script/testing/psql/psql_test.sh) invokes [basic1.sql](https://github.com/cmu-db/peloton/blob/master/script/testing/dml/basic1.sql). Right now it works on my laptop, but if you invoke it in different environments I get different results

### Jen

[2016-12-16 06:00] yingjunwu commented on #292
@jarulraj yes all the other benchmarks can compile.

[2016-12-16 09:16] yingjunwu commented on #106
@jarulraj One approach is to scan the index nodes instead of tile groups. But I think this approach can cause higher cache miss rate, and @pmenon may be unhappy with that.

In fact, we suffer from two different levels of phantom problems:

1. Tuple-level phantom problem, which occurs when a transaction is scanning a table while another one is inserting/deleting a tuple from the table?
2. Version-l

[2016-12-16 09:24] jessesleeping commented on #396
While implementing this feature, I had a feeling that we need to rethink our design of the type system.

In order to copy

@MattPerron @apavlo

[2016-12-16 13:12] apavlo commented on #396
Why do you think we need to re-implement our type system?

[2016-12-16 18:06] jessesleeping commented on #396
I think we may need to rewrite the code for varlen type.

Currently, we memcpy the varlen value whenever we call GetValue. I think what we can do is to copy varlen value by reference and make it as our default setting. Whenever we do need a physical copy of it, we can use something like a deep copy method.

In my local branch, I have partially supported this feature. Now the update executor will n

[2016-12-16 18:30] jessesleeping opened #402 "YCSB and TPC-C micro-benchmarks can not compile"
I think we should compile all benchmarks in CI for every PR.

[2016-12-16 18:31] apavlo commented on #402
Sounds reasonable. Update travis.yml

[2016-12-16 18:48] apavlo opened #404 "Create "PelotonMain" object"
There is no single object that encapsulates the different objects in the system. Both @malin1993ml and @sid1607 have the problem that they need to maintain stateful objects that are used in different parts of the system but there is no single location to put them. The TrafficCop object is really just a bunch of static methods, so it's not really the right place.

I propose that  create a new class

[2016-12-16 19:06] jessesleeping commented on #404
From my experience, for the following components, we should have the orders below:
- epoch manager -> gc manager
- epoch manager -> log manager -> transaction worker threads / networking threads

Currently their initialization order depends on whose GetInstance() method gets called first... I have to manually call the GetInstance() to enforce the order in our micro-benchmarks...

For the implement

[2016-12-17 09:04] jessesleeping commented on #396
As stated in the PR, now we can fully support reference count in varlen type. However, it's kind of hacking the type system to support the shallow copy feature we want.

I have profiled the performance gain from this feature with the YCSB micro-benchmark. Here is the [result](https://docs.google.com/spreadsheets/d/1nL0-rUCTE_niGRLvMt3paW1RZruc_Cavblno98sG99o/edit#gid=0).

Basically, we get 10x thr

[2016-12-17 09:07] #402 closed

[2016-12-18 03:07] #396 closed

[2016-12-18 06:31] jessesleeping commented on #349
Please refer to #396 after we can support inlined varchar.

[2016-12-18 16:56] apavlo commented on #361
If this requires you to modify the parser to add support for `EXTRACT`, can you add a page on the wiki that gives walkthrough on files you need to edit. This will make it easier for others to add new things later.

[2016-12-20 01:37] MattPerron commented on #361
See #407. According to the postgres documentation "The extract function returns values of type double precision" So I matched their behavior and the placeholder implementation returns the null double type.

I will add documentation about adding new functions to the wiki.

One concern I have is that string to timestamp casting does not exactly match the behavior of postgres and its a bit hard to un

[2016-12-21 01:55] sid1607 opened #411 "Support 'C' packet in the wire protocol"
This packet is used to inform the server to close a statement or portal. While this doesn't affect TPCC's correctness, it should be implemented for completeness.

[2016-12-21 16:06] jarulraj commented on #292
This has been fixed. All benchmarks are now built on travis.

[2016-12-21 16:06] #292 closed

[2016-12-21 21:56] apavlo opened #415 "Need to handle NULLs in JDBC"
If you load the TPC-C database with oltpbench and execute the following query the TPC-C OrderStatus txn from psql, you can see that we are returning the string "integer_null" for the `O_CARRIER_ID` field:

[code]

But if you execute this this query in Java (by executing the OrderStatus txn), JDBC throughs an exception:

[code]

[2016-12-22 01:32] MattPerron commented on #394
closed with #400

[2016-12-22 01:45] #394 closed

[2016-12-22 01:49] apavlo opened #416 "Network Code Weirdly Crashes Under tmux"
I am only putting this here in case somebody else hits this. This is on the ottertune machine (Ubuntu 16.04). I am using a clean build from d0f8a851ac275b943a89c80c4955f23683d3897e.

The following the two errors **only** occur when I start the server in tmux. It works just fine from the regular terminal. It also doesn't happen with screen. I have no idea what this could be from and I don't have ti

[2016-12-22 01:50] apavlo commented on #416
I should also add that it runs just fine in tmux on my local machine (also 16.04)

[2016-12-22 02:03] apavlo opened #417 "PacketManager::Reset() SEGFAULT"
**I actually think that this machine might have bad DRAM. Let me get back to you on this**
----------------------

The system crashes now when I try to load in a TPC-C database:

[code]

This occurs in both `RELEASE` and `DEBUG` compilation modes:

[code]

[2016-12-22 03:57] sid1607 commented on #415
I checked it against Postgres. The correct psql output is -

[code]
We shouldn't be sending 'integer_null' from the frontend. Instead, the protocol should send -1 as value length (which postgres does). While handling the absolute string 'integer_null' can fix this issue, how do we handle null values of all data types, considering that the null placeholder seems to be arbitrary?

[2016-12-22 04:15] apavlo commented on #415
When you say "handle null values of all data types", do you mean internally in the system or for the network code?

It seems like we should just follow the postgres wire protocol.

[2016-12-22 05:01] sid1607 commented on #415
The wire protocol specification is simple and should be easy to implement. In peloton, it looks like null integers are materialized as 'integer_null' in the output. Similarly, null strings, null timestamps, etc will have their own way of getting materialized. The question is given a tuple and a column, how do I know if the value stored is the null value for that data type or not?

[2016-12-22 05:02] apavlo commented on #415
Not sure what you're asking. This is what `Value::IsNul()` does

[2016-12-22 05:24] sid1607 commented on #415
For 32-bit Int, Value::IsNull() checks if the Value is INT_MIN. But we don't see INT_MIN in psql output; we see a string 'integer_null' which is generated by ToString. Do I have to modify ToString to return INT_MIN instead?

[2016-12-22 05:39] apavlo commented on #415
Where else is ToString called? I think that we use it for GetInfo in a lot of places. You may want to make a ToPostgresString() method and handle it in there.

[2016-12-22 08:06] jessesleeping opened #419 "Fix performance issue in value/type system"
Several issues in the value/type system need to fix:
- `IsNull()` check is expensive and we can get rid of it by adding a null flag for every value type.
- Simple value/type functions should be inlined.
- `CheckComparable()` and `CheckInteger()` should be replaced by some assert.
- Varlen value type should allow "shallow copy" to save unnecessary memcpy overhead.

[2016-12-23 00:08] sid1607 commented on #417
Any updates on this?

[2016-12-23 00:12] sid1607 opened #422 "Peloton cannot support multi-statement queries from JDBC"
A JDBC client can send multiple queries together in a single "Parse" packet, separated by semicolons. While the parser can handle such requests, the frontend code for PSQL manually splits strings on ';' and processes them as separate queries and the frontend code for JDBC assumes single query strings everywhere. This portion of the protocol needs to be fixed.

[2016-12-23 00:24] apavlo commented on #417
I wasn't able to reproduce it on any other machine. We are running memtest now to see whether it has bad DRAM.

[2016-12-23 02:00] #415 closed

[2016-12-23 02:36] sid1607 opened #425 "Send error code for Aborted Txns"
Rejected txns are happening because the server is aborting them when there is a conflict. The number is likely high for us because we are reading more tuples than we need to without that CUSTOMER index.

Send back a SQL State code when this occurs so that we know it's because of a conflict. Postgres sends status code "40001" which is defined as "serialization failure".

[2016-12-23 05:15] sid1607 commented on #425
@apavlo - With this commit Oltpbench for tpcc now catches the conflict aborts as an **expected** error -

[code]

However, YCSB with Read-Update workload fails because the benchmark simply throws every Exception, unlike the TPCC implementation - https://github.com/oltpbenchmark/oltpbench/blob/master/src/com/oltpbenchmark/benchmarks/ycsb/procedures/ReadRecord.java#L34

Should I modify YCSB to handl

[2016-12-23 09:59] jessesleeping opened #426 "TPC-C gets super slow when customer index is enabled"
When we enable the customer index, TPC-C throughput drops dramatically and become not scalable at all.

[2016-12-23 16:52] apavlo commented on #425
What kind of abort do you mean?

I would probably focus on the things that we need to fix in the network layer.

[2016-12-23 18:34] jessesleeping commented on #419
Fixed

[2016-12-23 18:34] #419 closed

[2016-12-23 18:37] sid1607 commented on #425
I mean conflicting aborts - if read and update occur simultaneously over common records then the transaction manager might abort one of them. While TPCC-oltpbench can handle such serialization failures (error code: '40001'), the YCSB-oltpbench code has no mechanism of catching and handling such failures.
Does this mean that such conflict aborts shouldn't happen in YCSB?

And by focusing on things

[2016-12-23 19:07] apavlo commented on #425
No need to change YCSB.

Yes, proceed with the semi-colon fix.

[2016-12-23 19:09] sid1607 commented on #425
Should I issue a PR for these changes?

[2016-12-23 19:31] apavlo commented on #425
Yes.

[2016-12-23 20:31] jessesleeping opened #429 "Potential problem of varlen pool with reference count"
Currently every tile has its own varlen pool. With reference count, memory addresses in a tile's varlen pool can be referenced by tuples in a different tile group. However, the tile/varlen pool has no knowledge about these external references. It's possible that a tile group destructs (due to GC or compaction) and destroys its varlen pools, while tuples in other tile groups are still referencing

[2016-12-23 20:44] apavlo commented on #429
We need to have a long discussion about how we want to maintain VarlenPools in the future. I feel like we keep throwing band-aids on it without ever really thinking it through carefully.

[2016-12-23 21:55] sid1607 commented on #425
Also - Even though https://github.com/oltpbenchmark/oltpbench/blob/master/src/com/oltpbenchmark/benchmarks/tpcc/procedures/NewOrder.java#L397 considers this Exception as an expected error, it is logged as an unexpected error in the histograms - https://github.com/oltpbenchmark/oltpbench/blob/master/src/com/oltpbenchmark/api/Worker.java#L415

[2016-12-23 22:01] apavlo commented on #425
Ok I can fix that.

[2016-12-24 00:10] sid1607 commented on #411
Fixed by #430

[2016-12-24 00:10] #411 closed

[2016-12-24 02:18] jessesleeping commented on #429
I think we are not the first one to find this problem. Other in-memory databases must have the same issue. I feel like we are reimplementing malloc in our varlen pool...

[2016-12-24 02:19] apavlo opened #431 "IndexFactory only uses GenericKeys"
The IntsKey stuff is commented out. I will fix.

[2016-12-24 13:47] apavlo commented on #431
All of the PRIMARY KEY indexes are getting stored with the same name:

[code]

[2016-12-24 16:24] jarulraj commented on #429
@jessesleeping: when are you performing a shallow copy of a varlen?

[2016-12-24 17:43] jessesleeping commented on #429
At ProjectInfo's Evaluate method. I overloaded the Evaluate method to specialized it for update executor and did shallow copy there. To support shallow copy, I added API all the way down from ContainerTuple to Tile. At Tile I directly performed copy without creating a Value object. You can check out the diff of the PR to see the detailed implementation.

[2016-12-26 03:11] wangziqi2013 opened #434 "Proposal on Changing IntsKey Design To Accelerate Key Comparison and Creation"
Motivation
=======

Currently IntsKey are represented using an array of uint64_t. When a value is inserted or extracted, an inter-word and intra-word offset must be maintained to extract bytes from the source using bitwise shift and bitwise OR. Comparison and equality checking relies on word-wise comparison using a hand written tight loop.

This design has few deficiencies:

1. Inserting and Extra

[2016-12-26 04:13] tomasic commented on #434
I think -1 in signed magnitude format is 0x81. That is the high order bit
is 1 for negative numbers and zero for positive numbers and the lower seven
bits are simply the number without the sign.  Could I have a few more
examples as I don't quite understand what you want to do here.

Also - I don't quite understand instakey template. Is this a variable
length key? I think it is so I am not sure how

[2016-12-26 04:34] wangziqi2013 commented on #434
@tomasic

The sign-magnitude thing is my problem. I forgot to mention that it is not the standard one, but rather based on 2's complement. Just think of it as flipping the sign bit of 2's complement representation of integers. The intention is to make positive numbers always larger than negative numbers in binary representation, while maintaining their relative order . I will change this in the pr

[2016-12-26 05:02] malin1993ml commented on #426
@jessesleeping In the email you said you tried to allocate the key tuple’s varlen in the executor context varlen pool, instead of the index’s one. But the number is still really bad. I don't quite understand why the number is still really bad in this case. There's no contention here, since one executor context can only be used by a single execution thread at one time, right?

[2016-12-26 06:44] malin1993ml commented on #434
This looks reasonable to me. My question is not directly related to the IntsKey, but related to how index scan works in general and how your optimized key fit into the whole workflow. So right now when executing an index scan, we first call index::Scan with the conjunction list we get from IndexScanPredicate (assuming it's not a full scan). Then secondly, for each tuple we got above, we call index

[2016-12-26 07:45] wangziqi2013 commented on #434
@malin1993ml Currently it is the case. We have to do one comparison for each key being scanned. This is necessary because the low key and high key might now be exact (e.g. a > 5 could not be represented as a lower bound, since we can only search for a >= 5, get back an iterator, and jump over the part where a = 5). This is true in any B+Tree based index because the partial ordering does not define

[2016-12-27 00:26] jessesleeping commented on #426
When using executor context's varlen pool, the number is bad but scalable. The problem is varlen pool itself is much slower than the plain malloc.

[2016-12-27 00:36] jarulraj commented on #426
Jiexi -- If we use a latch free per-connection pool, would the performance
improve?

Or do you think that a new implementation is needed? If so, what are the
key differences in its design with respect to the current one?

On Dec 27, 2016 5:57 AM, "Jiexi Lin" <notifications@github.com> wrote:

When using executor context's varlen pool, the number is bad but scalable.
The problem is varlen pool itse

[2016-12-27 01:11] jessesleeping commented on #426
I think per connection varlen pool or per thread varlen pool can help improve our performance in other cases (e.g. allocating varlen for inserted titles), but not the problem stated here.

A lock free implementation may help when background gc is freeing memory in varlen pool while the worker thread is allocating memory in its local pool.

Small things we can do is to optimize the usage of std::li

[2016-12-27 04:29] malin1993ml commented on #434
@wangziqi2013 Thanks for explanation. I agree with that we should avoid constructing Value objects in Compare() by directly comparing the compact form for IntsKey. But it seems that we need to modify the interface for Compare() as well? Right now the Compare() function takes in a list of expressions and values for each column in the key. If we still use that interface, how could we apply those inf

[2016-12-27 04:35] wangziqi2013 commented on #434
@malin1993ml What you said is actually partially being done by me right now. According to what @apavlo has expressed over this issue via email, it is more desirable to have Compare() function inside each key type (i.e. as a member function of class IntsKey, class GenericKey and class TupleKey), such that this function could have direct access to compact key internals.

As for the Compare() argumen

[2016-12-27 05:23] malin1993ml commented on #434
The comparator operator we have right now is doing the compare function
inside each key class. I guess we just need to modify that according to
your proposal.

What I described above is just for solving the un-exact tuples returned by
index scan. I agree that should be in a separate PR, and we can discuss
that with Andy.
On Mon, Dec 26, 2016 at 23:35 Ziqi Wang <notifications@github.com> wrote:

[2016-12-27 15:21] MattPerron commented on #426
"When using executor context's varlen pool, the number is bad but scalable. The problem is varlen pool itself is much slower than the plain malloc."

Then we should just use pure malloc in these cases.

"But I think what we really need to do is to re-consider what we want from the varlen pool and how can we distinguish it from general purpose malloc implementation?"

If we are going to re-implemen

[2016-12-27 15:22] MattPerron commented on #426
This probably deserves a separate issue.

[2016-12-27 17:08] apavlo opened #435 "Transaction ROLLBACK doesn't work"
If you rollback a txn from the terminal, it does not remove any of the changes that the txn made to the database:

[code]

As you can see from this, the second tuple that we inserted during of the txn is still there even though we call `ROLLBACK`. If you log out and then log back in, it's still there:

[code]

[2016-12-27 18:21] apavlo opened #436 "JDBC 'ROLLBACK' throws exception for rejected txns"
I fixed OLTP-Bench so that it doesn't try to rollback a txn twice in TPC-C when there is a `UserAbortException`. The problem is that we don't seem to support JDBC rollback at all:

This line here:

https://github.com/oltpbenchmark/oltpbench/blob/master/src/com/oltpbenchmark/api/Worker.java#L427

Throws this exception:

[code]

This occurs when a Payment txn tries to update the WAREHOUSE table with

[2016-12-27 18:25] sid1607 commented on #436
I can look into this and #435

[2016-12-27 18:54] apavlo commented on #436
@sid1607 Great. I realize that you're traveling this week, so just let me know if you can't get to it so that we can have somebody still around look at it.

[2016-12-27 23:51] sid1607 commented on #436
At a high level, I think this bug is because -

- I call TrafficCop::AbortQueryHelper() when 'ROLLBACK' is issued by the client
- AbortQueryHelper() is designed to always send an ErrorResponse as it assumes Query abortion is never supposed to happen

Since AbortTransaction is the required action from 'ROLLBACK', I think the fix is to not send an error response when 'ROLLBACK' is sent. This should

[2016-12-28 00:41] apavlo commented on #435
Fixed.

[2016-12-28 00:41] #435 closed

[2016-12-28 01:01] apavlo commented on #436
@sid1607 This fix works! The # of rejected has gone down. Trying it now with higher client thread counts

[2016-12-28 01:07] sid1607 commented on #436
Yes, I was just testing it too on MemSQL machines and it seems to be fine. Histograms show many unexpected errors, which I think are because of - https://github.com/oltpbenchmark/oltpbench/blob/master/src/com/oltpbenchmark/api/Worker.java#L422

I don't think these failures should be recorded under txnErrors?

[2016-12-28 01:08] sid1607 commented on #436
Also, I will issue a PR for this now

[2016-12-28 01:10] apavlo commented on #436
@sid1607 I need to think about this. I think our logic is still incorrect. We don't have this problem with postgres.

I will take care of this. Have a safe flight. Thanks for everything.

[2016-12-28 01:10] #436 closed

[2016-12-28 01:29] sid1607 commented on #436
Thanks! I'll try pitching in if issues are still open, once I reach

[2016-12-28 21:02] apavlo commented on #417
I think that @dvanaken's machine is weird. I can't reproduce this on any other machine. I am closing it for now.

[2016-12-28 21:02] #417 closed

[2016-12-28 21:02] apavlo commented on #416
I think that @dvanaken's machine is weird. I can't reproduce this on any other machine. I am closing it for now.

[2016-12-28 21:02] #416 closed

[2016-12-29 18:58] apavlo opened #442 "DBMS Memory Usage Always Increases"
The DBMS process keeps growing in memory even if the logical database size does not increase.

For this test, I first loaded a 1GB YCSB database (scalefactor=1000) with OLTP-Bench. This was the size of the peloton process in htop before I started executing txns (yes I know there are better ways to get this measurement):
[code]

I then had a single worker thread execute only the `UpdateRecord` tran

[2016-12-30 18:23] apavlo opened #444 "SELECT DISTINCT is Broken"
We support the `DISTINCT` keyword in the parser but it looks like it doesn't do anything. It fails for both `INTEGER` and `VARCHAR` fields.

[code]

[2016-12-30 18:23] #434 closed

[2016-12-30 23:03] wangziqi2013 commented on #431
Is this fixed?

[2016-12-30 23:05] wangziqi2013 commented on #331
@malin1993ml Not sure whether this has been fixed or not. Do we have test case for the type system? I could not find the source file for the type system unit test under /test directory

[2016-12-30 23:07] apavlo commented on #431
Yes, this is fixed in #432

[2016-12-30 23:07] #431 closed

[2016-12-31 00:13] malin1993ml commented on #331
@wangziqi2013 I'm not sure whether this is fixed, either. By type system, you mean the Value type system, right? The tests for them are here:
https://github.com/cmu-db/peloton/tree/master/test/common
They're not in the correct folder.

[2016-12-31 08:17] yingjunwu opened #447 "temporarily disable jdbc validator"
Our GC manager does not support dynamically creating/removing tables. This is because the GC manager requires the DBMS to register all the tables before execution. I am off campus so I cannot fix this problem for now. Since the jdbc validator has the logic of dynamically creating tables, I have to disable it temporarily and I will handle it later.

[2016-12-31 13:32] apavlo commented on #447
I don't think that this should be marked as an issue. I don't think we should be in the habit of turning off tests.

[2016-12-31 13:32] #447 closed

[2017-01-01 22:06] apavlo opened #448 "Re-enable Index Test Cases for Bw-Tree"
There are a bunch of test cases that are currently disabled for the Bw-Tree. We need to turn them back on:

**IndexPerformanceTests**
This test only uses `INDEX_TYPE_BWTREE` as the input types, but then the code only does something if it's _not_ a BwTree:
https://github.com/cmu-db/peloton/blob/master/test/performance/index_performance_test.cpp#L297

**IndexTests**
There are two test cases that are

[2017-01-01 23:29] apavlo commented on #448
Fixing `IndexPerformanceTests` was easy. Everything works for the BwTree but not the B+Tree.

[2017-01-03 14:44] apavlo opened #453 "Fix B+Tree Index or Remove it"
I think that we should keep the `BTreeIndex` around in case we need something more simple than the `BwTreeIndex`. But it currently does not work with any of our test cases. I think that @jarulraj also has a `SkipListIndex` somewhere too.

We should either fix these indexes and re-enable them in `IndexPerformanceTests` or remove them.

[2017-01-03 14:47] apavlo commented on #453
Here are the errors if you re-enable `INDEX_TYPE_BTREE` in the `IndexPerformanceTests`:

[code]

[2017-01-03 22:36] wangziqi2013 opened #455 "Bug in Index Selection Process Inside Simple Optimizer"
At line 718 - 719 of file simple_optimizer.cpp (https://github.com/cmu-db/peloton/blob/master/src/optimizer/simple_optimizer.cpp) a loop is used to select the index that has the maximum number of columns matching with the predicate.

However in the maximum selection loop, the local variable "max_columns", which keeps the current max, is not updated. This is reflected by the behavior which always s

[2017-01-03 22:43] wangziqi2013 commented on #453
The B+Tree index could be used as a backup plan, in a sense that if the fanout for a key in a table is too large (e.g. > 100) then BwTree has miserable performance on Insert() and Delete() because it has to keep operations atomic on a large set of records. In this case maybe using a B+Tree might be beneficial. This could be made as a knob for tuning and let the user make decision

[2017-01-03 23:18] apavlo commented on #453
Right, but we would have to modify it to make it concurrent.

[2017-01-04 01:13] tomasic commented on #453
Large fan out is important in disk based b tree indexing. That's because
processing the index page is cheap compared to a disk read. (100th the
cost). So the equation was log(n,b) disk reads.

But for memory based indexes you now have to count memory cycles. And
processing an index node takes cycles also. So it is now something like
log(n,b)*b memory reads.

On Tue, Jan 3, 2017 at 5:18 PM Andy Pav

[2017-01-04 17:15] #455 closed

[2017-01-04 19:39] wangziqi2013 opened #457 "Adding Scan Limit Support"
This proposal adds an extra interface to the index class called ScanLimit()

ScanLimit() takes the same set of argument as Scan(), with the addition of another argument called limit. The index is responsible for identifying whether ScanLimit() has the semantics of max() or min().

[2017-01-05 00:10] PauloAmora commented on #385
I've been working on this for a while, and I think I may have a partial fix, for the SELECT id FROM foo ORDER BY year; case. I managed to get order by working and am currently doing code checks for committing soon.
Screenshot is attached.
![screenshot peloton](https://cloud.githubusercontent.com/assets/2302077/21663959/33fe1932-d2c2-11e6-9bca-a11a2e76bb8a.PNG)

[2017-01-05 00:16] apavlo commented on #385
@PauloAmora Great! I think it should be something wrong in the `SimpleOptimizer`, right?

[2017-01-05 00:24] PauloAmora commented on #385
Not quite wrong, I changed the order by logic to look to all columns in the schema instead of only the select-projected ones and in the OrderBy executor changed the input_schema_ to be composed of only the columns contained in the output_columns contained in the order_by plan.

[2017-01-05 00:44] PauloAmora commented on #385
@apavlo How can I run more comprehensive tests so I can make sure I won't break anything on your end?

[2017-01-05 00:51] apavlo commented on #385
(1) Run ``make check`` locally.

(2) Submit a pull request. That will fire off a complete test/build on Travis.

[2017-01-05 19:27] #453 closed

[2017-01-05 19:30] apavlo opened #464 "Speed up PlanExecutor::ExecutePlan"
Since PR #461, we are spending 20% of our preparing to send the output of query back in `PlanExecutor::ExecutePlan`. We should figure out what we can optimize in here.

[2017-01-05 23:15] apavlo commented on #442
@yingjunwu  - Latest version is still not reclaiming memory. CPU is not spiked at 100% anymore. Tested with 1fc29ad10ac86b7abaf3493a9ed24122e596189b

**BEFORE**
[code]

**AFTER:***
[code]

AFAIK, the GC is supposed to be turned on:

https://github.com/cmu-db/peloton/blob/master/src/gc/gc_manager_factory.cpp#L19

[2017-01-05 23:42] apavlo commented on #426
Fixed with #461 + #456

[2017-01-05 23:42] #426 closed

[2017-01-05 23:43] apavlo commented on #361
Did we ever merge this?

[2017-01-05 23:45] MattPerron commented on #361
Yes. See #407

[2017-01-05 23:46] #361 closed

[2017-01-05 23:48] apavlo commented on #285
@AngLi-Leon This is another good task to start with. We can discus tomorrow if you want.

[2017-01-06 00:58] yingjunwu commented on #442
I'll take a look at it.

On Fri, Jan 6, 2017 at 6:16 AM Andy Pavlo <notifications@github.com> wrote:

[2017-01-06 02:12] AngLi-Leon commented on #285
Cool!

[2017-01-06 07:46] jarulraj commented on #448
#454 resolves this issue.

[2017-01-06 07:46] #448 closed

[2017-01-06 22:25] Michael-Tieying-Zhang opened #474 "Peloton crashes when run oltpbench for the second time"
First start peloton,
Then run oltpbench. After oltpbench finishes, do not stop peloton,
Then run oltpbench again.
Peloton will crash.

The failure is this:

[2017-01-07 15:49] apavlo opened #479 "Memory reclamation bug"
We don't free up memory correctly when deleting tuples.

If you delete all of the tuples in a table, memory usage doesn't decrease:
[code]

If you drop a table, the memory usage also doesn't decrease:
[code]

Memory is freed only if you delete all of tuples **then** drop the table:
[code]

[2017-01-08 06:52] yingjunwu opened #484 "bug under high-contention workloads"
I confronted a bug under high-contention workload. My script is as follows:

<?xml version="1.0"?>
<parameters>

    <driver>org.postgresql.Driver</driver>
    <dbtype>peloton</dbtype>
    <DBUrl>jdbc:postgresql://localhost:15721/ycsb</DBUrl>
    <username>postgres</username>
    <password>postgres</password>
    <isolation>TRANSACTION_READ_COMMITTED</isolation>

    <scalefactor>10</scalefactor>

[2017-01-10 19:04] apavlo opened #491 "Make sure all classes are in 'peloton' namespace"
All of the C++ files in the `src` directory that we wrote should be under the `peloton` namespace. If it is a third-party file, then it should be moved to the `third_party` directory. Here are the files that are not in the proper namespace:

[code]

[2017-01-10 19:19] apavlo opened #492 "Add src directory READMEs"
We need to add `README.md` files for the different directories in `src`. I've attached a sample.

No one is allowed to create a new directory in `src` without one.

[README.md.txt](https://github.com/cmu-db/peloton/files/697118/README.md.txt)

[2017-01-10 19:32] wangziqi2013 commented on #491
I will add the namespace for index components today.

[2017-01-10 21:19] apavlo opened #494 "Configuration Parameter Overhaul"
We need to think about our various configuration parameters. Right now there are a bunch of different parameters that are hard-coded (e.g., # of GC threads). There are other parameters that you can change (e.g., `IndexTuner::duration_of_pause`) but we don't have a standard API for setting these nor do we have a way to expose them to something that may want to change them (e.g., the "brain").

Thus

[2017-01-13 21:24] Michael-Tieying-Zhang commented on #385
@PauloAmora The issue is still there. Pls double check it.

When you run `SELECT * FROM foo ORDER BY year;`
[code]

But when you run `SELECT id, year FROM foo ORDER BY year;`
[code]

[2017-01-13 21:28] PauloAmora commented on #385
@Michael-Tieying-Zhang The fix was for the `select id from foo order by year` case, I am checking the `select *` case and already noticed this behavior (bringing only the order_by column data when * is applied) :)

[2017-01-14 00:41] PauloAmora commented on #385
@Michael-Tieying-Zhang @apavlo @jarulraj
So, I managed to get `select * from table order by column` working. However, it seems like a whole other flow. I'll submit the PR now so you guys can have a look.

[2017-01-14 00:44] Michael-Tieying-Zhang commented on #385
@PauloAmora Pls make sure to include sql test for that.

[2017-01-15 16:57] apavlo opened #497 "Update Environment Wiki Page"
This one should be quick:

https://github.com/cmu-db/peloton/wiki/Environment

We no longer use autotools and there are a bunch of references to the `backend` directory that no longer exists.

[2017-01-15 17:15] apavlo opened #498 "Make source_validator.py a real pre-commit hook"
This one should be easy to do:

http://codeinthehole.com/writing/tips-for-using-a-git-pre-commit-hook/

[2017-01-15 19:17] AngLi-Leon commented on #498
I think the pre-commit hook have to be installed locally. Do I need to add an installation instruction under wiki?

[2017-01-15 19:20] apavlo commented on #498
Hmmm... I guess we can't just include the symlink in the repo since git doesn't do that.

Yes, I think that we should add it to the repo instructions.

[2017-01-16 03:47] apavlo opened #501 "Complete conversion of types.h C++11 enum class"
I got halfway through fixing up `types.h` but I need to stop. I don't think that this is the best use of my time right now. I really need to focus on other things.

Here are the steps to quickly convert a `enum` to use `enum class`. For this example, I will use `PayloadType`

1. From the terminal, use this bash command to do a quick and dirty conversion of the source code to use the proper enum sc

[2017-01-16 03:52] apavlo commented on #501
See #500 for a bunch of examples that I already completed.

[2017-01-16 18:54] apavlo commented on #457
@wangziqi2013 I think this is complete, right?

[2017-01-16 21:48] wangziqi2013 commented on #457
@apavlo Yes. I will close this.

[2017-01-16 21:48] #457 closed

[2017-01-17 04:53] apavlo commented on #498
Fixed in #499

[2017-01-17 04:53] #498 closed

[2017-01-17 04:54] #464 closed

[2017-01-17 21:08] apavlo commented on #497
@jarulraj Poke.

[2017-01-17 21:14] apavlo opened #503 "Add CLion Instructions to Wiki"
The kids are asking about how to use CLion instead of Eclipse. We need to update our documentation.

Hopefully this should be easy. I am willing to be the first guinea pig.

[2017-01-17 21:15] apavlo opened #504 "Fix Compilation on OSX"
I can't test this. Somebody else should give it a try.

[2017-01-18 03:55] hanfeisun opened #505 ""virtual memory exhausted: Cannot allocate memory" when building the tests."
I installed the peloton using Virtualbox/Vagrant on OSX according to the guidance on https://github.com/cmu-db/peloton/wiki/Installation#osx-quick-setup.

Then I tried to build the test cases according to the guidance of wiki page: https://github.com/cmu-db/peloton/wiki/Testing

But it complains that "virtual memory exhausted"

[code]

The error disappears when I just use "make check" instead of "

[2017-01-18 04:01] yingjunwu commented on #505
It simply means that you are running out of memory. According to http://stackoverflow.com/questions/22819934/compiling-phalcon-virtual-memory-exhausted-cannot-allocate-memory, you can configure your swap files.

You may also try `make check -j2` to get parallel compilation with only two cores.

[2017-01-18 04:05] hanfeisun commented on #505
Maybe the wiki page (https://github.com/cmu-db/peloton/wiki/Testing) could be changed to avoid confusion for novice like me :-)

[2017-01-18 04:10] apavlo commented on #505
@jarulraj Can you please update the wiki?

[2017-01-18 04:38] apavlo commented on #503
@jessesleeping Let me know if you have time to do this. You can work with @AllisonWang to test this.

[2017-01-18 04:42] hanfeisun commented on #503
I'm not sure whether there is an easy/built-in way to develop and debug with Clion on OSX.

I just found a thread for Clion about remote project development support: https://youtrack.jetbrains.com/issue/CPP-744

And it seems the issue is still open.

[2017-01-18 06:42] jarulraj commented on #505
Fixed it. https://github.com/cmu-db/peloton/wiki/Testing

[2017-01-18 06:42] #505 closed

[2017-01-18 06:53] jarulraj commented on #497
Fixed it.

[2017-01-18 06:53] #497 closed

[2017-01-18 07:13] jarulraj commented on #444
Hi @PauloAmora -- It would be great if you can add support for `DISTINCT`. You can try to use the `hash executor` functionality (https://github.com/cmu-db/peloton/blob/master/src/include/executor/hash_executor.h) to retrieve all the distinct entries in the hash table.

[2017-01-18 07:16] jarulraj commented on #484
@yingjunwu @jessesleeping what's the status of this issue?

[2017-01-18 12:04] PauloAmora commented on #444
I'll take a look into it.

[2017-01-18 13:55] elvismt commented on #381
I was looking for something to do in order to contribute to peloton and when I tried to reproduce this bug I figured out that this is not happening anymore. Probably due to your code improvements since Dec 2016. PSQL section reproduced below. I would appreciate if anybody suggest me a lower complexity task to get started.

[code]

[2017-01-18 14:39] apavlo commented on #381
I must have fixed this in 67b6a1a78ac51e38d99674fcfdf6dc5de47115ff

Good to know.

I will send you a separate email later this week.

[2017-01-18 14:39] #381 closed

[2017-01-18 21:55] AllisonWang commented on #503
@AngLi-Leon and I were able to add all dependencies but we still failed to build the project on OSX even after we compiled the project using gcc instead of clang.
So one way to use CLion for now is to clone peloton inside the shared folder of VirtualBox `/vagrant`, and open the project on mac using CLion while compiling/building/testing the project inside the VM.

[2017-01-18 21:57] apavlo commented on #503
@AllisonWang What was the compilation error?

[2017-01-18 22:05] AllisonWang commented on #503
@apavlo I am thinking if this error is related to protobuf syntax version.
[code]

[2017-01-18 23:59] apavlo commented on #503
That's our code. That's weird. I think this should be fixable.

[2017-01-20 01:11] PauloAmora commented on #444
Hello @jarulraj,

So, I've started working on this on tuesday and tried to work out the logic of `HashPlan` and `HashExecutor`. Today, I started writing a new executor, using the output from the `HashExecutor` in a manner inspired by what `HashJoinPlan` does. Is this really needed or there would be a more elegant solution?

[2017-01-20 15:00] elvismt commented on #382
Classes `type::TimestampType` and `type::VarlenType` do not reimplement `Min()`, `Max()` and a few other methods from the `type::Type` interface. So when `executor::MinAggregator` and `executor::MaxAggregator` call these methods they reach the empty implementation from the base class.

I will propose an implementation by issuing a pull request in the next few days, this will probably fix this issu

[2017-01-20 15:40] PauloAmora commented on #444
Sure, but wouldn't this affect `HashJoin` as well?

[2017-01-20 19:12] PauloAmora commented on #444
After a little more thinking, I guess I found an elegant way to solve this and don't affect `JOIN` queries.
By setting the duplicate results invisible (using `RemoveVisibility()`), the output works fine. However, in the `LogicalTile` implementation, there is a `GetValue()` deprecated implementation which asserts on tuple visibility, and I commented out the assertion for it to work. My question is:

[2017-01-22 00:27] elvismt commented on #382
Check pull request #511

[2017-01-23 17:52] apavlo opened #514 "Add support LIKE operator"
We need to add support for `LIKE` in order to support the Tiramisu workload. We already have some string functions support. We will want to support both the "match any single character" operator (`.`) and "match multiple characters" operator (`%`).

This task has two parts:

1. Add a new function `StringFunctions::Like` to our utility class. You will want to also add test cases in `StringFunctions

[2017-01-23 18:07] apavlo opened #515 "Add TRUNCATE SQL command"
We need to add support for these types of SQL queries: `TRUNCATE <table>`

The idea is to remove all of the tuples from a table quickly. This is supposed to be more efficient than executing a `DELETE FROM <table>` without a WHERE clause because the DBMS just drops the table (and its indexes) and then adds them back.

But this  is tricky to do because of txns. You have to take a lock on the entire

[2017-01-23 21:27] apavlo commented on #514
@bilisun I will write `StringFunctionsTest` tonight and merge it into the master branch for you. You can then add the LIKE operator code.

[2017-01-24 12:17] elvismt commented on #287
Don't you think that it is a good idea to break down the code in the giant `switch` in `SimpleOptimizer::BuildPlanTree` into method calls for each `StatementType`? With this and future new features that `switch` will grow even larger. I will try to implement `SELECT INTO`.

[2017-01-24 12:26] apavlo commented on #287
We are in the process of writing a new optimizer. I wouldn't spend too much time with the old one.

[2017-01-24 12:30] elvismt commented on #287
Ok, and what abou the `SELECT INTO` statement? Is this issue relevant?

[2017-01-24 13:16] apavlo commented on #287
Yes, it's still relevant

[2017-01-24 22:01] apavlo opened #517 "ORDER BY is incorrect for derived values"
ORDER BY is still broken. It does not work correctly if we have values that are computed from expressions:

Let's first create a table with a single column:
[code]

We then need to set one of the values to be negative. We have to do it this way because we don't support inserting negative values directly:
[code]

Now we will have a query that computes an expression on the `val` column but also has

[2017-01-24 23:12] apavlo opened #518 "Cannot INSERT negative numbers without quotes"
You cannot INSERT values with minus sign in front of them:
[code]

Unless you wrap them in quotes:
[code]

[2017-01-25 01:45] PauloAmora commented on #517
I'll take a look into it.

[2017-01-25 02:07] PauloAmora commented on #517
@apavlo  -- Is this correct?
[code]

[2017-01-25 02:10] apavlo commented on #517
@PauloAmora Yes, that's correct. It turns out you can actually just insert negatives if you put them in quotes:

[code]

[2017-01-25 02:19] apavlo commented on #373
@haojin2 Let's discuss this tomorrow. This might be because of the problems with our parser.

[2017-01-25 02:23] PauloAmora commented on #517
I misunderstood, sorry about that.

As for the bug, it looks like a operation order problem. The projection plan is being put in the plan tree before the order by plan. Is it safe to move it to afterwards?

[2017-01-25 02:24] apavlo commented on #517
@PauloAmora Add a test case for this problem. See that it fails. Then make your suggested change and see whether that fixes it. Then see whether it breaks any of the other tests.

[2017-01-26 15:32] elvismt commented on #287
I started hacking the parser to build the `SelectStatement` properly in the case of a `SELECT INTO` (It actually gives `Error parsing SQL statement`). Do you prefer incremental PRs to make your reviews easier or a single one with the whole thing?

[2017-01-26 19:03] apavlo opened #521 "Port Postgres Parser"
We need to bring back the Postgres parser. I suspect that a lot of our SQL bugs are related to this problem.

@haojin2 will coordinate with @jarulraj to figure out what we need to do.

We need to do this before our first release.

[2017-01-26 19:03] apavlo commented on #287
@elvismt Hold up on fixing the parser. See #521. You should be able to write a test case that tests the executor functionality though.

[2017-01-26 19:05] haojin2 commented on #521
I've pinged Joy on Slack earlier today but seems like he's not online. I'll use email instead.

[2017-01-29 00:03] MatrixCW opened #522 "link failed"
In the page https://github.com/cmu-db/peloton/wiki/Architecture, all hyperlinks of "here" (such as "These functions are located [_here_] within the peloton module.") gives a 404 page.

[2017-01-29 00:07] apavlo commented on #522
We need to rewrite this. We don't have any Postgres code left in our system.

[2017-01-30 11:32] elfring opened #523 "Remove unnecessary null pointer checks"
[Extra null pointer checks are not needed in functions](https://isocpp.org/wiki/faq/freestore-mgmt#delete-handles-null "Do I need to check for null before delete p?") like [the destructor for the class “UpdateClause”](https://github.com/cmu-db/peloton/blob/6b154b312e57aa10b573ce596ed95c3b51c566a2/src/include/parser/update_statement.h#L32 "Destructor for UpdateClause").

[2017-01-30 11:34] apavlo commented on #523
Can you send a PR?

[2017-01-30 11:57] elfring commented on #523
How do you think about to wrap any pointer data members with the template class "[std::unique_ptr](https://en.wikipedia.org/wiki/Smart_pointer#unique_ptr "Description for the usage of smart pointers")"?

[2017-01-30 11:59] apavlo commented on #523
@elfring Yes, we should be using `unique_ptr` for these classes.

[2017-01-30 17:32] wangziqi2013 opened #525 "Adding Index Testing Suite and Benchmarks"
We need an index system testing suite and benchmark to both avoid regression of BwTree, and to test incoming Skiplist implementations as 15721 student projects

[2017-01-31 14:49] PauloAmora opened #529 "Secondary index creation does not index existing values"
The index scan only retrieves values added AFTER index creation.

Start by creating a table and inserting some data:
[code]
Without indexes, data is retrieved fine (through `SeqScan`)
[code]
Then, we create the index on column `a`
[code]
When we try to retrieve data again:
[code]
If we add new data after index creation, it shows up fine
[code]

Script is located here:
http://pastebin.com/9GjbiUfm

[2017-01-31 14:50] apavlo commented on #529
Oh this a good one

[2017-02-01 23:44] apavlo opened #530 "Refactor index tests"
`IndexTests` is hardcoded for the BwTree:

https://github.com/cmu-db/peloton/blob/master/test/index/index_test.cpp#L39

This is difficult to add new index types (like the Skip List) for class assignments. I will refactor the test cases into a helper file and make separate `bwtree_index_test` and `skiplist_index_test` files that reference it.

[2017-02-05 19:57] apavlo opened #538 "Test Travis fast fail for"
Can someone modify `.travis.yml` to have it fail right away when `source_validator.py` fails?
We still want to run all the other builds and tests though to the very end even if they fail.

https://blog.travis-ci.com/2013-11-27-fast-finishing-builds/

[2017-02-07 01:39] #530 closed

[2017-02-07 19:26] raghavaggsss commented on #518
Why is there a 0 at the end of the statement CREATE TABLE foo (val INTEGER) 0?

[2017-02-08 04:25] #501 closed

[2017-02-08 18:18] apavlo commented on #529
We talked about this today at the team meeting. I think the right approach is to add a new executor called `PopulateIndex` that is able to take the output of a `SeqScanExecutor` and insert the tuples into the index. There are a bunch of corner cases that we are going to have to handle (e.g., keys that get deleted after the scan starts) but this will be a good first step for adding support for DDL

[2017-02-09 03:43] apavlo commented on #514
You should add a new `Like` function it to the `StringFunctions` utility class:

https://github.com/cmu-db/peloton/blob/master/src/include/expression/string_functions.h

Then I think you just need to update `ComparisonExpression::Evaluate()` to handle `ExpressionType::COMPARE_LIKE`:

https://github.com/cmu-db/peloton/blob/master/src/include/expression/comparison_expression.h#L43

From what I can t

[2017-02-10 11:23] elvismt commented on #287
@apavlo For the `SELECT INTO` operation what is preferable: injecting the logic into the scan executor or creating a new dedicated executor? I want to work on this improvement.

[2017-02-10 19:59] PauloAmora commented on #529
I can take a look at this

[2017-02-13 20:43] danielcompton commented on #538
I've started working on this, but am having trouble making fast_finish actually finish any faster. https://travis-ci.org/danielcompton/peloton/builds/201264982. Just leaving a note here so work isn't duplicated.

[2017-02-16 03:18] apavlo opened #543 "Cannot use expressions inside of aggregate functions"
Create a simple table with two columns:
[code]

Then try to add the two columns together inside of the `SUM`. It doesn't work:
[code]

You also cannot combine two aggregate functions together:
[code]

[2017-02-17 14:00] PauloAmora opened #545 "UPDATE crashes on non-indexed predicates"
The UPDATE command crashes if used with a non-index predicate or without one.

Start by creating a table and adding some data:
[code]

If you execute the following command:
[code]

The system crashes. It also happens with queries like this:
[code]

Test script is here: http://pastebin.com/zq7dtPac

[2017-02-20 04:25] apavlo opened #548 "Revive CASE code + tests"
We use to support `CASE` but then it got removed by accident over the summer. The original commit is here:

https://github.com/cmu-db/peloton/commit/c537df4a016920fbd4b2fda3b12da4c82e5f34c0

There are additional commits made afterwards for fixing the test cases:

https://github.com/cmu-db/peloton/commit/a2307f7cc5df3043acebed0e2c1625b61f96989f

Somebody needs to dig through the history and find th

[2017-02-20 04:40] apavlo commented on #548
FYI, @thejdeep is working on this. I can't assign him officially without adding him to the team.

[2017-02-22 22:22] PauloAmora commented on #529
So, I managed to get this fixed, will submit a PR tomorrow, after more comprehensive tests

[2017-02-23 17:04] PauloAmora commented on #529
@apavlo
Is it possible to have an executor without a corresponding plan? I am failing `seq_scan_test` because one of the test cases creates a `MockExecutor` and does not add a corresponding plan to it.

[2017-02-23 19:12] apavlo commented on #529
@jarulraj Can you look into this?

[2017-02-24 14:58] seojungmin commented on #504
I think we better leave this issue until the postgresql parser port is fully done. The first problem I found was in the parser. These are the actions to be done:

(i) There is a type bug around opt_index_type in the parser.   And, the current parser requires Bison > 3.0, due to the %code directive, so if we going to keep the current one, the installation script for OS X should include this.
(ii) M

[2017-02-24 15:49] seojungmin commented on #518
I just copy my quick fix in sql_scanner.l. (Handling a negative FLOAT value should also be added later) As we know, this is going to be fixed permanently from #521.

diff --git a/src/parser/sql_scanner.l b/src/parser/sql_scanner.l
index 6e4e09f..3f95539 100644
--- a/src/parser/sql_scanner.l
+++ b/src/parser/sql_scanner.l
@@ -215,7 +215,7 @@ BWTREE              TOKEN(BWTREE)
        return SQL_FLOA

[2017-02-25 03:53] apavlo commented on #518
@seojungmin Can you please send a PR?

[2017-02-26 19:12] seojungmin commented on #545
Attached is a quick patch to the issue.  The crash comes from asserting (index_entry_ptr != nullptr).  index_entry_ptr may be equal to nullptr if there is no index.  Since the previous codefor performUpdate() does not align with handling index_entry_ptr in perfromDelete(), I assume that this is a bug.

[peloton-545.diff.txt](https://github.com/cmu-db/peloton/files/802186/peloton-545.diff.txt)

[2017-02-26 20:54] apavlo commented on #545
@seojungmin Can you send a PR? We don't do direct patches.

[2017-02-27 04:38] malin1993ml opened #551 "Support NULL value insertion"
Right now we cannot insert a tuple with NULL values into table:
[code]

[2017-02-27 04:46] malin1993ml opened #552 "Support "is null" and "is not null" in where clause"
Right now we cannot evaluate whether a value is (not) NULL is where clause:
[code]

[2017-02-27 04:58] malin1993ml opened #553 "Support Conditional Expressions"
Here's what we want to support:
https://www.postgresql.org/docs/9.1/static/functions-conditional.html

We have parsing error right now, but I don't think our executor supports that, either.
[code]

[2017-02-27 05:03] malin1993ml opened #554 "Support left outer join and right outer join"
I think our executor already supports those, so that should be an easy fix after we port the postgres parser to support those keywords (if not considering multi-way joins).

[2017-02-27 05:12] malin1993ml commented on #554
It turned out that postgres has different name for those outer joins (left join and right join), and we already support those! So I'm closing this:)

[2017-02-27 05:12] #554 closed

[2017-02-27 05:13] malin1993ml opened #555 "Support multi-way join"
This has to be done with the new cascade query optimizer.

[2017-02-27 16:37] yingjunwu opened #557 "configurations"
We should determine where to put all kinds of configuration variables and magic numbers. Now these variables are maintained mainly in two different files: [configuration.h](https://github.com/cmu-db/peloton/blob/master/src/include/configuration/configuration.h) and [types.h](https://github.com/cmu-db/peloton/blob/master/src/include/type/types.h). It's confusing, and we should solve this problem.

[2017-02-27 18:27] seojungmin commented on #557
There are typically two kinds of configurations: one that a user could set and the others that are normally set by developers.  Could we keep all the user-setting ones in configuration.h and the others in types.h for example?  This may have been the original intention of configuration.h and types.h, and I may be repeating it again here.

[2017-02-27 20:30] IanQS commented on #548
Not sure if this helps but the last place that case_expression.h existed is

https://github.com/cmu-db/peloton/commit/d0c1e97530ec49cd251f1d3a1ff3c7e37f5b886c

[2017-02-28 00:28] apavlo commented on #557
See #494

[2017-02-28 19:58] apavlo commented on #494
Idea from @dvanaken:

We need to keep track of the provenance (with timestamp) of how configuration files are modified. For example, if we load it from a config file, then we should keep track of the filename.

[2017-03-01 01:06] malin1993ml commented on #553
We also want to support NULLIF there.

[2017-03-03 22:39] malin1993ml opened #561 "Support IN in where clause"
[code]

[2017-03-03 23:05] malin1993ml opened #562 "GROUP BY is broken"
I remember we used to be able to handle GROUP BY, but now it crashes.

[code]

[2017-03-04 16:35] malin1993ml opened #563 "Implement COALESCE function"
Here's what we get now:
[code]

It seems that we already have the function type:
https://github.com/cmu-db/peloton/blob/master/src/include/type/types.h#L227
But there's no implementation for that.

[2017-03-04 16:39] malin1993ml commented on #518
This has been fixed by #550.

[2017-03-04 16:39] #518 closed

[2017-03-08 19:18] malin1993ml opened #568 "Support multiple probes with disjunction predicate or IN clause"
Whenever we see a disjunction operator (OR) in the predicate of the where clause now, we'll do a full table scan to get the correct result. However, if the column referenced by the predicate is indexed, we can do multiple index probes and combine the results together instead of scanning the whole table.

The same with multiple values in the IN clause.

To achieve this requires a co-design of the q

[2017-03-08 21:15] tomasic commented on #568
For disjunctions, awhile back Postgres at least didn't use indexes - I
think you should be able to write a test case to make sure that this fact
is still true. Something like

create table A (b int, c int);
 -- insert 10 million random values into A
create index a_b_idx on A (b);
create index a_c_idx on A (c);
analyze;
explain select b from a where c = 10;
explain select b from a where b=5 or c =

[2017-03-08 21:28] malin1993ml commented on #568
Thanks for sharing, @tomasic ! I'll double check postgres and give a feedback.

[2017-03-09 01:32] apavlo opened #569 "Add support for EXPLAIN"
Once we get the new parser (#521) and the new optimizer, it should be trivial for us to add support for `EXPLAIN`. We currently do not support it:

[code]

It would also be nice to support JSON output like in postgres:

[code]

https://www.postgresql.org/docs/current/static/sql-explain.html

[2017-03-12 21:10] malin1993ml commented on #568
So I tested Postgres with the table Anthony suggested and 1 million tuples:
[code]
Here are the explain queries for several different select predicates:

[code]
**Basically when the estimated selectivity is high, Postgres will generate a full table scan; but when the estimated selectivity is low, several bitmap index scans will be generated for disjunction.**

For IN clause, Postgres generates an

[2017-03-15 15:04] akamaus opened #571 "sdbench fails on assertion"
I'm having troubles running sdbench.
[code]
Also I noticed `current_txn->txn_id_` equals 4294967296 == 2**32 which is strange given it's uint64_t type.

[2017-03-19 15:35] #529 closed

[2017-03-19 15:44] #517 closed

[2017-03-19 15:46] apavlo commented on #444
What is the status of this issue?

[2017-03-19 15:51] PauloAmora commented on #444
This was fixed on PR #512.

[2017-03-19 16:00] #444 closed

[2017-03-20 00:12] jarulraj commented on #571
I believe that this bug is related to CC changes. @yingjunwu your thoughts? Should we change the CC from Timestamp Ordering?

[2017-03-21 08:35] yingjunwu commented on #571
@jarulraj I've checked the code, and there's nothing wrong with the CC. It is also reasonable to get a transaction id equal to 2**32, which is essentially 1<<32 | 0x0 (the higher 32 bit is epoch id, and the lower 32 bit is unique id). The assertion fails because sdbench uses pretty old APIs. More specifically, it even did not invoke any transaction API during table reloading. I have fixed this pro

[2017-03-22 12:23] akamaus opened #575 "Prepared statement parameters ignored"
I'm learning how to use Peloton's API and I'm having trouble using prepared queries.

I wrote the following snippet based on code I found in peloton_root/test. It runs, but `execute_prepared()` fails on second loop iteration if we leave the line with call to method `SetParameterValues()` commented. Originally I expected passing `params` argument to `TrafficCop::ExecuteStatementPlan()` would do the

[2017-03-22 19:28] yingjunwu opened #576 "make storage-level API private"
Currently, we expose the storage-level API to the users, which means that the users may directly operate the DBMS in a non-transactional manner. This should not happen in Peloton.

The proposal is to make all the storage-level API private. We should still allow transaction manager to access these API using friend class scheme.

[2017-03-23 01:00] MattPerron commented on #576
What users do you mean?

[2017-03-23 01:01] apavlo commented on #576
He means the other students working on projects that may want to store tuples in a DataTable.

[2017-03-23 01:05] MattPerron commented on #576
Are there cases where using the storage-layer API's in a non-transnational way might be desirable for temporary storage within a transaction?

[2017-03-23 01:19] apavlo commented on #576
I think that the @pmenon's LLVM engine will materialize intermediate results on its own, so maybe not?

[2017-03-23 01:20] MattPerron commented on #576
Do we need it for temp tables?

[2017-03-23 01:26] tomasic commented on #576
Even if you want nontransactional access to the storage layer, you would
still go through the external api and pass a flag indicating what you want,
instead of calling the internal apis directly...

On Wed, Mar 22, 2017 at 8:20 PM, Matt Perron <notifications@github.com>
wrote:

--
Anthony Tomasic
Language Technologies Institute
Carnegie Mellon University
http://www.tiramisutransit.com
*http://mcds

[2017-03-23 02:10] apavlo commented on #575
@akamaus Let us discuss this on Friday and get back to you. We are in the process of rewriting a lot of the prepared statement handling code.

[2017-03-23 17:46] seojungmin opened #578 "Insert crashes when the number of inputs does not match the column count"
drop table if exists foo2;
create table foo2(id1 integer, id2 varchar);
insert into foo2 values(1, 'hi');
insert into foo2 values(2, 'ha');
insert into foo2 values(3);
select * from foo2;

This script crashes with

peloton: /home/jungmin/w-tony/peloton-w-codegen/src/planner/insert_plan.cpp:65: peloton::planner::InsertPlan::InsertPlan(peloton::storage::DataTable*, std::vector<char*>*, std::vector<s

[2017-03-26 13:25] #380 closed

[2017-03-27 03:55] camellyx commented on #326
Thanks! We have fixed it in the new catalog.
We will also add tests that check this issue.

[2017-03-29 20:04] apavlo opened #588 "Add catalog table 'pg_proc'"
The UDF team needs the `pg_proc` table in the catalog:

https://www.postgresql.org/docs/current/static/catalog-pg-proc.html

We should do the same thing as the index offsets and just do a simple hack for the array attributes in the table.

[2017-03-29 22:25] apavlo opened #589 "Add CREATE FUNCTION in new parser"
The UDF team needs support for `CREATE OR REPLACE FUNCTION` in the new parser.

[2017-03-30 17:22] AngLi-Leon opened #590 "BW tree causes assertion failed"
Our catalog team are using indexes for accessing catalog tables. Currently, when we create default database and index scan on the pg_database (https://github.com/AngLi-Leon/peloton/blob/master/src/catalog/catalog.cpp#L126), the system crushes occasionally. The bug will always occur when running with GDB. The problem still persists after we explicitly let the GC not to register catalog tables:

[co

[2017-04-01 05:40] #590 closed

[2017-04-01 14:35] #521 closed

[2017-04-01 14:53] tomasic commented on #521
yeah!

On Sat, Apr 1, 2017 at 9:35 AM, Andy Pavlo <notifications@github.com> wrote:

--
Anthony Tomasic
Language Technologies Institute
Carnegie Mellon University
http://www.tiramisutransit.com
*http://mcds.cs.cmu.edu <http://mcds.cs.cmu.edu>*
http://www.cs.cmu.edu/~tomasic

[2017-04-01 15:07] apavlo opened #595 "CMake Warnings for Postgres client libs"
@hanli32 - I am able to build the new test cases that use `libpqxx` but cmake is not finding the library.

@jarulraj - Why is this a warning and not an error?

[code]

I installed the packages using the new version of `scripts/installation/packages.sh`:
[code]

[2017-04-01 15:44] mengranwo opened #596 "Bug for boolean type attribute"
There is a bug about “boolean” type attribute.
First,  terminal can’t properly display the boolean type, always got an error.
[code]

Second, when do “select” sql on boolean type attribute, the system will has an assertion failure.

`select * from pg_catalog.pg_attribute where is_primary(boolean) = 'true';`

[code]

And those problems above also happen on user create table, so it's probably not th

[2017-04-01 17:21] CHUYilei commented on #595
Hi, I have an assumption: in peloton/cmake/Dependencies.cmake, only this line "list(APPEND Peloton_LINKER_LIBS "-lpqxx -lpq")" works.
I tried on my own machine with build directory removed:

(1) I delete
 `find_package(LIBPQXX)`
`include_directories(${LIBPQXX_INCLUDE_DIRS})`
`link_directories(${LIBPQXX_LIBRARY_DIRS})` in [peloton/cmake/Dependencies.cmake](https://github.com/cmu-db/peloton/blob/mas

[2017-04-01 18:12] apavlo commented on #595
@CHUYilei I don't think you want to remove the dependency check. You want it to throw an error if it can't find the packages (which it doesn't do right now).

Try removing the libpqxx packages from your machine. Then run `cmake`. It should fail.

[2017-04-01 19:04] AngLi-Leon opened #599 "sql_scanner.h cannot pass the local pre-commit"
[code]

[2017-04-01 19:24] AngLi-Leon commented on #599
Looks like this file is already removed from the main repo. I will rebase my repo.

[2017-04-01 19:24] #599 closed

[2017-04-01 19:40] apavlo commented on #599
Already fixed in 834ccde09f458806319ed7d5e7202154d57dded7

[2017-04-01 19:46] #596 closed

[2017-04-01 21:00] CHUYilei commented on #595
I see. My confusion is [FindLIBPQXX.cmake](https://github.com/cmu-db/peloton/blob/master/cmake/Modules/FindLibPQXX.cmake) file is in the correct location: under cmake/Modules, which should be in CMAKE_MODULE_PATH according to [this.](https://github.com/cmu-db/peloton/blob/master/CMakeLists.txt#L26) I still don't understand the cause of the warning

[2017-04-01 22:12] apavlo commented on #595
It doesn't work. You can run cmake and have it pass without the libpqxx

[code]

[2017-04-01 22:13] #551 closed

[2017-04-01 22:34] jarulraj commented on #595
diff --git a/cmake/Dependencies.cmake b/cmake/Dependencies.cmake
index 1eac403..6e9a74e 100644
--- a/cmake/Dependencies.cmake
+++ b/cmake/Dependencies.cmake
@@ -46,10 +46,9 @@ set(MEMORYCHECK_COMMAND_OPTIONS "--trace-children=yes --leak-check=full")
 set(MEMORYCHECK_SUPPRESSIONS_FILE "${PROJECT_SOURCE_DIR}/third_party/valgrind/valgrind.supp")

 # --[ LibPQXX
-find_package(LIBPQXX)
-include_directo

[2017-04-01 22:34] jarulraj commented on #595
Can you make this change in the Cmake file?

[2017-04-02 00:25] mengranwo opened #600 "bug of executing index scan"
We found a bug on optimizer when executing index scan.  If there exists several different indexes on the same table, the optimizer may fail to choose the right index, thus return incomplete or incorrect results.

postgres=# create table foo(a int primary key, b varchar(32), c int);
create table foo(a int primary key, b varchar(32), c int) 0

postgres=# create unique index sk0 on foo(b,c);
create u

[2017-04-02 00:39] apavlo commented on #600
It looks like we are creating a UNIQUE index on 'c' even though you don't ask for it:

[code]

[2017-04-02 00:41] AngLi-Leon commented on #600
Another one:
[code]

[2017-04-02 00:42] mengranwo commented on #600
Oh, sorry that was an typo. It was a non unique index.
The default value for index is non unique if don't using the key word "unique".

[2017-04-02 00:45] AngLi-Leon commented on #600
Looks like when we have an index on 2 attributes and select based on one of them, the optimizer selects the wrong index...

[2017-04-02 00:47] apavlo commented on #600
It also looks like we still have the wrong PRIMARY KEY syntax...

[2017-04-02 00:50] apavlo commented on #373
We support both the incorrect and correct syntax for this:

**CORRECT SYNTAX**
[code]

**INCORRECT SYNTAX**
[code]

[2017-04-02 00:51] AngLi-Leon commented on #600
Yeah.... You get me....

[2017-04-02 01:03] AngLi-Leon commented on #600
@https://github.com/cmu-db/peloton/pull/592/commits/92f3e09cf8a2ed5750b462191d8d35c98ee83581

[2017-04-02 06:04] AngLi-Leon commented on #600
This is where potentially causes the bug: https://github.com/cmu-db/peloton/pull/592/commits/92f3e09cf8a2ed5750b462191d8d35c98ee83581

[2017-04-02 15:47] AngLi-Leon opened #601 "System crush when creating invalid index on populated table"
Only if we create an invalid index on a populated table the system will crush. If the table is empty, it handles correctly.

Client:
[code]
Server:
[code]

[2017-04-02 20:09] apavlo commented on #601
This brings up a larger discussion that we need to have about error messages and throwing exceptions. Let's talk about this at the next team meeting.